{% extends 'LoveThatFitExternalSiteBundle::external_base_reg.html.twig' %}
{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}
{% block reg_fitting_room %}

<section class="reg_blk">
   
    <div class="action_cnt">
        <div class="steps step_1">  
            <h2>Let's Get Started!</h2>
            <p>Try Clothes On. See Look, Fit &amp; Size. Social.</p>
            <div class="main_log_box reg_active">
            
                <div class="login_tab">
                    <a href="#" id="reg_btn">Register</a>
                    <a href="#" id="lg_btn">Login</a>
                </div>
                
                <div class="reg_wrapper">
                    <div class="clr_bth"></div>
                    <div class="login_reg_box">
                        <form id="registration" action="{{ path('external_registration_user_create')}}" method="post" {{ form_enctype(form) }}  onsubmit="return formRegistrationValidates()">
                            <div class="form_vld_error">
    {{ form_errors(form, { 'attr': {'class': 'error_cls'} }) }}
                                </div>

                                <div class="frm_ele">
                           {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                           {{ form_errors(form.email) }}
                                    </div>

                                    <div class="frm_ele">
    {{ form_widget(form.password.password, { 'attr': {'placeholder': 'Password'} }) }}
                                             <div class="login_error" >
                                                    <div id="error_content2" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Password must contain minimum of 8 characters, including at least 1 number, 1 uppercase & 1 lowercase character.
                                                         </div>
                                                    </div>
                                        </div>

                                        <div class="frm_ele">
                            {{ form_widget(form.password.confirm, { 'attr': {'placeholder': 'Confirm Password'} }) }}   
                            {{ form_errors(form.password.password) }}
                            {{ form_errors(form.password.confirm) }}
                                            </div>
                                            <div class="frm_ele">
                            {{ form_widget(form.zipcode, { 'attr': {'placeholder': 'Zip Code'} }) }}   
                            {{ form_errors(form.zipcode) }}
                                                    
                             <div class="login_error" >
                                                    <div id="error_content3" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                          Zipcode must have 5 numbers .
                                                         </div>
                                                    </div>
                                                    
                                                </div>

                                                <div style="float:left; margin-left:20px; margin-bottom: 10px;">            
                                                    <div class="frm_ele radio_buts">

                                                        <div id="gender_label">Gender</div>
                                {{ form_widget(form.gender) }} 

<div style="margin-left:97px;">                                
{{ form_errors(form.gender) }}
        </div>
                                                    </div>
                                                </div>

                                                <div style="clear:both;"></div>
                        {{ form_rest(form) }}

                                                <input class="reg_next_step" type="submit" value="Register" />


                                                
                                            </form>
                                        </div>
               </div>

                <!--/Login form start-->   
                <div class="log_wrapper">
                                    
                                    <div class="clr_bth"></div>

       <script>
           
 
//(?=.*\d)                //should contain at least one digit
//(?=.*[a-z])             //should contain at least one lower case
//(?=.*[A-Z])             //should contain at least one upper case
//[a-zA-Z0-9]{8,}         //should contain at least 8 from the mentioned characters
 function formRegistrationValidates(){
 var password=document.getElementById('user_password_password').value;
 var zipcode=document.getElementById('user_zipcode').value;
 var password_filter=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
 if(!password_filter.test(password)) {
    document.getElementById('error_content2').style.display="block";
    return false;
    }
    if(/\D/.test(zipcode)){
    document.getElementById('error_content3').style.display="block";
    return false;
    }   
    if(zipcode.length<5){
    document.getElementById('error_content3').style.display="block";
    return false;
    }    
}
function formValidates()
{
   
    var username=document.getElementById('email').value;
    var password=document.getElementById('password').value;
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    
    if(!filter.test(username))
    {
         document.getElementById('error_content1').style.display="block";
           username.focus;
           return false;
    }
    
    if((username=='' || username=='email'))
        {
           document.getElementById('error_content1').style.display="block";
           username.focus;
           return false;
        }else if(password=='' || password=='password')
            {
              document.getElementById('error_content1').style.display="block";
              return false;                
            }else
                {
                    return true;
                }
}
    
</script>   

<script>
    function active_login_blk(){
        $(".main_log_box").removeClass('reg_active');
        $(".main_log_box").addClass('log_active');
    }
    function active_reg_blk(){
        $(".main_log_box").removeClass('log_active');
        $(".main_log_box").addClass('reg_active');
    }
    $(document).ready(function(){
 
        //incase of error , preselection of tab
        {%if referer is defined and referer=='login'%}
            $(".main_log_box").removeClass('reg_active');
            $(".main_log_box").addClass('log_active');        
        {%else%}
            $(".main_log_box").removeClass('log_active');
            $(".main_log_box").addClass('reg_active');
        {%endif%}
 
        $('#lg_btn').click(function(){
            active_login_blk();        
       })
       
       $('#reg_btn').click(function(){
           active_reg_blk();
       })
              
        $('.login_section a').click(function(){
            active_login_blk();
       })
       
        $('#crt_reg a').click(function(){
            active_reg_blk();
       })
      
      
    })
    
</script>
                                        
                                        

                                    <div class="login_reg_box">
                                        <form action="{{ path('external_login_check') }}" method="post" class="form" name="loginform" id="loginform" onsubmit="return formValidates()">
                                            <div class="frm_ele">            
                                                <input type="text" id="email" name="_username" value="{{ last_username }}" placeholder="Email" />
                                            </div>
                                            <div class="frm_ele">
                                                <input type="password" id="password" name="_password" placeholder="Password" />
                                                <div class="login_error" >
                                                    <div id="error_content1" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Valid User name and password
                                                         </div>
                                                    </div>
                                                    {% if error %}
                                                    <div class="login_error" >          
                                                        <div id="error_content">
                                                        {{ error.message  | replace({"Bad credentials": "Invalid Log-in credentials"})}}
                                                            </div>

                                                        </div>
                                                    {% endif %}
                                                        <input type="hidden" name="_target_path" value="external_fitting_room_show" />
                                                    </div>

                                                    <div class="frm_ele">
                                                        <input id="sbmt_bnt" type="submit" value="Login" class="reg_next_step" />
                                                    </div>
                                                </form>
                                                <ul class="row with_sep">
                                                    <li><a href="{{path('forgot_password_form')}}">forgot</a></li>
                                                    <li id="crt_reg"><a href="javascript:">create</a></li>
                                                </ul>

                                            </div>

                         </div>
                </div>
                                        <!--/Login form End-->   

                                        <!--/.sttp_1--></div>
                                    <!--/.action_cnt--></div>
                                <!--/.action_blk--></section>



{% endblock %}
{% block feed_block %}




{% endblock %}
