{% extends 'LoveThatFitExternalSiteBundle::external_base_reg.html.twig' %}

{% block action_block_content %}



<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/external/ext_user_registration_step_four.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/external/ext_step_3_new.js') }}"></script>


<input id="user_height_frm_3" type="hidden" value="{{ entity.measurement.height }}" />
<input id="user_back_frm_3" type="hidden" value="{{ entity.measurement.shoulderAcrossBack }}" />
<div>
    

    
          <form id="frmUserMeasurement" action="{{ path('measurement_vertical_position_update', { 'id': entity.id })}}" method="post"   {{ form_enctype(measurement_vertical_form) }}>
                {{ form_errors(measurement_vertical_form) }}
                {{ form_widget(measurement_vertical_form.shoulder_height) }}
                {{ form_widget(measurement_vertical_form.bust_height) }}
                {{ form_widget(measurement_vertical_form.waist_height) }}
                {{ form_widget(measurement_vertical_form.hip_height) }}
                {{ form_rest(measurement_vertical_form) }}          
          
           </form>
    
    
           <form id="frmUserMeasurement_2" action="{{ path('measurement_horizontal_position_update', { 'id': entity.id })}}" method="post"   {{ form_enctype(measurement_horizontal_form) }}>
             {{ form_errors(measurement_horizontal_form) }}
                {{ form_widget(measurement_horizontal_form.shoulder_width) }}
                {{ form_widget(measurement_horizontal_form.bust_width) }}
                {{ form_widget(measurement_horizontal_form.waist_width) }}
                {{ form_widget(measurement_horizontal_form.hip_width) }}
                {{ form_rest(measurement_horizontal_form) }}
            </form>

    
    
</div>
<script>
        
    </script>

<section {% if(entity.gender=='f') %} class="reg_blk reg_female" {%else%} class="reg_blk reg_male" {%endif%}>
    <!--<div class="reg_steps">
        <ul>
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li class="active"><span>4</span></li>
        </ul>
    </div>-->
    <span style="display:none" id='spn_image_update_url'>"{{ path('registration_step_four_image_update', { 'id': entity.id })}}"</span>    
        
    <div class="action_cnt">
        <div class="steps step_4">
            <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
            <p  id="sizeerror" style="color:#d14; size:10; display:none;">Image Size is very large</p>
            <h2>Upload Photo</h2>

            <form id="frmUserImage" action="{{ path('registration_step_four_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }} onsubmit="return validateStepFourImageName();">

                <input type="hidden" id="hdn_serverpath" value="{{asset('')}}"/>
                <input type="hidden" id="hdn_image_update_url" value="{{ path('registration_step_four_image_update')}}"/>
                <input type="hidden" id="hdn_inner_site_index_url" value="{{ path('external_fitting_room_show')}}"/>
                <input type="hidden" id="hdn_user_original_image_url" value="{{ asset(entity.getOriginalImageWebPath)}}"/>
                
                
                  {% if(edit_type=="registration")%}
                    <input type="hidden" id="hdn_user_cropped_image_url" value="/webapp/web/" />
                 {% else %}
                    <input type="hidden" id="hdn_user_cropped_image_url" value="{{ asset(entity.getWebPath)}}"/>
                 {% endif%}    
                 
                
                
                
                
                
                <input type="hidden" id="hdn_entity_id" value="{{entity.id}}"/>
     {{ form_errors(form) }}
                <div class="input_file_hldr">
                    {{ form_errors(form.file) }}
                            {{ form_widget(form.file, { 'attr': {'class': 'input_file'} }) }}

                        <input id="inp_txt_file_name" class="input_text" type="text" value="Click Browse button" />
                    </div>
                
                {% if(edit_type=="registration")%}
                    <div class="upload_again_hldr"><a href="{{ path('registration_step_four_edit') }}">Try Another Photo</a></div>
                 {% else %}
                  <div class="upload_again_hldr"><a href="{{ path('fitting_room_image_edit') }}">Try Another Photo</a></div>
                 {% endif%} 
                
                
                    {{ form_rest(form) }}


                    <div class="clr_bth"></div>
                    <div class="frm_ele zoom_in hide">
                        <label>Zoom In/Out</label>
                        <div class="slider_wrap">
                            <input id="slider_result_photo" class="slider_result short_inp" type="number" value="100" />
                            <div id="slider_scale_photo" class="main_slider"></div>
                            
                            <!--/.slider_wrap--></div></div>
                    
               
                    
                    <div class="frm_ele zoom_edit hide">
                        <label>Zoom In/Out</label>
                        <div class="slider_wrap">
                            <input id="slider_result_photo_edit" class="slider_result short_inp hide" type="number" value="100" />
                            <div id="slider_scale_photo_edit" class="main_slider"></div>
                            
                            <!--/.slider_wrap--></div></div>
        
                    
                    
                    <div class="clr_bth"></div>
                        <canvas id="cnv_img_crop" width="364" height="505" class="cnv_img_crop_style"></canvas>

                </form>  
            
         
            <div class="frm_ele step4_btns ext_btns">
                  
                  {% if(edit_type=="registration")%}
                  <a class="reg_next_step reg_second" href="{{path('registration_measurement_edit')}}">Back</a>
                  <a class="reg_next_step" href="{{path('inner_site_index')}}">Skip</a>
                 {% else %}
                  <a class="reg_next_step" href="{{path('inner_site_index')}}">Back</a>                 
                 {% endif%}    
                 </div>
                <!--/.step_4--></div>
            <!--/.action_cnt--></div>
    
    
    <div class="how_it_works hw_works">
        <h2>How It Works</h2>
        <ol class="hiw_upload_photo">
            <li>Take full body photo of yourself using any smartphone, camera or webcam. Make sure camera is aiming straight at your body.</li>
            <li>For photo - Stand straight, arms relaxed by side, shoulders back and feet shoulder width apart.<br> <a href="javascript:;" onclick="document.getElementById('stella_box').style.display='block'">See here</a> </li>
            <li>Do not forget to smile!</li>
            <li>Click browse to upload photo</li>
            
            <div id="exp_sml">
            <a href="javascript:;" onclick="document.getElementById('pic_step_1').style.display='block'"><img src="{{ asset('bundles/lovethatfit/site/images/example_small.png') }}"></a>
        </div>
        </ol>
        <ol class="hiw_step_1">
            <li>Zoom in/out until the crown of your head touches the top line and your are standing on the bottom line.</li>
            <li>See example <a href="javascript:;" onclick="document.getElementById('pic_step_1').style.display='block'">here</a> </li>
        
        <div id="exp_sml hw_works_img">
            <a href="javascript:;" onclick="document.getElementById('pic_step_1').style.display='block'"><img src="{{ asset('bundles/lovethatfit/site/images/example_small.png') }}"></a>
        </div>
        
        </ol>
        <ol class="hiw_step_2">
            <li>Zoom in/out until the crown of your head touches the top line and your are standing on the bottom line.</li>
            <li>See example <a href="javascript:;" onclick="document.getElementById('pic_step_2').style.display='block'">here</a> </li>
       <div id="exp_sml">
            <a href="javascript:;" onclick="document.getElementById('pic_step_2').style.display='block'"><img src="{{ asset('bundles/lovethatfit/site/images/example_small.png') }}"></a>
        </div>
        
        
        </ol>
        
         <ol class="hiw_step_3">
            <li>Zoom in/out until the crown of your head touches the top line and your are standing on the bottom line.</li>
             <li>See example <a href="javascript:;" onclick="document.getElementById('pic_step_3').style.display='block'">here</a> </li>
        
              <div id="exp_sml">
            <a href="javascript:;" onclick="document.getElementById('pic_step_3').style.display='block'"><img src="{{ asset('bundles/lovethatfit/site/images/example_small.png') }}"></a>
        </div>
         
         </ol>
        
        
        
        
        
        
    </div>
        <!--/.action_blk--></section>
{% endblock %}


{% block reg_fitting_room %}
        <section {% if(entity.gender=='f') %} class="reg_female" {%else%} class="reg_male" {%endif%}>
    <div id="stella_box">
            <img src="{{ asset('bundles/lovethatfit/site/images/pic.png') }}">
            <span class="popup_cross"><a href="javascript:;" style="text-decoration:none; color:#fff;" onclick="document.getElementById('stella_box').style.display='none'">x</a></span>
        </div>
        <div id="pic_step_1">
            <img src="{{ asset('bundles/lovethatfit/site/images/1_top_bottom.png') }}">
            <span class="popup_cross"><a href="javascript:;" style="text-decoration:none; color:#fff;" onclick="document.getElementById('pic_step_1').style.display='none'">x</a></span>
        </div>
                
              <div id="pic_step_2">
            <img src="{{ asset('bundles/lovethatfit/site/images/1_vert.png') }}">
            <span class="popup_cross"><a href="javascript:;" style="text-decoration:none; color:#fff;" onclick="document.getElementById('pic_step_2').style.display='none'">x</a></span>
        </div>
        <div id="pic_step_3">
            <img src="{{ asset('bundles/lovethatfit/site/images/pic_step_2_2.png') }}">
            <span class="popup_cross"><a href="javascript:;" style="text-decoration:none; color:#fff;" onclick="document.getElementById('pic_step_3').style.display='none'">x</a></span>
        </div>
            <style>
                    #load_current_pic {
                        position: absolute;
                        top:100px;
                        left: 550px;
                        background: #fff;
                        padding:22px;
                        border:1px solid #444;
                    }
                    #load_current_pic a,
                    #load_current_pic a:visited {
                        color:darkgreen;
                        font-size: 20px;
                    }
            </style>
            
            <div id="load_current_pic" class="hide">
                <a id="load_current_pic_clicked" href="#">Load Current Photo</a>
            </div>
                    <div class="play_area_hldr">
                        
                        
                      <div id="rotate_move_box">
                      
                     <div class="action_buts_bar rotate_buts">
                         <span class="rotate_label">Rotate</span>       
                            <a href="#" class="but_rotate img_acw_min"></a>   
                            <a href="#" class="but_rotate img_cw_min"></a>
                            <a href="#" class="but_rotate img_acw"></a>   
                            <a href="#" class="but_rotate img_cw"></a>
                            
                     </div>
                          
                          <div class="clr_bth"></div>
                          
                     <div class="action_buts_bar">
                         <span class="rotate_label">Move</span>       
                            <a href="#" class="but_move top_move"></a>   
                            <a href="#" class="but_move left_move"></a> 
                            <a href="#" class="but_move right_move"></a>  
                            <a href="#" class="but_move bottom_move"></a>  
                     </div>
                      
                      
                      </div>  
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                            
                        
                        
                        <div id="adj_popout_bottom" class="adj_popout_msg">
                            <div class="arrow_img_alerts"></div>
                            <span>Move so it lies at your natural waist</span>
                            <div class="step_2_example">
                               <img class="step_2_exam_1" src="{{ asset('bundles/lovethatfit/site/images/img_step_2.png') }}" />
                            </div>
                        <!--/.adj_popout_msg--></div>

                        
                            
                        <div class="int_fitting_room"></div>
                        
                        <div class="fitting_step">
                            
                            
                            
                            <div class="active" id="step_one">
                                <a id="step_ on e_a" class="st ep _one_a" href="#">Step 1<span></span></a>
                            </div>
                            
                            <div id="step_two">
                                <span id="prev"></span>
                                Step 2<span></span><span class="shd"></span>
                            </div> 
                            
                            <div id="step_three">
                                <span id="prev"></span>
                                Step 3<span></span><span class="shd"></span>
                            </div>
                           
                            
                        </div>
                        
                        <div id="adj_markers_hldr">
                            
                            <div class="chk_it_out" style="display:none; background: #ffcc00;">CHECK</div>
                            <div id="verti_shoulder" class="adj_popout_msg_verti adj_popout_tip_verti hide">
                                <span class="arrow_img"></span>
                                <div class="arrow_img_alerts"></div>
                                <span>Click and drag bar to set top of shoulders</span>
                                <div class="label_tip">Example:</div>
                                <div class="step_2_example">
                                    <div class="step_2_exam_1"></div>
                                </div>
                            <!--/.adj_popout_tip_verti--></div>
                            
                            <div id="verti_bust" class="adj_popout_msg_verti adj_popout_tip_verti hide">
                                <span class="arrow_img"></span>
                                <div class="arrow_img_alerts"></div>
                                <span>Click and drag bar to set {%if(entity.gender == 'f')%} bust {%else%} chest{%endif%} at fullest point</span>
                                <div class="label_tip">Example:</div>
                                <div class="step_2_example">
                                    <div class="step_2_exam_2"></div>
                                </div>
                            <!--/.adj_popout_tip_verti--></div>
                            
                            <div id="verti_waist" class="adj_popout_msg_verti adj_popout_tip_verti hide">
                                <span class="arrow_img"></span>
                                <div class="arrow_img_alerts"></div>
                                <span>Click and drag bar to set natural waist at narrowest point</span>
                                <div class="label_tip">Example:</div>
                                <div class="step_2_example">
                                    <div class="step_2_exam_3"></div>
                                </div>
                            <!--/.adj_popout_tip_verti--></div>
                            
                            <div id="verti_hip" class="adj_popout_msg_verti adj_popout_tip_verti hide">
                                <span class="arrow_img"></span>
                                <div class="arrow_img_alerts"></div>
                                <span>Click and drag bar to set hips at fullest point</span>
                                <div class="label_tip">Example:</div>
                                <div class="step_2_example">
                                    <div class="step_2_exam_4"></div>
                                </div>
                            <!--/.adj_popout_tip_verti--></div>
                            
                            
                            
                            <div id="extra_hldr"></div>            
                            <div id="shoulder_mark_hldr">
                                            
                                            
                                            
                                            <div class="adj_popout_msg adj_popout_tip">
                                                <span class="arrow_img"></span>
                                                <div class="arrow_img_alerts"></div>
                                                <span>Click and drag to set the width of your shoulders</span>
                                                <div class="zoom_slider_hldr">
                                                    <div id="shoulder_slider_set" class="tip_slider"></div>
                                                </div>
                                                <div class="zoom_canvas_area">
                                                    <div id="shoulder_mark_h_zoom" class="inner_slider_hldr_zoom">
                                                        <span class="bdr_range"></span>
                                                        <span class="rgt_side"></span>
                                                        <span class="lft_side"></span>
                                                    </div>
                                                    <div class="zoomed_img"></div>
                                                </div>
                                                <div class="clr_bth"></div>
                                                <div class="edt_link example_link">Example</div>
                                                <div class="edt_link"><a href="">Edit Photo</a></div>
                                                <div class="step_1_example">
                                   
                                                    <div class="step_1_exam_1"></div>
                                </div>
                                            <!--/.adj_popout_tip--></div>
                                            
                                            
                                            <div class="h_pos">
                                                <div id="shoulder_mark_h" class="inner_slider_hldr">
                                                   
                                                    <span class="rgt_side"></span>
                                                    <span class="lft_side"></span>
                                                <!--/#shoulder_mark_h--></div>
                                            </div>
                                         <div id="shoulder_mark_v" class="v_pos"></div>
                                         
                                         
                                         
                                         
                                         
                                           </div>
                                        <div id="bust_mark_hldr">
                                            
                                            
                                            <div class="adj_popout_msg adj_popout_tip">
                                                <span class="arrow_img"></span>
                                                <div class="arrow_img_alerts"></div>
                                                <span>Click and drag to set the width of your {%if(entity.gender == 'f')%} bust {%else%} chest{%endif%}</span>
                                                <div class="zoom_slider_hldr">
                                                    <div id="bust_slider_set" class="tip_slider"></div>
                                                </div>
                                                <div class="zoom_canvas_area">
                                                    <div id="bust_mark_h_zoom" class="inner_slider_hldr_zoom">
                                                        <span class="bdr_range"></span>
                                                        <span class="rgt_side"></span>
                                                        <span class="lft_side"></span>
                                                    </div>
                                                    <div class="zoomed_img"></div>
                                                </div>
                                                <div class="clr_bth"></div>
                                                 <div class="edt_link example_link"><a href="">Example</a></div>
                                                <div class="edt_link"><a href="">Edit Photo</a></div>
                                                
                                                <div class="step_1_example">
                                                    <div class="step_1_exam_2"></div>
                                    
                                </div>
                                                
                                            <!--/.adj_popout_tip--></div>
                                            
                                            
                                            <div class="h_pos">
                                                <div id="bust_mark_h" class="inner_slider_hldr">
                                                    <span class="rgt_side"></span>
                                                    <span class="lft_side"></span>
                                                <!--/#bust_mark_h--></div>
                                            </div>
                                         <div id="bust_mark_v" class="v_pos"></div>
                                    
                                        </div>
                                        
                            
                                    <div id="waist_mark_hldr">
                                           
                                        <div class="adj_popout_msg adj_popout_tip">
                                                <span class="arrow_img"></span>
                                                <div class="arrow_img_alerts"></div>
                                                <span>Adjust slider to set the width of your waist</span>
                                                <div class="zoom_slider_hldr">
                                                    <div id="waist_slider_set" class="tip_slider"></div>
                                                </div>
                                                <div class="zoom_canvas_area">
                                                    <div id="waist_mark_h_zoom" class="inner_slider_hldr_zoom">
                                                        <span class="bdr_range"></span>
                                                        <span class="rgt_side"></span>
                                                        <span class="lft_side"></span>
                                                    </div>
                                                    <div class="zoomed_img"></div>
                                                </div>
                                                <div class="clr_bth"></div>
                                                 <div class="edt_link example_link"><a href="">Example</a></div>
                                                <div class="edt_link"><a href="">Edit Photo</a></div>
                                                
                                                <div class="step_1_example">
                                    
                                                    <div class="step_1_exam_3"></div>
                                </div>
                                                
                                            <!--/.adj_popout_tip--></div>
                                            
                                            
                                            <div class="h_pos">
                                                <div id="waist_mark_h" class="inner_slider_hldr">
                                                    <span class="rgt_side"></span>
                                                    <span class="lft_side"></span>
                                                <!--/#waist_mark_h--></div>
                                            </div>
                                         <div id="waist_mark_v" class="v_pos"></div>
                                        
                                        </div>
                                        <div id="hip_mark_hldr">
                                            
                                            <div class="adj_popout_msg adj_popout_tip">
                                                <span class="arrow_img"></span>
                                                <div class="arrow_img_alerts"></div>
                                                <span>Adjust slider to set the width of your hip</span>
                                                <div class="zoom_slider_hldr">
                                                    <div id="hip_slider_set" class="tip_slider"></div>
                                                </div>
                                                <div class="zoom_canvas_area">
                                                    <div id="hip_mark_h_zoom" class="inner_slider_hldr_zoom">
                                                        <span class="bdr_range"></span>
                                                        <span class="rgt_side"></span>
                                                        <span class="lft_side"></span>
                                                    </div>
                                                    <div class="zoomed_img"></div>
                                                </div>
                                                <div class="clr_bth"></div>
                                                 <div class="edt_link example_link"><a href="">Example</a></div>
                                                <div class="edt_link"><a href="">Edit Photo</a></div>
                                                
                                                <div class="step_1_example">
                                                    <div class="step_1_exam_4"></div>
                                </div>
                                                
                                            <!--/.adj_popout_tip--></div>
                                            
                                            
                                            <div class="h_pos">
                                                <div id="hip_mark_h" class="inner_slider_hldr">
                                                    <span class="rgt_side"></span>
                                                    <span class="lft_side"></span>
                                                <!--/#hip_mark_h--></div>
                                            </div>
                                         <div id="hip_mark_v" class="v_pos"></div>
                                            
                                            
                                        </div>
                                    </div>
                        
                        
                        <div id="play_area" class="play_area step4opt hide">
                            
                            
                            <canvas id="canv_mask" resize></canvas>
                            
                            <div class="center_mark"></div>
                            <div class="height_top_mark"></div>
                            <div class="height_bottom_mark"></div>
                            
                            <div id="top_layer"></div>
                            <div id="dummy_mark">
                                
                                
                                
                                <div id="user_body_marks">
                                    <div id="adj_top_hldr">
                                        <div id="top_adj_marks">
                                            <div id="top_moveable"></div>
                                            
                                        </div>
                                    </div>
                                    <div id="adj_belt_hldr">
                                        <div id="bottom_adj_marks">
                                            <div id="bottom_moveable"></div>
                                        </div>
                                    </div>
                                    <div id="lages_marks"></div>                                 
                                </div>
                            </div>
                            
                            
                            <div id="uploaded_photo" class="uploaded_photo full_opacity"></div>
                        </div>
                        <!--/.play_area_hldr--></div>
            
            <div class="next_btn_4">
                <div class="frm_ele">
                    <input class="next_step2" type="button" value="Next Step" />
                    <input class="next_step3" type="button" value="Next Step" />
                </div>
           </div>
            
            <div class="btm_buttons row save_btn_4">
                        <div class="frm_ele">
                            <input onClick="next_button_click(); return false;" class="reg_next_step2" type="button" value="" />
                        </div>
                       
                    </div>
            
</section>
{% endblock %}

