{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Task Logs</li>
{% endblock %}


{% block body %}
<div class="p_listing">
    <div class="clearfix"></div>
      <h1 style="float:left;">Task Logs</h1>
      <div class="clearfix"></div>
      <div class="btn_wrapper2">
        <table class="task_table">
        <tr>
          <td class="td-orange">Total Tasks</td>
          <td class="td-orange">{{supportData[0]['total']}}</td>
        </tr>
        <tr>
          <td class="td-green">Fastest Time (hh:mm:ss)</td>
          <td class="td-green val-fast">{{supportData[0]['fast']}}</td>
        </tr>
        <tr>
          <td class="td-red">Slowest Time (hh:mm:ss)</td>
          <td class="td-red val-slow">{{supportData[0]['slow']}}</td>
        </tr>
        <tr>
          <td class="td-blue">Average (hh:mm:ss)</td>
          <td class="td-blue val-avg">{{supportData[0]['avrg']|number_format(2, '.', ',')}}</td>
        </tr>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="bs-docs-grid">
      <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Support Admin ID</th>
              <th>Support User Name</th>
              <th>Log Type</th>
              <th>Total Tasks</th>
              <th>Fastest Duration (hh:mm:ss)</th>
              <th>Slowest Duration (hh:mm:ss)</th>
              <th>Average Duration (hh:mm:ss)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>  
    </div>
  </div> 
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {

    if( {{app.session.get('Permissions')['taskLogs']['detail']}} == 1 ) {
        visible          = true;
        showDetailButton = true;
    }

    var min = $(".val-fast").text();
    var max = $(".val-slow").text();
    var avg = $(".val-avg").text();
    
    var table = $('#example').DataTable({
       "processing": true, 
        "serverSide": true, 
        "ajax": {
            "url": "{{ path('support_users_task_log_paginate') }}",
            "type": "POST"
        },
        "sAjaxDataProp": "data", 
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
        "order": [[ 0, "desc" ]],
        "columns": [
          {
              "data"  : "userid",
              "searchable" : false,
          },
          {
              "data"  : "user_name",
          },
          {
              "data"  : "log_type",
              "orderable" : false,
              "searchable" : false,
          },
          {
              "data"  : "total",
              "orderable": false,
              "searchable" : false,
          },
          {
              "data"  : "fast",
              "orderable" : false,
              "searchable" : false,
          },
          {
              "data"  : "slow",
              "orderable" : false,
              "searchable" : false,
          },
          {
              "data"  : "avrg",
              "orderable": false,
              "searchable" : false,
          },
          {
              "title"         : "Actions",
              "targets"       : -1,
              "data"          : null,
              "orderable"     : false,
              "searchable"    : false,
              "defaultContent": ((typeof showDetailButton != "undefined" && showDetailButton == true) ? DetailPageButton : ''),
          },
        ],
        "createdRow": function ( row, data, index ) {
            if ( data['fast'] == min ) {
              $('td', row).eq(4).addClass('task-td-green');
            } 
            if ( data['slow'] == max ) {
                $('td', row).eq(5).addClass('task-td-red');
            } 
            if ( data['avrg'] == avg && data['avrg'] != "0.00") {
                $('td', row).eq(6).addClass('task-td-blue');
            }
            
            fast = formatSecondsAsTime(data['fast'], 'hh:mm:ss');
            $('td', row).eq(4).html(fast);

            slow = formatSecondsAsTime(data['slow'], 'hh:mm:ss');
            $('td', row).eq(5).html(slow);

            avrg = formatSecondsAsTime(data['avrg'], 'hh:mm:ss');
            $('td', row).eq(6).html(avrg);
        },
        "fnInitComplete": function(oSettings, json) {
          $(".val-avg").text(formatSecondsAsTime(avg, 'hh:mm:ss'));
          $(".val-fast").text(formatSecondsAsTime(min, 'hh:mm:ss'));
          $(".val-slow").text(formatSecondsAsTime(max, 'hh:mm:ss'));
        }
    });

    jQuery('#example tbody').on( 'click', 'button, a, img', function () {
      var dataAction = $(this).attr('data-action');
      var data = table.row( $(this).parents('tr') ).data();
      if (dataAction == 'Detail') {
          var url = '{{ path('support_users_task_log_show', {'id': ":id"}) }}';
          url     = url.replace(':id', data.userid);
          window.top.location = url;
      }
    });
  });

</script>
{% endblock %}