{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Individual Task Logs</li>
{% endblock %}


{% block body %}
<div class="p_listing">
    <div class="clearfix"></div>
      <h1 style="float:left;">Single Task Logs</h1>
      <div class="clearfix"></div>
      <div class="btn_wrapper2">
        <table class="task_table">
        <tr>
          <td class="td-black">Support Username</td>
          <td class="td-black">{{supportData[0]['user_name']}}</td>
        </tr>
        <tr>
          <td class="td-orange">Total Tasks</td>
          <td class="td-orange">{{supportData[0]['total']}}</td>
        </tr>
        <tr>
          <td class="td-green">Fastest Time (hh:mm:ss)</td>
          <td class="td-green val-fast">{{supportData[0]['fast']}}</td>
        </tr>
        <tr>
          <td class="td-red">Slowest Time (hh:mm:ss)</td>
          <td class="td-red val-slow">{{supportData[0]['slow']}}</td>
        </tr>
        <tr>
          <td class="td-blue">Average (hh:mm:ss)</td>
          <td class="td-blue val-avg">{{supportData[0]['avrg']|number_format(2, '.', ',')}}</td>
        </tr>
        <tr>
          <td class="td-green-light">Total Above Average</td>
          <td class="td-green-light">{{supportData[0]['above_avg']}}</td>
        </tr>
        <tr>
          <td class="td-red-light">Total Below Average</td>
          <td class="td-red-light">{{supportData[0]['below_avg']}}</td>
        </tr>
        </table>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="bs-docs-grid">
      {% if( app.session.get('Permissions')['taskLogs']['all'] == 1 ) %}
        <table border="0" cellspacing="5" cellpadding="5" style="float:right;">
          <tbody>
              <tr>
                <td>
                  <label style='display:block;'>Members:</label>
                </td>
                <td>
                  <div class="inner-addon right-addon">
                      <select class="form-control" name="members" id="members">
                          {% for users in supportUsers %}
                              <option value="{{ users.Id }}" {{ (users.Id == id ? ' selected ' : '') }}>
                                {{ users.UserName}}
                              </option>
                          {% endfor %}
                      </select>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      {% endif %}
      <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Log Type</th>
              <th>Member Email</th>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Total Duration (hh:mm:ss)</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>  
    </div>
  </div> 
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    var min = $(".val-fast").text();
    var max = $(".val-slow").text();
    var avg = $(".val-avg").text();

    var table = $('#example').DataTable({
       "processing": true, 
        "serverSide": true, 
        "ajax": {
            "url"  : "{{ path('support_users_task_log_show_paginate') }}",
            "type" : "POST",
            "data": function ( d ) {
                d.userid   = "{{id}}";
            }
        },
        "sAjaxDataProp": "data", 
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "order": [[ 0, "desc" ]],
        "columns": [
          {
              "data"  : "Sno",
              "searchable" : false,
          },
          {
              "data"  : "log_type",
              "orderable" : false,
              "searchable" : false,
          },
          {
              "data"  : "member_email",
              "orderable" : false,
          },
          {
              "data"  : "date",
              "searchable" : false,
              "orderable" : false,
          },
          {
              "data"  : "start_time",
              "searchable" : false,
              "orderable" : false,
          },
          {
              "data"  : "end_time",
              "searchable" : false,
              "orderable" : false,
          },
          {
              "data"  : "duration",
              "orderable": false,
              "searchable" : false,
          }
        ],
        "createdRow": function ( row, data, index ) {
            if ( data['duration'] > avg && data['duration'] < max ) {
                $('td', row).addClass('td-green-light');
            } else if ( data['duration'] == min ) {
                $('td', row).addClass('td-green');
            } else if ( data['duration'] < avg && data['duration'] > min ) {
                $('td', row).addClass('td-red-light');
            } else if ( data['duration'] == max ) {
                $('td', row).addClass('td-red');
            } else if ( data['duration'] == avg ) {
                $('td', row).addClass('td-blue');
            }
            duration = formatSecondsAsTime(data['duration'], 'hh:mm:ss');
            $('td', row).eq(6).html(duration);
        },
        "fnInitComplete": function(oSettings, json) {
          $(".val-avg").text(formatSecondsAsTime(avg, 'hh:mm:ss'));
          $(".val-fast").text(formatSecondsAsTime(min, 'hh:mm:ss'));
          $(".val-slow").text(formatSecondsAsTime(max, 'hh:mm:ss'));
        }
    });

    $('#members').change( function() {
        var memberid = $("#members").val();
        var url = '{{ path('support_users_task_log_show', {'id': ":id"}) }}';
        url     = url.replace(':id', memberid);
        window.top.location = url;
    });
  });

    
</script>
{% endblock %}