{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
{% endblock %}

{% block body %}
<div>      
  <h1 style="float:left;">Task Log</h1>
  <div class="btn_wrapper">
    <a href="{{ path('support_users_task_log') }}" class="btn">back</a>
  </div>
  <div class="clearfix"></div>
  <div id="detail_wrapper">      
    <div id="p_hd">Task Log</div>
    <div id="product_content">
      <div id="pro_detail">
        <div class="edt_container">
          <div class="row-fluid show-grid edt_span">
            <div class="span8">
              <div class="span3">Name</div>
              <div class="span3">{{ supportUser[0]['user_name'] }}</div>
            </div>
            <div class="span8">
              <div class="span3">Fastest</div>
              <div class="span3">{{ supportUser[0]['fast'] }}</div>
            </div>
            <div class="span8">
              <div class="span3">Slowest</div>
              <div class="span3">{{ supportUser[0]['slow'] }}</div>
            </div>
            <div class="span8">
              <div class="span3">Average</div>
              <div class="span3">{{ supportUser[0]['avrg']|number_format(2, '.', ',') }}</div>
            </div>
            <div class="span8">
              <div class="span3">Total</div>
              <div class="span3">{{ supportUser[0]['total'] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End pro_detail -->      
  </div><!-- End product_content --> 
</div> <!-- End detail_wrapper -->
<!-- Modal -->
</div>
{% endblock %}