{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}

{% block body %}

<div class="p_listing">     
    <h1>Fit Model Measurement</h1>

    <div class="btn-group" role="group" aria-label="..." style="float:right;">
        <a href="{{ path('product_intake_fit_model_create_new') }}" class="btn btn-default">New</a>           
    </div>
    <div class="clearfix"></div> 

    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
        {% for fmm in fit_model_measurements %}
        <tr>
            <td>{{fmm.Id}}</td>
            <td>{{fmm.Title}}</td>
            <td>
                <a href="{{ path('product_intake_fit_model_show', {'id': fmm.Id}) }}" title="Show ">show</a> &nbsp;| &nbsp;
                <a href="{{ path('product_intake_fit_model_edit', {'id': fmm.Id}) }}" title="Edit ">edit</a> &nbsp;| &nbsp;
                 <a href="{{ path('product_intake_fit_model_delete', {'id': fmm.Id}) }}" title="Delete {{fmm.Title}}">del</a> 
            </td>
        </tr>
         {% endfor %}
    </table> 
</div>


{% endblock %}