{% extends 'LoveThatFitUserBundle::base_mask_makeover.html.twig' %}

{% block mask_makeover_view %}
<script type="text/paperscript" src="{{ asset('bundles/lovethatfit/site/js/mask_makeover/mask_makeover.js?time='~ date().timestamp) }}" canvas="canv_mask_makeover"></script>
<h1>Masked Marker Makeover</h1>
<div id="action_bar">
    <ul class="action_buttons">
        <li><a href="#">Move Left</a></li>
        <li><a href="#">Move Right</a></li>
        <li><a href="#">Move Up</a></li>
        <li><a onClick="set_img('user_image')">Move Down</a></li>
        <li><a href="#">Rotate Left</a></li>
        <li><a href="#">Rotate Right</a></li>
    </ul>
</div>
{{entity.id}}
<div style="display: none">    
    <input type="text" id="hdn_user_cropped_image_url" value="http://dev.selfiestyler.com/uploads/ltf/users/2817/test_image.png?rand=5832d1b42daf3"/>
    <input id="img_path_json" type="text" value="{{marker.markerJson}}" />
    <input id="dv_edit_type" type="text" value="{{ edit_type }}" />
    <input id="marker_update_url" type="text" value="{{ path('admin_archive_save_marker')}}" />{#path('user_maker_save')#}
    
    <input id="user_auth_token" type="text" value="{{ entity.authToken }}" />
    <input id="user_height_frm_3" type="text" value="{{ entity.measurement.height }}" />
    <input id="user_back_frm_3" type="text" value="{{ entity.measurement.shoulderAcrossBack }}" />
    <input id="mask_x" type="text" value="{{marker.maskX}}" />
    <input id="mask_y" type="text" value="{{marker.maskY}}" />
    <input id="img_path_paper" type="text" value="{{marker.SvgPaths}}" />
    <input id="img_path_json" type="text" value="{{marker.markerJson}}" />
</div>
<canvas id="canv_mask_makeover" style="width:960px; height: 1280px; "></canvas>

{% endblock %}