<!DOCTYPE html>
<html>
        <head>
        <title>Love That Fit</title>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        </head>

<body>
    <div id=“fb-root”></div>
    <img style="display: none" id='user_image' src="{{asset(app.user.webpath)}}"/>
    <span id='upload_canvas_path'>{{ path('fitting_room_canvas_upload')}}</span><br>
    <canvas id="myCanvas" width="364" height="505" style="border:1px solid #000000;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <input id='btn_send_params' type="button" value="send"></input>
    <input id='btn_share' type="button" value="share"></input>
    <input id='btn_share_upload' type="button" value="share upload"></input>
<br>
<img  id='uploaded_img' src='' width="100px" height="100px">
<br>
<span id='fb_app_key'>app_id: {{facebook.app_id}}</span><br>
<span id='fb_post_name'></span><br>
<span id='fb_post_link'>{{facebook.web_link}}</span><br>
<span id='fb_post_img_url'></span><br>
<span id='fb_post_caption'></span><br>
<span id='fb_post_desc'></span><br>
 

<!--- Upload To Facebook option ------------------------------------------>
<!--- Upload To Facebook option ------------------------------------------>
<!--- Upload To Facebook option ------------------------------------------>
<script>

if ( XMLHttpRequest.prototype.sendAsBinary === undefined ) {
    XMLHttpRequest.prototype.sendAsBinary = function(string) {
        var bytes = Array.prototype.map.call(string, function(c) {
            return c.charCodeAt(0) & 0xff;
        });
        this.send(new Uint8Array(bytes).buffer);
    };
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function() {
    FB.init({
    appId      : 314138425462684,
    status     : true,
    xfbml      : true,
    version    : 'v2.0'
  });  

};

var Base64Binary = {
	_keyStr : "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
	
	/* will return a  Uint8Array type */
	decodeArrayBuffer: function(input) {
		var bytes = (input.length/4) * 3;
		var ab = new ArrayBuffer(bytes);
		this.decode(input, ab);
		
		return ab;
	},
	
	decode: function(input, arrayBuffer) {
		//get last chars to see if are valid
		var lkey1 = this._keyStr.indexOf(input.charAt(input.length-1));		 
		var lkey2 = this._keyStr.indexOf(input.charAt(input.length-2));		 
	
		var bytes = (input.length/4) * 3;
		if (lkey1 == 64) bytes--; //padding chars, so skip
		if (lkey2 == 64) bytes--; //padding chars, so skip
		
		var uarray;
		var chr1, chr2, chr3;
		var enc1, enc2, enc3, enc4;
		var i = 0;
		var j = 0;
		
		if (arrayBuffer)
			uarray = new Uint8Array(arrayBuffer);
		else
			uarray = new Uint8Array(bytes);
		
		input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
		
		for (i=0; i<bytes; i+=3) {	
			//get the 3 octects in 4 ascii chars
			enc1 = this._keyStr.indexOf(input.charAt(j++));
			enc2 = this._keyStr.indexOf(input.charAt(j++));
			enc3 = this._keyStr.indexOf(input.charAt(j++));
			enc4 = this._keyStr.indexOf(input.charAt(j++));
	
			chr1 = (enc1 << 2) | (enc2 >> 4);
			chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
			chr3 = ((enc3 & 3) << 6) | enc4;
	
			uarray[i] = chr1;			
			if (enc3 != 64) uarray[i+1] = chr2;
			if (enc4 != 64) uarray[i+2] = chr3;
		}
	
		return uarray;	
	}
}
//--------------------------------------------------------------------------
  
  function old_tester( )
{

  var canvas = document.getElementById('myCanvas');             
     var data = canvas.toDataURL();
     
      var encodedPng = data.substring(data.indexOf(',') + 1, data.length);
    var decodedPng = Base64Binary.decode(encodedPng);
 


FB.api(
    "/me/photos",
    "POST",
    {
        "source": decodedPng
    },
    function (response) {
      if (response && !response.error) {
        /* handle the result */
      }
    }
);
    };
  
//--------------------------------------------------------------------------

function postImageToFacebook( authToken, filename, mimeType, imageData, message )
{
    // this is the multipart/form-data boundary we'll use
    var boundary = '----ThisIsTheBoundary1234567890';   
    // let's encode our image file, which is contained in the var
    var formData = '--' + boundary + '\r\n'
    formData += 'Content-Disposition: form-data; name="source"; filename="' + filename + '"\r\n';
    formData += 'Content-Type: ' + mimeType + '\r\n\r\n';
    for ( var i = 0; i < imageData.length; ++i )
    {
        formData += String.fromCharCode( imageData[ i ] & 0xff );
    }
    formData += '\r\n';
    formData += '--' + boundary + '\r\n';
    formData += 'Content-Disposition: form-data; name="message"\r\n\r\n';
    formData += message + '\r\n'
    formData += '--' + boundary + '--\r\n';
    
    var xhr = new XMLHttpRequest();
    xhr.open( 'POST', 'https://graph.facebook.com/me/photos?access_token=' + authToken, true );
    xhr.onload = xhr.onerror = function() {
        console.log( xhr.responseText );
    };
    xhr.setRequestHeader( "Content-Type", "multipart/form-data; boundary=" + boundary );
    xhr.sendAsBinary( formData );
};
//-----------------------------------------  
function postCanvasToFacebook() {
        var filename ='LoveThatFit';
        var message ='LoveThatFit.com';
        var canvas = document.getElementById('myCanvas');
	var data = canvas.toDataURL("image/png");
	var encodedPng = data.substring(data.indexOf(',') + 1, data.length);
	var decodedPng = Base64Binary.decode(encodedPng);
        FB.getLoginStatus(function(response) {
	  if (response.status === "connected") {	
		postImageToFacebook(response.authResponse.accessToken, filename, "image/png", decodedPng, message);
	  } else if (response.status === "not_authorized") {
		 FB.login(function(response) {
			postImageToFacebook(response.authResponse.accessToken, filename, "image/png", decodedPng,message);
		 }, {scope: "publish_stream"});
	  } else {
		 FB.login(function(response)  { 
			postImageToFacebook(response.authResponse.accessToken, filename, "image/png", decodedPng, message);
		 }, {scope: "publish_stream"});
	  }
	 });


};
//-----------------------------------------
$("#btn_share_upload").click(function(){    
   postCanvasToFacebook();
        });

  
</script>
<!--- Send File Generate URL ---------------------------------->
<!--- Send File Generate URL ------------------------------------>
<!--- Send File Generate URL ------------------------------------>
            <script>
      $(function(){ 
        var user_image = document.getElementById('user_image');
        var context = document.getElementById('myCanvas').getContext("2d");
        user_image.onload = function () {            
         context.drawImage(user_image, 10, 10);         
        }
         $("#btn_send_params").click(function(){
             var canvas = document.getElementById('myCanvas');             
             var dataURL = canvas.toDataURL();
             
                   $.post($('#upload_canvas_path').text(), {
                      data : dataURL,                      
              }, function(data) {                  
                  $('#fb_post_name').text('merged_img');                  
                  $('#fb_post_img_url').text(data);
                  $('#uploaded_img').attr("src", data);
                  $('#fb_post_caption').text('Merged Image');
                  $('#fb_post_desc').text('testing with the description');
             
              });  
        });
        });

            </script>
            
            
            
<!--- Upload To LTF option ------------------------------------------>
<!--- Upload To LTF option ------------------------------------------>
<!--- Upload To LTF option ------------------------------------------>
            <script>
                 
 $("#btn_share").click(function(){                


  FB.ui(
      {
        method: 'feed',
        name: $('#fb_post_name').text(), // name of the product or content you want to share
        link:  $('#fb_post_link').text(),
        picture: $('#fb_post_img_url').text(), // path to an image you would like to share with this content
        caption: $('#fb_post_caption').text(), // caption
        description: $('#fb_post_desc').text() // description of your product or content
      },
      function(response) {
        if (response && response.post_id) {
          alert('Post was published.');
        } else {
          alert('Post was not published.');
        }
      }
    )

        });
  
</script>

</body>
</html>
