<!DOCTYPE html>
<html>
        <head>
        <title>Love That Fit</title>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        </head>

<body>
    <div id=“fb-root”></div>
    <img style="display: none" id='user_image' src="{{asset(app.user.webpath)}}"/>
    <span id='upload_canvas_path'>{{ path('fitting_room_canvas_upload')}}</span><br>
    <canvas id="myCanvas" width="364" height="505" style="border:1px solid #000000;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <input id='btn_send_params' type="button" value="send"></input>
    <input id='btn_share' type="button" value="share"></input>
    <input id='btn_share_upload' type="button" value="share upload"></input>
<br>
<img  id='uploaded_img' src='' width="100px" height="100px">
<br>
<span id='fb_app_key'>app_id: {{facebook.app_id}}</span><br>
<span id='fb_post_name'></span><br>
<span id='fb_post_link'>{{facebook.web_link}}</span><br>
<span id='fb_post_img_url'></span><br>
<span id='fb_post_caption'></span><br>
<span id='fb_post_desc'></span><br>
 

<!--- Upload To Facebook option ------------------------------------------>
<!--- Upload To Facebook option ------------------------------------------>
<!--- Upload To Facebook option ------------------------------------------>
<script>

window.fbAsyncInit = function() {
    FB.init({
    appId      : 314138425462684,
    status     : true,
    xfbml      : true,
    version    : 'v2.0'
  });  

};


//--------------------------------------------------------------------------
  


  
</script>
<!--- Send File Generate URL ---------------------------------->
<!--- Send File Generate URL ------------------------------------>
<!--- Send File Generate URL ------------------------------------>
            <script>
      $(function(){ 
        var user_image = document.getElementById('user_image');
        var context = document.getElementById('myCanvas').getContext("2d");
        user_image.onload = function () {            
         context.drawImage(user_image, 10, 10);         
        }
         $("#btn_send_params").click(function(){
             var canvas = document.getElementById('myCanvas');
            
             var dataURL = canvas.toDataURL();
             
             
                   $.post($('#upload_canvas_path').text(), {
                      data : dataURL,                      
              }, function(data) {
                  
                 
                  $('#fb_post_name').text('merged_img');                  
                  $('#fb_post_img_url').text(data);
                  $('#uploaded_img').attr("src", data);
                  $('#fb_post_caption').text('Merged Image');
                  $('#fb_post_desc').text('testing with the description');
             
              });  
        });
        });

            </script>
            
            
            
<!--- Upload To LTF option ------------------------------------------>
<!--- Upload To LTF option ------------------------------------------>
<!--- Upload To LTF option ------------------------------------------>
            <script>
                 
 $("#btn_share").click(function(){                


  FB.ui(
      {
        method: 'feed',
        name: $('#fb_post_name').text(), // name of the product or content you want to share
        link:  $('#fb_post_link').text(),
        picture: $('#fb_post_img_url').text(), // path to an image you would like to share with this content
        caption: $('#fb_post_caption').text(), // caption
        description: $('#fb_post_desc').text() // description of your product or content
      },
      function(response) {
        if (response && response.post_id) {
          alert('Post was published.');
        } else {
          alert('Post was not published.');
        }
      }
    )

        });
  
</script>

</body>
</html>
