{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
  <li><a href="{{ path('admin_products') }}" >Products Specification</a> </li>   
{% endblock %}

{% block body %}
  
  <span id='size_specs_json' hidden="true">{{size_specs_json}}</span>
  <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>
   <h1 style="float:left;">Product Brand CSV Format Configure</h1>
    
     <div class="btn-group" role="group" aria-label="..." style="float:right;">
            <a href="{{ path('admin_products') }}" class="btn btn-default">Products</a>
           <a href="{{ path('admin_product_specs_csv_data_input') }}" class="btn btn-default">Specs</a>
        </div>
    <div class="clearfix"></div>

    <div id="detail_wrapper">
        <div id="product_content">
            {#{{ dump(brandNames) }}#}
            <form action="{{ path('admin_product_specs_mapping_save') }}" method="post" enctype="multipart/form-data">
                <div id="detail_wrapper">
                    <div id="p_hd">Product Brand CSV Format Configure</div>
                    <div class="clearfix"></div>
                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">
                                <div class="row-fluid show-grid" id="brand_1">
                                    <div class="span3">Please Select Brand</div>
                                    <div class="span3">{{product_specs_mapping.brand}}
                                        <select name="brand_name">
                                            {% for b in brands %}
                                                <option value="{{ b.name }}" {{product_specs_mapping.brand==b.name?"selected":''}}> {{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid show-grid" id="brand_1">
                                    <div class="span3">Please Select FitModel</div>
                                    <div class="span3">
                                        <select name="fit_model_measurement">
                                            {% for fmm in fit_model_measurement %}
                                                <option value="{{ fmm.id }}"> {{ fmm.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>    
                                     <div class="row-fluid show-grid">
                                    <div class="span3">Please Select Gender</div>
                                    <div class="span3">
                                        <select name="sel_gender" id="sel_gender">
                                                <option value="m"> Man </option>                                            
                                                <option value="f"> Woman </option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid show-grid" id="brand_1">
                                    <div class="span3">Clothing Type</div>
                                    <div class="span3">
                                        <select name="clothing_type" id="sel_clothing_type">
                                                <option value=""> Select </option>                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Description</div>
                                    <div class="span3">
                                        <textarea name="mapping_description"></textarea>
                                    </div>
                                </div>
                                 <div class="row-fluid show-grid">
                                    <div class="span3">Title</div>
                                    <div class="span3">
                                        <input type="text" id="mapping_title" name="mapping_title">
                                    </div>
                                </div>
                                <div>
                                    <div id='uploading_image'></div>
                                     
                                         Select csv to upload: <span id="file_message"></span>
                                         <input type="file" name="csv_file" id="csv_file">
                                     
                                 </div>
                                    <span id="select_cell_div" hidden="true"></span>                                  
                                <div id="pq-dialog-cont">
                                    <div id="pq-grid-in-popup-dialog" title="Product sprecification file data" >
                                        <div id="grid_in_popup_grid"></div>
                                    </div>
                                </div>      
                                    
                                <div class="row-fluid show-grid">
                                    <div class="span3">Style</div>
                                    <div class="span3">
                                        <input type="text" id="style" name="style"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Control Number</div>
                                    <div class="span3">
                                        <input type="text" id="product_control_number" name="control_number"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Retailer</div>
                                    <input type="text" id="product_Retailer" name="retailer_name" maxlength="255">

                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Gender</div>
                                    <input type="text" id="product_gender" name="gender" maxlength="255">
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Name</div>
                                    <input type="text" id="garment_name" name="garment_name" maxlength="255">
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Clothing Type</div>
                                    <input type="text" id="clothing_type" name="clothing_type"
                                           maxlength="255">
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Styling Type</div>
                                    <div class="span3">
                                        <input type="text" id="styling_type" name="styling_type"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Hem length</div>
                                    <div class="span3">
                                        <input type="text" id="hem_length" name="hem_length"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid" id="neckline">
                                    <div class="span3">Neckline</div>
                                    <div class="span3">
                                        <input type="text" id="neck_line" name="neck_line"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Sleeve Styling</div>
                                    <div class="span3">
                                        <input type="text" id="sleeve_styling" name="sleeve_styling"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Rise</div>
                                    <div class="span3">
                                        <input type="text" id="rise" name="rise" maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Stretch Type</div>
                                    <div class="span3">
                                        <input type="text" id="stretch_type" name="stretch_type"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Horizontal Stretch</div>
                                    <div class="span3">
                                        <input type="text" id="horizontal_stretch"
                                               name="horizontal_stretch">
                                    </div>

                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Vertical Stretch</div>
                                    <div class="span3">
                                        <input type="text" id="vertical_stretch"
                                               name="vertical_stretch">

                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Fabric Weight</div>
                                    <div class="span3">
                                        <input type="text" id="fabric_weight" name="fabric_weight"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Structural Detail</div>
                                    <div class="span3">
                                        <input type="text" id="structural_detail"
                                               name="structural_detail" maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Fit Type</div>
                                    <div class="span3">
                                        <input type="text" id="fit_type" name="fit_type"
                                               maxlength="255">
                                    </div>
                                </div>
                                <div class="row-fluid show-grid">
                                    <div class="span3">Layering</div>
                                    <div class="span3">
                                        <input type="text" id="layring" name="layring"
                                               maxlength="255">
                                    </div>
                                </div>

                                <div class="row-fluid show-grid">
                                    <div class="span3">Body Type</div>
                                    <div class="span3">
                                        <input type="text" id="body_type" name="body_type"
                                               maxlength="255">
                                    </div>
                                </div>

                                <div class="row-fluid show-grid">
                                    <div class="span3">Styling Detail</div>
                                    <div class="span3">
                                        <input type="text" id="styling_detail" name="styling_detail"
                                               maxlength="255">
                                    </div>
                                </div>

                                <div class="row-fluid show-grid">
                                    <div class="span3">Fit Model Size</div>
                                    <div class="span3">
                                        <input type="text" id="fit_priority_value" name="fit_model_size"
                                               maxlength="255">
                                    </div>
                                </div>
                                {#Add Fit Prority Dynamic Input Box#}
                                <div class="fitPrority"> </div>

                                <div class="row-fluid show-grid add_size_row">
                                    <div class="span3">Enter Fit Priority Lable</div>
                                    <div class="span3">
                                        <input type="text" name="fit_priority" id="fit_priority"
                                               maxlength="255">
                                        <button type="button" class="add_fit_priority">Add Fit Priority Lable</button>
                                    </div>
                                </div>

                                {#Add Fabric Content Dynamic Input Box#}
                                <div class="fabriccontent"> </div>

                                <div class="row-fluid show-grid add_size_row">
                                    <div class="span3">Enter Fabric Content Lable</div>
                                    <div class="span3">
                                        <input type="text" name="fabric_content" id="fabric_content"
                                               maxlength="255">
                                        <button type="button" class="add_fabric_content">Add Fabric Content Lable</button>
                                    </div>
                                </div>

                                {#Add Product Color Dynamic Input Box#}
                                <div class="productcolor"> </div>

                                <div class="row-fluid show-grid add_size_row">
                                    <div class="span3">Enter Product Color Lable</div>
                                    <div class="span3">
                                        <input type="text" name="product_color" id="product_color"
                                               maxlength="255">
                                        <button type="button" class="add_product_color">Add Product Color Lable</button>
                                    </div>
                                </div>

                                <div class="row-fluid show-grid">
                                    <div class="span3">Select Size</div>

                                    <div class="span3">
                                        <select name="select_size" id="sel_size_type" class="selectSize">
                                            <option selected> Select Size</option>                                            
                                        </select>
                                    </div>
                                    <input type="hidden" value="{{ fit_points|json_encode() }}"
                                           name="fit_point" class="fit_point">
                                </div>
                                <div class="size_genrate"></div>

                                <div class="row-fluid show-grid add_size_row" style="display: none">
                                    <div class="span3">Enter Size Lable</div>
                                    <div class="span3">
                                        <input type="text" id="new_fit_point" name="new_fit_point"
                                               maxlength="255">
                                        <button type="button" class="add_size">Add Fit point Lable</button>
                                    </div>

                                </div>
                                <p>
                                    <button type="submit">Save</button>
                                </p>
                            </div><!-- End pro_detail -->
                        </div>
            </form>


        </div><!-- End pro_detail -->
    </div><!-- End product_content -->

<script  src="https://code.jquery.com/jquery-2.2.4.min.js"  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="  crossorigin="anonymous"></script>        
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>  
<link href="{{ asset('bundles/lovethatfit/admin/paramquery/pqgrid.min.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/paramquery/pqgrid.min.js') }}"></script>
<script type="application/javascript">
        var $ = jQuery.noConflict();
        jQuery(document).ready(function () {
            $(".selectSize").change(function () {
                var siz_genrate = $('.size_genrate'); 
                $('.add_size_row').show();
                size_specs = $.parseJSON($('#size_specs_json').text());                
                var fit_points = $('.fit_point').val();
                gender=$('#sel_gender').val()=='m'?'man':'woman';
                var size_type = this.value                
                siz_genrate.empty();
                var tableData = '';
                tableData += "<table><tr><th> Size Lable </th>";
                $.each(size_specs.sizes[gender][size_type], function (k, size_label) {
                    tableData += "<th>" + size_label + "</th>";
                });
                
                tableData += "</tr>";
                var result = $.parseJSON(fit_points);
                
                $.each(result, function (k, fit_point_value) {
                    tableData += "<tr><td class='span2'>" + fit_point_value + "</td>";
                    $.each(size_specs.sizes[gender][size_type], function (k, v) {                    
                    tableData += "<td>  <input type='text' name= 'sizes-" + v + "-" + fit_point_value + "'  id='sizes-" + v + "-" + fit_point_value + "' style='width: 40px'/> </td>";
                });
                    tableData += "</tr>";
                });
                
                siz_genrate.append(tableData);

    //---------- textbox id on selection ~~~~~~~~~~>
    $('input, textarea').focus(function() {
       $('#select_cell_div').text($(this).attr('id'));
    });
    //---------------------------------------
                
            });


            var fit_poit_condition = true;
            $(".add_size").click(function () {
                var siz_genrate = $('.size_genrate');
                var new_fit_point = $('#new_fit_point').val();                
                size_specs = $.parseJSON($('#size_specs_json').text());                
                gender=$('#sel_gender').val()=='m'?'man':'woman';
                size_type=$(".selectSize").val();
                
                var tableData = "<table><tr><td class='span2'>"+ new_fit_point + "  </td>";
                      nfp =  new_fit_point.split(' ').join('_');
                $.each(size_specs.sizes[gender][size_type], function (k, size_label) {
                    tableData += "<td>  <input type='text' name='sizes-" + size_label + "-" + nfp + "'  id='sizes-" + size_label + "-" + nfp + "' style='width: 40px'/> </td>";
                });
                
                tableData += "</tr><table>";
                siz_genrate.append(tableData);                    
            
            });

            // add_fit_priority
            $(".add_fit_priority").click(function () {
                var fit_priority_lable_value = $('input:text[name=fit_priority]').val();
                if (fit_priority_lable_value)
                    $('.fitPrority').append("<div class='row-fluid show-grid'> <div class='span3'>" + fit_priority_lable_value + "</div> <div class='span3'> <input type='text' name=fitpriority_" + fit_priority_lable_value + "> </div></div>");
                $('input:text[name=fit_priority]').val('');
            });

            // add_fabric_content
            $(".add_fabric_content").click(function () {
                var fabric_content_lable_value = $('input:text[name=fabric_content]').val();
                if (fabric_content_lable_value)
                    $('.fabriccontent').append("<div class='row-fluid show-grid'> <div class='span3'>" + fabric_content_lable_value + "</div> <div class='span3'> <input type='text' name=fabriccontent_" + fabric_content_lable_value + "> </div></div>");
                $('input:text[name=fabric_content]').val('');
            });

            // add_product_color
            $(".add_product_color").click(function () {
                var product_color_lable_value = $('input:text[name=product_color]').val();
                if (product_color_lable_value)
                    $('.productcolor').append("<div class='row-fluid show-grid'> <div class='span3'>" + product_color_lable_value + "</div> <div class='span3'> <input type='text' name=productcolor_" + product_color_lable_value + "> </div></div>");
                $('input:text[name=product_color]').val('');
            });



        })
    </script>

  <script>
//-------------------------------------------- 	
//-------------------------------------------- 	
//-------------------------------------------- 	
$(function(){
    size_specs=jQuery.parseJSON( $('#size_specs_json').text());
    product_specs = jQuery.parseJSON( $('#product_specs_json').text());
    
    $( "#sel_gender" ).change(function() {
        fill_clothing_type_list(this.value);
        sel_size_type(this.value);    
});
   //---------------------------------------
    
    $(window).on('scroll', function(event) {
		var scrollTop = $(window).scrollTop();
                $("#pq-dialog-cont").css({top: scrollTop, left: 200});
    });
    
   //---------------------------------------
    function fill_clothing_type_list(gender){        
        gender=gender=='m'?'man':'women';                
        $('#sel_clothing_type').empty();
        var option = '<option value="">Select </option>';
        str='';
        $.each(product_specs[gender].clothing_type, function(val, text) {            
            if(str != text){
                option = option + '<option value="'+ val + '">' + text + '</option>';
                str=text;
                }
            });                
         $('#sel_clothing_type').append(option);         
    }
    //---------------------------------------
    function sel_size_type(gender){
        gender=gender=='m'?'man':'woman';        
        $('#sel_size_type').empty();
        var option = '<option value="">Select Size</option>';
        $.each(size_specs.size_title_type[gender], function(val, text) {
            option += '<option value="'+ val + '">' + text + '</option>';
                });
         $('#sel_size_type').append(option);         
    }
    
    //#################################################
    $('#csv_file').on('change', function(){     
        var val = $(this).val();
         if(val.substring(val.lastIndexOf('.') + 1).toLowerCase()=='csv'){
             $("#uploading_image").html('<img src="{{ asset('bundles/lovethatfit/admin/images/loader.gif') }}" alt="Uploading...."/>');                
             
            var formData = new FormData();
            formData.append('csv_file', $('input[type=file]')[0].files[0]); 
            $.ajax({
                url: '../product_specs/csv_upload',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {                    
                  $("#csv_file_json").text(response);
                  $("#uploading_image").html('');                  
                  show_csv_popup(response);
                }
            });

        }else{
             alert("Invalid file");
            }          
    });        
            
    
    
//---------- textbox id on selection ~~~~~~~~~~>
    $('input, textarea').focus(function() {
       $('#select_cell_div').text($(this).attr('id'));
    });
      
function show_csv_popup(str){
   data = JSON.parse(str);
    var obj = {
            width: 700,
            selectionModel: { type: 'cell' },
            editModel: { clicksToEdit: 2 },
            scrollModel: {autoFit: true},
            showTop: false,
            showBottom: false,            
            dataModel: { data: data}
            
        };
        // data model 
    var colModel = [];
    for (var j = 0; j < 170; j++) {
        colModel[j] = { title: j, width: 150 };
    }
    obj.colModel = colModel;
//selection-------------
 obj.cellSelect = function (evt, ui) {
            if (ui.rowData) {
                var rowIndx = ui.rowIndx,
                    colIndx = ui.colIndx,
                    dataIndx = ui.dataIndx,
                    cellData = ui.rowData[dataIndx];
                $("#select_cell_display_div").html("Cell selected rowIndx: " + rowIndx + ", colIndx: " + colIndx + ", dataIndx: " + dataIndx + ", value: " + cellData);
				$('#' + $('#select_cell_div').text()).val(rowIndx + ", " + colIndx);
        }
        }
//------------------------------------     
  $("#pq-grid-in-popup-dialog").dialog({
                    height: 300,
                    width: 500,
                    open: function (evt, ui) {
                        var $grid = $("#grid_in_popup_grid");
                        var ht = $grid.parent().height() - 2;
                        var wd = $grid.parent().width() - 2;
                        
                        if ($grid.hasClass('pq-grid')) {
                            $grid.pqGrid("option", { height: ht, width: wd });
                        }
                        else {
                            obj.width = wd;
                            obj.height = ht;
                            $grid.pqGrid(obj);
                        }
                    },
                    close: function () {
                        var $grid = $("#grid_in_popup_grid");
                        $grid.pqGrid('destroy');
                    },
                    resizeStop: function (evt, ui) {
                        var $grid = $("#grid_in_popup_grid");
                        var ht = $grid.parent().height();
                        var wd = $grid.parent().width();
                        $grid.pqGrid("option", { height: ht - 2, width: wd - 2 });
                        $grid.pqGrid("refresh");
                    },
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "explode",
                        duration: 500
                    }
                });
}



});


 </script>  
 
{% endblock %}
     