{% extends 'LoveThatFitCartBundle::basecart.html.twig' %}

{% block profile_heading %}
    <div id="breadcrumb">
        <ul>
            <li class="active"><a href="#">Shopping Cart</a></li>
            <li class="bd_sep">>></li>
            <li><a href="#">Delivery &amp; Shipping</a></li>
            <li class="bd_sep">>></li>
            <li><a href="#">Review &amp; Billing</a></li>
        </ul>
    </div><br>
    <h1 class="cart_hd">Order Confirmation</h1>

{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}


    <table width="745" border="0" class="cart_tbl" cellpadding="0" cellspacing="0">
        <tr>
            <td>Image</td>
            <td>SKU</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Sub Total</td>
            <td>-</td>


        </tr>

            {% for c in cart %}
            <tr>
                <td align="center"><img src="{{ asset(c.productItem.productColor.webPath) }}"></td>
                <td align="center">{{ c.productItem.sku }}</td>
                <td align="center">{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}} {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}</td>
                <td align="center"><input type="hidden" name="id[]" value="{{ c.id }}"><input type="hidden" name="product_item[]" value="{{ c.productItem.id }}"> {{ c.qty }} </td>
                <td align="center">${{ c.productItem.price}}</td>
                <td align="center">${{ c.productItem.price * c.qty}}</td>
                <td align="center" valign="middle" class="edt_icon"><a href="{{ path('cart_show')}}"></a></td>



            </tr>

        {% else %}
            <tr><td align="center" colspan="6"><p>There are no records</p></td></tr>
        {% endfor %}
        <tr><td colspan="7" align="right">Total:&nbsp;<strong>${{ grand_total }} </strong></td></tr>

            </table>

    <table border="0" cellspacing="0" cellpadding="0" class="order_conf_tbl" >
       {% if(counter == 0) %}
        <tr><td width="45%">

                <h1 class="cart_hd">Billing Info</h1>

                {{ billing_shipping_info.billing.billing_first_name  }} {{ billing_shipping_info.billing.billing_last_name  }}<br>

                {{ billing_shipping_info.billing.billing_address1 }} {{ billing_shipping_info.billing.billing_state }} {{ billing_shipping_info.billing.billing_city }} {{ billing_shipping_info.billing.billing_country }} {{ billing_shipping_info.billing.billing_postcode }} <a class="edt_icon_conf" href="{{ path('order_default')}}"></a>
            </td>
            <td width="5%"></td>


          <td  width="45%">

                   <h1 class="cart_hd">Shipping Info</h1>

                   {{ billing_shipping_info.billing.shipping_first_name  }} {{ billing_shipping_info.billing.shipping_last_name  }}<br>


           {{ billing_shipping_info.billing.shipping_address1 }} {{ billing_shipping_info.billing.shipping_state }} {{ billing_shipping_info.billing.shipping_city }} {{ billing_shipping_info.billing.shipping_country }} {{ billing_shipping_info.billing.shipping_postcode }} <a class="edt_icon_conf" href="{{ path('order_default')}}"></a></td></tr>
        {% else %}
            <tr><td  width="45%">
                    <h1 class="cart_hd">Billing Info</h1>

                    {{ billing_user_addresses.first_name  }} {{ billing_user_addresses.last_name  }}<br>

           {{ billing_user_addresses.address1 }} {{ billing_user_addresses.state }} {{ billing_user_addresses.city }} {{ billing_user_addresses.country }} {{ billing_user_addresses.postcode }} <a href="{{ path('order_default')}}" class="edt_icon_conf"></a></td>
                <td width="5%"></td>

            <td width="45%">
                    <h1 class="cart_hd">Shipping Info</h1>

                    {{ shipping_user_addresses.first_name  }} {{ shipping_user_addresses.last_name  }}<br>

            {{ shipping_user_addresses.address1 }} {{ shipping_user_addresses.state }} {{ shipping_user_addresses.city }} {{ shipping_user_addresses.country }} {{ shipping_user_addresses.postcode }} <a href="{{ path('order_default')}}" class="edt_icon_conf"></a></td></tr>

        {% endif %}
    </table>
        <div id="paypal-container"></div>
        <form id="checkout" method="post" action="{{ path('payment')}}">
            <div id="payment-form"></div>
            <input type="hidden" name="order_amount" value="{{ grand_total }}">
            <input id="pay" type="submit" value="Pay ${{ grand_total }}">

            <div style="text-align: center; float: left; width: 550px; margin: 0 auto; font-size: 0.9em; margin-bottom: 20px;">

            <img  src="{{ asset('bundles/lovethatfit/site/images/process_2.gif') }}" style="display: none;padding-left:200px" alt="loading" id="loading_image">
            <div id="process" style="display: none;padding-left:200px">please wait while your order is being processed...</div>
            </div>
        </form>

        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <script language="javascript" type="text/javascript">
            var clientToken = "{{ token }}";
//            $('#pay').click(function() {
//
//            });
            braintree.setup(clientToken, "dropin", {
                container: "payment-form",
                paymentMethodNonceReceived: function (event, nonce) {
                    $('#checkout').append("<input type='hidden' name='payment_method_nonce' value='" + nonce + "'></input>");
                    $('#pay').css('display','none');
                    $('#loading_image').show();
                    $('#process').show();
                    $('.card-field').css('height','0px');
                    $('#checkout').submit();
                }
            });
        </script>




{% endblock %}