{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}

{% block profile_heading %}

    <h1>Order Detail</h1>
{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}


    <table width="700" border="0" class="user_product_hd">
        <tr>
            <td>Image</td>
            <td>SKU</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Sub Total</td>
            <td>-</td>


        </tr>

            {% for c in cart %}
            <tr>
                <td><img src="{{ asset(c.productItem.productColor.webPath) }}"></td>
                <td>{{ c.productItem.sku }}</td>
                <td>{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}} {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}</td>
                <td><input type="hidden" name="id[]" value="{{ c.id }}"><input type="hidden" name="product_item[]" value="{{ c.productItem.id }}"> {{ c.qty }} </td>
                <td>${{ c.productItem.price}}</td>
                <td>${{ c.productItem.price * c.qty}}</td>
                <td><a href="{{ path('cart_show')}}">Edit Order</a></td>



            </tr>

        {% else %}
            <tr><td align="center" colspan="6"><p>There are no records</p></td></tr>
        {% endfor %}
        <tr><td colspan="7" align="right">Total:<strong>${{ grand_total }} </strong></td></tr>

            </table>

    <table width="700" border="0" >
        <tr><td>
                <h1>Customer Detail</h1><br>
                Name:{{ billing_shipping_info.billing.billing_first_name  }} {{ billing_shipping_info.billing.billing_last_name  }}
            </td></tr>

            <tr><td>Address:{{ billing_shipping_info.billing.billing_address1 }} {{ billing_shipping_info.billing.billing_state }} {{ billing_shipping_info.billing.billing_city }} {{ billing_shipping_info.billing.billing_country }} {{ billing_shipping_info.billing.billing_postcode }} <a href="{{ path('order_default')}}">Edit Address</a></td></tr>
    </table>
        <div id="paypal-container"></div>
        <form id="checkout" method="post" action="{{ path('payment')}}">
            <div id="payment-form"></div>
            <input type="hidden" name="order_amount" value="{{ grand_total }}"><input id="pay" type="submit" value="Pay ${{ grand_total }}"><img  src="{{ asset('bundles/lovethatfit/site/images/uploading.gif') }}" style="display: none;padding-left:200px" alt="loading" id="loading_image"><div id="process" style="display: none;padding-left:200px">please wait while your order is being processed...</div>
        </form>

        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <script language="javascript" type="text/javascript">
            var clientToken = "{{ token }}";
            $('#pay').click(function() {
                $(this).hide();
            });
            braintree.setup(clientToken, "dropin", {
                container: "payment-form",
                paymentMethodNonceReceived: function (event, nonce) {
                    $('#checkout').append("<input type='hidden' name='payment_method_nonce' value='" + nonce + "'></input>");
                    $('#pay').css('display','none');
                    $('#loading_image').show();
                    $('#process').show();
                    $('#checkout').submit();
                }
            });
        </script>




{% endblock %}