{% extends 'LoveThatFitCartBundle::basecart.html.twig' %}

{% block profile_heading %}


{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}



            {% if(order_number != '') %}

                <div class="confirmation_box">

                    <h1>Order Confirmation</h1>

                    Your Order has been placed successfully, your order number is <br><span>{{ order_number }}</span>
                    <div class="empty_prod_btn return_btn">
                        <a href="{{path('inner_site_index')}}">Continue</a>
                    </div>
                </div>


            {% else %}

                <div class="confirmation_box">
                    <h1>Order Confirmation</h1>
                    {{ response_code }}</div>


            {% endif %}








{% endblock %}