{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Dashboard</li>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/Chart.js') }}"></script>
<style>
        userage{
        }
        usersignups{            
        }
         piecanvas{
        }
    </style>
{% endblock %}

{% block body %}
<div class="p_listing">
  <h1>Dashboard</h1>
{%if(totalproducts>0)%}
    <table width="100%" border="0" class="dashboard_tbl">
        <tr>
       	    <td class="hd_bdr" colspan="3"><h4 style="float:left;">Products</h4></td>
        </tr>

        <tr>
            <td class="mainhd" colspan="3">Total Products:{{totalproducts}}</td>
        </tr>


        <tr>
            <td colspan="3">
                <table width="100%">
                    <td width="49%">
                        <table width="100%">
                            <tr>
                                <td colspan="3" valign="top" class="hd_bdr"><h4 style="float:left;">Products By Brand</h4></td>
                            </tr>


                            <tr>
                                <td valign="top" class="mainhd">

                                    <table width="100%">
                                        <tr>
                                            <td><strong>Brand Name</strong></td>
                                            <td><strong>Qty</strong></td>
                                            <td><strong>%</strong></td>

                                        </tr>

{%for p in brandproduct%}
                    {%set percent=100*p.brand/totalproducts%}


                                        <tr>
                                            <td>{{p.name}}</td>
                                            <td>{{p.brand}}</td>
                                            <td>{{percent|number_format}}%</td>
                                        </tr>              


        {%endfor%}  
                                    </table>

                                </td>
                                <td align="center"> <canvas id="piecanvas"  height="300" width="300"></canvas>
                                   
                                    <script>
          function htmlEncode( input ) {
    return String(input).replace(/(&amp);/g, '&');
        
}
                                        var pieData = [                                            
                                            {%for p in brandproduct%}                                                    
                                            {
                                                value: {{p.brand}},
                                                color: "#E0E4CC",
                                                label: htmlEncode("{{p.name}}"),
                                                labelColor: '#1F1B33'
                                            },
                                              {%endfor%}
                                        ];
                                        var myPie = new Chart(document.getElementById("piecanvas").getContext("2d")).Pie(pieData, {
                                            animationSteps: 100,
                                            animationEasing: 'easeInOutQuart'
                                        });

                                        </script></td>

                                </tr>

                            </table>

                        </td>

                        <td></td>

                        <td width="49%" align="right">


                            <table width="100%">
                                <tr>
                                    <td colspan="3" valign="top" class="hd_bdr"><h4 style="float:left;">Products By Clothing Type</h4></td>
                                </tr>
                                <tr>
                                    <td valign="top" class="mainhd">



                                        <table width="100%">

                                            <tr>
                                                <td><strong>Type</strong></td>
                                                <td><strong>Qty</strong></td>
                                                <td><strong>%</strong></td>

                                            </tr>


                                            <tr>
                                                <td>Top</td>
                                                <td>{{topProduct}}</td>
                                                <td>{%set toppercent=100*topProduct/totalproducts%} {{toppercent|number_format}}%</td>

                                            </tr> 

                                            <tr>
                                                <td>Bottom</td>
                                                <td>{{bottomProduct}}</td>
                                                <td>{%set bottompercent=100*bottomProduct/totalproducts%} {{bottompercent|number_format}}%</td>

                                            </tr>

                                            <tr>
                                                <td>Dress</td>
                                                <td>{{dressProduct}}</td>
                                                <td>{%set dresspercent=100*dressProduct/totalproducts%} {{dresspercent|number_format}}%</td>

                                            </tr>


                                        </table>                    


                                    </td>
                                    <td valign="top" align="center">
                                        <canvas id="clothingtypecanvas"  height="300" width="300"></canvas>
                                        <script>
                                            var clothingtypepieData = [                               
                                                {
                                                    value: {{topProduct}},
                                                    color: "#69D2E7",
                                                    label: 'Top Products',
                                                    labelColor: '#1F1B33'
                                                },
                                                {
                                                    value: {{bottomProduct}},
                                                    color: "#E0E4CC",
                                                    label: 'Bottom Products',
                                                    labelColor: '#1F1B33'
                                                },
                                                {
                                                    value: {{dressProduct}},
                                                    color: "#E0E4CC",
                                                    label: 'Dress Products',
                                                    labelColor: '#1F1B33'
                                                },
                                            ];
                                            var myPie = new Chart(document.getElementById("clothingtypecanvas").getContext("2d")).Pie(clothingtypepieData, {
                                                animationSteps: 100,
                                                animationEasing: 'easeInOutQuart'
                                            });

                                            </script></td>
                                    </tr>

                                </table>





                            </td>

                        </table>

                    </td>
                </tr>

                <tr>
                    <td colspan="3" valign="top" class="hd_bdr"><h4 style="float:left;">Users</h4></td>
                </tr> 

                
                <tr>
                    <td valign="top" class="mainhd">                      
                        
                        <div style="position:relative;">                        
                        
                        <h4 style="float:left;">Last Months Signups</h4>
                        <br><br>
                        
                        <div style="position: absolute; top: 65px; left: 70px;"><b>{{totalusers}}</b></div>                    
                        <canvas id="usersignups" height="300" width="300" style="margin-left:100px"></canvas>
                       <div style="position: absolute; top: 340px; left:70px;"><b>{{noofmonths}}</b></div>
            <script>
                        var usersignupsbarChartData = {
                labels : [{% for su in users['total_signups']%} "{{ su['month']}}", {%endfor%}],
                        datasets : [
                {
                fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        data : [{% for su in users['total_signups']%} {{ su['total']}}, {%endfor%}]
                },                
                ]

                }
                var myLine = new Chart(document.getElementById("usersignups").getContext("2d")).Bar(usersignupsbarChartData);</script>

                 
             

            </div>
                    </td>
                    
                    <td>&nbsp;</td>
                    
                    
                    <td valign="top" class="mainhd">
                        
                        <div style="position:relative;">
                        
                        
                        <h4 style="float:left;">Users Age Groups</h4>
                        <br><br>                       
                                             
                        <div style="position: absolute; top: 55px; left: 80px;"><b>{{totalusers}}</b></div>  
                        <canvas id="userage" height="300" width="300" style="margin-left:130px;"></canvas>
                        <div style="position: absolute; top: 340px; left:55px;"><b>{{ageinyears}}</b></div>
                        
                        
                        
                        
            <script>
                        var useragebarChartData = {
                labels : [{% for agc in users['age_group_count']%} "{{ agc['age']}}", {%endfor%}],
                        datasets : [
                {
                fillColor : "rgba(151,187,205,1)",
                        strokeColor : "rgba(151,187,205,1)",
                        data : [{% for agc in users['age_group_count']%} {{ agc['total']}}, {%endfor%}]
                },                
                ]
                }
                var myLine = new Chart(document.getElementById("userage").getContext("2d")).Bar(useragebarChartData);</script>
                 
            
            
            
            
            
            </div>
            
            
            
            
            
            
            
            </td>
                </tr>
                <tr>
                  <td valign="top" align="center">
                  
                  <table width="50%" cellspacing="2" cellpadding="2" border="1">
                                        
                                          <tr>
                                            <td bgcolor="#efefef" align="center"><strong>Total:</strong></td>
                                            <td bgcolor="#efefef" align="center"><strong>Female:</strong></td>                                            
                                            <td bgcolor="#efefef" align="center"><strong>Male</strong></td>
                                        </tr>

                                        <tr>
                                            <td align="center">{{users['total_count']}}</td>
                                            <td align="center">{{users['total_woman']}} ({%set femalepercent=100*users['total_woman']/users['total_count']%} {{femalepercent|number_format}}%)</td>
                                           <td align="center">{{users['total_man']}} ({%set malepercent=100*users['total_man']/users['total_count']%} {{malepercent|number_format}}%)</td>
                                            
                                        </tr>              


          
                                    </table> 

                  
                  </td>
                  <td>&nbsp;</td>
                  <td valign="top">&nbsp;</td>
                </tr> 

                


            </table>
  
  &nbsp;  &nbsp;
 {%endif%}
        </div>
{% endblock %}