{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Dashboard</li>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/Chart.js') }}"></script>
<style>        
        piecanvas{
        }
        clothingtypecanvas{
        }
    </style>
{% endblock %}

{% block body %}
    <h4 style="float:left;">Products</h4>
    <table width="100%">
        <tr>
            <td colspan="2" valign="top">
                <div> Total Products:{{totalproducts}}</div>                
            </td>
        </tr>
        
        <tr>
            <td colspan="2" valign="top"><h4 style="float:left;">Products By Brand</h4></td>
        </tr>        
        <tr>
            <td valign="top">
        {%for p in brandproduct%}
                    {%set percent=100*p.brand/totalproducts%}
                    
                    <div>{{p.name}}: {{p.brand}}   Percent:{{percent|number_format}}%</div>
        {%endfor%}  
                </td>
                <td valign="top">
                    <canvas id="piecanvas"  height="300" width="300"></canvas>
                    <script>
                        var pieData = [
                            {%for p in brandproduct%}
                            {
                                value: {{p.brand}},
                                color: "#E0E4CC",
                                label: '{{p.name}} {"{{p.brand}}"}',
                                labelColor: '#1F1B33'
                            },
                              {%endfor%}
                        ];
                        var myPie = new Chart(document.getElementById("piecanvas").getContext("2d")).Pie(pieData, {
                            animationSteps: 100,
                            animationEasing: 'easeInOutQuart'
                        });

                        </script></td>
                </tr>

                <tr>
                    <td colspan="2" valign="top"><h4 style="float:left;">Products By Clothing Type</h4></td>
                </tr>        
                <tr>
                    <td valign="top">
                        <div>Top Product:{{topProduct}}    Percent:{%set toppercent=100*topProduct/totalproducts%} {{toppercent|number_format}}%</div>   
                        <div> Bottom Product:{{bottomProduct}}     Percent:{%set bottompercent=100*bottomProduct/totalproducts%} {{bottompercent|number_format}}%</div>
                        <div>  Dress Product:{{dressProduct}}   Percent:{%set dresspercent=100*dressProduct/totalproducts%} {{dresspercent|number_format}}%</div>
                    </td>
                    <td valign="top">
                        <canvas id="clothingtypecanvas"  height="300" width="300"></canvas>
                        <script>
                            var clothingtypepieData = [                               
                                {
                                    value: {{topProduct}},
                                    color: "#69D2E7",
                                    label: 'Top Products {"{{topProduct}}"}',
                                    labelColor: '#1F1B33'
                                },
                                {
                                    value: {{bottomProduct}},
                                    color: "#E0E4CC",
                                    label: 'Bottom Products {"{{bottomProduct}}"}',
                                    labelColor: '#1F1B33'
                                },
                                {
                                    value: {{dressProduct}},
                                    color: "#E0E4CC",
                                    label: 'Dress Products {"{{dressProduct}}"}',
                                    labelColor: '#1F1B33'
                                },
                            ];
                            var myPie = new Chart(document.getElementById("clothingtypecanvas").getContext("2d")).Pie(clothingtypepieData, {
                                animationSteps: 100,
                                animationEasing: 'easeInOutQuart'
                            });

                            </script></td>
                    </tr>


                <tr>
                    <td colspan="2" valign="top"><h4 style="float:left;">Users</h4></td>
                </tr>             
            <tr>
               <td valign="top" colspan="2">
                  <div> Total:  {{totalusers}}</div>
                        <div>Female:  {{femaleUsers}}         Percent:{%set femalepercent=100*femaleUsers/totalusers%} {{femalepercent|number_format}}%</div>
                        <div>Male:  {{maleUsers}}   Percent:{%set malepercent=100*maleUsers/totalusers%} {{malepercent|number_format}}%</div>                                           
                    </td>
            </tr>
            
                <tr>
                    <td colspan="2" valign="top"><h4 style="float:left;">Last Six Month Signups</h4></td>
                </tr> 
            
                    


    <tr>
        <td colspan="2">
        
       
        </td>
    </tr>



                </table>

{% endblock %}