{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
<style>
.compare_diff{
color:red
}
    
    </style>
<script>

    </script>
    <div class="btn-group" role="group" aria-label="..." style="float:right;">
        <a href="{{ path('product_intake_product_specs_show', {'id': product_specification_id}) }}" class="btn btn-default">Show</a> 
        <a href="{{ path('product_intake_product_specs_edit', {'id': product_specification_id}) }}" class="btn btn-default">Edit</a> 
        <a href="{{ path('product_intake_product_create', {'id': product_specification_id}) }}" class="btn btn-default">Create Product</a> 
    </div>
    <div class="col-sm-6" role="group" aria-label="..." style="float:right;">        
        <form action="{{ path('product_intake_product_specs_compare_upload') }}" method="post"
              enctype="multipart/form-data"  class="form-horizontal" >
            <div class="col-sm-5" >
            <input type="hidden" name="product_specification_id" value="{{product_specification_id}}" id="product_specification_id" />
            <input type="file" accept=".csv" name="csv_file" id="csv_file" />
            </div>
            <div class="col-sm-1" >
            <button type="submit" class="btn btn-default">Compare</button>
            </div>
            
            
        </form>
    </div>
    
    <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>
    <div>
        
        <table>
            <tr>
                <td>
                    <table>
                    {% for specs_k, specs_v in parsed_data %}
                       {% if (specs_k!='sizes') %}
                            <tr>
                                <td><span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;</td>
                                <td>
                                    {% if specs_k == 'fabric_content' or specs_k == 'fit_priority'  or specs_k == 'garment_detail'  %}
                                        {% for key,val in parsed_data[specs_k] %}
                                            {{ key }}:<b>{{ val }}%</b>&nbsp;&nbsp;|&nbsp;&nbsp;                                                    
                                        {% endfor %}
                                     {% else %}
                                        {% if specs_k != 'fit_point_stretch' %}
                                                <span>{{ specs_v }}</span>
                                        {% endif %}   
                                    {% endif %}   
                                </td>
                            </tr>
                        {% endif%}
                    {% endfor %}
                        </table>
                    </td>
                </tr>
{#---------------------------------------------------------------------------------------------#}
            </table>

           

{#---------------------------------------------------------------------------------------------#}
            <table>

                <tr>
                    <td>
                        <a href="#" id="a_measurement_table"> measurements chart</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="dv_measurement_table">
                            <table class="table table-bordered ">
                            {% for size, fit_point in parsed_data.sizes %}
                                    <tr class="Active">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >stretch_value</th>
                                        <th >garment_stretch</th>
                                        <th >grade rule</th>                                        
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>
                                        
                                    </tr>
                                {% for measurement_k, measurement_v in fit_point %}
                                    {% if (measurement_v.garment_dimension>0) %}
                                    {% if (file_data['sizes'][size][measurement_k] is defined) %}
                                    <tr>
                                        <th>{{measurement_k}}</th>
                                        <td>{{measurement_v.garment_dimension | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['garment_measurement_flat']!=measurement_v.garment_dimension| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['garment_measurement_flat']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.stretch_percentage is defined ? measurement_v.stretch_percentage | number_format(2, '.', ''):0}}%
                                        </td>
                                        <td>{{measurement_v.garment_stretch | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['garment_measurement_stretch_fit']!=measurement_v.garment_stretch| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['garment_measurement_stretch_fit']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.grade_rule | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['grade_rule']!=measurement_v.grade_rule| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['grade_rule']~")":""}}</span>
                                        </td>
                                        
                                        <td>{{measurement_v.min_calc | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['min_body_measurement']!=measurement_v.min_calc| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['min_body_measurement']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.min_actual | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.ideal_low | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['ideal_body_size_low']!=measurement_v.ideal_low| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['ideal_body_size_low']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.fit_model | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['fit_model']!= measurement_v.fit_model | number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['fit_model']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.ideal_high | number_format(2, '.', '')}}
                                            <span class="compare_diff">{{file_data['sizes'][size][measurement_k]['ideal_body_size_high']!=measurement_v.ideal_high| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['ideal_body_size_high']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.max_calc | number_format(2, '.', '')}}
                                            <span class="compare_diff"> {{file_data['sizes'][size][measurement_k]['maximum_body_measurement']!=measurement_v.max_calc| number_format(2, '.', '')?" ("~file_data['sizes'][size][measurement_k]['maximum_body_measurement']~")":""}}</span>
                                        </td>
                                        <td>{{measurement_v.max_actual | number_format(2, '.', '')}}</td>
                                        
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <th>{{measurement_k}}</th>
                                        <td></td><td></td><td></td><td colspan="5"><i> fit point ({{measurement_k}}) is not present in the data file</i></td><td></td><td></td><td></td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                   
                    </table>
                </div>

                <script>
           //--------------------------------------------
           //--------------------------------------------
           //--------------------------------------------
           $(function(){
          
           });
                    </script>
{% endblock %}
