{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}

<script>
    var fit_array=[];
    var fabric_array = [];
    var garment_array = [];
    var array_key = [];
    var fit_values = [];
    $(document).ready(function(){ 
        //-------------- Check Fit Priority Alredy Added
        $('.fit_point_selected').click(function () {               
            var fit_point_val = $('.fit_point option:selected').val();
            array_key = $("input[class='fit_priority']").map(function(){return $(this).attr('id');}).get();            
            if($.inArray(fit_point_val, fit_array) != -1 || $.inArray(fit_point_val, array_key)!= -1 )
            {
                alert("Ops! Already Fit Priority Added");    
            } else {
            fit_array.push(fit_point_val);
            var fit_priority = [];
            var fit_priority = "fit_priority["+fit_point_val+"]";          
            $('.fit_priority').prepend(" <label>"+fit_point_val+":</label> <input type='number' class='fit_priority'  name="+fit_priority+" style='width:50px'>%");
            }
        });
        //------------ Count Summ Equal to 100 Validation
        $('.fit_priority').keyup(function() {
            var sum=0;
            $("input[class='fit_priority']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of fit Priority grater then 100");
                $("input[class='fit_priority']").focus(function() {
                     $(this).val("");
                });                
            }           
        })  
        //--------------- Check Fabric Content Already Added
        $('.add_fabric_content').click(function () {                     
                var fabric_content_val = $.trim($('.fabric_content_value').val());   
                array_key = $("input[class='fabric_content']").map(function(){return $(this).attr('id');}).get(); 
                if( $.inArray(fabric_content_val, fabric_array) != -1 || $.inArray(fabric_content_val, array_key) != -1 )
                {
                    alert("Ops! Already Fabric Content Added");    
                } else {
                    faberic_array.push(fabric_content_val);
                    var fabric_content = [];
                   var fabric_content = "fabric_content["+fabric_content_val+"]"; 
                   $('.fabric_content').prepend(" <label>"+fabric_content_val+":</label> <input type='number' class='fabric_content'  name="+fabric_content+" style='width:50px'>%");
                }
        });
        
        //------------ Count Garment detail Sum Equal to 100 Validation
        $('.fabric_content').keyup(function() {
            var sum=0;
            $("input[class='fabric_content']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of fabric content grater then 100");
                $("input[class='fabric_content']").focus(function() {
                     $(this).val("");
                });                
            }           
        })  
        
        //--------------- Check garment detail Already Added
        $('.add_garment_detail').click(function () {                     
                var garment_detail_val = $.trim($('.garment_detail_value').val());                 
                array_key = $("input[class='garment_detail']").map(function(){return $(this).attr('id');}).get(); 
                if( $.inArray(garment_detail_val, garment_array) != -1 || $.inArray(garment_detail_val, array_key) != -1 )
                {
                    alert("Ops! Already garment detail Added");    
                } else {
                    garment_array.push(garment_detail_val);
                    var garment_detail = [];
                    var garment_detail = "garment_detail["+garment_detail_val+"]"; 
                   $('.garment_detail').prepend(" <label>"+garment_detail_val+":</label> <input type='number' class='garment_detail'  name="+garment_detail+" style='width:50px'>%");
                }
        });
        //------------ Count Garment detail Sum Equal to 100 Validation
        $('.garment_detail').keyup(function() {
            var sum=0;
            $("input[class='garment_detail']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of garment detail grater then 100");
                $("input[class='garment_detail']").focus(function() {
                     $(this).val("");
                });                
            }           
        })  
        
        $.fn.editable.defaults.mode = 'popup';     
        $('#username').editable();
        $("#dv_validate_measurement_data").hide();
      $('#a_measurement_table').click(function (event){
             $("#dv_measurement_table").toggle('slow');
        });

    });

</script>
    <style type="text/css">
    .tblData input[type="text"], .tblData select
    {
        width: 60%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        margin:10px;
    }
    .hlist .singleField{ display:inline-block;} 
    .hlist .singleField label{
        float: left;
        position: relative;        
        margin-right: 5px;
    }
    </style>    
    <div class="btn-group" role="group" aria-label="..." style="float:right;">
        <a href="{{ path('product_intake_product_specs_show', {'id': app.request.get('id')}) }}" class="btn btn-default">preview</a> 
    </div>
    <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>
       
   <form action="{{ path('product_intake_product_specs_update',{id: app.request.get('id')}) }}" method="post" enctype="multipart/form-data"  class="form-horizontal" >
       <div class="container">        
{#        <a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>#}
        <table class="tblData">
            <tr>
                <td>
                    <table>
                        {% for specs_k, specs_v in parsed_data %}
                           {% if (specs_k!='sizes') %}
                                {% if specs_k in drop_down_values|keys %}
                                    <tr>
                                        <td><span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;</td>
                                        <td>
                                            <div class="hlist">
                                                  {% if specs_k == 'fabric_content' or specs_k == 'fit_priority'  or specs_k == 'garment_detail'%}
                                                       <div class="{{specs_k}}"> 
                                                      {% for key,val in parsed_data[specs_k] %}
                                                            <div class="singleField">
                                                               <label>
                                                                   {{ key }} : 
                                                               </label> 
                                                                   <input type="number" value="{{val}}" id="{{key}}" class="{{ specs_k }}" name="{{ specs_k }}[{{key}}]" style="width:50px">%
                                                            </div>
                                                    {% endfor %}
                                                    
                                                     {% if specs_k == 'fabric_content' %}
                                                          {#<label>
                                                                 Enter fabric Content : 
                                                               </label> #}
                                                          <input type="text" class="fabric_content_value" value="" name="" style="width:50px">%
                                                        
                                                     <input class="add_fabric_content" type="button" value="Add">
                                                      
                                                     {% endif %} 
                                                     
                                                     {% if specs_k == 'garment_detail' %}
                                                          {#<label>
                                                                 Enter fabric Content : 
                                                               </label> #}
                                                          <input type="text" class="garment_detail_value" value="" name="" style="width:50px">%
                                                        
                                                     <input class="add_garment_detail" type="button" value="Add">
                                                      
                                                     {% endif %} 
                                                     
                                                      {% if specs_k == 'fit_priority' %}
                                                       <select name="{{ specs_k }}" class="fit_point" data-width="100%">   
                                                        {% for key,val in fit_points %}
                                                           <option value="{{val}}"> {{key}}</option>
                                                        {% endfor %}
                                                    </select>   <input class="fit_point_selected" type="button" value="Add">
                                                       </div>
                                                     {% endif %} 
                                                    {% else %}
                                                    <select name="{{ specs_k }}" data-width="100%">
                                                        {% for key,val in drop_down_values[specs_k] %}
                                                           <option value="{{ val }}"{{specs_v =='' and key == 0 ? 'selected':val==specs_v?'selected':'' }}   >{{ key }}</option>
            {#                                                <option value="{{ val.value }}" {{  form.country.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.country.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>#}
                                                        {% endfor %}
                                                    </select>   
                                                  {% endif %}                      
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}                               
                                <tr>
                                    <td>
                                        <span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;
                                    </td>
                                    <td>
                                        <span><input type="text" value="{{specs_v}}" name="{{specs_k}}"> </span>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>

{#---------------------------------------------------------------------------------------------#}
            <table>
                <tr>
                    <td>
                    <select name="fit_model_size" data-width="100%">
                        <option value="">Select</option>
                         {% for key,val in fit_model_list %}
                            <option value="{{ val }}">{{ key }}</option>
                         {% endfor %}
                     </select>  
                    <a href="#" id="a_fit_model"> Apply Fit Model</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" id="a_measurement_table"> measurements chart</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="dv_measurement_table">
                            <table class="table table-bordered ">
                            {% for size, fit_point in parsed_data.sizes %}
                                    <tr class="Active">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >garment_stretch</th>
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>
                                        <th >grade rule</th>
                                    </tr>
                                {% for measurement_k, measurement_v in fit_point %}
                                    {% if (measurement_v.garment_dimension>0) %}
                                        <tr>
                                            <th>{{measurement_k}}</th>
                                            <td><input type="text" value="{{measurement_v.garment_dimension | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_dimension" style="width:50px"> </td>
                                            <td><input type="text" value="{{measurement_v.garment_stretch | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_stretch" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.min_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_calc" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.min_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_actual" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.ideal_low | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_low" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.fit_model | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-fit_model" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.ideal_high | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_high" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.max_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_calc" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.max_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_actual" style="width:50px"></td>
                                            <td><input type="text" value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-grade rule" style="width:50px"></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            <input type="submit" value="Save">                              
    </div>
</form>                                
  <br>  <br>  <br>
                <script>
           //--------------------------------------------
           //--------------------------------------------
           //--------------------------------------------
           $(function(){
          
           });
                    </script>
{% endblock %}
