{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}

<script>
$(document).ready(function(){    
    $.fn.editable.defaults.mode = 'popup';     
    $('#username').editable();
    
    
    $("#dv_validate_measurement_data").hide();
  $('#a_measurement_table').click(function (event){
         $("#dv_measurement_table").toggle('slow');
    });
    
});

    </script>
    <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>
   {# {{dump(drop_down_values.hem_length)}}#}
   <form action="{{ path('product_intake_product_specs_update',{id: app.request.get('id')}) }}" method="post" enctype="multipart/form-data"  class="form-horizontal" >
    <div>
        <a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>
        <table>
            <tr>
                <td>
                    <table>
                    {% for specs_k, specs_v in parsed_data %}
                       {% if (specs_k!='sizes') %}
                            {% if specs_k in drop_down_values|keys %}
                                <tr>
                                    <td><span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;</td>
                                    <td>
                                        <span>
                                              {% if specs_k == 'fabric_content' or specs_k == 'fit_priority'  %}
                                                   {% for key,val in drop_down_values[specs_k] %}
                                                    {{ key }}<input type="text" value="{{val}}" name="{{key}}" style="width:50px">%
                                                {% endfor %}
                                               {% else %}
                                                <select name="{{ specs_k }} "data-width="100%">
                                                {% for key,val in drop_down_values[specs_k] %}
                                                   <option value="{{ val }}"{{specs_v =='' and key == 0 ? 'selected':val==specs_v?'selected':'' }}   >{{ key }}</option>
    {#                                                <option value="{{ val.value }}" {{  form.country.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.country.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>#}
                                                {% endfor %}
                                              </select>   
                                              {% endif %}                      
                                        </span>
                                    </td>
                                </tr>
                            {% else %}                               
                            <tr>
                                <td><span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;</td>
                                <td>
                                    <span><input type="text" value="{{specs_v}}" name="{{specs_v}}"> </span>
                                </td>
                            </tr>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                        </table>
                    </td>
                </tr>
{#---------------------------------------------------------------------------------------------#}
            </table>

           

{#---------------------------------------------------------------------------------------------#}
            <table>

                <tr>
                    <td>
                        <a href="#" id="a_measurement_table"> measurements chart</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="dv_measurement_table">
                            <table class="table table-bordered ">
                            {% for size, fit_point in parsed_data.sizes %}
                                    <tr class="Active">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >garment_stretch</th>
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>
                                        <th >grade rule</th>
                                    </tr>
                                {% for measurement_k, measurement_v in fit_point %}
                                    {% if (measurement_v.garment_dimension>0) %}
                                    <tr>
                                        <th>{{measurement_k}}</th>
                                        <td><input type="text" value="{{measurement_v.garment_dimension | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-garment_dimension" style="width:50px"> </td>
                                        <td><input type="text" value="{{measurement_v.garment_stretch | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-garment_stretch" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.min_calc | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-min_calc" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.min_actual | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-min_actual" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.ideal_low | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-ideal_low" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.fit_model | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-fit_model" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.ideal_high | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-ideal_high" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.max_calc | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-max_calch" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.max_actual | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-max_actual" style="width:50px"></td>
                                        <td><input type="text" value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="{{ size }}-{{ measurement_k }}-grade rule" style="width:50px"></td>
                                       {# <td>{{measurement_v.min_calc | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.min_actual | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.ideal_low | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.fit_model | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.ideal_high | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.max_calc | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.max_actual | number_format(2, '.', '')}}</td>
                                        <td>{{measurement_v.grade_rule | number_format(2, '.', '')}}</td>#}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                   
                    </table>
                                <input type="submit" value="Save">                              
    </div>
   </form>                                
  <br>  <br>  <br>
                <script>
           //--------------------------------------------
           //--------------------------------------------
           //--------------------------------------------
           $(function(){
          
           });
                    </script>
{% endblock %}
