{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
<style>

    .tab-content{
                display: none;
		}
    .tab-content.active{
                    display: block;
		}                
    
</style>
<script>
    var fit_array=[];
    var fabric_array = [];
    var garment_array = [];   
    var fit_values = [];
    var fit_priority_array_key = [];
    var garment_detail_array_key = [];
    var fabric_content_array_key = [];
    var input_value  = [];  
    $(document).ready(function(){ 
        
        $('ul.tabs li').click(function(){            
		var tab_id = $(this).attr('data-tab');                
		$('ul.tabs li').removeClass('active');
		$('.tab-content').removeClass('active');
		$(this).addClass('active');
		$("#"+tab_id).addClass('active');
	});
        
        if($('#default_tab').val()=='b'){
                $("#opt-2").addClass('active');
		$("#tab-2").addClass('active');            
        }else{
                $("#opt-1").addClass('active');
		$("#tab-1").addClass('active');
        }
           //-------------------------- Fit Model Validation Sizes Dimention
           {#
            $("tr#validation_fit_model").on('click', function() {
             //event.preventDefault();  
              input_value = [];
                row_class = $(this).attr('class');
                $("."+row_class).closest('tr').find("input").each(function() {
                  input_value.push($(this).val());              
                });                  
            });
            #}
           
            //--------------- Focus nave Lost on Wron enter value into Sizes
           {# $("table tr td input").on('focusout', function(e) {
                 if ($(this).hasClass("error")) {
                     $(this).focus();
                 }
            });#}
                //        var text = '';
          {#  $("table tr td input").on('keyup', function(e) {               
                if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)) { 
                    input_val = $.trim(this.value);
                    val_index = $(this).attr('class');
                    //alert(input_value[5])
                    if( input_val > input_value[5] && val_index == 2 || input_val > input_value[5] && val_index == 3 || input_val > input_value[5] && val_index == 4){
                        $(this).css("color","red");                        
                        //alert("Ops! Must be value less then Fit Model");
                        $(this).addClass("error");
                    } else if( input_val < input_value[5] && val_index == 6 || input_val < input_value[5] && val_index == 7 || input_val < input_value[5] && val_index == 8 ){
                        $(this).css("color","red");
                        //alert("Ops! Must be value greater then Fit Model");
                        $(this).addClass("error");
                    } else if( input_val > input_value[4] && val_index == 2 || input_val > input_value[4] && val_index == 3 ){
                        $(this).css("color","red");
                        //alert("Ops! Must be value greater then Fit Model");
                        $(this).addClass("error");                                 
                    } else if( input_val < input_value[8] && val_index == 6 || input_val < input_value[8] && val_index == 7 ){
                        $(this).css("color","red");
                        //alert("Ops! Must be value greater then Fit Model");
                        $(this).addClass("error");                                 
                    } else {
                        $(this).css("color","black");
                        $(this).removeClass("error");
                    }
                }
              // input_value = [];
            });
          #}
      
      //---------------- Fit Model Calcultion on Ajax Hit
      {#
        $(".fit_model_size").change(function() {
            var pro_speci_id = $('.product_spec_size').val();
            var fit_model_id = this.value;
           $.ajax({
                                type: "POST",
                                url: "../measurements_with_fitmodel",
                                data: {fit_model_measurement_id:fit_model_id,product_specification_id: pro_speci_id},
                                dataType: "json",
                                success: function (response) {    
                                   fill_table(response);                      
                                },
                                failure: function (errMsg) {
                                  display_response(errMsg);
                                  console.log(errMsg);
                                }
                            });
        });

       //---------------------------
       $("#btn_recalculate").on('click', function() {      
            event.preventDefault();
            $.ajax({
                    type: "POST",
                    url: "../measurement_recalculate",
                    data: {
                            fit_model_measurement_id: $('.fit_model_size').val(),
                            product_specification_id: $('.product_spec_size').val(),
                            horizontal_stretch: $('#horizontal_stretch').val(),
                            vertical_stretch: $('#vertical_stretch').val(),
                        },
                    dataType: "json",
                    success: function (response) {    
                        fill_table(response);                        
                    },
                    failure: function (errMsg) {
                      display_response(errMsg);
                      console.log(errMsg);
                    }
                });
                            
            });

            //---------------------------
        function fill_table(response){
         $('#dv_measurement_table').empty();
                                    var tableData = '<table class="table table-bordered">';

                                    $.each($.parseJSON(response), function (size_label, size_measurements) {                             
                                        tableData+="<tr class='Active'><th >"+size_label+"</th><th >garment_dimension</th><th >stretch_value</th><th >garment_stretch</th><th >grade_rule</th><th >grade_rule_stretch</th><th >min_calc</th><th >min_actual</th><th >ideal_low</th><th >fit_model</th><th >ideal_high</th><th >max_calc</th> <th >max_actual</th></tr>" 

                                        $.each(size_measurements, function (size_measurements_label, size_measurements_dimention) {                               
                                            var class_count = 0;
                                            tableData+= "<tr><th>"+size_measurements_label+"</th>" 
                                            $.each(size_measurements_dimention, function (size_measurements_dimention_label, size_measurements_dimention_value) {                                   
                                                 if(!size_measurements_dimention_label.match('stretched'))
                                                    if(size_measurements_dimention[size_measurements_dimention_label+"_stretched"]){
                                                        tableData+="<td><input type='number' class="+class_count+" value="+size_measurements_dimention_value+" name='sizes-"+size_label+"-"+size_measurements_label+"-"+size_measurements_dimention_label+"' style='width:50px'>("+size_measurements_dimention[size_measurements_dimention_label+"_stretched"]+") </td>";
                                                    }else{
                                                    tableData+="<td><input type='number' class="+class_count+" value="+size_measurements_dimention_value+" name='sizes-"+size_label+"-"+size_measurements_label+"-"+size_measurements_dimention_label+"' style='width:50px'> </td>";

                                                  }
                                                  class_count++;    
                                        })

                                            tableData+= "</tr>"; 
                                        });   

                                    });
                                    tableData+= "</table>";
                                    $('#dv_measurement_table').append(tableData);   
        
    }#}
        
        //-------------- Check Fit Priority Alredy Added
        $('.add_fit_priority').click(function () {               
            var fit_point_val = $.trim($('.fit_priority_value').val()); 
            $(".fit_priority > .singleField > input[type='number']").each(function() {                 
                  fit_priority_array_key.push($(this).attr('id'));
            });  
                 
            if($.inArray(fit_point_val, fit_array) != -1  || $.inArray(fit_point_val, fit_priority_array_key)!= -1  )
            {
                alert("Ops! Already Fit Priority "+ fit_point_val +" Added");    
            } else {
            fit_array.push(fit_point_val);
            var fit_priority = [];
            var fit_priority = "fit_priority["+fit_point_val+"]";                   
             $('.fit_priority').prepend(" <label>"+fit_point_val+":</label> <input type='number' min='1' max='100' name="+fit_priority+" style='width:50px'>%");
            }
        });
        //------------ Count Summ Equal to 100 Validation
        $('.fit_priority').keyup(function() {
            var sum=0;
            $(".fit_priority >  input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            $(".fit_priority > .singleField > input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of fit Priority grater then 100");
                $(".fit_priority > input[type='number']").focus(function() {
                     $(this).val("");
                });   
                $(".fit_priority .singleField > input[type='number']").focus(function() {
                     $(this).val("");
                }); 
            }           
        })  
        //--------------- Check Fabric Content Already Added
        $('.add_fabric_content').click(function () {                     
            var fabric_content_val = $.trim($('.fabric_content_value').val()); 
            $(".fabric_content > .singleField > input[type='number']").each(function() {                 
                fabric_content_array_key.push($(this).attr('id'));
            });      
            
            if( $.inArray(fabric_content_val, fabric_array) != -1 || $.inArray(fabric_content_val, fabric_content_array_key)!= -1 )
                {
                    alert("Ops! Already Fabric Content "+ fabric_content_val +" Added");    
                } else {
                    fabric_array.push(fabric_content_val);
                    var fabric_content = [];
                    var fabric_content = "fabric_content["+fabric_content_val+"]"; 
                    $('.fabric_content').prepend(" <label>"+fabric_content_val+":</label> <input type='number' id="+fabric_content_val+" min='1' max='100' name="+fabric_content+" style='width:50px'>%");
            }
        });
        
        //------------ Count Garment detail Sum Equal to 100 Validation
        $('.fabric_content').keyup(function() {
            var sum=0;
            $(".fabric_content > input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            $(".fabric_content > .singleField > input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of fabric content grater then 100");
                $(".fabric_content > input[type='number']").focus(function() {
                     $(this).val("");
                });   
                 $(".fabric_content > .singleField > input[type='number']").focus(function() {
                     $(this).val("");
                }); 
            }           
        })  
        
 {#       //--------------- Check garment detail Already Added
        $('.add_garment_detail').click(function () {                     
            var garment_detail_val = $.trim($('.garment_detail_value').val());                
            $(".garment_detail > .singleField > input[type='number']").each(function() {                 
                garment_detail_array_key.push($(this).attr('id'));
            });              
            if( $.inArray(garment_detail_val, garment_array) != -1 || $.inArray(garment_detail_val, garment_detail_array_key)!= -1 )
                {
                   alert("Ops! Already garment detail "+ garment_detail_val +" Added");    
                } else {
                    garment_array.push(garment_detail_val);
                    var garment_detail = [];
                    var garment_detail = "garment_detail["+garment_detail_val+"]"; 
                   $('.garment_detail').prepend(" <label>"+garment_detail_val+":</label> <input type='number' min='1' max='100' name="+garment_detail+" style='width:50px'>%");
            }
        });
        //------------ Count Garment detail Sum Equal to 100 Validation
        $('.garment_detail').keyup(function() {
            var sum=0;
            $(".garment_detail > input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            $(".garment_detail > .singleField > input[type='number']").each(function() {
               var value = +this.value || 0;
               sum += value;
            });
            if(sum > 100){
                alert("ops! Your can't Enter sum of garment detail grater then 100");
                $(".garment_detail > input[type='number']").focus(function() {
                     $(this).val("");
                });   
                $(".garment_detail > .singleField > input[type='number']").focus(function() {
                     $(this).val("");
                });   
            }           
        })  
       #}
               
               
        $.fn.editable.defaults.mode = 'popup'; 
        var fit_model_value = $('.fit_model_value').val(); 
       (fit_model_value == "") ? "" :$('.{{fit_model_selected_size }}').css({ 'background-color' : '#FFFF99'});
        
        $('.edit_inline').editable({
            type: 'text',
            url: $('#default_tab').val().length>0?'../../update_dynamic':'../update_dynamic',  
            pk: {{ product_specs.id }},
            title: $(this).attr('placeholder'),              
            display: function(value, response) {                
                //$(this).val(value);                
            },
            success: function(response, newValue) {                  
            //     $(this).val(response);                     
                //fill_table(response);
                location.reload();
                //console.log(response);
                //alert(response);
            }    
        });
            //-------- Drop Down X- Editable    
           $('.fit_model_size').editable({      
            value: $('.fit_model_size').val(),    
            source: $('.fit_points').val(), 
            name: 'fit_model_size',
            type: 'text',
            url: '../update_dynamic',  
            pk: {{ product_specs.id }},
            title: $(this).attr('placeholder'),              
            display: function(value, response) {               
                          
            },
            success: function(response, newValue) {  
                //fill_table(response);
                location.reload();
                //alert(response);
            }    
           });
           
       
          // ------- Min Max Values Comparation 
            $(document).on("change", ".input-sm", function(){
              var min_max_calc = $.trim($(this).closest('td').prev().find('input').attr('name').substr(-8,8));
               var min_max_calc_val = $.trim( $(this).closest('td').prev().find('input').val() );
               var min_max_calc_actual_val = $.trim( $(this).val() );
              if( min_max_calc.match('min_calc')  && parseFloat(min_max_calc_actual_val) >= parseFloat(min_max_calc_val) ){
                  console.log()                  
              } else if(min_max_calc.match('min_calc')) {
                  alert("Must Be Equal or Grater than Value "+ min_max_calc)
                  $(this).val('')
              }
              if( min_max_calc.match('max_calc')  && parseFloat(min_max_calc_actual_val) <= parseFloat(min_max_calc_val) ){
                  console.log()                  
              } else if(min_max_calc.match('max_calc')) {
                  alert("Must Be Equal or Less than Value "+ min_max_calc)
                  $(this).val('')
              }    
            });

    });

</script>
   
<div class="btn-group" role="group" aria-label="..." style="float:right;">
    <a href="{{ path('product_intake_product_specs_show', {'id': app.request.get('id')}) }}" class="btn btn-default">preview</a> 
</div>
{#    <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>#}    
<input type="hidden" class="fit_points" value="{{ drop_down_values['fit_model_size']|json_encode() }}" >
<input type="hidden" class="fit_model_value" value="{{fit_model_selected_size }}" >
<input type="hidden" id="default_tab" value="{{tab}}" >
<ul class="nav nav-tabs tabs">
    <li id="opt-1" data-tab="tab-1" role="presentation"><a href="#">Main</a></li>  
    <li id="opt-2"  data-tab="tab-2" role="presentation"><a href="#">Measurements</a></li>
</ul>

<br>
<br>
   <form action="{{ path('product_intake_product_specs_update',{id: app.request.get('id')}) }}" method="post" enctype="multipart/form-data"  class="form-horizontal" >
       <div class="container">       
        <div id="tab-1" class="tab-content"> 
        {#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
           
        <div class="form-group">
            <label class="control-label col-sm-2" for=""> Clothing Type: </label>
            <div class="col-sm-4">                
{#                <input type="text" name="clothing_type" id="sel_clothing_type"  value="{{ parsed_data.clothing_type }}"  class="form-control">                    #}
                <select name="clothing_type" id="sel_clothing_type"  class="form-control">
                    <option>Select</option>
                    {% for key,val in clothing_types %}
                       <option value="{{ key }}"{{ parsed_data.clothing_type == '' and key == 0? '' : (key == parsed_data.clothing_type ? ' selected ' : '')}}  >{{ val }}</option>
                    {% endfor %}
                </select>     
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="mapping_title">Select Brand : </label>
            <div class="col-sm-4">
                <input type="text" name="brand" id="sel_clothing_type" readonly="readonly" value="{{ parsed_data.brand }}"  class="form-control">                    
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name_title">Style Name : </label>
            <div class="col-sm-4 style_name">
{#                <span class="editable">{{ parsed_data.style_name is defined?parsed_data.style_name:'' }}</span>#}
                <input type="text" class="form-control style_name"  value="{{ parsed_data.style_name is defined?parsed_data.style_name:'' }}"  name="style_name" placeholder="Enter Product Name">
            </div>
        </div>
            
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="name_title">Style ID Number : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.style_id_number is defined? parsed_data.style_id_number: ''}}"  name="style_id_number" placeholder="Enter Style Id Number Name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for=""> Gender: </label>
            <div class="col-sm-4">
                <input type="text" name="gender" id="gender" readonly value="{{ parsed_data.gender }}"  class="form-control">                    
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description"> Description : </label>
            <div class="col-sm-4">
                <input type="text" name="description" class="form-control" value="{{ parsed_data.description }}" >
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="styling_title">Styling type : </label>
            <div class="col-sm-4">                
                <select name="styling_type" class="styling_type form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['styling_type'] %}
                       <option value="{{ val }}"{{ parsed_data.styling_type == '' and key == 0? '' : (val == parsed_data.styling_type ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>                
            </div>
        </div>
      
        <div class="form-group">
            <label class="control-label col-sm-2" for="hem_length">Hem length : </label>
            <div class="col-sm-4">
                <select name="hem_length" class="hem_length form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['hem_length'] %}
                       <option value="{{ val }}"{{ parsed_data.hem_length == '' and key == 0? '' : (val == parsed_data.hem_length ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>             
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="neckline">Neckline : </label>
            <div class="col-sm-4">
                <select name="neckline" class="neckline form-control" >
                    <option  >Select</option>
                    {% for key,val in drop_down_values['neckline'] %}
                       <option value="{{ val }}"{{ parsed_data.neckline == '' and key == 0? '' : (val == parsed_data.neckline ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>   
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="sleeve_styling">Sleeve Styling : </label>
            <div class="col-sm-4">
                <select name="sleeve_styling" class="sleeve_styling form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['sleeve_styling'] %}
                       <option value="{{ val }}"{{ parsed_data.sleeve_styling == '' and key == 0? '' : (val == parsed_data.sleeve_styling ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rise">Rise : </label>
            <div class="col-sm-4">
                <select name="rise" class="rise form-control" >
                    <option  >Select</option>
                    {% for key,val in drop_down_values['rise'] %}
                       <option value="{{ val }}"{{ parsed_data.rise == '' and key == 0? '' : (val == parsed_data.rise ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="stretch_type">Stretch type : </label>
            <div class="col-sm-4">
                <select name="stretch_type" class="stretch_type form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['stretch_type'] %}
                       <option value="{{ val }}"{{ parsed_data.stretch_type == '' and key == 0? '' : (val == parsed_data.stretch_type ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>
       
         <div class="form-group">
            <label class="control-label col-sm-2" for="fabric_weight">Fabric weight : </label>
            <div class="col-sm-4">
                 <select name="fabric_weight" class="stretch_type form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['fabric_weight'] %}
                       <option value="{{ val }}"{{ parsed_data.fabric_weight == '' and key == 0? '' : (val == parsed_data.fabric_weight ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>  
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="layering">layering : </label>
            <div class="col-sm-4">
                <select name="layering" class="stretch_type form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['layering'] %}
                       <option value="{{ val }}"{{ parsed_data.layering == '' and key == 0? '' : (val == parsed_data.layering ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="structural_detail">Structural detail : </label>
            <div class="col-sm-4">
                <select name="structural_detail" class="structural_detail form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['structural_detail'] %}
                       <option value="{{ val }}"{{ parsed_data.structural_detail == '' and key == 0? '' : (val == parsed_data.structural_detail ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="fit_type">Fit type : </label>
            <div class="col-sm-4">
                  <select name="fit_type" class="fit_type form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['fit_type'] %}
                       <option value="{{ val }}"{{ parsed_data.fit_type == '' and key == 0? '' : (val == parsed_data.fit_type ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="fit_priority">Fit priority : </label>
            <div class="col-sm-4">                  
                    <div class="fit_priority">    
                        {% if  parsed_data['fit_priority'] is defined  %}
                            {% for key,val in parsed_data['fit_priority'] %}                               
                                <div class="singleField">
                                   <label>
                                       {{ key }} : 
                                   </label> 
                                       <input type="number" min="1" max="100" value="{{val}}" id="{{key}}"  name="fit_priority[{{key}}]" style="width:70px">
                                </div>
                            {% endfor %}
                        {% endif %}
                            <select name="fit_type" class="col-sm-4 form-control fit_priority_value" >                               
                                {% for key,val in size_attribute %}
                                   <option value="{{ val }}">{{ val }}</option>
                                {% endfor %}
                            </select>
                            <input class="add_fit_priority" type="button" value="Add">
                    </div>                                            
{#                <input type="text" class="fit_priority_value"  min="1" max="100"  style="width:70px; background-color: #cccccc">#}
               
            </div>
          
        </div> 

        <div class="form-group">            
            <label class="control-label col-sm-2" for="fabric_content">Fabric content : </label>
            <div class="col-sm-4">
                    <div class="fabric_content">                        
                        {% if  parsed_data['fabric_content'] is defined  %}
                        {% for key,val in parsed_data['fabric_content'] %}
                            <div class="singleField">
                               <label>
                                   {{ key }} : 
                               </label> 
                                   <input type="number" min="1" max="100" value="{{val}}" id="{{key}}"  name="fabric_content[{{key}}]" style="width:70px">                                   
                            </div>
                        {% endfor %}
                        {% endif %}
                    </div>                                            
                <input type="text" class="fabric_content_value"  min="1" max="100"  style="width:70px; background-color: #cccccc">
                <input class="add_fabric_content" type="button" value="Add">
            </div>
            <p class="help-block">Example: cotton, poly</p>
        </div> 
      
        <div class="form-group">
            <label class="control-label col-sm-2" for=""> Size title Type: </label>
            <div class="col-sm-4">
                <input type="text" class="form-control garment_detail" value="{{ parsed_data.size_title_type }}" readonly="readonly" name="size_title_type" placeholder="Enter Garment detail">
            </div>
        </div>
       

        <div class="form-group">
            <label class="control-label col-sm-2" for="control_number">Control number : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.control_number }}"  name="control_number" placeholder="Enter control number">
            </div>
        </div> 

        <div class="form-group">
            <label class="control-label col-sm-2" for="colors">Colors : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.colors }}" name="colors" placeholder="Enter colors">
            </div>
            <p class="help-block">Example: red, blue, green</p>            
        </div> 

        <div class="form-group">
            <label class="control-label col-sm-2" for="mapping_title">Mapping title : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.mapping_title }}" name="mapping_title"  readonly="readonly">
            </div>
        </div>                            
               
        <div class="form-group">
            <label class="control-label col-sm-2" for="mapping_description"> Mapping Description : </label>
            <div class="col-sm-4">
                <input type="text" value="{{ parsed_data.mapping_description }}" name="mapping_description" class="form-control" readonly="readonly" >
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="mapping_title">Body type : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.body_type }}" name="body_type"  readonly="readonly">
            </div>
        </div> 
            
        <div class="form-group">
            <label class="control-label col-sm-2" for="measuring_unit">Measuring unit : </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" value="{{ parsed_data.measuring_unit }}"  readonly="ture" name="measuring_unit" placeholder="Enter measuring unit">
            </div>
        </div> 
            <input type="submit" value="Save">     
</div>     
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
               
           <div id="tab-2"  class="tab-content">
                       
        <div class="form-group">
            <label class="control-label col-sm-2" for="horizontal_stretch">Horizontal stretch : </label>
            <div class="col-sm-4">
                <input value="{{parsed_data.horizontal_stretch}}" type="text" class="form-control edit_inline" readonly="ture" name="horizontal_stretch" id="horizontal_stretch"  data-type="text"  data-title="Enter horizontal stretch" placeholder="Enter horizontal stretch">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="vertical_stretch">Vertical stretch : </label>
            <div class="col-sm-4">
                <input value="{{parsed_data.vertical_stretch}}" type="text" class="form-control edit_inline" readonly="ture" name="vertical_stretch" id="vertical_stretch" data-type="text"  data-title="Enter vertical stretch" placeholder="Enter vertical stretch">
            </div>
        </div>       
      
        <div class="form-group">
            <label class="control-label col-sm-2" for=""> Fit model size: </label>
            <div class="col-sm-4">
             
{#                  <select  data-type="select" class="fit_model_size form-control" data-title="Select Fit Model Size" label="{{ drop_down_values['fit_model_size'][parsed_data.fit_model_size ] }}" value="{{ parsed_data.fit_model_size }}"  readonly="ture" >#}
                
               <select name="fit_model_size" data-type="select" class="fit_model_size form-control" data-title="Select Fit Model Size">
                {% if parsed_data.fit_model_size is defined and (parsed_data.fit_model_size != null or parsed_data.fit_model_size !='')%}                        
                    <option value="{{ parsed_data.fit_model_size }}">{{ drop_down_values['fit_model_size'][parsed_data.fit_model_size] }}</option>
                {% else%}
                    <option value="">select</option>
                {% endif %}

                  {# <option>Select</option>
                    {% for key,val in drop_down_values['fit_model_size'] %}
                       <option value="{{ key }}"{{ parsed_data.fit_model_size == '' and val == 0? '' : (key == parsed_data.fit_model_size ? ' selected ' : '')}}  >{{ val }}</option>
                    {% endfor %}#}
                </select>
            
                 {#   <select name="fit_model_size" class="fit_model_size form-control" >
                    <option>Select</option>
                    {% for key,val in drop_down_values['fit_model_size'] %}
                       <option value="{{ val }}"{{ parsed_data.fit_model_size == '' and key == 0? '' : (val == parsed_data.fit_model_size ? ' selected ' : '')}}  >{{ key }}</option>
                    {% endfor %}
                </select>#}
                    
            </div>
            
        </div>
      


{#
    <div class="btn-group" role="group" style="float:left;">
        <a id='btn_recalculate' name='btn_recalculate' href="#" class="btn btn-primary">Re-calculate</a> 
        
    </div>
#}
{#---------------------------------------------------------------------------------------------#}
               <div id="dv_fit_point_stretch">
                  {# <a id="lnk_fit_point_stretch" href="#">Add Fit point stretch preference</a><br>#}
                       <b>Add Fit point stretch preference</b><br>
                    <table class="table table-bordered " id='tbl_fit_point_stretch'>
                        <tr>
                            {% for fp, fpv in fit_point_stretch %}                
                                <th>{{fp}}</th>                                    
                            {% endfor %}
                        </tr>                
                        <tr>
                            {% for fp, fpv in fit_point_stretch %}                
                                <td>
                                    {#<input type="number" class="form-control input-sm" placeholder="%" name="fit_point_stretch-{{ fp }}" value="{{fpv}}" style="width:80px">#}                                    
                                        <input type="number" class="form-control  edit_inline input-sm" readonly="ture" placeholder="%" name="fit_point_stretch-{{ fp }}" id="fit_point_stretch-{{ fp }}" value="{{fpv}}" data-title="Enter stretch for {{fp}}">
                                </td>                                    
                            {% endfor %}
                        </tr>
                    </table>   
               <br>
               </div>   
            <input type="hidden"  value="{{ fit_model_selected_size }}" class="fit_model_selected" >
            <table>                
                <tr>
                    <td>
                        <div id="dv_measurement_table">
                            <table class="table table-bordered ">
                            {% for size, fit_point in parsed_data.sizes %}
                                    <tr class="{{ size }} Active">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >stretch_percentage</th>
                                        <th >garment_stretch</th>                                        
                                        <th >grade_rule</th>
                                        <th >grade_rule_stretch</th>
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>
                                        
                                    </tr>
                                {% for measurement_k, measurement_v in fit_point %}
                                    {% if (measurement_v.garment_dimension is defined and measurement_v.garment_dimension>0) %}
                                        {% if (size == fit_model_selected_size) %}
                                            <tr class="{{ size }} {{ size }}_{{ measurement_k }}" id="validation_fit_model" >
                                                <th>{{measurement_k}}</th>
                                                <td>
                                                    {#<input type="number" value="{{measurement_v.garment_dimension | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_dimension" > #}
                                                    <input type="number" value="{{measurement_v.garment_dimension | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_dimension" style="width:80px" class="0 form-control  edit_inline input-sm" readonly="ture" placeholder="%" id="sizes-{{ size }}-{{ measurement_k }}-garment_dimension" data-title="Enter Garment Dimension for {{measurement_k}} " >
                                                </td>
                                                <td>
                                                    <span style="font-size:10px">
                                                        {{measurement_v.stretch_percentage is defined?measurement_v.stretch_percentage:0}}%
                                                    </span>
                                                </td>
                                                <td>
                                                    {{measurement_v.garment_stretch | number_format(2, '.', '')}}
                                                    <input class="2" type="number"  hidden readonly value="{{measurement_v.garment_stretch | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_stretch" style="width:50px">
                                                </td>
                                                <td>
                                                    {#<input type="number" value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule" style="width:50px">#}
                                                    {#<input type="number" value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule" style="width:50px" class="3 form-control  edit_inline input-sm" readonly="ture" placeholder="%" id="sizes-{{ size }}-{{ measurement_k }}-grade_rule" data-title="Enter Grade Rule for {{measurement_k}} ">#}
                                                    {{measurement_v.grade_rule is defined? measurement_v.grade_rule | number_format(2, '.', ''):0}}
                                                </td>
                                                <td>
                                                    {{measurement_v.grade_rule_stretch is defined? measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}
                                                    <input class="4" type="number" hidden readonly value="{{measurement_v.grade_rule_stretch is defined? measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule_stretch" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.min_calc | number_format(2, '.', '')}}
                                                    <input class="5" type="number" hidden value="{{measurement_v.min_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_calc" style="width:50px">
                                                </td>
                                                <td>                                                    
                                                    {#<input type="number" value="{{measurement_v.min_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_actual" style="width:50px">#}
                                                    <input type="number" value="{{measurement_v.min_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_actual" style="width:80px" class="6 form-control  edit_inline input-sm" readonly="ture" placeholder="%" id="sizes-{{ size }}-{{ measurement_k }}-min_actual" data-title="Enter Min Actual for {{measurement_k}} ">
                                                </td>
                                                <td>
                                                    {{measurement_v.ideal_low | number_format(2, '.', '')}}
                                                    <input class="7" type="number" hidden value="{{measurement_v.ideal_low | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_low" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.fit_model | number_format(2, '.', '')}}
                                                    <input class="8" type="number" hidden readonly value="{{measurement_v.fit_model | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-fit_model" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.ideal_high | number_format(2, '.', '')}}
                                                    <input class="9" type="number" hidden value="{{measurement_v.ideal_high | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_high" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.max_calc | number_format(2, '.', '')}}
                                                    <input class="10" type="number" hidden value="{{measurement_v.max_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_calc" style="width:50px">
                                                </td>
                                                <td>
                                                    {#<input type="number" value="{{measurement_v.max_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_actual" style="width:50px">#}
                                                    <input type="number" value="{{measurement_v.max_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_actual" style="width:80px" class="11 form-control  edit_inline input-sm" readonly="ture" placeholder="%" id="sizes-{{ size }}-{{ measurement_k }}-max_actual" data-title="Enter Max Actual for {{measurement_k}} ">
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr class="{{ size }} {{ size }}_{{ measurement_k }}" id="validation_fit_model" >
                                                <th>{{measurement_k}}</th>
                                                <td>
                                                    {{measurement_v.garment_dimension | number_format(2, '.', '')}}
                                                    <input class="0" type="number" hidden value="{{measurement_v.garment_dimension | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_dimension" style="width:80px"> 
                                                </td>
                                                <td>
                                                    <span style="font-size:10px">
                                                        {{measurement_v.stretch_percentage is defined?measurement_v.stretch_percentage:0}}%
                                                    </span>
                                                </td>
                                                <td>
                                                    {{measurement_v.garment_stretch | number_format(2, '.', '')}}
                                                    <input class="2" type="number"  hidden readonly value="{{measurement_v.garment_stretch | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-garment_stretch" style="width:50px">
                                                </td>
                                                <td>
                                                    {#<input class="3" type="number"  value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule" style="width:50px">#}
                                                    <input type="number" value="{{measurement_v.grade_rule | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule" style="width:80px" class="3 form-control  edit_inline input-sm" readonly="ture" placeholder="%" id="sizes-{{ size }}-{{ measurement_k }}-grade_rule" data-title="Enter Grade Rule for {{measurement_k}} ">
                                                </td>
                                                <td>
                                                    {{measurement_v.grade_rule_stretch is defined? measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}
                                                    <input class="4" type="number" hidden readonly value="{{measurement_v.grade_rule_stretch is defined? measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}" name="sizes-{{ size }}-{{ measurement_k }}-grade_rule_stretch" style="width:50px">                                                    
                                                </td>
                                                <td>
                                                    {{measurement_v.min_calc | number_format(2, '.', '')}}
                                                    <input class="5" type="number" hidden value="{{measurement_v.min_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_calc" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.min_actual | number_format(2, '.', '')}}
                                                    <input class="6" type="number" hidden value="{{measurement_v.min_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-min_actual" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.ideal_low | number_format(2, '.', '')}}
                                                    <input class="7" type="number" hidden value="{{measurement_v.ideal_low | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_low" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.fit_model | number_format(2, '.', '')}}
                                                    <input class="8" type="number" hidden readonly value="{{measurement_v.fit_model | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-fit_model" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.ideal_high | number_format(2, '.', '')}}
                                                    <input class="9" type="number" hidden value="{{measurement_v.ideal_high | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-ideal_high" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.max_calc | number_format(2, '.', '')}}
                                                    <input class="10" type="number" hidden value="{{measurement_v.max_calc | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_calc" style="width:50px">
                                                </td>
                                                <td>
                                                    {{measurement_v.max_actual | number_format(2, '.', '')}}
                                                    <input class="11" type="number" hidden value="{{measurement_v.max_actual | number_format(2, '.', '')}}" name="sizes-{{ size }}-{{ measurement_k }}-max_actual" style="width:50px">
                                                </td>
                                            </tr>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            
             <a href="{{ path('product_intake_product_specs_undo', {'id': app.request.get('id')}) }}"><input type="Button" value="Undo"> </a> 
            </div>           
            
    </div>
</form>                                
  <br>                
  <input type="hidden" class="product_spec_size" value="{{ app.request.get('id') }} ">

  
{% endblock %}
