{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
<div class="p_listing">     
    <h1>Product Specification </h1>    
    <div class="btn-group" role="group" aria-label="..." style="float:right;">        
        <a href="{{ path('product_intake_product_specs_new') }}" class="btn  btn-default">Add New</a>     
    </div>
    
    <div class="clearfix"></div>      
    <table id="specTable" class="table table-bordered table-striped table-hover table-condensed" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Style ID</th>            
            <th>Name</th>
            <th>Brand</th>
            <th>Clothing Type</th>
            <th>Mapping</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for sp in specs %}
        <tr>
            <td>{{sp.Id}}</td>
            <td>{{sp.StyleIdNumber}}</td>            
            <td>{{sp.StyleName}}</td>
            <td>{{sp.BrandName}}</td>
            <td>{{sp.ClothingType}}</td>
            <td>{{sp.Title}}</td>
            <td>
                <a href="{{ path('product_intake_product_specs_show', {'id': sp.Id}) }}" title="Show {{sp.Title}}">show</a> &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_edit', {'id': sp.Id}) }}" title="Edit {{sp.Title}}">edit</a> &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_delete', {'id': sp.Id}) }}" data-toggle="confirmation" data-singleton="true" title="Delete {{sp.Title}}">del</a>  &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_edit', {'id': sp.Id, 'tab':'r'}) }}" title="Round values {{sp.Title}}">round</a>  &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_change_dynamic', {'id': sp.Id, 'type':'double_thigh_grade_rule_min_max'}) }}" title="Double Thigh Grade rule for min & max values">thigh</a>
                {% if cs_file[sp.Id] != '' %}
                &nbsp;|&nbsp;
                <a href="{{ cs_file[sp.Id] }}" target="_blank" download title="Download">Download</a> 
                {% endif %}
                 
            </td>
        </tr>
         {% endfor %}
        </tbody>
    </table> 
    
<div class="bs-docs-grid" id="all_data_search">
<div class="pagination"></div>  
</div>
 <script type="text/javascript">
        jQuery(document).ready(function () {             
           $('#specTable').DataTable( {
             "columnDefs": [ {
                "targets": 6,
                "orderable": false
                } ]
        });
        });
 </script>
{% endblock %}
