{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".product_brand").change(function () {
            fill_mapping_list(this.value);                            
        });
            
         //---------------------------------------
        function fill_mapping_list(brand){        
            $('#sel_mapping').empty();
            product_specs = jQuery.parseJSON( $('#mapping_json').text());
            var option = '<option value="">select</option>';
            $.each(product_specs, function(k, v) {
                if (v.brand==brand){            
                option += '<option value="'+ v.id + '">' + v.title + '</option>';            
                }
                    });
             $('#sel_mapping').append(option);                  
        }
         //---------------------------------------
          
            $( "#sel_gender" ).change(function() {                            
                sel_size_type(this.value);                                                                        
        });
        //---------------------------------------
        size_specs=jQuery.parseJSON( $('#size_specs_json').text());
            function sel_size_type(gender){
                gender=gender=='m'?'man':'woman';        
                $('#sel_size_type').empty();
                var option = '<option value="">Select Size</option>';
                $.each(size_specs.size_title_type[gender], function(val, text) {
                    option += '<option value="'+ val + '">' + text + '</option>';
                        });
                 $('#sel_size_type').append(option);         
            }
//---------------------------------------

        
});            
    </script>
    <div class="container">    
        <span id='size_specs_json' hidden="true">{{size_specs_json}}</span>
        <span id="mapping_json" hidden="false">{{mapping_json}}</span>
        
        <h2 style="float:left;">Upload Product CSV File </h2>    
        </div>
    
    
        <form action="{{ path('product_intake_product_specs_csv_upload') }}" method="post"
              enctype="multipart/form-data"  class="form-horizontal" >

            <div class="form-group">
                <label class="control-label col-sm-2" for="sel_brand"> Brand: </label>
                <div class="col-sm-4">
                    <select name="sel_brand" id="sel_brand" class="product_brand form-control">
                        <option>Select Brand</option>
                        {% for k, v in brands %}
                        <option value="{{ v.name }}"> {{ v.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="sel_mapping"> Mapping: </label>
                <div class="col-sm-4">
                    <select name="sel_mapping" id="sel_mapping" class=" form-control" >
                        <option>Select mapping</option>                                
                    </select>
                </div>
            </div>
          
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="csv_file"> CSV file: </label>
                <div class="col-sm-4">
                    <input type="file" accept=".csv" name="csv_file" id="csv_file" />
                </div>
            </div>
            <br>
            <div class="form-group">        
                <div class="col-sm-offset-5 col-sm-10">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        </form>

{% endblock %}
