{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="p_listing">     
    <h1>Product Specification </h1>    
    <div class="btn-group" role="group" aria-label="..." style="float:right;">        
        <a href="{{ path('product_intake_product_specs_new') }}" class="btn  btn-default">Add New</a>     
    </div>
    
    <div class="clearfix"></div>      
     <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th>Id</th>
            <th>Title</th>            
            <th></th>
        </tr>
        {% for sp in specs %}
        <tr>
            <td>{{sp.Id}}</td>
            <td>{{sp.Title}}</td>            
            <td>
                <a href="{{ path('product_intake_product_specs_show', {'id': sp.Id}) }}" title="Show {{sp.Title}}">show</a> &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_edit', {'id': sp.Id}) }}" title="Edit {{sp.Title}}">edit</a> &nbsp;|&nbsp;
                <a href="{{ path('product_intake_product_specs_delete', {'id': sp.Id}) }}" title="Show {{sp.Title}}">del</a> &nbsp;|&nbsp;
               
                {% if cs_file[sp.Id] != '' %}
                 <a href="{{ cs_file[sp.Id] }}" target="_blank" download title="Download">Download</a> 
                {% else %}
                     <a href="#">File Not Found in Directory! </a> 
                {% endif %}
                 
            </td>
        </tr>
         {% endfor %}
    </table> 
    
    
    
    
</div>

{% endblock %}
