{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block body %}
    <script>
     $(document).ready(function(){    
        $('.fit_modle').children('th, td').css('background-color','#FFFF99');
     });
    </script>
    <div class="btn-group" role="group" aria-label="..." style="float:right;">
        <a href="{{ path('product_intake_product_specs_edit', {'id': app.request.get('id')}) }}" class="btn btn-default">Edit</a> 
        <a href="{{ path('product_intake_product_create', {'id': app.request.get('id')}) }}" class="btn btn-default">Create Product</a> 
    </div>
    <div class="col-sm-6" role="group" aria-label="..." style="float:right;">        
        <form action="{{ path('product_intake_product_specs_compare_upload') }}" method="post"
              enctype="multipart/form-data"  class="form-horizontal" >
            <div class="col-sm-5" >
            <input type="hidden" name="product_specification_id" value="{{product_specification_id}}" id="product_specification_id" />
            <input type="file" accept=".csv" name="csv_file" id="csv_file" />
            </div>
            <div class="col-sm-1" >
            <button type="submit" class="btn btn-default">Compare</button>
            </div>
            
            
        </form>
    </div>
    <span id='product_specs_json' hidden="true">{{product_specs_json}}</span>
    <div>     
        <table>
            <tr>
                <td>
                    <table>
                    {% for specs_k, specs_v in parsed_data %}
                       {% if (specs_k!='sizes') %}
                            <tr>
                                <td><span style="font-weight: bold ">{{specs_k}}</span>: &nbsp;</td>
                                <td>
                                    {% if specs_k == 'fabric_content' or specs_k == 'fit_priority'  or specs_k == 'garment_detail'  %}
                                        {% for key,val in parsed_data[specs_k] %}
                                            {{ key }}:<b>{{ val }}%</b>&nbsp;&nbsp;|&nbsp;&nbsp;                                                    
                                        {% endfor %}
                                     {% else %}
                                        {% if specs_k != 'fit_point_stretch' %}
                                                <span>{{ specs_v }}</span>
                                        {% endif %}   
                                    {% endif %}   
                                </td>
                            </tr>
                        {% endif%}
                    {% endfor %}
                        </table>
                    </td>
                </tr>
{#---------------------------------------------------------------------------------------------#}
            </table>

           

{#---------------------------------------------------------------------------------------------#}
            <table>

                <tr>
                    <td>
                        <a href="#" id="a_measurement_table"> measurements chart</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="dv_measurement_table">
                            <table class="table table-bordered ">
                            {% for size, fit_point in parsed_data.sizes %}
                                {% if (size == fit_model_selected_size) %}
                                    <tr class="Active fit_modle">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >stretch_value</th>
                                        <th >garment_stretch</th>
                                        <th >grade rule</th>
                                        <th >grade rule stretch</th>
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>                                        
                                    </tr>
                                    {% else %}
                                      <tr class="Active">
                                        <th >{{size}}</th>
                                        <th >garment_dimension</th>
                                        <th >stretch_value</th>
                                        <th >garment_stretch</th>
                                        <th >grade rule</th>
                                        <th >grade rule stretch</th>
                                        <th >min_calc</th>
                                        <th >min_actual</th>
                                        <th >ideal_low</th>
                                        <th >fit_model</th>
                                        <th >ideal_high</th>
                                        <th >max_calc</th>
                                        <th >max_actual</th>                                        
                                    </tr>
                                {%endif %}
                                {% for measurement_k, measurement_v in fit_point %}
                                    {% if (measurement_v.garment_dimension>0) %}
                                         {% if (size == fit_model_selected_size) %}
                                             M
                                             <tr class='fit_modle'>
                                                <th>{{measurement_k}}</th>
                                                <td>{{measurement_v.garment_dimension | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.stretch_percentage is defined ? measurement_v.stretch_percentage | number_format(2, '.', ''):0}}%</td>
                                                <td>{{measurement_v.garment_stretch | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.grade_rule | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.grade_rule_stretch is defined?measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}</td>
                                                <td>{{measurement_v.min_calc | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.min_actual | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.ideal_low | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.fit_model | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.ideal_high | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.max_calc | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.max_actual | number_format(2, '.', '')}}</td>

                                            </tr>
                                         {% else %}
                                             <tr>
                                                <th>{{measurement_k}}</th>
                                                <td>{{measurement_v.garment_dimension | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.stretch_percentage is defined ? measurement_v.stretch_percentage | number_format(2, '.', ''):0}}%</td>
                                                <td>{{measurement_v.garment_stretch | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.grade_rule | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.grade_rule_stretch is defined?measurement_v.grade_rule_stretch | number_format(2, '.', ''):0}}</td>
                                                <td>{{measurement_v.min_calc | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.min_actual | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.ideal_low | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.fit_model | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.ideal_high | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.max_calc | number_format(2, '.', '')}}</td>
                                                <td>{{measurement_v.max_actual | number_format(2, '.', '')}}</td>

                                            </tr>
                                
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                                </table>
                            </div>
                        </td>
                    </tr>
                   
                    </table>
                </div>

                <script>
           //--------------------------------------------
           //--------------------------------------------
           //--------------------------------------------
           $(function(){
          
           });
                    </script>
{% endblock %}
