{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block body %}
  
<div class="p_listing">     
    <h1>Fit Model Measurement</h1>
    
        <div class="btn-group" role="group" aria-label="..." style="float:right;">
            <a href="{{ path('admin_fit_model_specs_create_new') }}" class="btn btn-default">New</a>           
        </div>
        
     <div class="clearfix"></div> 
     
    <div class="bs-docs-grid">              

        <div class="row-fluid">
            <div class="span1 hds">Id</div>
            <div class="span1 hds">Title</div>                        
            <div class="span1 hds">Actions</div>
        </div>  

          {% for fmm in fit_model_measurements %}
            <div class="row-fluid show-grid">
                <div class="span1">{{fmm.Id}}</div>
                <div class="span1">{{fmm.Title}}</div>
                <div class="span1">
                    <div>                    
                        <a href="{{ path('admin_fit_model_specs_show', {'id': fmm.Id}) }}" title="Show "><i class="icon-eye-open"></i></a>
                        <a href="{{ path('admin_fit_model_specs_show', {'id': fmm.Id}) }}" title="Edit "><i class="icon-edit"></i></a>

                    </div> 
                </div>                          
            </div>        
        {% endfor %}



    </div>
</div>


{% endblock %}