{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block body %}

    <div class="container">
        <h2>Fit Model Measurements</h2>
        <div class="btn-group" role="group" aria-label="..." style="float:right;">
            <a href="{{ path('admin_fit_model_specs_index') }}" class="btn btn-default">List</a>
            <a href="#" class="btn btn-default">Edit</a>
        </div>
        <div class="row">
                <span><b>Brand</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.brand?fit_model_measurement.brand.name:''}}</span>
            </div>
        <br>
        <div class="row">
                <span><b>Gender</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.gender}}</span>
            </div>
        <br>
        <div class="row">
                <span><b>Size Title Type</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.SizeTitleType}}</span>
            </div>
            <br>
           <div class="row">
                <span><b>Clothing Type</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.ClothingType}}</span>
            </div>
            <br>
            <div class="row">
                <span><b>Size</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.Size}}</span>
            </div>
            <br>
            <div class="row">
                <span><b>title :</b> &nbsp;:&nbsp; </span>
                <span>{{fit_model_measurement.title}}</span>
            </div>
            <br>        
        {% for k, v in fit_points %}              
            <div class="row">
                <span><b>{{k}}</b> &nbsp;:&nbsp; </span>
                <span>{{v}}</span>
            </div>
        {% endfor %}
  </div>
{% endblock %}
