<script>
function validate()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('product_file').value;
var image_length = document.getElementById('product_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}
}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script> 
<div id="pro_clr"> 
    <h2> Product Items</h2>
    
    <table style="width:50%">

        <div class="row-fluid show-grid p_title">

            <div class="span2 hds"><b>Line Number</b></div>
            <div class="span2 hds"><b>Size</b></div>
            <div class="span2 hds"><b>Color</b></div>
            <div class="span2 hds"><b>Fitting Room</b></div>
            <div class="span2 hds"></div>

        </div>

    {% for pi in product.productItems %}  


    {% if item_id is defined and item_id and item_id == pi.id %}
      <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
        <form action="{{ path('admin_product_detail_item_update',{"id":product.id, "item_id":pi.id}) }}" method="post" {{ form_enctype(itemform) }} onsubmit="return validate();">
                                 {{ form_errors(itemform) }}
                <div class="row-fluid show-grid p_title">

                    <div class="span2">{{ form_widget(itemform.line_number) }}{{ form_errors(itemform.line_number) }}</div>

                    <div class="span2">{{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2">{{ form_widget(itemform.file) }}{{ form_errors(itemform.file) }}</div>
              {{ form_rest(itemform) }}
                    <div class="span2"> <input type="submit" value="SAVE" class="btn"/>
                     <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                    </div>
                </div>

         {% else %}

                <div class="row-fluid show-grid p_title">


                    <div class="span2">{{pi.lineNumber}}</div>
                    <div class="span2">{{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2">
                        {%if(pi.image!='')%}
                          <img src="{{ asset(pi.WebPath) }}"/>   
                        {%else%}
                             No Image                   
                    {%endif%}
                    </div>

                    <div class="span2">
                        <a href='{{path("admin_product_detail_item_edit",{"id":product.id, "item_id":pi.id})}}' class="btn">Edit</a>
                       <a href="#myModal2{{pi.id}}" role="button" data-toggle="modal" class="btn">Delete</a>
                        
                        

                    </div>

                </div>
                
                <div id="myModal2{{pi.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Product</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to Delete this Product <b>{{product.name }} Item</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a href="{{path("admin_product_detail_item_delete",{"id":product.id, "item_id":pi.id})}}"  class="btn btn-primary">Delete</a>

    </div>
</div>   

                             {% endif %}
                             {%endfor%}
        </table>   
    </div>