
{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
    <div class="reg_steps">
        <ul>
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li class="active"><span>3</span></li>
            <li><span>4</span></li>
        </ul>
    </div>
    <div class="action_cnt">
        <div class="steps step_3">
            <h2>Your Measurements</h2>
            <form action="{{ path('registration_measurement_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
                    
                      <div class="frm_ele"> {{ form_label(form.height) }}
          {{ form_errors(form.height) }}

                                                    <div class="slider_wrap">
                                                        <div class="tip tt_arrow tip9"><!--- Tootip wrapper Start  !-->
                                                            <div class="grad"></div>
                                                            <div class="tooltip_content"><!--- Tootip content Start  !--> 
                                                                <span class="arrow_top"></span>Stand erect on straight surface, Measure from of Head down to the back of Heal.<br />
                                                                <a href="#">Watch Video</a> 
                                                                <!--- Tootip content End  !--> 
                                                            </div>
                                                            <div class="grad"></div>
                                                            <!--- Tootip wrapper End  !--> 
                                                        </div>
                                                        <div id="slider_result_height" class="slider_result">{{ measurement.height }}"</div>
                                                        <div id="slider_height" class="main_slider"></div>
            {{ form_widget(form.height) }}
                                                        <!--/.slider_wrap--></div>
                                                </div>

                      <div class="frm_ele"> {{ form_label(form.back) }}
          {{ form_errors(form.back) }}

                                                    <div class="slider_wrap">
                                                        <div class="tip tt_arrow tip9"><!--- Tootip wrapper Start  !-->
                                                            <div class="grad"></div>
                                                            <div class="tooltip_content"><!--- Tootip content Start  !--> 
                                                                <span class="arrow_top"></span>Measure from shoulder to shoulder.<br />
                                                                <a href="#">Watch Video</a> 
                                                                <!--- Tootip content End  !--> 
                                                            </div>
                                                            <div class="grad"></div>
                                                            <!--- Tootip wrapper End  !--> 
                                                        </div>
                                                        <div id="slider_result_back" class="slider_result">{{ measurement.back }}"</div>
                                                        <div id="slider_back" class="main_slider"></div>
            {{ form_widget(form.back) }}
                                                        <!--/.slider_wrap--></div>
                                                </div>
                    

                    <div class="frm_ele"> {{ form_label(form.bust) }}
          {{ form_errors(form.bust) }}

                            <div class="slider_wrap">
                                <div class="tip tt_arrow tip3"><!--- Tootip wrapper Start  !-->
                                    <div class="grad"></div>
                                    <div class="tooltip_content"><!--- Tootip content Start  !--> 
                                        <span class="arrow_top"></span> Hold tape measure nipple level. Measure around your torso back to starting point.<br />
                                        <a href="#">Watch Video</a> 
                                        <!--- Tootip content End  !--> 
                                    </div>
                                    <div class="grad"></div>
                                    <!--- Tootip wrapper End  !--> 
                                </div>
                                <div id="slider_result_bust" class="slider_result">{{ measurement.bust }}"</div>
                                <div id="slider_bust" class="main_slider"></div>
            {{ form_widget(form.bust) }}
                                <!--/.slider_wrap--></div>                


                        </div>
                        <div class="frm_ele"> {{ form_label(form.waist) }}
          {{ form_errors(form.waist) }}

                                <div class="slider_wrap">
                                    <div class="tip tt_arrow tip4"><!--- Tootip wrapper Start  !-->
                                        <div class="grad"></div>
                                        <div class="tooltip_content"><!--- Tootip content Start  !--> 
                                            <span class="arrow_top"></span> Bend to one side to find the crease or natural waist. Measure across the narrowest part.<br />
                                            <a href="#">Watch Video</a> 
                                            <!--- Tootip content End  !--> 
                                        </div>
                                        <div class="grad"></div>
                                        <!--- Tootip wrapper End  !--> 
                                    </div>
                                    <div id="slider_result_waist" class="slider_result">{{ measurement.waist }}"</div>
                                    <div id="slider_waist" class="main_slider"></div>
               {{ form_widget(form.waist) }}
                                    <!--/.slider_wrap--></div>



                            </div>
                            <div class="frm_ele"> {{ form_label(form.hip) }}
          {{ form_errors(form.hip) }}

                                    <div class="slider_wrap">
                                        <div class="tip tt_arrow tip5"><!--- Tootip wrapper Start  !-->
                                            <div class="grad"></div>
                                            <div class="tooltip_content"><!--- Tootip content Start  !--> 
                                                <span class="arrow_top"></span> Stand with your heels together, and measure around the fullest part of your hips, keeping the tape parallel to the floor.<br />
                                                <a href="#">Watch Video</a> 
                                                <!--- Tootip content End  !--> 
                                            </div>
                                            <div class="grad"></div>
                                            <!--- Tootip wrapper End  !--> 
                                        </div>
                                        <div id="slider_result_hips" class="slider_result">{{ measurement.hip }}"</div>
                                        <div id="slider_hips" class="main_slider"></div>
            {{ form_widget(form.hip) }}
                                        <!--/.slider_wrap--></div>
                                </div>
                              
                                          
        {{ form_rest(form) }}
                                                <div class="btm_buttons row">
                                                    <div class="frm_ele">
                                                        <input class="reg_next_step" type="submit" value="Next Step" />
                                                    </div>
                                                    <div class="frm_ele"> <a class="but_short" href="#">Browse Users</a> </div>
                                                </div>
                                            </form>
                                            <div class="clr_bth"></div>
                                            <!--/.step_3--></div>
                                        <!--/.action_cnt--></div>
                                    <!--/.action_blk--></section>
                            </form>
{% endblock %}

{% block how_it_works_content %}
                            <section class="cnt_btm">
                                <h3>Measurements</h3>
                                <p>Get a friend to help you or take them yourself.  Make sure to fill them all out.  This will allow for the perfect fit every time!   If something changes you can allows come back to this step.  Any questions, watch our demonstrational videos.</p>
                            </section>
{% endblock %}


{% block bottom_random_content %} 
                            <script type="text/javascript">
                            $(document).ready(function(){

                            $(".slider_wrap").mousedown(function (){
                                    //$(".slider_wrap").css('background','#9dcb38');
                                    $(this).css('background','#9dcb38');
                                    show_tip(this);
                            });


                             //Slider Height
                              $("#slider_height").slider({ animate: true, range: "min", value: {{ measurement.height }}, min: 20, max: 96, step: 0.25, slide: function( event, ui ) {
                                              $( "#slider_result_height" ).html( ui.value + '"' );
                              },
                              change: function(event, ui) {	
                              $(this).parent().find("input").attr('value', ui.value);
                              }	
                              });

                              //Slider Bust
                              $("#slider_bust").slider({ animate: true, range: "min", value: {{ measurement.bust }}, min: 10, max: 70, step: 0.25, slide: function( event, ui ) {
                                              $( "#slider_result_bust" ).html( ui.value + '"');
                              },
                              change: function(event, ui) { 
                            $(this).parent().find("input").attr('value', ui.value);	
                              }	
                              });

                              //Slider Waist
                              $("#slider_waist").slider({ animate: true, range: "min", value: {{ measurement.waist }}, min: 10, max: 70, step: 0.25, slide: function( event, ui ) {
                                              $( "#slider_result_waist" ).html( ui.value + '"');
                              },
                              change: function(event, ui) { 
                             $(this).parent().find("input").attr('value', ui.value);	
                              }	
                              });

                              //Slider Hips
                              $("#slider_hips").slider({ animate: true, range: "min", value: {{ measurement.hip }}, min: 10, max: 70, step: 0.25, slide: function( event, ui ) {
                                              $( "#slider_result_hips" ).html( ui.value + '"');
                              },
                              change: function(event, ui) { 
                            $(this).parent().find("input").attr('value', ui.value);	
                              }	
                              });
                          
                               //Slider Back
                              $("#slider_back").slider({ animate: true, range: "min", value: {{ measurement.back }}, min: 10, max: 70, step: 0.25, slide: function( event, ui ) {
                                              $( "#slider_result_back" ).html( ui.value + '"');
                              },
                              change: function(event, ui) { 
                             $(this).parent().find("input").attr('value', ui.value);	
                              }	
                              });
                            
                            });
                            function show_tip(ele){


                                            $(".tip").css({"left" : "-410px"});

                                            var chk_offset = $(ele).position();
                                            //alert(chk_offset);



                                            if($(ele).find("div.tip").css("display") == "block")
                                            {
                                                            //$(ele).find("div.tip").fadeIn(500)
                                            }
                                            else {

                                                                            $(ele).find("div.tip").removeClass("tip").addClass("show_my_tip");
                                                                            $(".tip").hide(20, function (){
                                                                                            $("div.show_my_tip").fadeIn(20, function (){$(".action_cnt").find("div.show_my_tip").stop().animate({"left": "-410px"}).removeClass("show_my_tip").addClass("tip");});
                                                                            });			
                                                             }

                            }

                            ///////////////////////////////////////////

                                    



                                </script> 
{% endblock %} 

