{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="reg_steps">
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>
    <div class="action_cnt">
        <div class="steps step_2">
            <h2>Reset Password</h2>

            <form action="{{ path('password_update', { 'id': app.user.id })}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

                   <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                {{ form_label(form.password.password) }}
                {{ form_widget(form.password.password) }}

                        </div>
                        <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                                <label>Confirm Password</label>
                {{ form_widget(form.password.confirm) }}

 
                            </div>
                {{form_rest(form)}}
                                          <div class="btm_buttons row">
                                            <div class="frm_ele">
                                                <input class="reg_next_step" type="submit" value="Submit" />
                                            </div>
                                            <div class="frm_ele">
                                                <a class="but_short" href="#">Browse Users</a>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/.step_2--></div>
                                <!--/.action_cnt--></div>
                            <!--/.action_blk--></section>
{% endblock %}
{% block how_it_works_content %}
                            <section class="cnt_btm">
    <h3>Your Account</h3>
    <p>At LoveThatFit we understand the value of privacy.  We do not share any of this info with anyone.  Make sure you take the time to put in accurate measurements and data.  This will allow for the most superior online shopping experience and to never have to deal with returns again!</p>
</section>
{% endblock %}

