  
            <h2>Register</h2>
            <form id="registration" action="{{ path('registration_create')}}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}
                    
                    <div class="frm_ele">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                                </div>
                    
                    <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                {{ form_label(form.password.password) }}
                {{ form_widget(form.password.password) }}
                        </div>
                        <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                                <label>Confirm Password</label>
                {{ form_widget(form.password.confirm) }}

                            </div>
                            

                                <div class="frm_ele radio_buts">
                {{ form_row(form.gender) }}                     
                                    </div>

                {{ form_rest(form) }}

                                            <input class="reg_next_step" type="submit" value="Register" />
                                </form>


