{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="action_cnt">
        <div class="steps step_1">  
            <h2>Let's Get Started!</h2>
            <p>LoveThatFit provides the most realistic shopping experience like you were shopping in the store.</p>

            <form id="registration" action="{{ path('registration_user_create')}}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

                    <div class="frm_ele">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                        </div>

                        <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                
                {{ form_widget(form.password.password) }}
                            </div>

                            <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                                    
                {{ form_widget(form.password.confirm) }}
                                </div>

                    <div style="float:left; margin-left:20px;">            
                    <div class="frm_ele radio_buts">
                 {{ form_row(form.gender) }}                     
                        </div></div>

                {{ form_rest(form) }}

                                    <input class="reg_next_step" type="submit" value="Register" />
                                </form>


                                <!--/.sttp_1--></div>
                            <!--/.action_cnt--></div>
                        <!--/.action_blk--></section>

{% endblock %}
{% block how_it_works_content %}
            {% include 'LoveThatFitUserBundle::howItWorks.html.twig'%}
{% endblock %}


