{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}


{% block action_block_content %}

  <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/user_registration_step_one.js') }}"></script>

<section class="reg_blk">
  
 <div class="action_cnt">
        <div class="steps step_1">  
            <h2>Let's Get Started!</h2>
            <p>Try Clothes On. See Look, Fit &amp; Size. Social.</p>
            <div class="main_log_box reg_active">            
                <div class="login_tab">
                    <a href="#" id="reg_btn">Register</a>
                    <a href="#" id="lg_btn">Login</a>
                </div>                
                <div class="reg_wrapper">
                    <div class="clr_bth"></div>
                    <div class="login_reg_box">
                     <form id="registration" action="{{ path('registration_user_create')}}" method="post" {{ form_enctype(form) }}  onsubmit="return formRegistrationValidates()">
                            <div class="form_vld_error">
                                {{ form_errors(form, { 'attr': {'class': 'error_cls'} }) }}
                            </div>
                            <div class="frm_ele">
                                {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="frm_ele">
                                 {{ form_widget(form.password.password, { 'attr': {'placeholder': 'Password'} }) }}
                                  <div class="login_error" >
                        <div id="error_content2" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Password must contain minimum of 8 characters, including at least 1 number, 1 uppercase & 1 lowercase character.
                                                         </div>
                                                    </div>
                                        </div>

                                        <div class="frm_ele">
                            {{ form_widget(form.password.confirm, { 'attr': {'placeholder': 'Confirm Password'} }) }}   
                            {{ form_errors(form.password.password) }}
                            {{ form_errors(form.password.confirm) }}
                                            </div>
                                            <div class="frm_ele">
                            {{ form_widget(form.zipcode, { 'attr': {'placeholder': 'Zip Code'} }) }}   
                            {{ form_errors(form.zipcode) }}
                                                    
                             <div class="login_error" >
                                                    <div id="error_content3" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                          Zipcode must have 5 numbers .
                                                         </div>
                                                    </div>
                                                    
                                                </div>

                                                <div style="float:left; margin-left:20px; margin-bottom: 10px;">            
                                                    <div class="frm_ele radio_buts">

                                                        <div id="gender_label">Gender</div>
                                {{ form_widget(form.gender) }} 

<div style="margin-left:97px;">                                
{{ form_errors(form.gender) }}
        </div>
                                                    </div>
                            {{ form_widget(form.timeSpent)}}  
                            
                                                </div>

                                                <div style="clear:both;"></div>
                        {{ form_rest(form) }}

                                                <input class="reg_next_step" type="submit" value="Register" />


                                                
                                            </form>
                                        </div>
               </div>

                <!--/Login form start-->   
                <div class="log_wrapper">
                                    
                                    <div class="clr_bth"></div>

                                
                                        

                                    <div class="login_reg_box">
                                        <form action="{{ path('login_check') }}" method="post" class="form" name="loginform" id="loginform" onsubmit="return formValidates()">
                                            <div class="frm_ele">            
                                                <input type="text" id="email" name="_username" value="{{ last_username }}" placeholder="Email" />
                                            </div>
                                            <div class="frm_ele">
                                                <input type="password" id="password" name="_password" placeholder="Password" />
                                                <div class="login_error" >
                                                    <div id="error_content1" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Valid User name and password
                                                         </div>
                                                    </div>
                                                    {% if error %}
                                                    <div class="login_error" >          
                                                        <div id="error_content">
                                                        {{ error.message  | replace({"Bad credentials": "Invalid Log-in credentials"})}}
                                                            </div>

                                                        </div>
                                                    {% endif %}
                                                        <input type="hidden" name="_target_path" value="/inner_site/index" />
                                                    </div>

                                                    <div class="frm_ele">
                                                        <input id="sbmt_bnt" type="submit" value="Login" class="reg_next_step" />
                                                    </div>
                                                </form>
                                                <ul class="row with_sep">
                                                    <li><a href="{{path('forgot_password_form')}}">forgot</a></li>
                                                    <li id="crt_reg"><a href="javascript:">create</a></li>
                                                </ul>

                                            </div>

                         </div>
                </div>
                                        <!--/Login form End-->   

                                        <!--/.sttp_1--></div>
                                    <!--/.action_cnt--></div>
                                <!--/.action_blk--></section>


<script>
   
    $(document).ready(function(){

        //incase of error , preselection of tab
        {%if referer is defined and referer=='login'%}
            $(".main_log_box").removeClass('reg_active');
            $(".main_log_box").addClass('log_active');        
        {%else%}
            $(".main_log_box").removeClass('log_active');
            $(".main_log_box").addClass('reg_active');
        {%endif%}
      
    })
    
</script>

{% endblock %}
{% block feed_block %}


<script type="text/javascript" src="{{ asset('bundles/twitter_tricker/jquery.vticker-min.js') }}"></script>

<style>
h1{padding:30px;color:#FFF;}
#tweet_cont{padding:50px;}
.tweet{color:#333; font-size: 0.9em; margin-bottom:30px; margin-top: 15px; margin-left: 10px;}
.tweets{width:550px;}
.tweet img{float:left;}
.tweet_txt{padding-left: 65px; font-size: 1.1em;}
#tweet_cont ul {margin:0;padding:0;list-style:none; }
#tweet_cont ul .tweet {background: #fff; margin-bottom:3px;clear:both;text-align:left; padding:3px;width:590px; }
#tweet_cont ul .tweet .avatar{float:left;width:48px;height:48px;margin:0px 5px 0px 0px; border:none;} 
#tweet_cont ul .tweet  h4{margin:0px 0px 0px 0px; font-size:14px; margin:0;padding:0;font-family:arial; }
#tweet_cont ul .tweet   small{padding-left:50px; font-size:13px; margin:0;padding:0;font-family:arial; font-weight:normal;}
.clearboth {clear: both;}
a {color:#3E76C2;text-decoration:none;}
a:hover {text-decoration:underline;}
</style>



<div class="twitter_wrap">
   <div id="twitter_icon_home2"></div> 

    <div class="tt_feeds">
      
      <a class="twitter-timeline"  href="https://twitter.com/LoveThatFit"  data-widget-id="359640645129867264">
            Tweets by @LoveThatFit</a>       
        
   
<div class="tweets">
        <ul>

 {% for twitter in twitters %}  
<li id="hide">
<div class="tweet">

<img src="{{twitter.user.profile_image_url}}">
<div class="tweet_txt">{{twitter.text}}</div>
<div class="clearboth"></div>
</div>
</li>

{%endfor%}
</ul>
</div> 
  
    </div>
    <div id="social_box">
        <div><a href="https://www.facebook.com/LoveThatFit?ref=hl" target="_blank"><img src="{{ asset('bundles/lovethatfit/site/images/fb_icon.png') }}" width="33" height="34" border="0"></a></div>
        <div><a href="https://twitter.com/LoveThatFit" target="_blank"><img src="{{ asset('bundles/lovethatfit/site/images/tt_icon.png') }}" width="33" height="34" border="0"></a></div>
    </div>

</div>
{% endblock %}
{% block how_it_works_content %}
            {% include 'LoveThatFitUserBundle::howItWorks.html.twig'%}
{% endblock %}