

{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="reg_steps">
        <ul>
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li class="active"><span>4</span></li>
        </ul>
    </div>
    <div class="action_cnt">
        <div class="steps step_4">
            <h2>Upload Photo</h2>
            
            <form id="frmUserImage" action="{{ path('registration_step_four_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }}>
                
                <input type="hidden" id="hdn_srverpath" value="{{asset('')}}"/>
     {{ form_errors(form) }}
                <div class="input_file_hldr">
                    {{ form_errors(form.file) }}
                            {{ form_widget(form.file, { 'attr': {'class': 'input_file'} }) }}
                        	
                            <input id="inp_txt_file_name" class="input_text" type="text" value="Click Browse button" />
                        </div>    
         {{ form_rest(form) }}

                    
                        <div class="clr_bth"></div>
                        <div class="frm_ele zoom_in">
                            <label>Zoom In/Out</label>
                            <div class="slider_wrap">
                                <div id="slider_result_photo" class="slider_result">100</div>
                                <div id="slider_scale_photo" class="main_slider"></div>
                                <input type="hidden" id="hdn_photo"/>
                                
                                <!--/.slider_wrap--></div></div>
                        <div class="clr_bth"></div>
                        <div class="play_area_hldr">
                            <div class="int_fitting_room"></div>                                
                            <div id="play_area" class="play_area hide">
                                <div id="top_layer"></div>
                                <div id="dummy_mark"></div>
                                <div id="uploaded_photo" class="full_opacity"></div>
                            </div>
                            <!--/.play_area_hldr--></div>
                        <canvas id="cnv_img_crop" width="364" height="505" class="cnv_img_crop_style"></canvas>


                        <div class="btm_buttons row">
                            <div class="frm_ele">
                                <input onClick="shift_to_canvas()" class="reg_next_step" type="submit" value="Next Step" />
                            </div>
                            <div class="frm_ele">
                                <a class="but_short" href="#">Browse Users</a>
                            </div>
                        </div>
                        
                    </form>
                    <!--/.step_4--></div>
                <!--/.action_cnt--></div>
            <!--/.action_blk--></section>
{% endblock %}
{% block how_it_works_content %}
        <section class="cnt_btm">
            <h3>How It Works</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a nisi eu purus sollicitudin consequat porta quis orci. Nunc bibendum volutpat scelerisque. Quisque hendrerit nisl ac enim ultricies auctor. Morbi vitae eros non dui accumsan malesuada. Pellentesque sagittis luctus nunc vel gravida.</p>
        </section>
{% endblock %}

{% block bottom_left_nav %}
        <nav class="row">
            <ul class="with_bullet">
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
{% endblock %}