{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="reg_steps">
        <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>
    <div class="action_cnt">
        <div class="steps step_2">
            <h2>Account Details</h2>

            <form action="{{ path('registration_step_two_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

                    <div class="frm_ele">
                        <label>First Name</label>
    {{ form_errors(form.firstName) }}
    {{ form_widget(form.firstName) }}
                        </div>
                        <div class="frm_ele">
    <label>Last Name</label>
    {{ form_errors(form.lastName) }}
    {{ form_widget(form.lastName) }}
                            </div>
                            <div class="frm_ele">
    {{ form_label(form.email) }}
    
    {% if form_errors(form.email) %}
        {{form_errors(form.email)}}
    {% endif %}
                                    
    {{ form_widget(form.email) }}

                                </div>
                    
                    <div class="frm_ele radio_buts">
           {{ form_row(form.gender) }}                     
    </div>  

                                
                                    <div class="frm_ele select_inline">
    {{ form_label(form.birthdate) }}
    {{ form_errors(form.birthdate) }}


                {{ form_widget(form.birthdate.month) }}
                {{ form_widget(form.birthdate.day) }}
                {{ form_widget(form.birthdate.year) }}
                                        </div>


        {{ form_rest(form) }}


                                        <div class="btm_buttons row">
                                            <div class="frm_ele">
                                                <input class="reg_next_step" type="submit" value="Next Step" />
                                            </div>
                                            <div class="frm_ele">
                                                <a class="but_short" href="#">Browse Users</a>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/.step_2--></div>
                                <!--/.action_cnt--></div>
                            <!--/.action_blk--></section>
{% endblock %}
{% block how_it_works_content %}
                            <section class="cnt_btm">
    <h3>How It Works</h3>
    <p>LoveThatFit provides the most realistic shopping experience and allows you to try clothes on like you were shopping in the store.  Mix and match outfits, compare outfits side-by-side, save in your personal closet, and shop with friends.  You can do all this from any computer, laptop or smartphone! LTF is here to give you the most realistic and personal online shopping experience.</p>
</section>
{% endblock %}

{% block bottom_left_nav %}
                        <nav class="row">
                            <ul class="with_bullet">
                                <li><a href="#">about</a></li>
                                <li><a href="#">contact</a></li>
                                <li><a href="#">register</a></li>
                            </ul>
                        </nav>

{% endblock %}