{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}

{% block action_block_content %}
<section class="reg_blk">
    <div class="reg_steps">
        <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>
    <div class="action_cnt">
        <div class="steps step_2">
            <h2>Account Details</h2>

            <form action="{{ path('registration_step_two_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

            <div class="frm_ele">
                {{ form_errors(form.firstName) }}
                <label>First Name</label>   
                {{ form_widget(form.firstName) }}
            </div>
            <div class="frm_ele">
                {{ form_errors(form.lastName) }}
                <label>Last Name</label>
                {{ form_widget(form.lastName) }}
            </div>
            <div class="frm_ele">
                {% if form_errors(form.email) %}
                    {{form_errors(form.email)}}
                {% endif %}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="frm_ele radio_buts">
                {{ form_row(form.gender) }}                     
            </div>
            <div class="frm_ele select_inline">
                 {{ form_errors(form.birthdate) }}
                 {{ form_label(form.birthdate) }}
                 {{ form_widget(form.birthdate.month) }}
                 {{ form_widget(form.birthdate.day) }}
                 {{ form_widget(form.birthdate.year) }}
            </div>
            <div class="frm_ele short_inp">
                 <label>Height</label>
                 {{ form_widget(form.measurement.height) }} <span class="fff_color">(inches)</span>
            </div>
            <div class="frm_ele short_inp">
                 <label>Inside Shoulders</label>
                 {{ form_widget(form.measurement.weight) }} <span class="fff_color">(lbs)</span>
            </div>
            {{ form_rest(form) }}
                                        <div class="btm_buttons row">
                                            <div class="frm_ele">
                                                <input class="reg_next_step" type="submit" value="Next Step" />
                                            </div>
                                            <div class="frm_ele">
                                                <a class="but_short" href="#">Browse Users</a>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/.step_2--></div>
                                <!--/.action_cnt--></div>
                            <!--/.action_blk--></section>
{% endblock %}
{% block how_it_works_content %}
                            <section class="cnt_btm">
    <h3>Your Account</h3>
    <p>At LoveThatFit we understand the value of privacy.  We do not share any of this info with anyone.  Make sure you take the time to put in accurate measurements and data.  This will allow for the most superior online shopping experience and to never have to deal with returns again!</p>
</section>
{% endblock %}