{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}

{% block action_block_content %}
<input id="user_height_frm_3" type="hidden" value="{{ entity.measurement.height }}" />
<input id="user_back_frm_3" type="hidden" value="{{ entity.measurement.back }}" />
<div>
    
            <form id="frmUserMeasurement" action="{{ path('registration_step_four_measurement_update', { 'id': entity.id })}}" method="post"   {{ form_enctype(measurement_form) }}>
             {{ form_errors(measurement_form) }}
                {{ form_widget(measurement_form.shoulder_height) }}
                {{ form_widget(measurement_form.outseam) }}
                {{ form_rest(measurement_form) }}
            </form>
</div>
<script>
        
    </script>

<section class="reg_blk">
    <!--<div class="reg_steps">
        <ul>
            <li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
            <li class="active"><span>4</span></li>
        </ul>
    </div>-->
    <span style="display:none" id='spn_image_update_url'>"{{ path('registration_step_four_image_update')}}"</span>    
        
    <div class="action_cnt">
        <div class="steps step_4">
            <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
            <p  id="sizeerror" style="color:#d14; size:10; display:none;">Image Size is very large</p>
            <h2>Upload Photo</h2>

            <form id="frmUserImage" action="{{ path('registration_step_four_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }} onsubmit="return validateStepFourImageName();">

                <input type="hidden" id="hdn_serverpath" value="{{asset('')}}"/>
                <input type="hidden" id="hdn_image_update_url" value="{{ path('registration_step_four_image_update')}}"/>
                <input type="hidden" id="hdn_inner_site_index_url" value="{{ path('inner_site_index')}}"/>
                <input type="hidden" id="hdn_entity_id" value="{{entity.id}}"/>
     {{ form_errors(form) }}
                <div class="input_file_hldr">
                    {{ form_errors(form.file) }}
                            {{ form_widget(form.file, { 'attr': {'class': 'input_file'} }) }}

                        <input id="inp_txt_file_name" class="input_text" type="text" value="Click Browse button" />
                    </div>
                <div class="upload_again_hldr"><a href="{{ path('registration_step_four_edit') }}">Try Another Photo</a></div>
         {{ form_rest(form) }}


                    <div class="clr_bth"></div>
                    <div class="frm_ele zoom_in hide">
                        <label>Zoom In/Out</label>
                        <div class="slider_wrap">
                            <input id="slider_result_photo" class="slider_result short_inp" type="number" value="100" />
                            <div id="slider_scale_photo" class="main_slider"></div>
                            
                            <!--/.slider_wrap--></div></div>
                    <div class="clr_bth"></div>

                    <canvas id="cnv_img_crop" width="364" height="505" class="cnv_img_crop_style"></canvas>

                </form>  
         <input type="hidden" id="hdn_skip_flag" value="skip"/>
            <div class="frm_ele step4_btns">
                  <a class="reg_next_step" href="{{path('inner_site_index')}}">Skip</a>
                  {% if(edit_type=="registration")%}
                  <a class="reg_next_step reg_second" href="{{path('registration_measurement_edit')}}">Back</a>
                 {% endif%}    
                 </div>
                <!--/.step_4--></div>
            <!--/.action_cnt--></div>
    
    
    <div class="how_it_works">
        <h2>How It Works</h2>
        <ol>
            <li>Upload full body, front facing photo. Feet shoulder width apart & arms relaxed by sides.</li>
            <li>Adjust height by zooming in & out so feet are standing on bottom line and head is slightly touching top line.</li>
            <li>Adjust sliders for shoulder height and waist height.</li>
            <li>Save photo and continue.</li>
        </ol>
    </div>
        <!--/.action_blk--></section>
{% endblock %}


{% block reg_fitting_room %}
        <section>
    
                    <div class="play_area_hldr">
                            
                        <div id="adj_popout_top" class="adj_popout_msg">
                            <div class="arrow_img_alerts"></div>
                            <span>Align with the top of your shoulder & neck</span>
                        <!--/.adj_popout_msg--></div>
                        
                        <div id="adj_popout_bottom" class="adj_popout_msg">
                            <div class="arrow_img_alerts"></div>
                            <span>Align to where you like your pants to rest</span>
                        <!--/.adj_popout_msg--></div>

                        <div class="tip tt_arrow step_4_tip">
                            <!--- Tootip wrapper Start  !-->
                            <div class="grad"></div>
                            
                            <div class="grad"></div>
                            <!--- Tootip wrapper End  !-->
                        </div>

                        <div class="int_fitting_room"></div>                                
                        <div id="play_area" class="play_area hide">
                            
                            
                            
                            <div id="top_layer"></div>
                            <div id="dummy_mark">
                                <div id="user_body_marks">
                                    <div id="adj_top_hldr">
                                        <div id="top_adj_marks">
                                            <div id="top_moveable"></div>
                                            <div id="right_hand"></div>
                                            <div id="top_mid_body"></div>
                                            <div id="left_hand"></div>
                                        </div>
                                    </div>
                                    <div id="adj_belt_hldr">
                                        <div id="bottom_adj_marks">
                                            <div id="bottom_moveable"></div>
                                        </div>
                                    </div>
                                    <div id="lages_marks"></div>                                 
                                </div>
                            </div>
                            <div id="uploaded_photo" class="full_opacity"></div>
                        </div>
                        <!--/.play_area_hldr--></div>
            
            
            <div class="btm_buttons row save_btn_4">
                        <div class="frm_ele">
                            <input onClick="next_button_click(); return false;" class="reg_next_step2" type="button" value="Skip Step" />
                        </div>
                       
                    </div>
</section>
{% endblock %}
