<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<style>
img {
display:block;	
}

</style>

</head>
<body>
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#000000">
  <tr>
    <td colspan="3" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center">
        <img src="{{ asset('bundles/lovethatfit/miscellaneous/emails/images/logo.png') }}" width="222" height="134" style="display:block;" alt="Lovethatfit" title="Lovethatfit" /></td>
  </tr>
  <tr>
    <td height="20" colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><table width="570" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><table width="184" align="right" cellpadding="0" cellspacing="0">
          <tr>            
              <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="{{path('about_us')}}" style="text-decoration:none;"><font color="#FFFFFF">ABOUT LTF</font></a></font></td>
            <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;&nbsp;|&nbsp;&nbsp;</font></td>
            <td><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><a href="{{path('contact_us')}}" style="text-decoration:none;"><font color="#FFFFFF">CONTACT LTF</font></a></font></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
           
             <img src="{{ asset('bundles/lovethatfit/miscellaneous/emails/images/content_top.png') }}"  width="570" height="9" style="display:block;" alt="" title="" border="0" /></td>
      </tr>
      <tr>
        <td> {% block email %}{% endblock %}</td>
      </tr>
      <tr>
        <td>
            
            <img src="{{ asset('bundles/lovethatfit/miscellaneous/emails/images/content_bottom.png') }}" width="570" height="9" alt="" title="" style="display:block;" border="0" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3" height="10"></td>
  </tr>
  <tr>
    <td width="30">&nbsp;</td>
    <td align="center"><font face="Arial, Helvetica, sans-serif" color="#a1a1a1" size="2">Lovethatfit, D1-2-7 1, 50480 Verginia, U.S.A.</font></td>
    <td width="30">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
</body>
</html>