{% extends 'LoveThatFitAdminBundle::email/email_base_receipt.html.twig' %}
{% block email %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
    </head>

    <body>
    <table cellspacing="0" cellpadding="0" width="655" align="center" style="border:1px solid #ccc;">
        <tr>
            <td><table border="0" cellspacing="0" cellpadding="0" width="655">
                    <tr>
                        <td align="center"><br />
                            <a href="{{ app.request.getSchemeAndHttpHost() }}" target="_blank">
                                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/lovethatfit/site/images/selfie_styler_logo.png') }}">
                            </a></td>
                    </tr>
                    <tr>
                        <td align="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" style="border-top:5px solid #000;" bgcolor="#000000">
                            <table width="600" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="480" align="center"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="5"><span>Heading one will come here</span></font></td>
                                    <td width="120" rowspan="2">
                                        <a style="text-decoration:none;" href="http://www.selfiestyler.com">
                                            <table width="100%" border="0" cellpadding="5">
                                                <tr>
                                                    <td bgcolor="#FF9900" align="center" height="30"><a style="text-decoration:none;" href="http://www.selfiestyler.com"><font color="#000000" face="Arial, Helvetica, sans-serif" size="2">JOIN NOW ►</font></td>
                                                </tr>
                                            </table></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF" size="5">Heading one will come here</font></td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="border-top:5px solid #000;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td valign="top"><table border="0" cellspacing="0" cellpadding="0" width="655">
                                <tr>
                                    <td width="425"><table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                                            <tr>
                                                <td width="20"><p>&nbsp;</p></td>
                                                <td width="167" style="line-height:20px;">
                                                    <img border="0" id="_x0000_i1027" src="https://static.cdn.responsys.net/i2/responsysimages/forever21/contentlibrary/_transactional/prod/order_confirmation/Order_Confirmation_20141110_Dynamic/images/order_confirm_message.png" alt="We Got Your Order!" /><br /><br />
                                                    <font face="Arial, Helvetica, sans-serif" size="2">
                                                        Dear {{entity.email}}, <br />
                                                        Thank you for shopping with SelfieStyler! Your order has been received. If you have any questions or concerns, please reach out to us at: <a href="mailto:CustomerCare@SelfieStyler.com" target="_blank">CustomerCare@SelfieStyler.com</a>. Please keep in mind that your order might come in separate shipments.<br />
                                                        <br />
                                                        Thanks again! We're looking forward to seeing you on the runway again soon!.<br />
                                                        <br />
                                                        <em>Selfie Styler Customer Service</em><em><br />
                                                            <em><a href="tel:1-888-494-3837" target="_blank" value="+18884943837">1-888-494-3837</a></em></em>
                                                    </font><br /><br />
                                                </td>
                                                <td width="10" style=" line-height:20px;font-family:Arial, Helvetica, sans-serif; font-size:12px;">&nbsp;</td>
                                            </tr>
                                        </table></td>
                                    <td width="230" valign="top"><p><a href="https://news2.forever21.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlTQGs9wnoI7NiNibIwmzfWzcXwyjWI4DlHakUpo5VXtpKX%3DWTDCY&amp;_ei_=EolaGGF4SNMvxFF7KucKuWN49T2KGLE_Vl9CrwZ0g1hmJ5wbL-sPtuzFsjCw3eUvgg-k7T9vV5Te_VvvqsCuzLgzoaS1fVzsEfBqFveJIIhl7cUrsl_jKu-5dmDJRAI." target="_blank"><img border="0" id="_x0000_i1029" src="https://static.cdn.responsys.net/i2/responsysimages/forever21/contentlibrary/_transactional/prod/order_confirmation/Order_Confirmation_20141110_Dynamic/images/US_EN_Order_Confirmation.jpg" /></a></p></td>
                                </tr>
                            </table></td>
                    </tr>
                    <tr>
                        <td><div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="600">
                                    <tr>
                                        <td><font face="Arial, Helvetica, sans-serif" size="2"><strong>Order #:</strong></font></td>
                                        <td><font face="Arial, Helvetica, sans-serif" size="2"><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('user_profile_order_preview', {'id':order.Id}) }}">{{order.OrderNumber}}</a></font></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="5">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="100"><font face="Arial, Helvetica, sans-serif" size="2"><strong>Order Date:</strong></font></td>
                                        <td width="500"><font face="Arial, Helvetica, sans-serif" size="2">{{order.OrderDate|date('Y-m-d H:i:s') }}</font></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="600">
                                    <tr>
                                        <td width="200"><font face="Arial, Helvetica, sans-serif" size="2"><strong>Billing to</strong></font></td>
                                        <td width="200"><font face="Arial, Helvetica, sans-serif" size="2"><strong>Shipping to</strong></font></td>
                                        <td width="200"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="2"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                {{order.BillingFirstName }} {{order.BillingLastName }}<br />{{order.BillingAddress1 }}<br> {{order.BillingAddress2 }}<br />{{order.BillingCity }}, {{order.BillingState }} {{order.BillingPostcode }}
                                            </font>

                                        </td>
                                        <td valign="top">
                                            <font face="Arial, Helvetica, sans-serif" size="2">
                                                {{order.ShippingFirstName }} {{order.ShippingLastName }}<br />{{order.ShippingAddress1 }}<br />{{order.ShippingAddress2 }}<br />{{order.ShippingState }}, {{order.ShippingState }} {{order.ShippingPostcode }}
                                            </font>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td valign="top">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="600">
                                    <tr>
                                        <td bgcolor="#efefef" style="padding:8px;"><font face="Arial, Helvetica, sans-serif" size="2"><strong>Order Summary</strong></font></td>
                                    </tr>
                                </table>
                            </div>
                            <div align="center">
                                <table border="0" cellspacing="0" cellpadding="0" width="600" height="25">
                                    <tr>
                                        <td width="450" align="center">&nbsp;</td>
                                        <td width="100">&nbsp;</td>
                                        <td width="50">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>item(s)</b></font></td>
                                        <td align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>price</b></font></td>
                                        <td align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Qty</b></font></td>
                                    </tr>

                                    {% for c in cart %}
                                        <tr>
                                            <td width="450">
                                                <table border="0" cellspacing="0" cellpadding="0" width="450">

                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <table cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style="border:1px solid #ccc; width:82px;"><img width="72" height="65" src="{{ app.request.getSchemeAndHttpHost() }}{{ asset(c.productItem.productColor.webPath) }}"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td>&nbsp;</td>

                                                        <td><strong><font face="Arial, Helvetica, sans-serif" size="2">{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}}<br> {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}<br><font color="#666666">{{ c.productItem.sku}}</font></font></strong></td>
                                                    </tr>
                                                </table></td>
                                            <td align="center"><font face="Arial, Helvetica, sans-serif" size="2">${{ c.productItem.price}}</font></td>
                                            <td align="center"><font face="Arial, Helvetica, sans-serif" size="2">{{ c.qty }}</font></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">&nbsp;</td>
                                        </tr>
                                    {%endfor%}

                                    <tr>
                                        <td>&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                        <td align="center">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                    </tr>
                                </table>
                                <table width="600" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><table border="0" cellspacing="0" cellpadding="0" align="right" width="400">
                                                <tr>
                                                    <td align="right"><strong>Total</strong></td>
                                                    <td width="80" align="right"><strong>${{ order.orderAmount}}</strong></td>
                                                </tr>

                                            </table></td>
                                    </tr>

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><div align="center">
                                <table width="600" border="0" align="center" cellpadding="0">

                                    <tr>
                                        <td height="25" style="border-bottom:1px solid #ccc;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>


                                            <p align="center"><a href="https://news2.forever21.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlTQGs9wnoI7NiNibIwmzfWzcXwyjWI4DlHakUpo5VXtpKX%3DWUTCY&amp;_ei_=EolaGGF4SNMvxFF7KucKuWN49T2KGLE_Vl9CrwZ0g1hmw7RPKSEaxv3nehmXn5peCYScvOy94CeUDaD4vq-OX6bXv66QyO3mn-QS7acFnsFtR8Jo-AXF4y6PQPXaXpp6S7ca." target="_blank"><img border="0" id="_x0000_i1042" src="https://static.cdn.responsys.net/i2/responsysimages/forever21/contentlibrary/_transactional/prod/order_confirmation/Order_Confirmation_20141110_Dynamic/images/20140219_F21US_facebook.jpg" /></a>&nbsp;&nbsp;&nbsp;<a href="https://news2.forever21.com/pub/cc?_ri_=X0Gzc2X%3DWQpglLjHJlTQGs9wnoI7NiNibIwmzfWzcXwyjWI4DlHakUpo5VXtpKX%3DWUURY&amp;_ei_=EolaGGF4SNMvxFF7KucKuWN49T2KGLE_Vl9CrwZ0g1hmt1TsaRR9RnSK267-KCf2BN8yGUlyJ473pRGOn4fRMjymbSf0SkCXQVjyMYLhJNg-3beeV6w242UOUaotpRWalybI." target="_blank"><img border="0" id="_x0000_i1043" src="https://static.cdn.responsys.net/i2/responsysimages/forever21/contentlibrary/_transactional/prod/order_confirmation/Order_Confirmation_20141110_Dynamic/images/20140219_F21US_twitter.jpg" /></a>&nbsp;&nbsp;</p>



                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td height="25" style="border-top:1px solid #ccc;"></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><strong><em>NEED HELP?</em></strong>&nbsp;&nbsp;<a href="tel:1-888-494-3837" target="_blank" value="+18884943837">1-888-494-3837</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">&nbsp;</td>
                                    </tr>
                                </table>


                                <table border="0" cellpadding="0" width="600" align="center">
                                    <tr>
                                        <td valign="top"><font face="Arial, Helvetica, sans-serif" size="2">To be sure that you don't have problems receiving our emails, please add <a href="mailto:SelfieStyler@orders.SelfieStyler.com" target="_blank">SelfieStyler@orders.SelfieStyler.com</a> to your email address book. You received this message because you've registered or accepted our invitation to receive emails from SelfieStyler, or you've made a purchase from <a href="SelfieStyler.com" target="_blank" title="SelfieStyler">SelfieStyler.com</a> or one of our mobile apps. If you would like to update your notification rules, please click here.
                                                <br />
                                                <br />
                                                SelfieStyler. Inc. Address here…</font></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">&nbsp;</td>
                                    </tr>
                                </table>
                        </td>
                    </tr>
                </table></td>
        </tr>
    </table>
    </body>
    </html>

{% endblock %}