{% extends 'LoveThatFitAdminBundle::email/email_base.html.twig' %}
{% block email %}
<table width="570" border="0" cellspacing="0" cellpadding="0" bgcolor="#cfcfcf">
          <tr>
            <td width="20">&nbsp;</td>
            <td width="530" height="30"></td>
            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center">
                 
                <img src="{{app.request.scheme ~ '://' ~ app.request.host ~  asset('bundles/lovethatfit/miscellaneous/emails/images/welcome_txt.png') }}" width="167" height="28" style="display:block;" alt="Welcome" title="Welcome" /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td height="30"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="20">&nbsp;</td>
            <td align="center"><font face="Arial, Helvetica, sans-serif" size="3" color="#000000"><b>Shop online with friends, try clothes on, see how they look &amp; fit, and never return clothes purchased. Ever.</b></font></td>
            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">
                
                <img src="{{app.request.scheme ~ '://' ~ app.request.host ~  asset('bundles/lovethatfit/miscellaneous/emails/images/shopping_pic.png') }}" width="570" height="231" style="display:block;" alt="Lovethatfit" title="Lovethatfit" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="490" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td><font face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                   <p> Hello, {{entity.username}} </p>
                   
                    <p> You have requested password for email:{{entity.email}}
                    
                   Please follow the link  you will able to reset your password
                    
                  

                   <a href="{{reset_link}}">  Click Here   </a></p>
                    
                    .</font>
                 </td>
              </tr>
              <tr>
                <td height="30"></td>
              </tr>
              <tr>
                <td align="center">
                        
                       </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" bgcolor="#000000" height="10"></td>
            </tr>
          <tr>
            <td colspan="3" height="8"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center"><table width="490" border="0" cellspacing="0" cellpadding="0">
              <tr>
                
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="5"></td>
            </tr>
          </table>
{% endblock %}
