{% extends 'LoveThatFitAdminBundle::email/email_base.html.twig' %}
{% block email %}
<tr>
    <td height="20" colspan="3"><img src="{{app.request.scheme ~ '://' ~ app.request.host ~ asset('bundles/lovethatfit/miscellaneous/emails/images/welcome_bar.png') }}" width="600" height="33" alt="WELCOME" title="WELCOME" /></td>
</tr>
<tr>
    <td colspan="3"><table width="570" border="0" align="center" cellpadding="0" cellspacing="0">
          
            
            <tr>
                <td><table width="570" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="20">&nbsp;</td>
                            <td width="530" align="center"><font face="Arial, Helvetica, sans-serif" size="3" color="#000000">Dear {{entity.email}},<br>Thank you for creating an account.<br><br>
                                We are excited to hear your feedback about your LTF experience.<br><br>
                                Please fill out this short survey so we can give you an unrivaled &amp; superior
                                shopping experience.<br><br>
                                Check out What's Hot and update your profile so we can give you the most accurate Fit, Look &amp; Size.
                                </font></td>
                            <td width="20">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center"><a href="http://www.surveymonkey.com/s/Y87V8GZ" target="_blank";><img src="{{app.request.scheme ~ '://' ~ app.request.host ~  asset('bundles/lovethatfit/miscellaneous/emails/images/survey_btn.png')}}" width="167" height="41" style="display:block;" border="0" alt="CLICK TO SURVEY" title="CLICK TO SURVEY"></a></td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" bgcolor="#cacd61" height="2"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img src="{{app.request.scheme ~ '://' ~ app.request.host ~ asset('bundles/lovethatfit/miscellaneous/emails/images/shopping_pic.png') }}" width="570" height="263" style="display:block;" alt="Lovethatfit" title="Lovethatfit" /></td>
                        </tr>
                        <tr>
                            <td colspan="3"><img src="{{app.request.scheme ~ '://' ~ app.request.host ~  asset('bundles/lovethatfit/miscellaneous/emails/images/bottom_links.png')}}" width="570" height="64" border="0" usemap="#Map"></td>
                        </tr>
                    </table></td>
            </tr>
        </table></td>
</tr>
<tr>
    <td align="center"><img src="{{app.request.scheme ~ '://' ~ app.request.host ~  asset('bundles/lovethatfit/miscellaneous/emails/images/bottom_txt2.png')}}" width="600" height="112" alt="Shop online with friends, try clothes on, see how they look &amp; fit, and never return clothes purchased. Ever." title="Shop online with friends, try clothes on, see how they look &amp; fit, and never return clothes purchased. Ever."/></td>
</tr>

     {% endblock %}