<nav class="toprow">
    <ul class="with_bullet">
        <li><a href="{{path('inner_site_home')}}"><img src="{{ asset('bundles/lovethatfit/site/images/home_link.png') }}" width="15" height="15"></a></li>
        <li><a href="{{path('about_us')}}">WHO WE ARE</a></li>
        <li><a href="{{path('coming_soon')}}">WHAT WE DO</a></li>
        <li><a href="{{path('faqs')}}">FAQ's</a></li>
        <li><a href="{{path('contact_us')}}">CONTACT US</a></li>
            
    </ul>
</nav>