<div style="text-align: right;">
<nav class="toprightrow">
    <ul class="with_bullet">
   <li>Welcome: {{app.user.username}}</li>
   <li><a href="{{ path('user_profile_about_me') }}" id="myprofile"><span><img src="{{ asset('bundles/lovethatfit/site/images/profile_icon.png') }}" width="15" height="15"></span>My Profile</a></li>
   <li><a href="{{path('cart_show')}}" id="myprofile"><span><img src="{{ asset('bundles/lovethatfit/site/images/cart_icon.png') }}" width="15" height="15"></span>My Cart</a></li>
   <li><a href="{{ path('logout') }}"><span><img src="{{ asset('bundles/lovethatfit/site/images/logout_icon.png') }}" width="15" height="13" title="Logout" alt="Logout"></span></a></li>
                    
    </ul>
</nav>
    </div>

