<div style="text-align: right;">
<nav class="toprightrow">
    <ul class="with_bullet">
   <li>Welcome: {{app.user.username}}</li>
   <li><a href="{{ path('user_profile_about_me') }}" id="myprofile"><span><img src="{{ asset('bundles/lovethatfit/site/images/profile_icon.png') }}" width="14" height="12"></span>My Profile</a></li>
   <li><a href="#_" id="myprofile"><span><img src="{{ asset('bundles/lovethatfit/site/images/cart_icon.png') }}" width="12" height="13"></span>My Cart(0)</a></li>    
   <li><a href="{{ path('admin_logout') }}"><span><img src="{{ asset('bundles/lovethatfit/site/images/logout_icon.png') }}" width="12" height="12" title="Logout" alt="Logout"></span></a></li>
                    
    </ul>
</nav>
    </div>

