<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{app_detail.name}}</title>
        
        <link href="{{ asset('bundles/lovethatfit/site/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/lovethatfit/site/css/main_1.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/lovethatfit/site/css/product_detail_css.css') }}" rel="stylesheet" type="text/css" />
         <!--<link href="{{ asset('bundles/lovethatfit/site/css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />-->
        
        
        
        
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery_and_jqueryui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/custom.js') }}"></script>  
         <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/modernizr.min.js') }}"></script>
        <!-- <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/prefixfree.min.js') }}"></script>-->
        
        
       <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/index.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/user_registration_step_one.js') }}"></script>       
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
          <script src="//connect.facebook.net/en_US/all.js"></script>
    
    <script>
  // For IE11. May we one day live without your BS.
  Modernizr.addTest('preserve3d', function(){return Modernizr.testAllProps('transformStyle', 'preserve-3d');});

           
    
</script>


                      <script type="text/javascript"> 
$(document).ready(function($) {



    
    
   
    
   $( ".handle_inner_new" ).live('click', function(){        
   var uid = jQuery(this).attr("id");    
   $('#'+uid+".handle_inner_new").css({'position':'absolute','right':'-2px','bottom':'0px'});
   
        $("#fitting_alerts_ul_"+uid).fadeOut(200);
             
        $( "#fitting_alerts_ul_"+uid).slideUp( 200, function() {
    
               $('.prod_applied_detail > .rgt_col').show();
             $('#interact_wrap_'+uid).fadeOut(100);
              $('#interact_wrap_'+uid).fadeIn(300);
             $('#interact_wrap_'+uid).css({'position':'absolute','left':'80px','top':'12px'});             
             $( '#'+uid+".handle_inner_new" ).switchClass( "handle_inner_new", "handle_inner_open"); 
             $( '#'+uid+".handle_inner_new" ).addClass( "handle_inner_open");
            
       
       
  });
});

$( ".handle_inner_open" ).live('click', function(){        
   var uid = jQuery(this).attr("id");    
   $('#'+uid+".handle_inner_open").css({'position':'absolute','right':'-2px','bottom':'0px'});
  
        $('.rgt_col').show(); 
        $('#interact_wrap_'+uid).fadeOut(100);
              $('#interact_wrap_'+uid).fadeIn(300);
             $('#interact_wrap_'+uid).css({'position':'','left':'0px','top':'0px'});
        
        $("#fitting_alerts_ul_"+uid).fadeIn(600);
        $( "#fitting_alerts_ul_"+uid).slideDown( 200, function() {
    
                
           
             
             
             
             
             $( ".prod_applied_detail").append($("<span class='abc'></span>"));
             $( '#'+uid+".handle_inner_open" ).switchClass( "handle_inner_open", "handle_inner_new"); 
             $( '#'+uid+".handle_inner_open" ).addClass( "handle_inner_new");
            
       
       
  });
});



  
       
  

    
   
  
    
        jQuery('.add-to-cart').live('click', function(){
              //  alert("The paragraph was clicked.");
                var title = jQuery(this).attr("title");
                
      
               
   
                
        var cart = $('#myprofile');
        var imgtodrag = $(".small_thumb_"+title).find("img").eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
                .offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            })
                .css({
                'opacity': '0.5',
                    'position': 'absolute',
                    'height': '150px',
                    'width': '150px',
                    'z-index': '100'
            })
                .appendTo($('body'))
                .animate({
                'top': cart.offset().top + 10,
                    'left': cart.offset().left + 10,
                    'width': 75,
                    'height': 75
            }, 1000, 'easeInOutExpo');
            
            setTimeout(function () {
                cart.effect("", {
                    times: 2
                }, 200);
            }, 1500);

            imgclone.animate({
                'width': 0,
                    'height': 0
            }, function () {
                $(this).detach();
            });
        } 
        
        
        
        
    var id = $(this).attr('id');               
    //var dataString = id ;
    var parent = $(this);
        //alert (data);
        $.ajax({
            type: "POST",
            url: "{{ path('cart_add_ajax')}}",
            data:  {item_id:id},
            cache: false,           
            success: function(response) { //Your treatment
   }
   });
    
   
    });


   
    var intWidth = $(window).outerWidth();
    var intHeight = $(window).outerHeight();

    var xCenter = intWidth / 2;
    var yCenter = intHeight / 2;

    $('#processbox').css({'width':intWidth,'height':intHeight});

    $('#ct').css({'width':intWidth,'height':intHeight,'margin':'0 auto'});

   // alert("The center of the window is: " + xCenter + "x " + yCenter + "y");
    
    
    
    
    
    jQuery('.example1demo').live('click', function(){
        newwindow=window.open($(this).attr('href'),'','height=500,width=500');
        if (window.focus) {newwindow.focus()}
        return false;
    });
});
 
</script>


  {{ include('LoveThatFitSiteBundle::_favicon.html.twig') }}
    
    </head>
 
    <body>
 
    {% set class="main" %}

        

      <div class="{{class}} full_wrapper ">




        <div class="holder">

            {%if app.user %}
           
                <div id="header">
                    <div id="top_nav">
               {% block top_nav %}
                    {% include 'LoveThatFitSiteBundle::_topNavigation.html.twig'%}
                {% endblock %} 
                </div>
                
            <div class="welcome_box">                
              <div id="toprightrow">
               {% block toprightrow %}
                    {% include 'LoveThatFitSiteBundle::_welcomeNavigation.html.twig'%}
                {% endblock %} 
                </div>  
                
            </div>
                
                
               </div> 
                
                
                <div style="clear:both;">&nbsp;</div>
               
                {% endif %}
            <section class="site_container">
                <div class="left_column">
                    <div class="logo">
                        <a href="{{path('inner_site_home')}}"><img src="{{ asset('bundles/lovethatfit/site/images/logo_inner.png') }}"></a>
                    </div>
                    {% block left_navigation %}
                    {% endblock %}
                    {% block left_col_btm %}
                    {% endblock %}
                <!--/.left_menu--></div>     
                    
                {% block product_slider %}
                {% endblock %}
                    
                {% block fitting_room %}
                {% endblock %}
                    
                    {% block message_block %}
                    {% endblock %}
                    
            <!--/.site_container--></section>
                
                
                
                
                <div class="clr_bth"></div>
                <!--/.holder--></div>
            <footer class="footer">
                <div class="ftr_logo"></div>
                <div id="copyrights_txt">Copyright 2010-2014.  All rights reserved {{app_detail.name}}</div>
               {% block bottom_left_nav %}
                                {% include 'LoveThatFitSiteBundle::_bottomNavigation.html.twig'%}
                {% endblock %} 
                    <!--/.footer--></footer>
                <!--/.full_wrapper--></div>
            {% block bottom_random_content %}
            {% endblock %} 
        </body>
    </html>