<h5>Change Password</h5>
  <form action="{{ path('web_service_change_password')}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

            
           <div class="frm_ele">
               <label>Email</label>
                {{ form_widget(form.email) }}
           </div>
          <div class="frm_ele">
               <label>New Password</label>
                {{ form_errors(form.password) }}                
                {{ form_widget(form.password.password) }}
           </div>
          
           <div class="frm_ele">
             <label>Confirm Password</label>                
              {{ form_errors(form.password.confirm) }}                
              {{ form_widget(form.password.confirm) }}
           </div>
          
          <div class="frm_ele">
          <label>Old Password</label>                
              {{ form_errors(form.old_password) }}                
              {{ form_widget(form.old_password) }}
          </div>    

             {{ form_rest(form) }}
                <input type="submit" value="Update" />


          </form>