<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Support ~ SelfieStyler</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/js/custom.js') }}" rel="stylesheet" type="text/css" />

    <!-- datatable css & js file start-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lovethatfit/admin/datatable/css/jquery.dataTables.css') }}">

        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('bundles/lovethatfit/admin/datatable/js/jquery-1.12.3.min.js') }}">
        </script>
        <script type="text/javascript" language="javascript" src="{{ asset('bundles/lovethatfit/admin/datatable/js/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('bundles/lovethatfit/admin/datatable/js/buttons.js') }}">
        </script>
    <!-- datatable css & js file end-->
    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="{{ asset('bundles/lovethatfit/admin/images/ltf_logo-f29cf3839961bcee3cb58b93121e379d.png') }}"></a>
          <div class="nav-collapse collapse support-top-tabs">
            <p class="navbar-text pull-right">
                {% if app.user %}
                    Logged in as {{ app.user.username }} {#<a href="#" class="navbar-link"></a>#}
                {% endif %}
           
            </p>
            <!-- Top Navigation Start -->
            <ul class="nav">
                <li><a href="{{ path('support_dashboard') }}">
                    <span class='{% if (app.request.attributes.get("_route") == "support_dashboard") %} support-tabs-open {% endif %}'>Dashboard</span>
                </a></li>
                {% if app.session.get('Permissions')['users']['view'] == 1 %}
                    <li><a href="{{ path('support_users') }}">
                        <span class='{% if (app.request.attributes.get("_route") == "support_users")
                            or (app.request.attributes.get("_route") == "support_user_detail_show")
                            or (app.request.attributes.get("_route") == "support_duplicate_user_index")
                         %} support-tabs-open {% endif %}'>Users</span>
                    </a></li>
                {% endif %}
                {% if app.session.get('Permissions')['pendingUsers']['view'] == 1 %}
                    <li><a href="{{ path('support_pending_users') }}">
                        <span class='{% if (app.request.attributes.get("_route") == "support_pending_users")
                        or (app.request.attributes.get("_route") == "support_pending_user_show") %} support-tabs-open {% endif %}'>Pending Users</span>
                    </a></li>
                {% endif %}
                {% if app.session.get('Permissions')['evaluationSheet']['view'] == 1 %}
                    <li><a href="{{ path('evaluationdefaultproducts') }}">
                        <span class='{% if (app.request.attributes.get("_route") == "evaluationdefaultproducts") %} support-tabs-open {% endif %}'>
                        Manage Reports</span>
                        </a></li>
                {% endif %}
                {% if app.session.get('Permissions')['evaluationSheet']['view'] == 1 %}
                    <li><a href="{{ path('support_evaluation_sheet_index') }}">
                        <span class='{% if (app.request.attributes.get("_route") == "support_evaluation_sheet_index") %} support-tabs-open {% endif %}'>
                        Evaluation Sheet</span>
                    </a></li>
                {% endif %}

                {% if app.session.get('Permissions')['shoppingCart']['view'] == 1 %}
                    <li><a href="{{ path('support_cart_index') }}">
                        <span class='{% if (app.request.attributes.get("_route") == "support_cart_index") %} support-tabs-open {% endif %}'>Shopping Cart</span>
                    </a></li>
                {% endif %}
                {% if app.session.get('Permissions')['taskLogs']['view'] == 1 %}
                    {% if app.session.get('Permissions')['taskLogs']['all'] == 1 %}
                        <li><a href="{{ path('support_users_task_log') }}">
                            <span class='{% if (app.request.attributes.get("_route") == "support_users_task_log") or (app.request.attributes.get("_route") == "support_users_task_log_show") %} support-tabs-open {% endif %}'>Task Log</span>
                        </a></li>
                    {% elseif  app.session.get('Permissions')['taskLogs']['all'] == 0 %}
                        <li><a href="{{ path('support_users_task_log_show', {'id': app.user.id}) }}">
                            <span class='{% if (app.request.attributes.get("_route") == "support_dashboard") %} support-tabs-open {% endif %}'>Task Log</span>
                        </a></li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ path('support_logout') }}"><span>Logout</span></a></li>
            </ul>
             <!-- Top Navigation End -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Breadcrumb Start -->
    <ul class="breadcrumb">
          <li><a href="{{ path('support_dashboard') }}">Admin</a> <span class="divider">/</span></li>
          {% block breadcrumb %}{% endblock %}
    </ul>
    <!-- Breadcrumb End -->      
{% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong>   
 {{ app.session.flash('warning') }}    
</div>   
{% endif %}

    <div style="clear: both; margin-bottom:80px;"></div>
    {% if app.session.hasFlash('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong>
            {{ app.session.flash('success') }}
        </div>
    {% endif %}

    <div class="container-fluid">
   
            {% block body %}
                <div style="float: right">
                    {% block header_right_links %}{% endblock %}
                </div>
            {% endblock %}
   
   </div>  
      
    
       
    <footer>
      <p>&copy; Company 2016</p>
    </footer>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-transition.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-alert.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-modal.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-scrollspy.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-tab.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-popover.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-button.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-collapse.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-typeahead.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.bootstrap.wizard.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.form.js') }}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
       <script type="text/javascript">
	jQuery(document).ready(function() {
	  	jQuery('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
			var $total = navigation.find('li').length;
			var $current = index+1;
			var $percent = ($current/$total) * 100;
			jQuery('#rootwizard').find('.bar').css({width:$percent+'%'});
		}});
        //for user
        $("#keyword").keyup(function() {
            $("#keyword").autocomplete({
                minLength: 2,
                //source: "autocomplete_user_search_result",
                source:function (request, response) {
                $.ajax({
                    type: "POST",
                    url:"autocomplete_user/autocomplete_user_search_result",
                    data: request,
                    success: response,
                    dataType: 'json'
                });
            },
                focus: function( event, ui ) {
                    $( "#keyword" ).val( ui.item.email);
                    return false;
                },
                select: function( event, ui ) {
                    $("#keyword").val(ui.item.email);
                    $("#user_id").val(ui.item.id);
                    $('#user_User option[value='+ui.item.id+']').attr('selected','selected');
                    $('#algorithm_User option[value='+ui.item.id+']').attr('selected','selected');
                    hit_service();
                    var url= '#';
                    $('#user_edit_link').attr("href", url);
                    return false;
                }
            })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                        .append( "<a>" + item.email + "</a>" )
                        .appendTo( ul );
            };
        });
        //for products
        $("#product_keyword").keyup(function() {
            $("#product_keyword").autocomplete({
                minLength: 2,
                source:function (request, response) {
                    $.ajax({
                        type: "POST",
                        url:"autocomplete_product/autocomplete_product_search_result",
                        data: request,
                        success: response,
                        dataType: 'json'
                    });
                },
                focus: function( event, ui ) {
                    $( "#product_keyword" ).val( ui.item.name);
                    return false;
                },
                select: function( event, ui ) {
                    $("#product_keyword").val( ui.item.name);
                    $("#product_id").val( ui.item.id );
                    $('#algorithm_Product option[value='+ui.item.id+']').attr('selected','selected');
                    var url= '#';
                    $('#product_edit_link').attr("href", url);
                    var show_url = "cart/get_sizes_and_colors/" + ui.item.id ;

                    $("#size_id").html("<option value =''>Select Size</option>");
                    $("#color_id").html("<option value =''>Select Color</option>");
                    $(".ajax_loader").show();
                    $.getJSON(show_url, function(data){
                        $.each(data.size, function (index, value) {
                            $('#size_id').css('display','block');
                            $("#size_id").append("<option value ='"+index+"'>"+value+"</option>");
                        });
                        $.each(data.color, function (index, value) {
                            $('#color_id').css('display','block');
                            $("#color_id").append("<option value ='"+index+"'>"+value+"</option>");
                        });
                        $(".ajax_loader").hide();
                    });
                    return false;
                }
            })
                    .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                        .append( "<a>" + item.name + "</a>" )
                        .appendTo( ul );
            };
        });

        function hit_service(){}

        
	});	
	</script>

    </body>
</html>
