{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li><a href="{{ path('admin_retailers') }}" >Retailes</a> <span class="divider">/</span></li>
<li class="active">Edit</li>
{% endblock %}
{% block h1 %}Retailer{% endblock %}
{% block title %}Retailer{% endblock %}
{% block body %}
    <div>      
    <h1 style="float:left;">Manage Brands</h1>
     <div class="btn_wrapper">     
<a href="{{ path('admin_retailers') }}" class="btn">back to list</a>
      </div>
      <div class="clearfix"></div>        
    <form action="{{ path('admin_retailer_brand_add', { 'id': retailer.id }) }}" method="post">
            <div id="detail_wrapper">      
                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">
                                     <div class="row-fluid show-grid">
                                                                                                            
                                </div>
                        {{ form_rest(form) }}
                                    <div class="span4">				
                                            <div style="margin:0px 0px 0px 0px;"> <input type="submit" value="SAVE" class="btn btn-large btn-primary"/>                                     
                                    </div>                
                                            <a href="{{ path('admin_retailer_show', {'id': retailer.id})}}" class="btn">cancel</a>
                                    </div>
                                </div>
                                </div> 
                                </div>      
                            </div><!-- End product_content --> 
                    </div> <!-- End detail_wrapper -->
                </form> 
      
        
            </div> 
    
    
<!-- Modal -->
  
    

{% endblock %}

