{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_retailers') }}" >Brands</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}

{% block h1 %}Brands{% endblock %}

{% block title %}Brands{% endblock %}


{% block body %}

<div>      
    <h1 style="float:left;">{{retailer.title}}</h1>
     <div class="btn_wrapper">     
      <a href="{{ path('admin_retailers',{'page_number':page_number}) }}" class="btn">back</a>
      {%if retailer.id %}
      <a href="{{ path('admin_retailer_edit', {'id': retailer.id}) }}" class="btn">Edit</a>      
      <a href="#myModal" role="button" data-toggle="modal" class="btn">Delete</a>
      {% endif %}      
      </div>
      <div class="clearfix"></div>
            <div id="detail_wrapper">      
                <div id="p_hd">Retailer Detail</div>
                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">         
                                <div class="row-fluid show-grid edt_span">
                                    
                                     <div class="span8">
                                         <div class="span4"><b>Name</b>
                                        <span class="mng_brnd_btn">{{retailer.title }}</span>
                                    </div>                                   
                                    </div>                                    
                                    <div class="span8">
                                    <div style="background:#efefef; padding-left: 10px;">
                                        <b>Brands</b>
                                        <span class="mng_brnd_btn"><a href="{{ path('admin_retailer_manage_brand', {'id': retailer.id}) }}" class="btn">Manage Brands</a></span>
                                    </div>
                                    </div>
                                    <div class="span8" >
                                      <div class="span5 name_list" style="width:70%; line-height: 30px;">
                                     {%for b in brands%}                                         
                                   <div style="margin-left:20px; float: left; min-width: 150px;">
                                      
                                      <span class="pf_answer"> {{b.name}}</span>  
                                    </div>
                                    {%endfor%}                                    
                                    </div>
                                        </div>
                                            <div style="clear:both" >&nbsp</div>                                    
                                    <div class="span8">                                        
                                      <div style="background:#efefef; padding-left: 10px;">
                                          <b>Users</b>
                                         <span class="mng_brnd_btn"><a href="{{ path('admin_new_retailer_user', {'id': retailer.id}) }}" class="btn" class="mng_brnd_btn">Add New User</a></span>
                                     </div>                                    
                                    </div>                                        
                                    <div class="span6">
                                        <div class="row-fluid show-grid">                                 
                                        {%for r in retaileruser%}
                                         <div class="span6" style="border-bottom:1px solid #ccc; line-height: 54px;">{{r.name}}</div> 
                                         <div class="span2" style="border-bottom:1px solid #ccc;"><a class="btn" href="{{ path('admin_retailer_edit_user', {'id': r.id}) }}">edit</a>
                                         <a class="btn" href="#myModal{{r.id}}" role="button" data-toggle="modal" title="Delete {{r.name}}"">Delete</a>
                                         </div>                                         
                                         
                                         <div id="myModal{{r.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Retailer User</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Retailer <b>{{retailer.title }}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_retailer_user_delete', {'id': r.id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>                        
            </div>  
                                        {%endfor%}                                        
                                          </div>
                                    </div>
                                    
                                </div>  
                                
                                </div> 
                                     



                                </div>      
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
                    </div> <!-- End detail_wrapper -->
                </form>  
<!-- Modal -->
    

{% endblock %}

