{% extends 'LoveThatFitSupportBundle::base_pending.html.twig' %}
{% block body %}
<!-- this code modified !-->
<input id="dv_model" type="hidden" value="{{ device_model }}" />
<input id="support_user_name" type="hidden" value="{{ app.user.username }}" />
<input id="entity_email" type="hidden" value="{{entity.email}}" />
<input id="admin_update_status" type="hidden" value="{{ path('support_update_status', {'user_id': entity.id}) }}" />
<input id="dv_user_px_height" type="hidden" value="{{ user_pixcel_height }}" />
<input id="dv_top_bar" type="hidden" value="{{ top_bar }}" />
<input id="dv_bottom_bar" type="hidden" value="{{ bottom_bar }}" />
<input id="dv_per_inch_px" type="hidden" value="{{ per_inch_pixcel }}" />
<input id="dv_type" type="hidden" value="{{ device_type }}" />
<input id="dv_scr_h" type="hidden" value="{{ device_screen_height }}" />
<input id="dv_edit_type" type="hidden" value="{{ edit_type }}" />
<input id="hdn_archive_id" type="hidden" value="{{archive.id}}"/>
<input id="user_auth_token" type="hidden" value="{{ entity.authToken }}" />
<input id="user_height_frm_3" type="hidden" value="{{ entity.measurement.height }}" />
<input id="user_back_frm_3" type="hidden" value="{{ entity.measurement.shoulderAcrossBack }}" />
<input id="p_selected_pic_h" type="hidden" value="{{marker.rectHeight}}" />
<input id="p_selected_pic_w" type="hidden" value="{{marker.rectWidth}}" />
<input id="p_selected_pic_x" type="hidden" value="{{marker.rectX}}" />
<input id="p_selected_pic_y" type="hidden" value="{{marker.rectY}}" />
<input id="mask_x" type="hidden" value="{{marker.maskX}}" />
<input id="mask_y" type="hidden" value="{{marker.maskY}}" />
<input id="mask_p_x" type="hidden" value="{{pivot_position.mask_p_x}}" />
<input id="mask_p_y" type="hidden" value="{{pivot_position.mask_p_y}}" />
<input id="img_path_paper" type="hidden" value="{{marker.SvgPaths}}" />
<input id="img_path_json" type="hidden" value="{{marker.markerJson}}" />
<input id="default_marker_json" type="hidden" value="{{marker.defaultMarkerJson}}" />
<input id="default_marker_svg" type="hidden" value="{{marker.defaultMarkerSvg}}" />
<input id="marker_update_url" type="hidden" value="{{ path('support_archive_save_marker')}}" />{#path('user_maker_save')#}

<input type="hidden" id="oldtime" value="" data-value=""  />
<!--<button id="start">Start</button>-->
<input type="hidden" id="newtime" value="" data-value=""  />
<input type="hidden" class="diff" value="" data-value=""  />

<!-- Mask Creation with body parts -->

<input id="dm_body_parts_details_json" type="hidden" value="{{ bra_size_body_shape }}" />
<input id="user_bust_px" type="hidden" value="392" />
<input id="user_waist_px" type="hidden" value="319" />
<input id="user_hip_px" type="hidden" value="424" />

<!-- /Mask Creation with body parts -->

<input id="btn_send_params" type="hidden" value="send" />

<input id="shoulder_height" type="hidden" value="" />
<input id="hip_height" type="hidden" value="" />
<input id="image_actions" type="hidden" value="{{marker.imageActions}}" />
<input type="hidden" id="hdn_user_cropped_image_url" value="{{ asset(archive.getWebPath('original'))}}"/>
<input type="hidden" id="archive_active_img_url" value="{% if (archive.getRetouchImage())%}{{ asset(archive.getRetouchWebPath()) ~ "/" ~ archive.getRetouchImage()}} {%endif%}"/>

<div id="default_user_path" style="display:none;">{{default_marker.SvgPaths}}</div>


<div id="page_wrap">
    <div id="loading_bar">
        <img src="{{ asset('bundles/lovethatfit/site/images/uploading.gif') }}" />
     </div>
</div>
<div class="navigation1" id="cavnas_nav">
    <a id="centerline">Center Line</a>
    <a id="showHide">Index</a>
    <a class="nav_menu" onClick="move_left();">Left</a>
    <a class="nav_menu" onClick="move_right();">Right</a>
    <a class="nav_menu" onClick="move_up();">Up</a>
    <a class="nav_menu" onClick="move_down();">Down</a>
    <a class="nav_menu" onClick="rotate_left();">Rotate Left</a>
    <a class="nav_menu" onClick="rotate_right();">Rotate Right</a>
    <a onClick="zoom_in();">Zoom In</a>
    <a onClick="zoom_out();">Zoom Out</a>
    <a id="end"  onClick="save();">Save</a>
    <a class="reset_mask" href="{{ path('support_user_profile_archives', {'user_id':entity.id, 'archive_id': archive.id, 'mode': 'refresh'}) }} " title="refresh mask">Reset Mask</a>
    <span id="activate_btn">
        <a href='#' id='btn_confirm' name='btn_confirm'>Confirm & Activate</a>
    <input type="hidden" value="{{ path('support_archive_to_live', {'archive_id': archive.id}) }}" id="archive_to_live_url">
     {% if (archives is defined)%}
         <input type="hidden" value="{{ path('support_user_profile_archives', {'user_id':entity.id, 'archive_id': archive.id}) }}" id="redirect_url">
     {% else %}
         <input type="hidden" value="{{ path('support_pending_user') }}" id="redirect_url">
     {% endif %}
    </span>
   
   {##}
    {#<a id="retuchImage">Toggle Image</a>#}
</div>
<div class="container_pending">
    <div id="dimpop"></div>
    <div id="rej_popup">
        <div class="rej_cross_btn">x</div>
<span>Are you sure you want to reject this image?</span>
        <form method="post" action="">
            <span id="inst">Mention the reason below:</span>
            <textarea rows="4" cols="4" name="rej_comments" id="rej_comments"></textarea>
            <input type="button" value="Submit" id="comment_btn">
            <input type="Reset" value="Reset">
        </form>
    </div>
    <div class="row">
{% if (user_image_spec)%}
        <div class="span3 firstnav bs-docs-sidebar sidebar_inline" style="min-height:900px;">
            <!-- left panel-->
            <div>
                <div class="admin_logo"><img src="{{ asset('bundles/lovethatfit/site/images/logo_admin.png') }}" title="SelfieStyler"></div>
                <div class="login_person">Logged in as: {% if app.user %}
                         {{ app.user.username }} {#<a href="#" class="navbar-link"></a>#}
                    {% endif %}</div>
            </div>

            <div style="clear: both;"></div>

<hr class="black">
            <h5>ACCOUNT INFO:</h5>
            <div><span>Email:</span>{{entity.email}}</div>
            <div><span>Member Name:</span>{{entity.fullName}}</div>
            <div><span>Member id:</span>{{entity.id}}</div>
            <hr class="black">
            <h5>CAMERA INFO:</h5>
    
    <div><span>Camera angle:</span>{{user_image_spec.cameraAngle}}</div>
    <div><span>Camera x:</span>{{user_image_spec.cameraX}}</div>
    <div><span>Displacement x:</span>{{user_image_spec.displacementX}}</div>
    <div><span>Displacement y:</span>{{user_image_spec.displacementY}}</div>
    <div><span>Rotation:</span>{{user_image_spec.rotation}}</div>
    <!--<div><span>Device Type:</span>{{user_image_spec.deviceType}}</div>
    <div><span>Device Model:</span>{{device_model}}</div>
    <div><span>Mode:</span>{{edit_type}}</div>-->
   
    {% if (archives is defined)%}
        <hr class="black">
   <h5>Archives:</h5>
        <div class="archives">
            {% for a in archives %}
                    <span>
                            <a href="{{ path('support_user_profile_archives', {'user_id': entity.id, 'archive_id': a.id}) }}" title="Adjust Mass Marker">
                            {% if (a.status==-1)%}
                                {% set image_name = asset(a.getWebPath('original')) %}
                                {%  if(original_file_code in image_name) %}
                                    <span class="active"><img class="img-thumb" src="{{ asset(a.getWebPath('original'))}}"/></span>
                                {%else%}
                                <span><img class="img-thumb" src="{{ asset(a.getWebPath('original'))}}"/></span>
                                {%endif%}
                            {%else%}
                                {% set image_name = asset(a.getWebPath('cropped')) %}
                                {%  if(original_file_code in image_name) %}
                                     <span class="active"><img class="img-thumb" src="{{ asset(a.getWebPath('cropped'))}}"/>
                                {%else%}
                                    <span><img class="img-thumb" src="{{ asset(a.getWebPath('cropped'))}}"/></span>
                                {%endif%}
                            {%endif%}
                            </a>
                        </span>
            {% endfor %}
        </div>
    {%else%}
    <div>
        <a class="rest-mask" href="{{ path('support_pending_user_show', {'archive_id': archive.id, 'mode': 'refresh'}) }}" title="refresh mask">Reset Mask</a>
    </div>
    {% endif %}



   {#<hr class="black">#}
   
    <div class="retouch_box">
         <h5>Retouch Images:</h5>
        <div style="padding-left:0px !important; margin-bottom: 5px;clear:both;"><span><h7>Download Original Image:</h7></span></div>
        <span><img class="img-thumb" src="{{ asset(archive.getWebPath('original'))}}"/></span><span style="margin-left:5px;"><a href="{{ asset(archive.getWebPath('original'))}}" target="_blank" style="display: inline-block !important; padding: 5px 8px; cursor: pointer; color: #fff; background: #000; text-decoration: none;">Download Image</a></span>
        <div style="margin-bottom: 10px;clear:both;"></div>

        <div style="padding-left:0px !important; margin-bottom: 10px;clear:both;"><span><h7>Upload Retouch Image:</h7></span></div>
        <form id="frmUploadImage" name="frmUploadImage" action="{{ path('support_user_retouch_image', {'user_id':entity.id, 'archive_id': archive.id})}}" method="post" enctype="multipart/form-data"  class="form-horizontal">
            <input type="file" id="upl_user_retouch" name="upl_user_retouch" accept=".png" required>
            <input type="hidden" id="upl_image_update_url" name="upl_image_update_url" value="{{ path('support_archive_image_update')}}"/>
            <input type="hidden" id="upl_user_original_image_url" name="upl_user_original_image_url" value="{{ asset(archive.getWebPath('original'))}}"/>
            <input type="hidden" id="upl_entity_id" name="upl_entity_id" value="{{entity.id}}"/>
            <input type="hidden" id="count_retouch" name="count_retouch" value="{{retouch_filecount}}"/>
            <input type="hidden" id="upl_archive_id" name="upl_archive_id" value="{{archive.id}}"/>
            <input type="submit" id="upl_submit" class="black_btn" name="upl_submit" value="Upload">
        </form>

        <div style="margin-bottom: 10px;clear:both;"></div>
        <style>
.ui-tooltip {
    text-align: center;
    padding: 0;
    margin:0;
     background:#000 !important;
     font-size:11px;
    border:none !important;
    box-shadow:none;
   
}
.ui-tooltip-content {
    position: relative;
    background:#000 !important;
    color:#ffffff;
    padding:2px;
     -webkit-border-radius:8px;
     -moz-border-radius:8px;
     border-radius:8px;
     border:1px solid #000000;
     font-size:11px;
}
.ui-tooltip-content::after, .ui-tooltip-content::before {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    left: 70px;
    
}
.bottom .ui-tooltip-content::before {
    bottom: -18px;
    border-color: #000000 transparent;
    border-width: 10px 10px 0;
}
.bottom .ui-tooltip-content::after {
    bottom: -7px;
    border-color: #000 transparent;
    border-width: 10px 10px 0;
}

            ul.retouch_imgs li{ list-style: none; display:inline-block; border:2px solid #ccc;}
            .archives span{ padding:0 !important; margin:0 !important;}
            .oprangsldr{ width: 100px;display:inline-block; height:2px !important; background:#666666!important; margin-top:25px; }
            .oprangsldr span{ background: #000000 !important; border:none; width:2px; height:2px; border-radius:100%; top:-9px !important; }
            .img-thumb{width: 50px; height:55px;}
             .archives span.active {
                padding-bottom:3px;
                border:1px solid #000000;
                position:relative;
                padding:5px !important;
                background:#dddddd;
                border-bottom:none;
             }
             
             ul.retouch_imgs li.active{
                 border:2px solid #000000;
             }  
             .optooltip{
                 background:#000000;
                 color:#ffffff;
                 position:relative;
                 padding:3px 6px;
                font-size:11px;
                 -webkit-border-radius:5px;
                 -moz-border-radius:5px;
                  border-radius:5px;
             }
             .optooltip:after{
                content: '';
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #000000;
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                margin: auto;
             }
             .retouch_box{ background:#dddddd; margin:-4px 0 0px 5px; border-top:1px solid #000000; }
             .black_btn{ margin:4px;}
    {#img:before{
        position: absolute; 
        top:0; 
        content:"\f058";
        font-size: 12px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }#}
   
    
        </style>
        <input type="hidden" id="selected_retouch_image" name="selected_retouch_image" value="{{ archive.getRetouchImage() }}" />
        <ul id="retouchImages" class="retouch_imgs">   
            {% if(retouch_filecount) %}
                {% for retouch_count in 1..retouch_filecount %}
                    <li {% if(archive.getRetouchImage() == retouch_filename ~ '_' ~ retouch_count ~ '.png') %} class='active' {% endif %}>
                      <input type="hidden" value="{{ asset(archive.getRetouchWebPath()) ~ "/" ~ retouch_filename ~ '_' ~ retouch_count ~ '.png'}}">
                        {#<a href="" title="Adjust Mass Marker">#}
                        {% set filename = retouch_filename ~ '_' ~ retouch_count %}
                             <img class="img-thumb" style="cursor:pointer;" src="{{ asset(archive.getRetouchWebPath()) ~ "/" ~ retouch_filename ~ '_' ~ retouch_count ~ '.png'}}" data-toggle="tooltip"   title="{{ retouch_file_time[filename] }}" />
{#                        </a>#}
                    </li>
                {% endfor %}
            {% endif %}
        <ul>     
            <br style="clear:both"/>
    </div>

</div>
{% else%}
<div>image info not available</div>
{% endif %}



  <!-- left panel-->

<!-- svg path saved two times???-->

<form id="frmUserImage" action="{{ path('registration_step_four_create', { 'id': entity.id })}}" method="post" {{ form_enctype(form) }} onsubmit="return validateStepFourImageName();">
                <input type="hidden" id="hdn_serverpath" value="{{asset('')}}"/>
                <input type="hidden" id="hdn_image_update_url" value="{{ path('support_archive_image_update')}}"/>
                <input type="hidden" id="hdn_inner_site_index_url" value="{{ path('inner_site_index')}}"/>
                <input type="hidden" id="hdn_user_original_image_url" value="{{ asset(entity.getOriginalImageWebPath)}}"/>
                <input type="hidden" id="hdn_entity_id" value="{{entity.id}}"/>
                </form>
              
<div class="span8 maindiv" style="position:relative; top:80px;">
<div class="span8">

{% if (device_type == "iphone5")%}
<div class="txt_center"><canvas id="canv_mask" style="width:960px; height: 1280px; position: relative;"></canvas>
 <div class="rej_img">
        <a href="#">Reject Image</a>
    </div>
    <div class="approve_img">
        <a href="#">Approve Image</a>
    </div>
    <i class="fa fa-clock-o clk_img" aria-hidden="true"></i>
</div>
{% endif %}
{% if (device_type == "iphone6")%}
     <div style="position:relative; text-align:center; min-height:42px;float:right;">
        <!--clock !-->
        <ul class="imagemenu">
            <li><div class="rej_img"><a href="#">Reject Image</a></div></li>
            <li><div class="approve_img"><a href="#">Approve Image</a></div></li>
        </ul> 
        
    </div>
     
        <div style="text-align: right;padding-right: 25%;"><i class="fa fa-clock-o clk_img" aria-hidden="true"></i></div>
<div class="txt_center canv_hldr_2">
    
    <div style="text-align:left;text-align: left;display: flex;">
       <button type="button" id="editOriginal" class="black_btn tools" style="display:none;">Edit Original</button>
        <button type="button" id="compare" class="black_btn tools" style="display:none;">Compare</button>
        <button type="button" id="toggleimg" class="black_btn tools" style="display:none;">Toggle Image</button>
      <div id="opSlider" class="oprangsldr tools" ></div>
      
     </div>
    <canvas id="canv_mask_makeover" class="mask-marker-canvas" width="960" height="1280"></canvas>
   
</div>
{% endif %}
</div>
</div>
    {%if (edit_type=='edit' or ( mode is defined and mode) )%}
        <div class="row">
       <!-- <h5>Measurement Comparision</h5>-->
        <div class="span3 newh">
            <div class="nav_btns" style="background:none!important; padding:0px!important;"></div>
       
        </div>
        </div>
    {%endif%}
        </div>
    </div>
<link href="{{ asset('bundles/lovethatfit/site/css/device_view_styles.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/paper.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/mask_makeover/mask_makeover_support.js?time='~ date().timestamp) }}"></script>
<script>
function put_archive_to_live() {
    var archive_to_live_url = $("#archive_to_live_url").val();
    var redirect_url = $("#redirect_url").val();
        $.ajax({
             url: archive_to_live_url
             ,success: function(response) {
                window.location=redirect_url;
             }
          });

      return false;
    }
function endtimer(){
        console.log("Chal gaya!");
        $("#newtime").val(timer());
        $(this).attr('disabled','disabled');
        $time = diff();
        var $archiveId = $("#hdn_archive_id").val();
        var $suppEmail = $("#entity_email").val();
        var $suppName = $("#support_user_name").val();
        var absoluteurl = window.location.origin;

        $.ajax({
            url: absoluteurl+'/ws/support_task_log/add',
            type: 'POST',
            data: {member_email:$suppEmail ,support_user_name:$suppName, duration:$time, log_type:"calibration", archive:$archiveId},
            success: function (response) {
               // alert("All Done! - Reloading...");

                                    var curr_url = window.location + '';
                                    //questionText = questionText.replace(/[0-9]/g, '');

                                    curr_url_array = curr_url.split('/');                                    
                                    if(curr_url_array[curr_url_array.length - 1] == 'refresh#' || curr_url_array[curr_url_array.length - 1] == 'refresh'){                                        
                                            curr_url = curr_url.split('/refresh#')[0];
                                            var reload_url = curr_url.slice(0, curr_url.lastIndexOf('/'));
                                            window.location.assign(reload_url);
                                    }else{
                                        window.location.reload();
                            }
            },
            error: function () {
               // alert("Please press save button");
            }
        });
        
        $('.rej_img').show();
        $('.approve_img').show();
        $('.clk_img').hide();

    }
function timer(){
        var timeStamp = Math.floor(Date.now());
        return timeStamp;
    }
function diff(){
        var newVal = $("#newtime").val();
        var oldVal = $("#oldtime").val();
        var result = Math.ceil((newVal - oldVal) / 1000);
        $(".diff").html(result);
        return result;
    }
function me_triggered(){
        //window.location.href = window.location.href + "#camera";
        alert(window.location.href);
    } 
$(document).ready(function(){
    //archive show date and time on Mouseover
     $('[data-toggle="tooltip"]').tooltip({
         position: {
        my: "center bottom",
        at: "center top-10",
        collision: "flip",
        using: function( position, feedback ) {
            $( this ).addClass( feedback.vertical )
                .css( position );
        }
    }
     }); 
   {# $("#retouchImages li img").each(function(){
        $(this).on('mosueover',function(){
            var retouchDateTime = $(this).attr("data-time").val();
                alert(retouchDateTime);
        });
    });#}
    
    
    //archive toggle function trigger on click of selector
        $('#toggleimg').click(function(){
             toggleimg();
             $("#opSlider, .nav_menu").toggle();
        });
   //archive show original images and hide some selectors  
  $("#editOriginal").on('click',function(){
       showOriginal();
       $(".nav_menu, #end, #btn_confirm, .reset_mask").show();
        //$("#end, #btn_confirm, .reset_mask").show();
        $("#toggleimg, #opSlider, #editOriginal, #compare").hide();
      
        $("#compare").text("Compare").removeClass("yes_compare");
        $("#retouchImages li").each(function(){
           if($(this).hasClass('active')){ 
               $(this).removeClass('active');
               $(this).addClass('notActive');
           }
       });
    });      
    //archive hide compare button and  and some elements with tool class
    $("#compare").hide();
    $(".tools").hide();
    $("#compare").on('click',function(){
        $(".tools").show();
        $(".nav_menu").hide();
        init_compare();
    });
  //archive end
  
    $("#comment_btn").click(function(){
        var $mem_email = $("#entity_email").val();
        var $member_comments = $("#rej_comments").val();
            var $revert_status = $('#admin_update_status').val();
        $.ajax({
            //url: '../../../ws/image_approval',
            url:"{{ path('ws_image_approval') }}",
            type: 'POST',
            //$mem_email
            data: {member_email:$mem_email ,comment:$member_comments, caliboration_status:'reject'},
            success: function (response) {
                alert("Your comment has been sent successfully");
                $('#rej_comments').val('');
                $('#dimpop').hide();
                $('#rej_popup').hide();
                 window.location= $revert_status;
            },
            error: function () {
                alert("Please press end button");
            }
        });
    });
      //alert($docu);
   var $height = $(window).height();

    $(".newh").css({"position":"absolute","right":"10px","top":"530px"});
   $(".container_pending .firstnav").css({"height":$height+"px"});
   var $heightt = $(window).height();
   var $heightt = $heightt;
   $(".maindiv").css({"height":$heightt+"px"});

    $('.approve_img').click(function(){
      $('.clk_img').show();
      $('.rej_img').hide();
        $('.approve_img').hide();
    });

    $('.rej_cross_btn').click(function(){
        $('#dimpop').hide();
        $('#rej_popup').hide();
    });

    $('.rej_img').click(function(){
        $('#dimpop').show();
        $('#rej_popup').show();

    });
 $("#showHide").click(function() { 
        return (this.tog = !this.tog) ? show_index_numbers() :  remove_index_numbers();
    });

var baseUrl = window.location.origin;
var imgUrl;
var $activeImg = $("#archive_active_img_url");
 if($activeImg.val() != ""){
     $("#compare, #editOriginal").show();
    var actUrl = baseUrl+$activeImg.val();
        showImag(actUrl);
         $(".nav_menu").hide();
         } 
   var tooltip = $('<div class="optooltip" id="tooltip" />').css({
    position: 'absolute',
    top: -34,
    left: -5
}).html('1').hide();
$("#end, #btn_confirm").show();

$("#compare").click(function(){
    $("#compare").toggleClass("yes_compare");
        if($(this).hasClass("yes_compare")){
            $(this).html("Exit Compare");
            $("#end, #btn_confirm, .reset_mask").hide();
            $("#toggleimg, #opSlider").show();
        }else{
            $(this).html("Compare");
            $("#end, #btn_confirm, .reset_mask").show();
            $("#toggleimg, #opSlider").hide();
            changeOpacity(opacity=1);
            $("#opSlider").slider('value', $("#opSlider").slider('value') + 1);
            $("#tooltip").html(1);
        }
  
 {#  if($(this).haseClass("compare")){
       $(this).html("Exit Compare");
       $("#end, #btn_confirm").hide();
   }else{
       $(this).html("Compare");
       $("#end, #btn_confirm").show(); 
   }
   #}
 //
// 
});

$("#retouchImages li img").each(function(){
       $(this).click(function(){
                $("#compare, #editOriginal").show();
                zoom_out();
                $("#retouchImages li").removeClass("active");
                retuch_url = $(this).parent().find('input').attr("value");
                $activeImg.val(retuch_url);
                var imgUrl = baseUrl+retuch_url;
                showImag(imgUrl);
                $("#compare").prop('disabled', false);
                $(this).closest('li').addClass("active");
                $(".nav_menu").hide();
                // change opacity on click and show slider
                $("#opSlider").slider('value', $("#opSlider").slider('value') + 1);
                $("#tooltip").html(1);
                return false;
           });
       
        });
          
          
$("#retouchImages li input").each(function(){
               $chkUrl = $(this).val();
               if($chkUrl == $activeImg.val()){
                  $(this).closest('li').addClass("active");
                  
               }
              

 $('#opSlider').slider({ 
        min: 0, 
        max: 1, 
        step: 0.1, 
        value:1, 
        animate: true,
        slide: function( event, ui) {
                  changeOpacity(ui.value);
                  tooltip.text(ui.value);
               },
                change: function(event, ui) {}
                
        }).find(".ui-slider-handle").append(tooltip).hover(function(){
            tooltip.show();
        }, function() {
            tooltip.hide();
        });
    });       
{#$( function() {
    $( "#opSlider" ).slider();
    });#}
  

    
    $("#centerline").click(function() { 
        return (this.tog = !this.tog) ? showLine() :  removeLine();
    });
    
 $( "#btn_confirm" ).click(function() {
   var strconfirm = confirm("Are you sure mask is saved?");
   if (strconfirm == true)
            {
                put_archive_to_live();
            }
 //alert('hi');

});
 $(".clk_img").click(function(){
 $("#oldtime").val(timer());
 $(this).css({'color':'red'});
        //$(this).hide();
    });
 
       //comment funciton copy from backup file   
      

});	
    </script>
{% endblock %}