<div id="pro_sizes_wrapper">  
    <h2> Product Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>
{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>
{% endif %}
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="retailor_pro_size">
    {% for key, value in size_measurements %}                    
                {% if (value['exists'])%}                  
                <tr>
                    <td class="retailor_det_key">{{value['measurement']['title']|capitalize |replace({'_': ' ', '_': " "}) }}                   
                        <div class="retailer_edt">
                            <a href="{{ path('admin_product_size_measurement_edit', {'id':id,'measurement_id':value['measurement']['id'],'size_id':size_id,'title':key}) }}" class="btn"> Edit</a>
                            <a href="#myModaldetail{{value['measurement']['id']}}" title="Delete {{key}}" role="button" data-toggle="modal" class="btn">Delete</a>
                            <div id="myModaldetail{{value['measurement']['id']}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Product</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Product Size Measurement <b>{{key}}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_product_size_measurement_delete', {'id':id,'measurement_id':value['measurement']['id'],'size_id':size_id,'title':key}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>        

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>                      
                        <table cellpadding="5" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td width="20%">Garment Measurement Flat:</td>
                                <td>{{value['measurement']['garment_measurement_flat'] }}</td>
                                <td width="20%">&nbsp;</td>
                                <td width="20%">Max Body Measurement :</td>
                                <td>{{value['measurement']['max_body_measurement'] }}</td>
                            </tr>                           
                            <tr>
                                <td>Vertical Stretch :</td>
                                <td>{{value['measurement']['vertical_stretch'] }}</td>
                                <td>&nbsp;</td>
                                <td>Horizontal Stretch :</td>
                                <td>{{value['measurement']['horizontal_stretch'] }}</td>
                            </tr>                            
                             <tr>
                                <td>Stretch Type Percentage :</td>
                                <td>{{value['measurement']['stretch_type_percentage'] }}</td>
                                <td>&nbsp;</td>
                                <td>Ideal Body Size High :</td>
                                <td>{{value['measurement']['ideal_body_size_high'] }}</td>
                            </tr>                            
                            <tr>
                                <td>Ideal Body Size Low :</td>
                                <td>{{value['measurement']['ideal_body_size_low'] }}</td>
                                 <td>&nbsp;</td>
                                 <td>&nbsp;</td>
                                 <td>&nbsp;</td>                                
                            </tr>
                            <tr>
                                <td>Garment Measurement Stretch Fit :</td>
                                <td>{{value['measurement']['garment_measurement_stretch_fit'] }}</td>
                                 <td>&nbsp;</td>
                                 <td>&nbsp;</td>
                                 <td>&nbsp;</td>                                
                            </tr>
                        </table>      
                    </td>
                </tr>                
                {% else %}
        <tr>
            <td class="retailor_det_key" >{{key|capitalize |replace({'_': ' ', '_': " "}) }}        
                <div style="float:right;"><a href="{{ path('admin_product_detail_size_measurement_create', {'id':id,'size_id':size_id,'title':key}) }}" class="btn">Add</a></div>
            </td>           
        </tr>      
        
                {% endif %}
        
</div>  
    {% endfor %}


<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Product Measurement Size</h3>
  </div>
  <div class="modal-body">
      <span id="{{ path('admin_product_size_measurement_create', {'id':id,'size_id':size_id}) }}" style="display:none;">{{ path('admin_product_size_measurement_create', {'id':id,'size_id':size_id}) }}</span>
  </div>
  </div>

<script>
$('[data-toggle="modal"]').click(function(e) {
  e.preventDefault();
 var url= $('#admin_product_size_measurement_create').text();  
  $.get(url, function(data) {
      $(data).modal();
  });
});
    </script>
            </table>
        </div>