<div id="pro_clr"> 
    <h2> Product Items</h2>
    
    <table style="width:50%">

        <div class="row-fluid show-grid p_title">

            <div class="span2 hds"><b>Line Number</b></div>
            <div class="span2 hds"><b>Size</b></div>
            <div class="span2 hds"><b>Color</b></div>
            <div class="span2 hds"><b>Fitting Room</b></div>
            <div class="span2 hds"></div>

        </div>

    {% for pi in product.productItems %}  


    {% if item_id is defined and item_id and item_id == pi.id %}
        <form action="{{ path('admin_product_detail_item_update',{"id":product.id, "item_id":pi.id}) }}" method="post" {{ form_enctype(itemform) }}>
                                 {{ form_errors(itemform) }}


                <div class="row-fluid show-grid p_title">

                    <div class="span2">{{ form_widget(itemform.line_number) }}{{ form_errors(itemform.line_number) }}</div>

                    <div class="span2">{{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2">{{ form_widget(itemform.file) }}{{ form_errors(itemform.file) }}</div>
              {{ form_rest(itemform) }}
                    <div class="span2"> <input type="submit" value="SAVE" class="btn"/>
                     <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                    </div>
                </div>

         {% else %}

                <div class="row-fluid show-grid p_title">


                    <div class="span2">{{pi.lineNumber}}</div>
                    <div class="span2">{{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2"><img src="{{ asset(pi.WebPath) }}"/></div>

                    <div class="span2">
                        <a href='{{path("admin_product_detail_item_edit",{"id":product.id, "item_id":pi.id})}}' class="btn">Edit</a>
                        <a href='{{path("admin_product_detail_item_delete",{"id":product.id, "item_id":pi.id})}}' class="btn">Delete</a>

                    </div>

                </div>

                             {% endif %}
                             {%endfor%}
        </table>   
    </div>