<script>
function rawImageValidation(){
   var extensions = new Array("jpg","jpeg","gif","png","bmp","png");

var image_file = document.getElementById('raw_image_id').value;
var image_length = document.getElementById('raw_image_id').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}
}
alert("Please Upload Valid Format ..JPEG/PNG/GIF");
return false;

}
return true;
}
function validate()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('product_file').value;
var image_length = document.getElementById('product_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}
}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script> 
<style>
        #detail_wrapper .row-fluid .span2:not(.hds) {
    width: 15%;
}
#detail_wrapper .row-fluid .span2{
    width:15%;
}
</style>
<div id="pro_clr"> 
    <h2> Product Items</h2>
    
    <table style="width:50%">

        <div class="row-fluid show-grid p_title">
            <div class="span2 hds"><b>Size</b></div>
            <div class="span2 hds"><b>Color</b></div>
            <div class="span2 hds"><b>Fitting Room</b></div>
            <div class="span3 hds"></div>

        </div>

    {% for pi in productItems %}  


    {% if item_id is defined and item_id and item_id == pi.id %}
      <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
       
      <form action="{{ path('admin_product_detail_item_update',{"id":product.id, "item_id":pi.id}) }}" method="post" {{ form_enctype(itemform) }} onsubmit="return validate();" >
                                 {{ form_errors(itemform) }}
                <div class="row-fluid show-grid p_title">

                    <div class="span2">{{ form_widget(itemform.line_number) }}{{ form_errors(itemform.line_number) }}</div>
                    <div class="span2">{{pi.productSize.bodyType}}</div>
                    <div class="span2">{{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2">{{ form_widget(itemform.file) }}{{ form_errors(itemform.file) }}</div>
              {{ form_rest(itemform) }}
                    <div class="span2"> <input type="submit" value="SAVE" class="btn"/>                      
                        <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}#item" class="btn" name="item">Cancel</a>
                      <a href="#rawimage{{pi.id}}" role="button" data-toggle="modal" class="btn">Upload Raw Image</a>
                      {%if(pi.rawImage )%}
                      <a href="#rawimagedelete{{pi.id}}" role="button" data-toggle="modal" class="btn">Delete Raw Image</a>
                      {% endif %}
                    </div>
                </div>                
                
        </form>
      
     <div id="rawimage{{pi.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <form id="imageform" method="post" enctype="multipart/form-data" action="{{ path('admin_product_detail_item_raw_image_edit',{"id":product.id, "item_id":pi.id}) }}" onsubmit="return rawImageValidation();">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Upload Item Orginal Image</h3>
    </div>
    <div class="modal-body">
        <p>Image:</p>
        <div class="span2">{{ form_widget(itemrawimageform.file,{ 'id': 'raw_image_id' }) }}{{ form_errors(itemrawimageform.file) }}</div>
       {{ form_rest(itemrawimageform) }}
       
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <input type="submit" value="Upload" class="btn"  aria-hidden="true">
       
</form>
    </div>
</div>    
      
      
  
   <div id="rawimagedelete{{pi.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Product Raw Image </h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to Delete this Product <b>{{product.name }} Raw Image </b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a href="{{path("admin_product_detail_item_raw_image_delete",{"id":product.id, "item_id":pi.id})}}"  class="btn btn-primary">Delete</a>

    </div>
</div>   

      
      
      
      
         {% else %}

                <div class="row-fluid show-grid p_title">
                    <div class="span2">{{pi.productSize.bodyType}} {{pi.productSize.title}}</div>
                    <div class="span2">{{pi.productColor.title}}</div>
                    <div class="span2">
                        {%if(pi.image!='')%}
                          <img src="{{ asset(pi.WebPath) }}"/>   
                        {%else%}
                             No Image                   
                    {%endif%}
                    </div>
                  <div class="span2">
                   {%for pp in pi.productitempiece%}
                    <span>
                      {{pp.pieceType}}
                            <a href='{{path("admin_product_detail_item_two_piece_edit",{"id":product.id, "item_id":pi.id,'piece_id':pp.id})}}'><i class="icon-edit"></i></a>
                            <a href="#myModal3{{pp.id}}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                    </span>
                          
                          <div id="myModal3{{pp.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Product Item Piece</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to Delete this Product <b>{{product.name }} - Size {{pi.productSize.title}} Item  {{pp.pieceType}} Piece</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a href="{{path("admin_product_detail_item_two_piece_delete",{"id":product.id, "item_id":pi.id,'piece_id':pp.id})}}"  class="btn btn-primary">Delete</a>

    </div>
</div>
                    {%endfor%}                  
                  </div>
                    <div class="span2">
                        <a href="{{path("admin_product_detail_item_two_piece_new",{"id":product.id,"item_id":pi.id})}}" class="btn btn-primary btn-lg" >Add piece</a>
                       <a href='{{path("admin_product_detail_item_edit",{"id":product.id, "item_id":pi.id})}}#item' name="item"><i class="icon-edit"></i></a>
                       <a href="#myModal2{{pi.id}}" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                       {%if(pi.rawImage )%}
                       <a href="{{path("admin_product_detail_item_raw_image_download",{"id":product.id, "item_id":pi.id})}}" role="button" data-toggle="modal" class="icon-download-alt"></i></a>
                       {%endif%}                        

                    </div>

                </div>
                
    <div id="myModal2{{pi.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Product Item</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to Delete this Product <b>{{product.name }} - Size {{pi.productSize.title}} Item</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a href="{{path("admin_product_detail_item_delete",{"id":product.id, "item_id":pi.id})}}"  class="btn btn-primary">Delete</a>

    </div>
</div>   

                
                  
                
             
                             {% endif %}
                             {%endfor%}
        </table>   
    </div>