<div id="pro_sizes_wrapper">  
    <h2> Product Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>

{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>

{% endif %}
{% if product.clothingType.target =='Top' and product.gender =='M' %}  
            <table style="width:50%">
                <div class="row-fluid show-grid p_title">

                    <div class="span1 hds"><b>Title</b></div>
                    <div class="span1 hds"><b>Neck</b></div>
                    <div class="span1 hds"><b>Sleeve</b></div>
                    <div class="span1 hds"><b>Chest</b></div>
                    <div class="span1 hds"><b>Back</b></div>
                    <div class="span1 hds"><b>Hem</b></div>
                    <div class="span1 hds"><b>Length</b></div>
                    <div class="span1 hds"><b>Waist</b></div>
                    <div class="span1 hds"></div>
                    <div class="span1 hds"></div>

                </div>




{% for ps in product.productSizes %}  

       {% if size_id is defined and  size_id and size_id == ps.id %}
                <form action="{{ path('admin_product_detail_size_update',{"id":product.id, "size_id":ps.id}) }}" method="post" {{ form_enctype(sizeform) }}>
                                 {{ form_errors(sizeform) }}


                        <div class="row-fluid show-grid p_title size_box">

                            <div class="span1 size_input">{{ ps.title }}</div>
                            
                            <div class="span1 size_input">
                                <span class="minlable">min</span>
                           {{ form_widget(sizeform.neck_min) }}{{ form_errors(sizeform.neck_min) }}
                           -
                           <span class="minlable">max</span>
                          {{ form_widget(sizeform.neck_max) }}{{ form_errors(sizeform.neck_max) }}
                            </div>
                            
                            <div class="span1 size_input">
                                <span class="minlable">min</span>
                            {{ form_widget(sizeform.sleeve_min) }}{{ form_errors(sizeform.sleeve_min) }}
                               -
                               <span class="minlable">max</span>
                            {{ form_widget(sizeform.sleeve_max) }}{{ form_errors(sizeform.sleeve_max) }}
                            </div>
                            
                            <div class="span1 size_input">
                                <span class="minlable">min</span>
                            {{ form_widget(sizeform.chest_min) }}{{ form_errors(sizeform.chest_min) }}
                                -
                                <span class="minlable">max</span>
                              {{ form_widget(sizeform.chest_max) }}{{ form_errors(sizeform.chest_max) }}    
                            </div>
                          
                            
                            <div class="span1 size_input">
                            <span class="minlable">min</span>
                            {{ form_widget(sizeform.back_min) }}{{ form_errors(sizeform.back_min) }}
                               -
                               <span class="minlable">max</span>
                              {{ form_widget(sizeform.back_max) }}{{ form_errors(sizeform.back_max) }}  
                            </div>
                            
                            
                            <div class="span1 size_input">{{ form_widget(sizeform.hem) }}{{ form_errors(sizeform.hem) }}</div>
                            
                            <div class="span1 size_input">{{ form_widget(sizeform.length) }}{{ form_errors(sizeform.length) }}</div>
                            
                            <div class="span1 size_input">
                                <span class="minlable">min</span>
                           {{ form_widget(sizeform.waist_min) }}{{ form_errors(sizeform.waist_min) }}
                                 -
                                 <span class="minlable">max</span>
                            {{ form_widget(sizeform.waist_max) }}{{ form_errors(sizeform.waist_max) }}        
                            </div>
                            
                            
                            
                            <div class="span2">
                                <input type="submit" value="SAVE" class="btn"/>
                                <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn" style="margin-left:0px;">Cancel</a>
                            </div> 
                            
                          
                            
                             
                            
                            

                        </div>                        

                        {{ form_rest(sizeform) }}
                    </form>  
{% else %}

                    <div class="row-fluid show-grid p_title size_box">
                        <div class="span1">{{ps.title}}</div>
                        
                        <div class="span1">{{ps.neckMin}} &nbsp;-&nbsp;{{ps.neckMax}}</div>
                       
                        
                        <div class="span1">{{ps.sleeveMin}} &nbsp;-&nbsp;{{ps.sleeveMax}}</div>
                        
                        <div class="span1">{{ps.chestMin}} &nbsp;-&nbsp;{{ps.ChestMax}}</div>
                        
                        <div class="span1">{{ps.backMin}} &nbsp; -&nbsp;{{ps.backMax}}</div>
                        
                        <div class="span1">{{ps.hem}}</div>
                        
                        <div class="span1">{{ps.length}}</div>
                        
                        
                        <div class="span1">{{ps.waistMin}} &nbsp; -&nbsp;{{ps.waistMax}}</div>
                        
                        
                        
                        <div class="span2">
                            <a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' class="btn">Edit</a>
                             <a href="#myModal11{{ps.id}}" role="button" data-toggle="modal" class="btn">Delete</a>
                            
                        </div> 
                        
                        
                        
                        
                        
                        
                        <div id="myModal11{{ps.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Delete Product</h3>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to Delete this Product <b>{{product.name }} Size</b>?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                <a href="{{path("admin_product_detail_size_delete",{"id":product.id, "size_id":ps.id})}}"  class="btn btn-primary">Delete</a>

                            </div>
                        </div>  
                    </div>
         {% endif %}
                         </table> 

{%endfor%}
                 
  {% elseif product.clothingType.target =='Top' and product.gender =='F' %}
                <table style="width:50%">
                    <div class="row-fluid show-grid p_title">

                         <div class="row-fluid show-grid p_title">

                    <div class="span1 hds"><b>Title</b></div>
                    <div class="span1 hds"><b>Bust</b></div>
                    <div class="span1 hds"><b>Sleeve</b></div>
                    <div class="span1 hds"><b>Hip</b></div>
                    <div class="span1 hds"><b>Back</b></div>
                    <div class="span1 hds"><b>Hem</b></div>
                    <div class="span1 hds"><b>Length</b></div>
                    <div class="span1 hds"><b>Waist</b></div>
                    <div class="span1 hds"></div>

                    </div>

{% for ps in product.productSizes %}  

       {% if size_id is defined and  size_id and size_id == ps.id %}
                        <form action="{{ path('admin_product_detail_size_update',{"id":product.id, "size_id":ps.id}) }}" method="post" {{ form_enctype(sizeform) }}>
                                 {{ form_errors(sizeform) }}

                                <div class="row-fluid show-grid p_title size_box">
                                <div class="row-fluid show-grid p_title">

                                    <div class="span1 size_input">{{ ps.title }}</div>
                            
                            <div class="span1 size_input">
                        {{ form_widget(sizeform.bust_min) }}{{ form_errors(sizeform.bust_min) }}
                               - 
                        {{ form_widget(sizeform.bust_max) }}{{ form_errors(sizeform.bust_max) }}
                          </div>
                            
                        <div class="span1 size_input">
                        {{ form_widget(sizeform.sleeve_min) }}{{ form_errors(sizeform.sleeve_min) }}
                                -
                       {{ form_widget(sizeform.sleeve_max) }}{{ form_errors(sizeform.sleeve_max) }}     
                        </div>
                                    
                        <div class="span1 size_input">
                        {{ form_widget(sizeform.hip_min) }}{{ form_errors(sizeform.hip_min) }}
                                -
                       {{ form_widget(sizeform.hip_max) }}{{ form_errors(sizeform.hip_max) }}     
                        </div>
                                    
                       <div class="span1 size_input">
                       {{ form_widget(sizeform.back_min) }}{{ form_errors(sizeform.back_min) }}
                               -
                       {{ form_widget(sizeform.back_max) }}{{ form_errors(sizeform.back_max) }}
                      </div>
                       <div class="span1 size_input">
                      {{ form_widget(sizeform.hem) }}{{ form_errors(sizeform.hem) }}
                    
                     </div>
                      <div class="span1 size_input">
                      {{ form_widget(sizeform.length) }}{{ form_errors(sizeform.length) }}
                    
                     </div>
                      <div class="span1 size_input">
                     {{ form_widget(sizeform.waist_min) }}{{ form_errors(sizeform.waist_min) }}
                              -
                      {{ form_widget(sizeform.waist_max) }}{{ form_errors(sizeform.waist_max) }}
                          </div>         
                                    <div class="span1">
                                        <input type="submit" value="SAVE" class="btn"/>
                                        <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                                    </div>  

                                    </div>
                                </div>                        
                                {{ form_rest(sizeform) }}

                            </form>  
{% else %}

                        <div class="row-fluid show-grid p_title">
                            <div class="span1">{{ps.title}}</div>                            
                            <div class="span1">{{ps.bustMin}}&nbsp;-&nbsp;{{ps.bustMax}}</div>
                            <div class="span1">{{ps.sleeveMin}} &nbsp; - &nbsp; {{ps.sleeveMax}}</div>
                            <div class="span1">{{ps.hipMin}} &nbsp; - &nbsp; {{ps.hipMax}}</div>
                            <div class="span1">{{ps.backMin}} &nbsp; - &nbsp; {{ps.backMax}}</div>
                            <div class="span1">{{ps.hem}}</div>
                            <div class="span1">{{ps.length}}</div>
                            <div class="span1">{{ps.waistMin}} &nbsp;- &nbsp;{{ps.waistMax}} </div>
                            <div class="span1">
                                <a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' class="btn">Edit</a>
                 <a href="#myModal11{{ps.id}}" role="button" data-toggle="modal" class="btn">Delete</a>


                            </div>              
                            <div id="myModal11{{ps.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Delete Product</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to Delete this Product <b>{{product.name }} Size</b>?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                    <a href="{{path("admin_product_detail_size_delete",{"id":product.id, "size_id":ps.id})}}"  class="btn btn-primary">Delete</a>

                                </div>
                            </div>   
                        </div>

                             {% endif %}
                        
                       
                        
                             {%endfor%}
                        
                    </table>      
  {% elseif product.clothingType.target =='Bottom' and product.gender =='M'  %}
                    <table style="width:50%">
                        <div class="row-fluid show-grid p_title">

                            <div class="span1 hds"><b>Title</b></div>
                            
                            <div class="span1 hds"><b>Waist</b></div>
                            <div class="span1 hds"><b>Inseam</b></div>
                            <div class="span1 hds"><b>Outseam</b></div>                           
                            <div class="span1 hds"><b>Hem</b></div>
                            <div class="span1 hds"><b>Thigh</b></div>
                            <div class="span1 hds"><b>Length</b></div>
                            
                            <div class="span1 hds"></div>
                         </div>

{% for ps in product.productSizes %}  

       {% if size_id is defined and  size_id and size_id == ps.id %}
                        <form action="{{ path('admin_product_detail_size_update',{"id":product.id, "size_id":ps.id}) }}" method="post" {{ form_enctype(sizeform) }}>
                                 {{ form_errors(sizeform) }}

<div class="row-fluid show-grid p_title size_box">
                                <div class="row-fluid show-grid p_title">

                                    <div class="span1 size_input">{{ ps.title }}</div>
                                    
                                    <div class="span1 size_input">
                                    {{ form_widget(sizeform.waist_min) }}{{ form_errors(sizeform.waist_min) }}
                                    -    
                                    {{ form_widget(sizeform.waist_max) }}{{ form_errors(sizeform.waist_max) }}
                                   </div>
                                  <div class="span1 size_input">
                                  {{ form_widget(sizeform.inseam_min) }}{{ form_errors(sizeform.inseam_min) }}
                                          -
                                 {{ form_widget(sizeform.inseam_max) }}{{ form_errors(sizeform.inseam_max) }}
                                  </div>
                                  <div class="span1 size_input">
                                 {{ form_widget(sizeform.outseam_min) }}{{ form_errors(sizeform.outseam_min) }}
                                -{{ form_widget(sizeform.outseam_max) }}{{ form_errors(sizeform.outseam_max) }}
                                  </div>                                   
                                    
                                     <div class="span1 size_input">{{ form_widget(sizeform.hem) }}{{ form_errors(sizeform.hem) }}</div>
                                    
                                    <div class="span1 size_input">{{ form_widget(sizeform.thigh) }}{{ form_errors(sizeform.thigh) }}</div> 
                                     <div class="span1 size_input">{{ form_widget(sizeform.length) }}{{ form_errors(sizeform.length) }}</div>
                                    
                                    
                                    
                                    
                                    <div class="span1">
                                        <input type="submit" value="SAVE" class="btn"/>
                                        <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                                    </div>  
                                </div>
                                </div>                        
                                  {{ form_rest(sizeform) }}


                            </form>  
{% else %}

                            <div class="row-fluid show-grid p_title">
                                <div class="span1">{{ps.title}}</div>
                                
                               
                                <div class="span1">{{ps.waistMin}}&nbsp;- &nbsp;{{ps.waistMax}}</div>
                                <div class="span1">{{ps.inseamMin}}&nbsp;- &nbsp;{{ps.inseamMax}}</div>
                                <div class="span1">{{ps.outseamMin}}&nbsp;- &nbsp;{{ps.outseamMax}}</div>
                                <div class="span1">{{ps.hipMin}}&nbsp;- &nbsp;{{ps.hipMax}}</div>
                                <div class="span1">{{ps.hem}}</div>
                                <div class="span1">{{ps. thigh}}</div>
                                <div class="span1">{{ps. length}}</div>
                                <div class="span1">
                                    <a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' class="btn">Edit</a>
                                    <a href="#myModal11{{ps.id}}" role="button" data-toggle="modal" class="btn">Delete</a>


                                </div>              
                                <div id="myModal11{{ps.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="myModalLabel">Delete Product</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to Delete this Product <b>{{product.name }} Size</b>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <a href="{{path("admin_product_detail_size_delete",{"id":product.id, "size_id":ps.id})}}"  class="btn btn-primary">Delete</a>

                                    </div>
                                </div>   
                            </div>

                             {% endif %}
                             {%endfor%}
                        </table>    
  
    
   {% elseif product.clothingType.target =='Bottom' and product.gender =='F' %}
                    <table style="width:50%">
                        <div class="row-fluid show-grid p_title">

                            <div class="span1 hds"><b>Title</b></div>
                            <div class="span1 hds"><b>Waist</b></div>
                            <div class="span1 hds"><b>Hip</b></div>
                            <div class="span1 hds"><b>Inseam</b></div>
                            <div class="span1 hds"><b>Outseam</b></div>
                            <div class="span1 hds"><b>Hem</b></div>
                            <div class="span1 hds"><b>Length</b></div>
                            <div class="span1 hds"><b>Thigh</b></div>
                            
                            <div class="span1 hds"></div>
                         </div>

{% for ps in product.productSizes %}  

       {% if size_id is defined and  size_id and size_id == ps.id %}
                        <form action="{{ path('admin_product_detail_size_update',{"id":product.id, "size_id":ps.id}) }}" method="post" {{ form_enctype(sizeform) }}>
                                 {{ form_errors(sizeform) }}

<div class="row-fluid show-grid p_title size_box">
                                <div class="row-fluid show-grid p_title">

                                    <div class="span1 size_input">{{ ps.title }}</div>
                                    
                                    <div class="span1 size_input">
                                   {{ form_widget(sizeform.waist_min) }}{{ form_errors(sizeform.waist_min) }}-
                                   {{ form_widget(sizeform.waist_max) }}{{ form_errors(sizeform.waist_max) }}
                                   </div>
                                    
                                    <div class="span1 size_input">
                                    {{ form_widget(sizeform.hip_min) }}{{ form_errors(sizeform.hip_min) }}-
                                    {{ form_widget(sizeform.hip_max) }}{{ form_errors(sizeform.hip_max) }}
                                    </div>
                                   
                                    <div class="span1 size_input">
                                   {{ form_widget(sizeform.inseam_min) }}{{ form_errors(sizeform.inseam_min) }}
                                        -
                                   {{ form_widget(sizeform.inseam_max) }}{{ form_errors(sizeform.inseam_max) }}
                                    </div>
                                   <div class="span1 size_input">
                                   {{ form_widget(sizeform.outseam_min) }}{{ form_errors(sizeform.outseam_min) }}
                                            -
                                   {{ form_widget(sizeform.outseam_max) }}{{ form_errors(sizeform.outseam_max) }}
                                   </div>
                                     <div class="span1 size_input">{{ form_widget(sizeform.hem) }}{{ form_errors(sizeform.hem) }}</div>
                                    
                                    <div class="span1 size_input">{{ form_widget(sizeform.length) }}{{ form_errors(sizeform.length) }}</div>
                                    <div class="span1 size_input">{{ form_widget(sizeform.thigh) }}{{ form_errors(sizeform.thigh) }}</div>
                                    
                                    <div class="span1">
                                        <input type="submit" value="SAVE" class="btn"/>
                                        <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                                    </div>  

                                </div>                        
                                  {{ form_rest(sizeform) }}

</div>
                            </form>  
{% else %}

                            <div class="row-fluid show-grid p_title">
                                <div class="span1">{{ps.title}}</div>
                                
                               
                                <div class="span1">{{ps.waistMin}}&nbsp;- &nbsp;{{ps.waistMax}}</div>
                                <div class="span1">{{ps.hipMin}}&nbsp;- &nbsp;{{ps.hipMax}}</div>
                                <div class="span1">{{ps.inseamMin}}&nbsp;- &nbsp;{{ps.inseamMax}}</div>
                                <div class="span1">{{ps.outseamMin}}&nbsp;- &nbsp;{{ps.outseamMax}}</div>
                                <div class="span1">{{ps.hem}}</div>
                                <div class="span1">{{ps. length}}</div>
                                <div class="span1">{{ps. thigh}}</div>                               
                                
                                <div class="span1">
                                    <a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' class="btn">Edit</a>
                                    <a href="#myModal11{{ps.id}}" role="button" data-toggle="modal" class="btn">Delete</a>


                                </div>              
                                <div id="myModal11{{ps.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="myModalLabel">Delete Product</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to Delete this Product <b>{{product.name }} Size</b>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <a href="{{path("admin_product_detail_size_delete",{"id":product.id, "size_id":ps.id})}}"  class="btn btn-primary">Delete</a>

                                    </div>
                                </div>   
                            </div>

                             {% endif %}
                             {%endfor%}
                        </table> 
    
   {% elseif product.clothingType.target =='Dress' and product.gender =='F'  %}
                    <table style="width:50%">
                        <div class="row-fluid show-grid p_title">

                            <div class="span1 hds"><b>Title</b></div>
                            
                            <div class="span1 hds"><b>Bust</b></div>
                            
                            <div class="span1 hds"><b>Hip</b></div>
                            
                            <div class="span1 hds"><b>Hem</b></div>
                            
                            <div class="span1 hds"><b>Length</b></div>
                            
                            <div class="span1 hds"><b>Back</b></div>
                            <div class="span1 hds"><b>Waist</b></div>
                            
                            <div class="span1 hds"><b>Sleeve</b></div>
                         </div>

{% for ps in product.productSizes %}  

       {% if size_id is defined and  size_id and size_id == ps.id %}
                        <form action="{{ path('admin_product_detail_size_update',{"id":product.id, "size_id":ps.id}) }}" method="post" {{ form_enctype(sizeform) }}>
                                 {{ form_errors(sizeform) }}

<div class="row-fluid show-grid p_title size_box">
                                <div class="row-fluid show-grid p_title">

                                    <div class="span1 size_input">{{ ps.title }}</div>
                                 
                                    <div class="span1 size_input">
                            {{ form_widget(sizeform.bust_min) }}{{ form_errors(sizeform.bust_min) }}
                                            -
                           {{ form_widget(sizeform.bust_max) }}{{ form_errors(sizeform.bust_max) }}
                                   </div>
                                   
                                <div class="span1 size_input">
                                {{ form_widget(sizeform.hip_min) }}{{ form_errors(sizeform.hip_min) }}
                                        -
                               {{ form_widget(sizeform.hip_max) }}{{ form_errors(sizeform.hip_max) }}
                                </div>
                                    
                                    <div class="span1 size_input">{{ form_widget(sizeform.hem) }}{{ form_errors(sizeform.hem) }}</div>
                                    
                                    <div class="span1 size_input">{{ form_widget(sizeform.length) }}{{ form_errors(sizeform.length) }}</div>
                                   
                            
                                    <div class="span1 size_input">
                                    {{ form_widget(sizeform.back_min) }}{{ form_errors(sizeform.back_min) }}
                                            -
                                    {{ form_widget(sizeform.back_max) }}{{ form_errors(sizeform.back_max) }}
                                     </div>
                                   
                                   <div class="span1 size_input">
                                   {{ form_widget(sizeform.waist_min) }}{{ form_errors(sizeform.waist_min) }}
                                       -
                                   {{ form_widget(sizeform.waist_max) }}{{ form_errors(sizeform.waist_max) }}
                                   </div>
                                    
                                    <div class="span1 size_input">
                                    {{ form_widget(sizeform.sleeve_min) }}{{ form_errors(sizeform.sleeve_min) }}
                                        -
                                    {{ form_widget(sizeform.sleeve_max) }}{{ form_errors(sizeform.sleeve_max) }}
                                    </div>
                                    
                                    <div class="span1">
                                        <input type="submit" value="SAVE" class="btn"/>
                                        <a href="{{ path('admin_product_detail_show',{'id':product.Id}) }}" class="btn">Cancel</a>
                                    </div>  

                                </div>                        
                                  {{ form_rest(sizeform) }}

    </div>
                            </form>  
{% else %}

                            <div class="row-fluid show-grid p_title">
                                <div class="span1">{{ps.title}}</div>
                                
                                
                                <div class="span1">{{ps.bustMin}}&nbsp;-&nbsp;{{ps.bustMax}}</div>
                                
                                <div class="span1">{{ps.hipMin}}&nbsp;-&nbsp;{{ps.hipMax}}</div>
                                <div class="span1">{{ps.hem}}</div>
                                <div class="span1">{{ps. length}}</div>
                               
                                <div class="span1">{{ps.backMin}}&nbsp;-&nbsp;{{ps.backMax}}</div>
                                <div class="span1">{{ps.waistMin}}&nbsp;-&nbsp;{{ps.waistMax}}</div>
                                <div class="span1">{{ps.sleeveMin}}&nbsp;-&nbsp;{{ps.sleeveMax}}</div>
                                
                                <div class="span1">
                                    <a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' class="btn">Edit</a>
                                    <a href="#myModal11{{ps.id}}" role="button" data-toggle="modal" class="btn">Delete</a>


                                </div>              
                                <div id="myModal11{{ps.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="myModalLabel">Delete Product</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to Delete this Product <b>{{product.name }} Size</b>?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <a href="{{path("admin_product_detail_size_delete",{"id":product.id, "size_id":ps.id})}}"  class="btn btn-primary">Delete</a>

                                    </div>
                                </div>   
                            </div>

                             {% endif %}
                             {%endfor%}
                        </table>     
  {% endif %}
                    </div>