<div id="pro_sizes_wrapper">  
    <h2>Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>

{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>

{% endif %}
<table style="width:20%">
     {%set petite=NULL %}
     {%set regular=NULL %}
     {%set tall=NULL %}
     {% set plus=NULL %}   
     {% set athletic=NULL %}   
    {% set portley=NULL %}   
    {% for ps in product.productSizes%} 
    {% if(ps.bodyType=="Petite")%}
        {% set  petite="Petite" %}
    {%endif%}      
    {% if(ps.bodyType=="Regular")%}
        {% set  regular="Regular" %}
    {%endif%}      
    {% if(ps.bodyType=="Tall")%}
        {% set  tall="Tall" %}
    {%endif%} 
    {% if(ps.bodyType=="Athletic")%}
        {% set  athletic="Athletic" %}
    {%endif%}     
    
        {% if(ps.bodyType=="Portley")%}
        {% set  portley="Portley" %}
    {%endif%}     
    
        {% if(ps.bodyType=="Plus")%}
        {% set  plus="Plus" %}
    {%endif%}     
    
    {%endfor%}    
        <br>{#~~~~~~~~~~~~~~~~ Petite ------------#}
<div class="span1">{{petite}}</div> 
{% for ps in product.productSizes%} 
 <div id="ret_pro_sizes">
 {% if(ps.bodyType=="Petite")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
  
{%endfor%}                        
<br>{#~~~~~~~~~~~~~~~~ Regular ------------#}         
<div class="span1">{{regular}}</div> 
{% for ps in product.productSizes%} 
 
 {% if(ps.bodyType=="Regular")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
 
{%endfor%}  
{#~~~~~~~~~~~~~~~~ Tall ------------#}
<div class="span1">{{tall}}</div> 
{% for ps in product.productSizes%} 
 
 {% if(ps.bodyType=="Tall")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
 
{%endfor%} 
{#~~~~~~~~~~~~~~~~ Plus ------------#}
<div class="span1">{{plus}}</div> 
{% for ps in product.productSizes%} 
 
 {% if(ps.bodyType=="Plus")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
 
{%endfor%} 

{#~~~~~~~~~~~~~~~~ Portley ------------#}
<div class="span1">{{portley}}</div> 
{% for ps in product.productSizes%} 
 
 {% if(ps.bodyType=="Portley")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
 
{%endfor%}  
{#~~~~~~~~~~~~~~~~ Athletic ------------#}
<div class="span1">{{athletic}}</div> 
{% for ps in product.productSizes%} 
 
 {% if(ps.bodyType=="Athletic")%}
<div class="span1">                        
                          
<a href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":ps.id})}}' >
{{ps.title}}
    </a>
</div>
  {%endif%}
 
{%endfor%}  
 </div>
                    </table> 
                    </div>
                    <div style="clear:both;"></div>