{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Products</li>
{% endblock %}



{% block body %}
  
<div class="p_listing">     
    <h1 style="float:left;">Products</h1>
 <div class="btn_wrapper">     
     <a href="{{ path('admin_product_new') }}" class="btn">Add New</a>
      </div>
     <div class="clearfix"></div> 
    <div class="bs-docs-grid">              

        <div class="row-fluid show-grid">
            <div class="span1 hds"><a href="{{  path('admin_products')~'/'~ 1~'/'~ per_page_limit~'/'~'id' }}" style=" text-decoration: none;"> ID</a></div>
            <div class="span1 hds"><a href="{{  path('admin_products')~'/'~ 1~'/'~ per_page_limit~'/'~'name' }}" style=" text-decoration: none;">Name</a></div>
            <div class="span1 hds"><a href="{{  path('admin_products')~'/'~ 1~'/'~ per_page_limit~'/'~'gender' }}" style=" text-decoration: none;">Gender</a></div>
            <div class="span1 hds"><a href="#_">Brand</a></div>
            <div class="span1 hds"><a href="#_">Type</a></div>
            <div class="span1 hds"><a href="#_">image</a></div>              
            <div class="span1 hds"></div>      
            
        </div>  

          {% for p in products %}

        <div class="row-fluid show-grid">
            <div class="span1">{{p.Id}}</div>
            <div class="span1">{{p.Name}}</div>
            <div class="span1">{{p.Gender}}</div>
            <div class="span1">{{p.Brand.Name}}</div>
            <div class="span1">{{p.ClothingType.Name}}</div>
            <div class="span1"><img src="{{ asset(p.WebPath) }}"/></div>
            <div class="span1">&nbsp;                 
                <div>
                    <a href="{{ path('admin_product_show', {'id': p.Id}) }}"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('admin_product_edit', {'id': p.Id}) }}"><i class="icon-edit"></i></a>
                    <a href="{{ path('admin_product_delete', {'id': p.Id}) }}">del</a>
                   
                    
                </div> 
            </div>              
        </div>


{% endfor %}

   

 </div> 

    </div>
   
     
     
</div>

 {% include 'LoveThatFitAdminBundle::_pagination.html.twig'
  with {'rec_count':rec_count,'limit':limit,'per_page_limit':per_page_limit,'no_of_pagination':no_of_pagination
,'controller_name':'admin_products'}
        %}     

 {% endblock %}

 



   
  


