
<script>
function validates()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('form_file').value;
var image_length = document.getElementById('form_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}

}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script>     
  
    <script>
function cancelAddEditAction(item_id)
{    
    document.getElementById('product_item_view_form_'+item_id).innerHTML = "";       
 
}
</script>
   
{%if piece.id %}
      
      <a href="{{path("admin_product_detail_item_two_piece_delete",{"id":entity.id, "item_id":item_id,'piece_id':piece.id})}}" class="btn">Delete</a>
      {% endif %}
      {%if entity.id %}
    <form action="{{ path('admin_product_detail_item_two_piece_update', {'id':entity.id, 'item_id': item_id,'piece_id':piece_id }) }}" method="post" enctype="multipart/form-data" onsubmit="return validates();">
    {{ form_errors(form) }}
    <img src="{{ asset(piece.WebPath) }}" />
    <br/>
    {{ form_errors(form.file) }}
    {{ form_widget(form.file) }}
    <br/>
    Views:
{{ form_errors(form.product_color_view) }}
{{ form_widget(form.product_color_view) }}       
<br>
    Piece Type:
   {{ form_widget(form.piece_type) }}{{ form_errors(form.piece_type) }}
   {{ form_rest(form) }}
    <input type="submit" value="SAVE"/>  
<a onclick="return cancelAddEditAction({{item_id}})" class="btn">Cancel</a>
   </form> 
   {% endif %}
        
    
    
