{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Products Stats</li>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/Chart.js') }}"></script>
<style>
        canvas{
        }
        clothingtypecanvas{
        }
        brandtypecanvas{
        }
        piecanvas{
        }
    </style>
{% endblock %}



{% block body %}




    <div class="btn_wrapper">

        <div> <a href="{{ path('admin_products') }}" class="btn">Back</a></div>
    </div> 
    <div>Gender Products Stats</div>   
    <canvas id="canvas" height="300" width="200"></canvas>
    <script>

        var barChartData = {
        labels : ["Male", "Female"],
                datasets : [
        {
        fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                data : [{{maleProduct}},{{femaleProduct}}]
        },
        {
        fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                data : [{{maleProduct}},{{femaleProduct}}]
        }
        ]

        }
        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);</script>

        <div>Clothing Type Products Stats</div>   
        <canvas id="clothingtypecanvas" height="300" width="200"></canvas>
        <script>

                    var clothingtypebarChartData = {
            labels : ["Top", "Bottom", "Dress"],
                    datasets : [
            {
            fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    data : [{{topProduct}},{{bottomProduct}},{{dressProduct}}]
            },
            {
            fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,1)",
                    data : [{{topProduct}},{{bottomProduct}},{{dressProduct}}]
            }
            ]

            }
            var myLine = new Chart(document.getElementById("clothingtypecanvas").getContext("2d")).Bar(clothingtypebarChartData);</script>


            <div>Brand Type Products Stats</div>   
            <canvas id="brandtypecanvas" height="300" width="300"></canvas>
            <script>
                        var brandtypebarChartData = {
                labels : [{%for p in brandproduct%} "{{p.name}}", {%endfor%}],
                        datasets : [
                {
                fillColor : "rgba(220,220,220,0.5)",
                        strokeColor : "rgba(220,220,220,1)",
                        data : [{%for p in brandproduct%} {{p.brand}}, {%endfor%}]
                },
                {
                fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        data : [{%for p in brandproduct%} {{p.brand}}, {%endfor%}]
                }
                ]

                }
                var myLine = new Chart(document.getElementById("brandtypecanvas").getContext("2d")).Bar(brandtypebarChartData);</script>



                <div>Pie Chart</div>
                <canvas id="piecanvas" height="450" width="450"></canvas>


                <script>
 function htmlEncode( input ) {
    return String(input).replace(/(&amp);/g, '&');
        
}
                            var pieData = [
                    {
                    value : {{maleProduct}},
                            color : "#F38630",
                            label : 'Male',
                            labelColor : '#0C8ACF'
                    },
                    {
                    value : {{femaleProduct}},
                            color : "#E0E4CC",
                            label : 'Female',
                            labelColor : '#1F1B33'
                    },
                    {
                    value : {{topProduct}},
                            color : "#69D2E7",
                            label : 'Top Product',
                            labelColor : '#A72D19'
                    },
                    {
                    value : {{bottomProduct}},
                            color : "#E0E4CC",
                            label : 'Bottom Product',
                            labelColor : '#1F1B33'
                    },
                    {
                    value : {{dressProduct}},
                            color : "#E0E4CC",
                            label : 'Drees Product',
                            labelColor : '#1F1B33'
                    },
                            {%for p in brandproduct%}
                    {

                    value : {{p.brand}},
                            color : "#E0E4CC",
                            label : htmlEncode("{{p.name}}"),
                            labelColor : '#1F1B33'
                    },
                                               {%endfor%}
                    ];
                            var myPie = new Chart(document.getElementById("piecanvas").getContext("2d")).Pie(pieData, {
                    animationSteps: 100,
                            animationEasing: 'easeInOutQuart'
                    });

                    </script>



                    <div align="left">
                        Total Products:{{total_products}}<br/>
                        Female Product:{{femaleProduct}}<br/>
                        Male Products:{{maleProduct}}<br/>
     {%for p in brandproduct%}
     {{p.name}}: {{p.brand}}<br/>
      {%endfor%}   
                        Top Product:{{topProduct}}<br/>     
                        Bottom Product:{{bottomProduct}}<br/>
                        Dress Product:{{dressProduct}}<br/>
                    </div>


 {% endblock %}
