{% block body %}
<div>         
    <h1 style="float:left;">  {{productname}} : Size {{sizetitle}}: {{title|capitalize |replace({'_': ' ', '_': " "}) }} </h1>      
   {#
    <div class="btn_wrapper">     
        <a href="{{ path('admin_product_detail_size_edit', {'id': id,"size_id":product_size.id}) }}" class="btn">back</a>
    </div>
 #}
    <div class="clearfix"></div>   
    <form id="productSizeMeasuremntAdd" action="{{ path('admin_product_size_measurement_editUpdate',{"id":id,"measurement_id":productSizeMeasurement.id,"size_id":product_size.id,'title':title}) }}" method="post" {{ form_enctype(form) }} onsubmit="return ProductSizeMeasuremtAdd()">
 {{ form_errors(form) }}
            <div id="detail_wrapper">      
                <div id="p_hd">{{productname}} </div>                

                <div id="product_content">
                    <div class="span3"><h3> Size {{sizetitle}}: {{title|capitalize |replace({'_': ' ', '_': " "}) }} <span id="showSizeTitle"><a class="btn" onClick="return ShowSizeTitle()" ><i class="icon-edit"></i></a></span> <span id="hideSizeTitle" style="display:none"><a class="btn" onClick="return HideSizeTitle()" ><i class="icon-edit"></i></a></span></h3></div>
                    <div style="clear:both;"></div>
                    <div id="size_title" style="display:none">{{ form_widget(form.title) }}{{ form_errors(form.title) }}</div>
                    <div style="clear:both;"></div>
                   
                    
                    <div id="pro_detail"> 
                            
                            
                            <div id="rise">
                                    <div class="span3">Ideal Body Size Low</div>
                                    <div class="span3">
                                     {{ form_widget(form.ideal_body_size_low) }}{{ form_errors(form.ideal_body_size_low) }}
                                        <div id="error_ideal_body_size_low" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter ideal body size low measurement
                                                         </div>
                                            <div id="error_ideal_body_size_low_zero" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Ideal body size low measurement greater than 0
                                                         </div>
                                            <div id="error_valid_ideal_body_size_low" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter ideal body size low in Only digits  from 0-9 
                                                         </div>
                                            <div id="errors_valid_ideal_body_size_low" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Ideal body size low must be less than  Ideal body size high and Max Body Measurement
                                                         </div>
                                    </div>
                                </div>    
                            
                            <div id="sleeve_styling">
                                    <div class="span3">Ideal Body Size High</div>
                                    <div class="span3">
                                    {{ form_widget(form.ideal_body_size_high) }}{{ form_errors(form.ideal_body_size_high) }}
                                     
                                                    <div id="error_ideal_body_size_high" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter ideal body size high measurement
                                                         </div>
                                       
                                       <div id="error_ideal_body_size_high_zero" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter ideal body size high measurement
                                                         </div>
                                       
                                                <div id="error_valid_ideal_body_size_high" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                            
                                            <div id="errors_valid_ideal_body_size_high" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Ideal body size high must be less than Max Body Measurement and greter than  Ideal body size low
                                                         </div>          
                                    </div>
                                </div>
                            
                            
                            <div >
                                     <div class="span3">Max Body Measurement</div>
                                    <div class="span3">
{{ form_widget(form.max_body_measurement) }}{{ form_errors(form.max_body_measurement) }}
                                        
                                   
                                    
                                                    <div id="error_maxbodymeasurement" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Max Body Measurement value
                                                         </div>
                                                <div id="error_validmaxbodymeasurement" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits for Max Body Measurement from 0-9
                                                         </div>
                                            <div id="errors_validmaxbodymeasurement" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Max Body Measurement  must be greater  than  Ideal body size high and Ideal body size low
                                                         </div>
                                                
                                </div> 
                            
                                <div>
                                    <div class="span3">Garment Measurement Flat</div>
                                    <div class="span3">{{ form_widget(form.garment_measurement_flat) }}{{ form_errors(form.garment_measurement_flat) }}</div>                                    
                                </div>
                                <div class="login_error" >
                                                    <div id="error_garment_measurement_flat" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter garment measurement flat value
                                                         </div>
                                                <div id="error_valid_garment_measurement_flat" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                                    </div>
                                  
                            
                            <div id="rise">
                                    <div class="span3">Garment Measurement Stretch Fit</div>
                                    <div class="span3">
                                     {{ form_widget(form.garment_measurement_stretch_fit) }}{{ form_errors(form.garment_measurement_stretch_fit) }}
                                    
                                        
                                        </div>
                                </div> 
                                         <div class="login_error" >
                                                    <div id="error_garment_measurement_stretch_fit" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Garment Measurement Stretch Fit value
                                                         </div>
                                                <div id="error_valid_garment_measurement_stretch_fit" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                                    </div>
                                 </div> 
                        
                        <div id="neckline">
                                    <div class="span3">Stretch Type Percentage</div>
                                    <div class="span3">
                                         {{ form_widget(form.stretch_type_percentage) }}{{ form_errors(form.stretch_type_percentage) }}
                                    </div>
                                </div>
                                         <div class="login_error" >
                                                    <div id="error_stretch_type_percentage" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Stretch Type Percentage value
                                                         </div>
                                                <div id="error_valid_stretch_type_percentage" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                                    </div>
                        
                            <div id="hem_length">
                                    <div class="span3">Horizontal Stretch</div>
                                    <div class="span3">
                                         {{ form_widget(form.horizontal_stretch) }}{{ form_errors(form.horizontal_stretch) }}
                                    </div>
                                </div>
                                         <div class="login_error" >                                                    
                                                <div id="error_valid_horizontal_stretch" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                                    </div>
                                 <div id="optional_elements">
                                <div id="styling_type">
                                    <div class="span3">Vertical Stretch</div>
                                    <div class="span3">
                                        {{ form_widget(form.vertical_stretch) }}{{ form_errors(form.vertical_stretch) }}
                                            
                                    </div>
                                </div>
                                         <div class="login_error" >                                                    
                                                <div id="error_valid_vertical_stretch" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits from 0-9
                                                         </div>
                                                    </div>
                                      
                                                                                                      <div >
                                                                                                          <div class="span3">&nbsp;</div>
                                                                                                          <div class="span3">&nbsp;</div>
                                                                                                          <div class="span3">&nbsp;</div>
                                                                                                          <div class="span3 ret_form_btns">
                                                                                                              <div style="margin:0px 0px 0px 0px;">
                                                                                                                  <input type="submit" value="Update" class="btn btn-primary"/>  
                                                                                                                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                                                   {#
                                                                                                                  <a href="{{ path('admin_product_detail_size_edit', {'id': id,"size_id":product_size.id}) }}" class="btn btn-large">Cancel    </a>
                                                                                                                     #}
                                                                                                              </div>                                    
                                                                                                          </div>
                                                                                                      </div>
                                                                                                  </div> 
{{ form_rest(form) }}

                                                                                              </div>      
                                                                                          </div><!-- End pro_detail -->      
                                                                                  </div><!-- End product_content --> 
                                                                              </div>               
                                                                          </div> <!-- End detail_wrapper -->
                                                                     </form> 
    
    <script>
    function ShowSizeTitle()
    {
        document.getElementById('size_title').style.display="block";
        document.getElementById('showSizeTitle').style.display="none";
        document.getElementById('hideSizeTitle').style.display="block";
        
    }
    function HideSizeTitle()
    {
        document.getElementById('size_title').style.display="none";
        document.getElementById('showSizeTitle').style.display="block";
        document.getElementById('hideSizeTitle').style.display="none";
        
    }
    </script>   
    
<script>
function ProductSizeMeasuremtAdd()
{
  var numeric =/^-?\d*(\.\d+)?$/;
  var garmentmeasurementflat=document.getElementById('product_size_measurement_garment_measurement_flat').value;
  var maxbodymeasurement=document.getElementById('product_size_measurement_max_body_measurement').value;
  var stretch_type_percentage=document.getElementById('product_size_measurement_stretch_type_percentage').value;
  var ideal_body_size_low=document.getElementById('product_size_measurement_ideal_body_size_low').value;
  var ideal_body_size_high=document.getElementById('product_size_measurement_ideal_body_size_high').value;
  var garment_measurement_stretch_fit=document.getElementById('product_size_measurement_garment_measurement_stretch_fit').value;
  var  vertical_stretch =document.getElementById('product_size_measurement_vertical_stretch').value;
  var  horizontal_stretch =document.getElementById('product_size_measurement_horizontal_stretch').value;
  if(ideal_body_size_low=='' || ideal_body_size_low==null)
  {
    document.getElementById('error_ideal_body_size_low').style.display="block";                    
    ideal_body_size_low.focus;
     return false;      
  }else if(!ideal_body_size_low.match(numeric))
  {
      document.getElementById('error_valid_ideal_body_size_zero').style.display="block";                    
      ideal_body_size_low.focus;
      return false;   
  }else if(ideal_body_size_low>ideal_body_size_high || ideal_body_size_low>maxbodymeasurement )
      {
           document.getElementById('errors_valid_ideal_body_size_low').style.display="block";                    
           ideal_body_size_low.focus;
           return false;  
      }
  else if(ideal_body_size_high=="" || ideal_body_size_high==null )
  {
           document.getElementById('error_ideal_body_size_high_zero').style.display="block";                    
           ideal_body_size_high.focus;
           return false;  
  }
  else if(!ideal_body_size_high.match(numeric))
  {
      document.getElementById('error_valid_ideal_body_size_high').style.display="block";                    
      ideal_body_size_high.focus;
      return false;   
  }
  else if(ideal_body_size_low>ideal_body_size_high || ideal_body_size_high>maxbodymeasurement )
      {
           document.getElementById('errors_valid_ideal_body_size_high').style.display="block";                    
           ideal_body_size_high.focus;
           return false;  
      }    
  else if(maxbodymeasurement=='' || maxbodymeasurement==null)
  {
     document.getElementById('error_maxbodymeasurement').style.display="block";                    
           maxbodymeasurement.focus;
           return false;  
  }
 else if(!maxbodymeasurement.match(numeric))
 {
     document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
           maxbodymeasurement.focus;
           return false;  
 }
 else if(maxbodymeasurement<ideal_body_size_low || maxbodymeasurement<ideal_body_size_high)
 {
     document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
     maxbodymeasurement.focus;
     return false;  
 } 
 else if(!garmentmeasurementflat.match(numeric))  
 {
      document.getElementById('error_valid_garment_measurement_flat').style.display="block";                    
     garmentmeasurementflat.focus;
     return false;  
 }
 else if(!stretch_type_percentage.match(numeric))  
 {
      document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
     stretch_type_percentage.focus;
     return false;  
 }
 else if(!garment_measurement_stretch_fit.match(numeric))  
 {
      document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
     garment_measurement_stretch_fit.focus;
     return false;  
 }
 else if(!vertical_stretch.match(numeric))  
 {
      document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
     vertical_stretch.focus;
     return false;  
 }
 else if(!horizontal_stretch.match(numeric))  
 {
      document.getElementById('error_validmaxbodymeasurement').style.display="block";                    
     horizontal_stretch.focus;
     return false;  
 }
}   
                                                                         </script>
                                                                     </div>     




{% endblock %}

