{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
 

         
          
{% endblock %}
{% block h1 %}Product{% endblock %}

{% block title %}Product{% endblock %}


{% block body %}

<div>      
    <h1 style="float:left;"> Product Detail </h1>    
      <div class="clearfix"></div>   
    <form action="{{path('admin_product_detail_create')}}" method="post" {{ form_enctype(form) }}>
 {{ form_errors(form) }}

            <div id="detail_wrapper">      
                <div id="p_hd">Product Detail</div>
                
                    <div class="clearfix"></div>
                  
                    

                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">         
                                <div class="row-fluid show-grid">
                                    <div class="span3">Name</div>
                                    <div class="span3">{{ form_widget(form.name) }}{{ form_errors(form.name) }}</div>
                                </div>
                               <div class="row-fluid show-grid">    
                                    <div class="span3">Description</div>
                                    <div class="span3">{{ form_widget(form.description) }}{{ form_errors(form.description) }}</div>
                                  </div> 
                              
                                  <div class="row-fluid show-grid">    
                                    <div class="span3">Gender</div>
                                    <div class="span3">{{ form_widget(form.gender) }}{{ form_errors(form.gender) }}</div>
                                  </div>      
                                <div class="row-fluid show-grid">
                                    <div class="span3">Brand</div>
                                    <div class="span3">{{ form_widget(form.Brand) }}{{ form_errors(form.Brand) }}</div>
                                   

                                </div>  
                                <div class="row-fluid show-grid">
                                     <div class="span3">Clothing Type</div>
                                    <div class="span3">{{ form_widget(form.ClothingType) }}{{ form_errors(form.ClothingType) }}
                                    </div>
                                </div>
                                  
                                <div class="row-fluid show-grid">
                                    <div class="span3">Adjustment</div>
                                    <div class="span3">{{ form_widget(form.adjustment) }}{{ form_errors(form.adjustment) }}</div>
                                    </div>
                                    <div class="row-fluid show-grid">
                                    <div class="span3">Disabled</div>
                                    <div class="span3">{{ form_widget(form.disabled) }}{{ form_errors(form.disabled) }}</div>
                                    </div> 
                                    
                                <div class="row-fluid show-grid">
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3">
				{{ form_rest(form) }}
                                            <div style="margin:0px 0px 0px 0px;"> <input type="submit" value="ADD" class="btn btn-large btn-primary"/>                                     
                                    </div>                                    
                                    </div>
                                </div>
                                </div> 
                                     



                                </div>      
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
    </div>               
    </div> <!-- End detail_wrapper -->
                </form> 
      
          
            </div>     




{% endblock %}

