<script>
function validates()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('form_file').value;
var image_length = document.getElementById('form_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}

}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script> 


<b>Additional Views & Pieces</b>


<form action="{{ path('admin_product_detail_item_two_piece_create', {'id':entity.id, 'item_id': item_id }) }}" method="post" enctype="multipart/form-data" onsubmit="return validates();" >
{{ form_errors(form) }}
        
{{ form_errors(form.file) }}
{{ form_widget(form.file) }}       
        <br>       
Views:
{{ form_errors(form.product_color_view) }}
{{ form_widget(form.product_color_view) }}       
<br>
Piece Type:
{{ form_widget(form.piece_type) }}
{{ form_errors(form.piece_type) }}
<br>
{{ form_rest(form) }}
<input type="submit" value="SAVE" class="btn btn-large btn-primary"/>                                     
</form>    













