{%if(countRecord>0)%}
<table style="border:1px solid #999999;" align="center" width="50%" id="searchResult">
    <th> Search Result:</th>   
    <tr style="background-color: grey;">
        <td>Product Name</td>
        <td>Description</td>
        <td>Brand Name</td>
        <td>Target</td>
        <td>Gender</td>
        <td>Image</td>
         <td>Detail</td>
    </tr>
    
    
 {% for pr in productResult %}
    <tr  width: height: 50px;>
            <td>
            {{pr.name}}
            </td> 
            <td>
            {{pr.description}}
            </td> 
            <td>
                {{pr.brand_name}}
            </td>
            <td>
            {{pr.target}}
            </td> 
            <td>
                {{pr.gender}}
            </td>
            <td>
                {%if(pr.product_image is defined)%}
               
                    <img src="{{asset('uploads/ltf/products/display/web/')}}{{pr.product_image}}" width="50px;" height="50px;">
               {%endif%}
                
            </td> 
            <td>
             <a href="{{ path('admin_product_detail_show', {'id': pr.id}) }}" title="Show {{pr.name}}">Detail</a>
            </td> 
</tr>
{%endfor%}        

 
 </table>
{%else%}
<div align="center">Record Not Found..</div>
{%endif%}