{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block h1 %}Products{% endblock %}

{% block title %}Products{% endblock %}


{% block body %}

<table>


<tr>
    <th>Id</th>
    <td>{{product.id }}</td>
</tr>
<tr>
    <th>Name</th>
    <td>{{product.name }}</td>
</tr>
<tr>
    <th>Length</th>
    <td>{{product.length }}</td>
</tr>
<tr>
    <th>Sku</th>
    <td>{{product.sku }}</td>
</tr>
<tr>
    <th>Gender</th>
    <td>{{product.gender }}</td>
</tr>
<tr>
    <th>WAIST</th>
    <td>{{product.waist }}</td>
</tr>
<tr>
    <th>HIP</th>
    <td>{{product.hip }}</td>
</tr>
<tr>
    <th>BUST</th>
    <td>{{product.bust }}</td>
</tr>
<tr>
    <th>ARM</th>
    <td>{{product.leg }}</td>
</tr>
<tr>
    <th>LEG</th>
    <td>{{product.inseam }}</td>
</tr>
<tr>
    <th>INSEAM</th>
    <td>{{product.inseam }}</td>
</tr>
<tr>
    <th>OUTSEAM</th>
    <td>{{product.outseam }}</td>
</tr>
<tr>
    <th>HEM</th>
    <td>{{product.hem }}</td>
</tr>
<tr>
    <th>Back</th>
    <td>{{product.back }}</td>
</tr>
<tr>
    <th>Brand</th>
    <td>{{product.brand.name }}</td>
</tr>
<tr>
    <th>Clothing Type</th>
    <td>{{product.clothingType.name }}</td>
</tr>




</table>
<a href="{{ path('admin_products') }}">back</a>
{% endblock %}

