{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_shop_look') }}" >Shop the Look</a> <span class="divider">/</span></li>
    <li class="active">New</li>
{% endblock %}

{% block h1 %}Shop the Look{% endblock %}

{% block title %}Shop the Look{% endblock %}

{% block body %}

<style type="text/css">
.categoryerror{
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

.connected-list {
    height: 250px !important;
}
.chzn-choices{
    height: 100px !important;
}

.edt_container{
    height: 620px !important;
    overflow: none !important;
}
</style>

<link rel="stylesheet" href="{{ asset('bundles/chosen/multiselector/css/common.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/chosen/multiselector/css/jquery-ui.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/chosen/multiselector/css/ui.multiselect.css') }}" type="text/css" />

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/chosen/multiselector/js/plugins/localisation/jquery.localisation-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/chosen/multiselector/js/plugins/scrollTo/jquery.scrollTo-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/chosen/multiselector/js/ui.multiselect.js') }}"></script>
<script type="text/javascript">
    $(function(){
        $(".multiselect").multiselect();
    });
</script>

<div>      
    <h1 style="float:left;">Shop to Look </h1>
    <div class="btn_wrapper">     
        <a href="{{ path('admin_shop_look') }}" class="btn">back</a>
    </div>
    <div class="clearfix"></div>   
    <form action="{{ path('admin_shop_look_update', {'id' : entity.id}) }}" method="post" enctype="multipart/form-data" onsubmit="submitform()">

        <div style="border: 1px solid #8f9e71;">
            <div id="p_hd">Shop the Look</div>
            <div id="product_content">
                <div id="pro_detail">
                    <div class="edt_container">

                        <div class="row-fluid show-grid">
                            <div class="span3">Shop Look Name</div>
                            <div class="span3"><input type="text" id="name" name="name" required value="{{ entity.getName }}" /></div>
                        </div>

                        <div class="row-fluid show-grid">
                            <div class="span3">Sort Order</div>
                            <div class="span3"><input type="number" min="1" id="sorting" name="sorting" required value="{{ entity.getSorting }}" /></div>
                        </div>

                        <div class="row-fluid show-grid">
                                <div class="span3">Upload Banner Image</div>
                                <div class="span3"><input type="file" id="shop_model_image" name="shop_model_image" accept="image/*"></div>
                                <img src="/uploads/ltf/shop_look/{{ entity.getShopModelImage }}" />
                        </div>
                        <div class="row-fluid show-grid">
                            <div class="span3">Disabled</div>
                            <div class="span3"><input type="checkbox" id="disabled" name="disabled" value="1" {% if entity.getDisabled == 1  %} checked="checked" {% endif %}></div>
                        </div>
                        <div class="row-fluid show-grid">
                            <div><strong>Please Select any Product, its mandatory : </strong></div>
                            <select id="countries" class="multiselect" multiple="multiple" name="products[]">

                                {% for product_selected in product_ids %}
                                    {% for product in getAllProductList %}
                                        {% if product.id == product_selected  %}
                                            {% if  product.name != '' %}
                                                <option value="{{ product.id }}" selected >{{ product.name }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% for product in getAllProductList %}
                                    {% if product.id not in product_ids %}
                                        {% if  product.name != '' %}
                                            <option value="{{ product.id }}"  >{{ product.name }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row-fluid show-grid">
                            <input type="hidden" id="shoplookid" name="shoplookid" value="{{ entity.id }}" />
                            <div class="span3"><input type="submit" value="SAVE" class="btn btn-small btn-primary"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End pro_detail -->

    </form>

</div>  
{% endblock %}

