{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('fnf_users') }}" >FNF Users</a> <span class="divider">/</span></li>
<li class="active">New</li>
{% endblock %}

{% block h1 %}FNF Users{% endblock %}

{% block title %}FNF Users{% endblock %}

{% block body %}
    <link href="{{ asset('bundles/lovethatfit/support/chosen/chosen.css') }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/support/chosen/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/support/chosen/prism.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#FNFUser_users').chosen();
        });
    </script>
<style type="text/css">
.categoryerror{
    border-color: #e9322d !important;
    -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
    -moz-box-shadow: 0 0 6px #f8b9b7 !important;
    box-shadow: 0 0 6px #f8b9b7 !important;
}
#FNFUser_users > .chosen-drop {
   /* overflow-y: scroll;
    height: 150px;*/
}
</style>

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
<script>
function submitform() {
    // console.log("function called");
    if($('#FNFUser_users :selected').length == 0){
        $("#FNFUser_users_chosen").addClass('categoryerror');
        event.preventDefault();
    }

    if($("#groupTitle").css('visibility') === "visible"){
        if($("#FNFUser_groups_0_groupTitle").val() == "" )
        {
            $("#FNFUser_groups_0_groupTitle").addClass('categoryerror');
            event.preventDefault();
        }
    }

    if($("#FNFUser_groups_0_discount").val() == "" )
    {
        $("#FNFUser_groups_0_discount").addClass('categoryerror');
        event.preventDefault();
    }

    if($("#FNFUser_groups_0_min_amount").val() == "" )
    {
        $("#FNFUser_groups_0_min_amount").addClass('categoryerror');
        event.preventDefault();
    }

    if($("#FNFUser_groups_0_start_at").val() == "" )
    {
        $("#FNFUser_groups_0_start_at").addClass('categoryerror');
        event.preventDefault();
    }

    if($("#FNFUser_groups_0_end_at").val() == "" )
    {
        $("#FNFUser_groups_0_end_at").addClass('categoryerror');
        event.preventDefault();
    }
}
</script>
<div>      
    <h1 style="float:left;">New FNF User </h1>
    <div class="btn_wrapper">     
        <a href="{{ path('fnf_users') }}" class="btn">back</a>
    </div>
    <div class="clearfix"></div>   
    <form action="{{ path('admin_fnfuser_create') }}" method="post" {{ form_enctype(form) }} onsubmit="submitform()" id="groupForm">
            <div id="detail_wrapper">      
                <div id="p_hd">FNFUser Detail</div>

                <div id="product_content">
                    <div id="pro_detail">
                        <div class="edt_container">
                            <div class="row-fluid show-grid" id="banner_level_div" style="margin-bottom:10px !important;">
                                <div class="span3" style="padding-top:0px !important;">Select Group</div>
                                <div class="span8" style="padding-top:0px !important;">
                                    <select id="sel_group" name="sel_group">
                                        <option value="0">Add New Group</option>
                                        {% for group in groups  %}
                                            <option value="{{group.getId()}}">{{ group.getGroupTitle() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row-fluid show-grid" id="banner_level_div" style="margin-bottom:10px !important;">
                                <div class="span3" style="padding-top:0px !important;">Find User Id</div>
                                <div class="span8" style="padding-top:0px !important;max-height: 100px !important;">
                                    {{ form_widget(form.users, { 'attr': {'class': 'custom_select'} }) }}
                                    {#<select id="sel_user" name="sel_user">
                                        <option value="0">select</option>
                                        {% for k,v in users  %}
                                            <option value="{{v.authToken}}">{{ v.email }}</option>
                                        {% endfor %}
                                    </select>#}
                                </div>
                            </div>

                            <div class="row-fluid show-grid" id="groupTitle">
                                <div class="span3">Group Title</div>
                                <div class="span3">{{ form_widget(form.groups[0].groupTitle) }}{{ form_errors(form.groups[0].groupTitle) }}</div>
                            </div>

                            <div class="row-fluid show-grid" id="discount">
                                <div class="span3">Discount</div>
                                <div class="span3">{{ form_widget(form.groups[0].discount) }}{{ form_errors(form.groups[0].discount) }}</div>
                            </div>

                            <div class="row-fluid show-grid" id="discount">
                                <div class="span3">Minimum Amount</div>
                                <div class="span3">{{ form_widget(form.groups[0].min_amount) }}{{ form_errors(form.groups[0].min_amount) }}</div>
                            </div>

                            <div class="row-fluid show-grid" id="discount">
                                <div class="span3">Start Date</div>
                                <div class="span3">{{ form_widget(form.groups[0].start_at, { 'attr': {'class': 'datepicker'} }) }}{{ form_errors(form.groups[0].start_at) }}</div>
                            </div>

                            <div class="row-fluid show-grid" id="discount">
                                <div class="span3">End Date</div>
                                <div class="span3">{{ form_widget(form.groups[0].end_at, { 'attr': {'class': 'datepicker'} }) }}{{ form_errors(form.groups[0].end_at) }}</div>
                            </div>

                            <div class="row-fluid show-grid">                                   
                                <div class="span3">&nbsp;</div>                                   
                                <div style="margin:0px 0px 0px 0px;"> <input type="submit" value="SAVE" class="btn btn-large btn-primary"/></div>                                    
                            </div>
                        </div>
                    </div>
                </div>      
            </div><!-- End pro_detail -->      
    </div><!-- End product_content --> 

</form>    
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {

        /*$("#groupForm").validate({
            ignore: ':hidden:not([class~=selectized]),:hidden > .selectized, .selectize-control .selectize-input input'
        });*/

        $("#FNFUser_groups_0_end_at, #FNFUser_groups_0_start_at, #FNFUser_groups_0_min_amount, " +
            "#FNFUser_groups_0_discount, #FNFUser_groups_0_groupTitle, #FNFUser_users_chosen").focus(function(){
                $(this).removeClass('categoryerror');
        });

        $('#FNFUser_users').on('change', function () {
            $("#FNFUser_users_chosen").removeClass('categoryerror');
        });

        $("input[type='submit']").on("click", function(){ submitform() })

        jQuery('.datepicker').datepicker({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        $("select[name='sel_group']").on('change', function(){
            var selectedVar = $(this).find(":selected").val();
            if(selectedVar == 0){
                $("select[name='FNFUser[users][]'] option").each(function(index, item){ $(this).removeAttr("selected")});
                $("input[name='FNFUser[groups][0][discount]']").removeAttr("readonly");
                $("input[name='FNFUser[groups][0][discount]']").val("");

                $("input[name='FNFUser[groups][0][min_amount]']").removeAttr("readonly");
                $("input[name='FNFUser[groups][0][min_amount]']").val("");

                $("input[name='FNFUser[groups][0][groupTitle]']").attr("disbaled", "enabled");
                $("input[name='FNFUser[groups][0][groupTitle]']").attr("required", "required");

                $("#groupTitle").css({"visibility": "visible"});
                $("select[name='FNFUser[users][]']").trigger("chosen:updated");

                $("#FNFUser_groups_0_end_at, #FNFUser_groups_0_start_at, #FNFUser_groups_0_min_amount, " +
                    "#FNFUser_groups_0_discount, #FNFUser_groups_0_groupTitle, #FNFUser_users_chosen").removeClass('categoryerror');


            }else if(selectedVar > 0){
                getGroupValues( selectedVar );

                $("#FNFUser_groups_0_end_at, #FNFUser_groups_0_start_at, #FNFUser_groups_0_min_amount, " +
                    "#FNFUser_groups_0_discount, #FNFUser_groups_0_groupTitle, #FNFUser_users_chosen").removeClass('categoryerror');

                $("input[name='FNFUser[groups][0][discount]']").attr("readonly","true");
                $("input[name='FNFUser[groups][0][min_amount]']").attr("readonly","true");

                $("input[name='FNFUser[groups][0][groupTitle]']").attr("disbaled", "disabled");
                $("input[name='FNFUser[groups][0][groupTitle]']").removeAttr("required");

                $("#groupTitle").css({"visibility": "hidden"});
            }
        });
    });

    var getGroupValues = function( groupId )
    {
        var parameters = {'groupId' : groupId};
        $.ajax({
            cache: false,
            type: 'POST',
            url: "{{ path('admin_get_fnfgroups') }}",
            data: parameters,
            success: function ( data ) {
                $("select[name='FNFUser[users][]'] option").each(function(index, item){ $(this).removeAttr("selected")});
                $("select[name='FNFUser[users][]']").trigger("chosen:updated");

                $("input[name='FNFUser[groups][0][discount]']").val(data.discount);
                $("input[name='FNFUser[groups][0][min_amount]']").val(data.min_amount);
                $("input[name='FNFUser[groups][0][start_at]']").val(data.start_at.date);
                $("input[name='FNFUser[groups][0][end_at]']").val(data.end_at.date);

                $.each(data.users, function(index, item){
                    $("select[name='FNFUser[users][]'] option[value='"+item.id+"']").attr('selected', "selected");
                });
                setTimeout(function(){
                    jQuery('#FNFUser_users').chosen();
                    $("select[name='FNFUser[users][]']").trigger("chosen:updated");
                }, 100);

            }
        });
    }
</script>
<style type="text/css">
.chosen-container-multi .chosen-choices{
    overflow-y: auto;
    max-height: 115px;
    }
</style>
{% endblock %}

