 {% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active"> Product CSV / Preview</li>
{% endblock %}        
{% block body %}        
    <table width="800px" border="0">
        <tr>
            <td colspan="2"><h3>Product Detail</h3>
            </td>
        </tr>      
 {%for p,key in product%}         
        {% if (p!='product_color' and p!='fabric_content'  and p!='fit_priority' and p!='sizes')%}
        <tr>
            <td  colspan="2"> <b> {{p}} :</b> &nbsp; {{key}}</td>
        </tr>  
        {% endif%}

{%endfor%}  
  
<tr>
            <td colspan="2"  width="100%">
                <b>Colors: </b> &nbsp;
            {% for pc,key in product.product_color %}
                    <span>{{key}}</span>  &nbsp;|&nbsp;
            {%endfor%}        
            </td>            
        </tr>

<tr>
            <td colspan="2"  width="100%">
                <b>Fit Priority</b>  &nbsp;&nbsp;
            {%for fp,key in product.fit_priority %}
                    <span><span><b> {{fp}} :</b> </span>  <span>{{key}}</span>  </span>    &nbsp;|&nbsp;
            {%endfor%}        
            </td>            
        </tr>

        
        <tr>
            <td colspan="2"  width="100%">
                <h5>Fabric content</h5>
            {%for fc,key in product.fabric_content%}
                    <span><span><b> {{fc}} :</b> </span>  <span>{{key}}</span>  </span>  
            {%endfor%}        
            </td>            
        </tr>


        <tr>
            <td colspan="2"><h5>Product Sizes</h5>
            </td>
        </tr>
{% for size,key in product.sizes %}
        <tr>
            <td   colspan="2" > <b> {{size}} :</b></td>
        </tr>        
        <td width="268" colspan="2"><strong>
                {%for ps,keys in key %}
                        {% if (ps!='key')%}
                                        <tr>
                                            <td colspan="2">
                                                <b>{{ps}} :</b></td>
                                        <tr/>

                                    </td>
                                </tr>       
                            {%endif%}
                  {%endfor%}
    </strong></td>
</tr>
{%endfor%}        
    </strong></td>
</tr>

</table>

{% endblock %}