 {% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active"> Product CSV / Preview</li>
{% endblock %}        
{% block body %}        
<table width="1024" border="0">
    <tr>
        <td colspan="2"><h3>Product Detail</h3>
        </td>
    </tr>      
        {%for p,key in product%}         
            {% if (p!='product_color' and p!='fabric_content'  and p!='fit_priority' and p!='sizes')%}
    <tr>
        <td  colspan="2"> <b> {{p}} :</b> &nbsp; {{key}}</td>
    </tr>  
            {% endif%}
        {%endfor%}    
    <tr>
        <td colspan="2">
            <b>Colors: </b> &nbsp;
            {% for pc,key in product.product_color %}
                <span>{{key}}</span>  &nbsp;|&nbsp;
            {%endfor%}        
        </td>            
    </tr>
    <tr>
        <td colspan="2">
            <b>Fit Priority</b>  &nbsp;&nbsp;
            {%for fp,key in product.fit_priority %}
                <span><span><b> {{fp}} :</b> </span>  <span>{{key}}</span>  </span>    &nbsp;|&nbsp;
            {%endfor%}        
        </td>            
    </tr>       
    <tr>
        <td colspan="2">
            <span><strong>Fabric content:</strong></span>
            {%for fc,key in product.fabric_content%}
                <span><span><b> {{fc}} :</b> </span>  <span>{{key}}</span>  </span>  
            {%endfor%}        
        </td>            
    </tr>
    <tr>
        <td colspan="2"><span><strong>Product Sizes:</strong></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="1213" border="1">

{% for size,key in product.sizes %}
  {% set first = true %}                  
   {%for ps,keys in key %} 
    {% if (ps!='key')%}  
        {% if (first == true )%}  
            {% set first = false %}
                <tr>
                    <td style="background-color: #CCC"><strong>{{size}}</strong></td>
            {%for pss,keys in keys %}        
                        <td style="background-color: #CCC"><strong>{{pcsv.getTitle(pss)}}</strong></td>
            {%endfor%}                                    
                    </tr>
        {%endif%}
                    <tr>
                        <td><span><strong>{{ps}}</strong></span></td>  
    {%endif%}
   
    {%for pss,keys in keys %}        
                        <td>{{keys}}</td>
    {%endfor%}                                    
                    </tr>
   {%endfor%}
            </td>  
        </tr>
        <tr><td colspan="11" style="height:20px;"></td></tr>                       
    </strong></td>
</tr>
{%endfor%}    
</table>
</strong></td>
</tr>

</table>

{% endblock %}