<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <title>SelfieStyler</title>
        <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/lovethatfit/site/css/main.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>

        
        <script>
            $(document).ready(function() {
                
                var act_value = $("$bar_val").attr("value");
                
                
                
                });
        </script>
        <style>
            .like_light{
                opacity: 0.4;
            }



          .span2{
              text-align: center;
              height: 40px;
              padding-top: 15px;
          }

            .span3{
                text-align: center;
                height: 40px;
                padding-top: 15px;

            }

            .titlbg{
                background:#666;
                line-height: 0px;
                color:#fff;
                height: 15px;
            }

            .comments_listing {
                min-height: 300px;
                max-height: 300px;
                overflow: auto;
            }

            .comments_listing .span8 {

            width:658px!important;
            }

        </style>
    </head>
    <body style="background:#ccc;">

        <input id="bar_val" type="hidden" value="{{selfieshare.rating}}"/>

<div class="container_show comments_sec">
  <div style="position:relative;">
  <div class="logosm"><img src="{{ asset('bundles/lovethatfit/site/images/logo_show.png') }}" width="70" height="auto" /></div> 
  
  
   <div class="share_img_hldr">  
      
   <img src="{{ asset(selfieshare.webPath) }}"/>
   
   
   
   </div>
 
  
   
    </div> 
  
  
  
  <div class="clr"></div>


   <div class="row" style="margin-left: 0px;">
       <span class="span2 titlbg">Friends</span>
       <span class="span3 titlbg">Like/UnLike</span>
       <span class="span3 titlbg">Rating</span>

   </div>



    <div class="comments_listing">
    {% for sf in selfieshare.selfieshare %}


         <span class="span2">{{sf.name}}</span>
         <span class="span3">
            {% if(sf.favourite is null) %}
                <img src="{{ asset('bundles/lovethatfit/site/images/show_like_icon.png') }}" width="26" class="like_light"  />
                <img src="{{ asset('bundles/lovethatfit/site/images/show_dislike_icon.png') }}" width="26"  />
            {% elseif (sf.favourite==1) %}
                <img src="{{ asset('bundles/lovethatfit/site/images/show_like_icon.png') }}" width="26"  />
            {% elseif(sf.favourite==0)%}
                <img src="{{ asset('bundles/lovethatfit/site/images/dislike_icon_active.png') }}" width="26"/>


            {%endif%}
        </span>
        <span class="span3"><div class="rating_ratio"> <img src="{{ asset('bundles/lovethatfit/site/images/rating_bg.png') }}">
          <div id="rtbar" class="rating_{{sf.rating}}"></div>
          <div class="rating_transparent"></div>
      </div></span>

     <div class="row">
          
          <span class="span8" align="left" style="padding:0px;">

              <div style="padding:5px; color:#333;background: #ccc;float:left; display: block; width: 98%; text-align: left;">Comments</div>
              <div style="font-size: 12px;float:left; padding: 5px;">{{sf.comments}}</div>
              
              </span>
     </div>



{% endfor %}
        </div>


      
      
      
      

</div>
        
        
         </body>
</html>