{% extends 'LoveThatFitProductIntakeBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Product Specification mapping</li>
{% endblock %}

{% block body %}

<div class="p_listing">     
    <h1>Product Specification mappings</h1>    
    <div class="btn-group" role="group" aria-label="..." style="float:right;">        
        <a href="{{ path('product_intake_specs_mapping_new') }}" class="btn  btn-default">Add New</a>     
    </div>
    
    <div class="clearfix"></div>   
     <table class="table table-bordered table-striped table-hover table-condensed">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Brand Name</th>
            <th>Clothing Type</th>
            <th>Action</th>
        </tr>
        {% for sm in specs_mappings %}
        <tr>
            <td>{{sm.Id}}</td>
            <td>{{sm.Title}}</td>
            <td>{{sm.Brand}}</td>            
            <td>{{sm.ClothingType}}</td>            
            <td>
                <a href="{{ path('product_intake_specs_mapping_delete', {'id': sm.Id}) }}" title="Delete {{sm.Title}}">del</a> &nbsp;|&nbsp;
                 <a href="{{ path('product_intake_specs_mapping_edit', {'id': sm.Id}) }}" title="Edit {{sm.Title}}">edit</a>            
                  {% if cs_file[sm.Id] != '' %}
                 &nbsp;|&nbsp;
                     <a href="{{ cs_file[sm.Id] }}" target="_blank" download title="Download">Download</a>                  
                {% endif %}
                 

            </td>
        </tr>
         {% endfor %}
    </table> 
    
    
    
    
</div>
{% endblock %}