<div id="pro_sizes_wrapper">  
    <h2> Product Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>
{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>
{% endif %}

            <table width="100%" border="0">



    {% for key, value in size_measurements %}

                {% if (value['exists'])%}
                <tr>
                    <td>     
                        <b>{{value['measurement']['title'] }} </b>
                        
                        
                    </td>
                    <td>
                       <a href="{{ path('retailer_admin_product_size_measurement_edit', {'measurement_id':value['measurement']['id'],'size_id':size_id,'title':key}) }}" class="btn"> Edit</a><br>
                          Garment Measurement Flat: {{value['measurement']['garment_measurement_flat'] }} <br>
                          Max Body Measurement : {{value['measurement']['max_body_measurement'] }} <br>
                          Vertical Stretch : {{value['measurement']['vertical_stretch'] }} <br>
                          Horizontal Stretch : {{value['measurement']['horizontal_stretch'] }} <br>
                          Stretch Type Percentage : {{value['measurement']['stretch_type_percentage'] }} <br>
                          Ideal Body Size High : {{value['measurement']['ideal_body_size_high'] }} <br>
                          Ideal Body Size Low : {{value['measurement']['ideal_body_size_low'] }} <br>
                            
                    </td>

                </tr>
                {% else %}

        <tr>
            <td>{{key}}</td>
            <td><a href="{{ path('retailer_admin_product_detail_size_measurement_create', {'id':id,'size_id':size_id,'title':key}) }}" class="btn">Add</a></td>
        </tr>


              
                {% endif %}
    {% endfor %}

            </table>

        </div>