<div id="pro_sizes_wrapper">  
    <h2> Product Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>
{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>
{% endif %}

            <table width="100%" border="0">



    {% for key, value in size_measurements %}

                {% if (value['exists'])%}
                <tr>
                    <td>     
                        <b>{{value['measurement']['title'] }} </b>
                    </td>
                    <td>
                        Edit<br>
                            garment_measurement_flat: {{value['measurement']['garment_measurement_flat'] }} <br>
                          max_body_measurement : {{value['measurement']['max_body_measurement'] }} <br>
                          vertical_stretch : {{value['measurement']['vertical_stretch'] }} <br>
                            
                    </td>

                </tr>
                {% else %}
                <tr>
                    <td colspan="2">     
                        {{key }} 
                    </td>

                </tr>
                {% endif %}
    {% endfor %}

            </table>

        </div>