<div id="pro_sizes_wrapper">  
    <h2> Product Sizes</h2>
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">   
    {{ app.session.flash('success') }}
        </div>
{% endif %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">   
    {{ app.session.flash('warning') }}
            </div>
{% endif %}
    
     <ul>
    {% for key, value in size_measurements %}
        <li>{{ key }}:
        {% if value['exists'] == true %}
        {{'exists'}}
        {%else%}
                {{'none'}}
        {% endif %}
        </li>
    {% endfor %}
</ul>
    
 
</div>