{% extends 'LoveThatFitRetailerAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">My Dashboard </li>
{% endblock %}
{% block body %}
<div class="p_listing">
    <h1>{%for r in retailer%} {{r.title}} {%endfor%} Products</h1>
   <div class="btn_wrapper2">       
       <a href="{{ path('admin_retailer_product_new') }}" class="btn">Add New</a>     
      </div>
    <div class="clearfix"></div> 
    <div class="bs-docs-grid" id="all_data">              

        <div class="row-fluid show-grid product_main">
            <div class="span1 hds"><a href="" style=" text-decoration: none;"> ID</a></div>
            <div class="span1 hds"><a href="">Brand</a></div>
            <div class="span1 hds"><a href="">Type</a></div>
            <div class="span1 hds"><a href="" style=" text-decoration: none;">Gender</a></div>
            <div class="span1 hds"><a href="" style=" text-decoration: none;">Name</a></div>                        
            <div class="span1 hds">Try Count</div>
            <div class="span1 hds"></div>  
            <div class="span1 hds"></div>  
            <div class="span1 hds"></div>              
        </div>  
          {% for p in products.products %}  
        <div class="row-fluid show-grid product_main">
            <div class="span1">{{p.Id}}</div>
            <div class="span1">{{p.Brand.Name}}</div>
            <div class="span1">{{p.ClothingType.Name}}</div>
            <div class="span1">{{p.Gender}}</div>
            <div class="span1">{{p.Name}}</div>
            <div class="span1">{{ p.getTryProductCount }}</div>            
            <div class="span1"> {%if(p.disabled==1)%} Disabled {%else%}  {%endif%}</div>
            <div class="span1">
                {%if(p.displayProductColor)%}                  
                  <img src="{{ asset(p.displayProductColor.WebPath) }}"/>        
                    {%endif%}  
            </div>
         <div class="span1">           
         
         </div>
         
        </div>
   
 <!-- ModalDetail -->

{%endfor%}   
 </div>
 </div>
    {% endblock %}