{% extends 'LoveThatFitRetailerAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li><a href="{{ path('retailer_product') }}" >Products</a> <span class="divider">/</span></li>
<li><a href="{{ path('retailer_product') }}" >{{productname}}</a> <span class="divider">/</span></li>
<li class="active"><a href="{{path("retailer_admin_product_detail_size_edit",{"id":id, "size_id":product_size.id})}}">Size {{sizetitle}}</a><span class="divider">/</span></li>  
<li class="active">{{title|capitalize |replace({'_': ' ', '_': " "}) }} <span class="divider">/</span>Add </li>  

 
{% endblock %}
{% block h1 %}Product{% endblock %}
{% block title %}Product{% endblock %}
{% block body %}
<div>         
    <h1 style="float:left;">Add  Retailer Product Size Measurement for {{ title|capitalize |replace({'_': ' ', '_': " "}) }}</h1>    
     <div class="btn_wrapper">      
    <a href="{{ path('retailer_product') }}" class="btn">back to list</a>
     </div>
      <div class="clearfix"></div>   
    <form id="productSizeMeasuremntAdd" action="{{ path('retailer_admin_product_size_measurement_update',{"size_id":product_size.id,'title':title}) }}"  method="post" {{ form_enctype(form) }}  onsubmit="return ProductSizeMeasuremtAdd()">
 {{ form_errors(form) }}
            <div id="detail_wrapper">      
                <div id="p_hd">
               {{ title|capitalize |replace({'_': ' ', '_': " "}) }}
                </div> 
                    <div id="product_content">
                        
                        <div class="span4"><b>Measurement for {{title|capitalize|replace({'_': ' ', '_': " "}) }}</b></div>
                        <div style="margin-top:65px"></div>
                        <div style="clear:both;"></div>
                        <div id="pro_detail"> 
                                <div>
                                    <div class="span3">Garment Measurement Flat</div>
                                    <div class="span3">{{ form_widget(form.garment_measurement_flat) }}{{ form_errors(form.garment_measurement_flat) }}</div>                                    
                                </div>
                                <div class="login_error" >
                                                    <div id="error_garment_measurement_flat" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter garment measurement flat value
                                                         </div>
                                                <div id="error_valid_garment_measurement_flat" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                    <div >
                                     <div class="span3">Max Body Measurement</div>
                                    <div class="span3">{{ form_widget(form.max_body_measurement) }}{{ form_errors(form.max_body_measurement) }}
                                        
                                    </div>
                                     <div class="login_error" >
                                                    <div id="error_maxbodymeasurement" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Max Body Measurement value
                                                         </div>
                                                <div id="error_validmaxbodymeasurement" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                </div>                                
                                 <div id="optional_elements">
                                <div id="styling_type">
                                    <div class="span3">Vertical Stretch</div>
                                    <div class="span3">
                                        {{ form_widget(form.vertical_stretch) }}{{ form_errors(form.vertical_stretch) }}
                                            
                                    </div>
                                </div>
                                         <div class="login_error" >                                                    
                                                <div id="error_valid_vertical_stretch" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                    
                                <div id="hem_length">
                                    <div class="span3">Horizontal Stretch</div>
                                    <div class="span3">
                                         {{ form_widget(form.horizontal_stretch) }}{{ form_errors(form.horizontal_stretch) }}
                                    </div>
                                </div>
                                         <div class="login_error" >                                                    
                                                <div id="error_valid_horizontal_stretch" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                
                                <div id="neckline">
                                    <div class="span3">Stretch Type Percentage</div>
                                    <div class="span3">
                                         {{ form_widget(form.stretch_type_percentage) }}{{ form_errors(form.stretch_type_percentage) }}
                                    </div>
                                </div>
                                         <div class="login_error" >
                                                    <div id="error_stretch_type_percentage" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Stretch Type Percentage value
                                                         </div>
                                                <div id="error_valid_stretch_type_percentage" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                
                                <div id="sleeve_styling">
                                    <div class="span3">Ideal Body Size High</div>
                                    <div class="span3">
                                    {{ form_widget(form.ideal_body_size_high) }}{{ form_errors(form.ideal_body_size_high) }}
                                      <div class="login_error" >
                                                    <div id="error_ideal_body_size_high" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter ideal body size high measurement  Or  Ideal body size low measurement
                                                         </div>
                                       
                                       <div id="error_ideal_body_size_high_zero" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter ideal body size high measurement  Or  Ideal body size low measurement greater than 0
                                                         </div>
                                       
                                                <div id="error_valid_ideal_body_size_high" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter only numbers form 0-9
                                                         </div>
                                                    </div>      
                                    </div>
                                </div>
                                    
                              
                                         
                                         
                                         <div id="rise">
                                    <div class="span3">Ideal Body Size Low</div>
                                    <div class="span3">
                                     {{ form_widget(form.ideal_body_size_low) }}{{ form_errors(form.ideal_body_size_low) }}
                                        
                                    </div>
                                </div>                                  
                                
                                
                               <div id="rise">
                                    <div class="span3">Garment Measurement Stretch Fit</div>
                                    <div class="span3">
                                     {{ form_widget(form.garment_measurement_stretch_fit) }}{{ form_errors(form.garment_measurement_stretch_fit) }}
                                    
                                        
                                        </div>
                                </div> 
                                         <div class="login_error" >
                                                    <div id="error_garment_measurement_stretch_fit" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                            Enter Garment Measurement Stretch Fit value
                                                         </div>
                                                <div id="error_valid_garment_measurement_stretch_fit" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                                                             Enter Only digits form 0-9
                                                         </div>
                                                    </div>
                                 </div>    
                                <div >
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3">&nbsp;</div>
                                    <div class="span3 ret_form_btns">
		                    <div style="margin:0px 0px 0px 0px;"> <input type="submit" value="Add" class="btn btn-large"/>                                     
                                        <a href="{{ path('retailer_admin_product_detail_size_edit', {'id': id,"size_id":product_size.id}) }}" class="btn btn-large">Cancel    </a>
                                    </div>                                    
                                    </div>
                                </div>
                                </div> 
{{ form_rest(form) }}

                                </div>      
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
    </div>               
    </div> <!-- End detail_wrapper -->
                </form> 
      <script>
            function ProductSizeMeasuremtAdd()
            {
                var numeric =/^-?\d*(\.\d+)?$/;
                var garmentmeasurementflat=document.getElementById('product_size_measurement_garment_measurement_flat').value;
                var maxbodymeasurement=document.getElementById('product_size_measurement_max_body_measurement').value;
                var stretch_type_percentage=document.getElementById('product_size_measurement_stretch_type_percentage').value;
                var ideal_body_size_low=document.getElementById('product_size_measurement_ideal_body_size_low').value;
                var ideal_body_size_high=document.getElementById('product_size_measurement_ideal_body_size_high').value;
                var garment_measurement_stretch_fit=document.getElementById('product_size_measurement_garment_measurement_stretch_fit').value;
               var  vertical_stretch =document.getElementById('product_size_measurement_vertical_stretch').value;
               var  horizontal_stretch =document.getElementById('product_size_measurement_horizontal_stretch').value;
        if((ideal_body_size_high=='' && ideal_body_size_low==''))
              {                
                document.getElementById('error_ideal_body_size_high_zero').style.display="block";                    
                ideal_body_size_high.focus;
                return false;
               }               
        if((garmentmeasurementflat=="") || (garmentmeasurementflat<0) || (garmentmeasurementflat>100) || (!garmentmeasurementflat.match(numeric)) ){
		document.getElementById('error_valid_garment_measurement_flat').style.display="block";                
                garmentmeasurementflat.focus;
                return false;
                }
               if((maxbodymeasurement=='') || (maxbodymeasurement<0)  || (maxbodymeasurement>100) || (!maxbodymeasurement.match(numeric))){
                document.getElementById('error_validmaxbodymeasurement').style.display="block";		
                maxbodymeasurement.focus;
                return false;
                }
               if((stretch_type_percentage=='') || (stretch_type_percentage<0) || (stretch_type_percentage>100) || (!stretch_type_percentage.match(numeric))){
                document.getElementById('error_valid_stretch_type_percentage').style.display="block";                
                stretch_type_percentage.focus;
                return false;
                }              
               if((ideal_body_size_high=='') || (ideal_body_size_high<0) || (ideal_body_size_high>100) || (!ideal_body_size_high.match(numeric))){                
                document.getElementById('error_valid_ideal_body_size_high').style.display="block";                
                ideal_body_size_high.focus;
                return false;
                }
               
               if((ideal_body_size_low=='') || (ideal_body_size_low<0) || (ideal_body_size_low>100) || (!ideal_body_size_low.match(numeric))){
                document.getElementById('error_valid_ideal_body_size_low').style.display="block";
                ideal_body_size_low.focus;
                return false;
                }                
               else if((vertical_stretch=='') || (vertical_stretch<0) ||(vertical_stretch>100)  || (!vertical_stretch.match(numeric))){        
                document.getElementById('error_valid_vertical_stretch').style.display="block";                    
                vertical_stretch.focus;
                return false;
                }
                if((horizontal_stretch=='') || (horizontal_stretch<0) || (horizontal_stretch>100) || (!horizontal_stretch.match(numeric))){        
                document.getElementById('error_valid_horizontal_stretch').style.display="block";                 
                horizontal_stretch.focus;
                return false;
                }
                if((garment_measurement_stretch_fit=='') || (garment_measurement_stretch_fit<0) || (garment_measurement_stretch_fit>100) || (!garment_measurement_stretch_fit.match(numeric))){        
                document.getElementById('error_valid_garment_measurement_stretch_fit').style.display="block";               
                garment_measurement_stretch_fit.focus;
                return false;
                }               
               
            }   
            </script>        
            </div>   
{% endblock %}

