<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/lovethatfit/site/css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/lovethatfit/site/css/custom.css') }}"  media="screen,projection"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/apps.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/formslider.js') }}"></script>
<style type="text/css">
   #regform .rowGroup .row{ margin-bottom: 0;} 
   #regform .rowGroup input.select-dropdown{ height:30px;  line-height: 2.2rem !important;}
   #regform .rowGroup label:first-child{padding-left:10px;}
</style>

<script>
    $(document).ready(function(e) {
        $("#greetBox").hide();
        $('select').material_select();
        $( "#content-splash" ).parent().css( "width", "100%" );
        $('#opc').height(window.innerHeight).width(window.outerWidth);
    });

</script>
</head>
<body>

{% if error %}
    <div class="login_error" >
        <div id="error_content">
            {{ error.message  | replace({"Bad credentials": "Invalid Log-in credentials"})}}
        </div>

    </div>
{% endif %}

<div class="container">
    <div class="col m1 loginbtn" style="z-index:1;"><a href="#" id="showlogin">Login</a></div>
    <div id="content-splash">
        <div id="opc"></div>
        <div class="row">
            <div class="col">

                <div class="col m12">

                    <div class="center">
                        <div class="logo col m3 offset-m0"><img src="{{ asset('bundles/lovethatfit/site/images/Logo_home.png') }}" width="30%" class="responsive-img"></div>

                        <h4 class="tagline">SNAP - STYLE - SHARE - SHOP</h4>
                        <!-- <h5>Let's Get Started!</h5>-->
                        <div class="col m6 offset-m3">Lorem ipsum dolor sit amet, maiorum oporteat te mel. Velit falli periculis duo at, agam invidunt scribentur ne cum. Mei nullam tritani maiestatis at, alia sonet postulant vim an, mei mediocrem iudicabit cu. Ius an tempor offendit, mei hinc copiosae ei. Usu eu soluta maiestatis.

                            <span class="bottom_txt"><span>Design@selfiestyler.com</span>  Do you want to join Selfiestyler</span>
                        </div>
                    </div>


                    <form name="user" ng-controller="mainController">



                        <div class="row col s7">

                            <div class="input-field">


                                <input id="showsplash" style="float:left;" value="Join" class="btn black save-changes col m3 offset-m0" type="submit" name="action" ng-disabled="user.$invalid">




                            </div>
                        </div>

                    </form>

                </div>

            </div>





        </div>
    </div>

                        
<div Id="greetBox">
  
    <div class="mdl-layout-spacer"></div>
    <div class="row">    
    <div class="col m5 s12 offset-s4 offset-m4 z-depth-2 opacity90 card">
           <div class="center">
            <div class="logo"><img src="{{ asset('bundles/lovethatfit/site/images/Logo_home.png') }}" width="30%" class="responsive-img"></div>
            <div class="row center"> <span class="title_txt">Snap - Style - Share - Shop</span> </div>
            <br/>
            <br/>
            <h4>Thank You for your interest</h4>
            <!-- <h5>Let's Get Started!</h5>-->
            <br/>
            <br/>
            <br/>
            <br/>
            
           </div> 
        </div>
    </div>        
    <div class="mdl-layout-spacer"></div>
   
</div>                     
                        
<!--Registaration form!-->                        
 <form id="regform" name="user" ng-controller="mainController" ng-submit="submitForm()">
  <div id="content-register">
    <div class="row">
      <div class="col m5 s12 offset-s4 offset-m4 z-depth-2 opacity90 card">
        <div>
          <div class="center">
            <div class="logo"><img src="{{ asset('bundles/lovethatfit/site/images/Logo_home.png') }}" width="30%" class="responsive-img"></div>
            <div class="row center"> <span class="title_txt">Snap - Style - Share - Shop</span> </div>
            <h4>Registration</h4>
            
            <!-- <h5>Let's Get Started!</h5>-->
            <br/> 
            <div class="text-center">Style your image with SelfieStyler.</div>
            <br/>
          </div>
          <div class="input-field">
            <input id="email" type="email" class="validate" ng-model="formData.email" name="email" required>
            <span class="error" ng-show="user.email.$error.required && user.email.$dirty">Email Required</span> <span class="error" ng-show="!user.email.$error.required && user.email.$error.email && user.email.$dirty">Invalid Email Address</span> <span ng-show="user.email.$error.required" class="error">*</span>
            <label for="email">Email</label>
          </div>
          <!--// password -->
          <div class="input-field">
            <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
            <span ng-show="user.password.$error.required" class="error">*</span> <span ng-show="user.password.$error.minlength" class="error"> Passwords must be between 8 and 20 characters.</span> 
            <!--<span ng-show="user.password.$error.pattern" class="error">
                              Must contain one lower &amp; uppercase letter.</span>-->
            
            <label for="password">Password</label>
          </div>
          <!--// password --> 
          <!--//  confirm password -->
          <div class="input-field">
            <label for="password_c">Confirm Password</label>
            <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" valid-password-c="formData.password" required />
            <span ng-show="user.password_c.$error.noMatch" class="error">Passwords do not match.</span> <span ng-show="user.password_c.$error.required" class="error">*</span> </div>
          <!--//  end confirm password -->
          <div class="input-field">
            <input id="zip" type="text" name="zip" ng-model="formData.zip" required>
            <span ng-show="user.zip.$error.required" class="error">*</span> <span ng-show="!user.zip.$valid && user.zip.$dirty" class="error">Zipcode Required</span>
            <label for="zip_code">Zip Code</label>
          </div>
          <div class="input-field">
            <input type="date" id="dat_of_birth" class="datepicker">
            <label for="dob">Date Of Birth</label>
            <script>
                                $('.datepicker').pickadate({
                                    selectMonths: true, // Creates a dropdown to control month
                                    selectYears: 15 // Creates a dropdown of 15 years to control year
                                });
                            </script> 
          </div>
          <div class="input-field center">
            <input name="group1" type="radio" id="female" checked/>
            <label for="female">Female</label>
            <input name="group1" type="radio" id="male" />
            <label for="male">Male</label>
          </div>
          <br>
          <br>
          <div class="row col s11">
            <div class="input-field">
              <input id="showregister" value="Next" class="btn black col s7 center offset-s3 save-changes showHide" type="submit" name="action" ng-disabled="formData.$invalid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content-register-step-2">
    <div class="row">
      <div class="col m5 s12 offset-s4 offset-m4 z-depth-2 opacity90 card">
        
          <div class="center">
            <div class="logo"><img src="{{ asset('bundles/lovethatfit/site/images/Logo_home.png') }}" width="30%" class="responsive-img"></div>
            <div class="row center"> <span class="title_txt">Snap - Style - Share - Shop</span> </div>
            <h4>Registration Step 2</h4>
            
            <!-- <h5>Let's Get Started!</h5>-->
            <br/> 
            <div class="text-center">Style your image with SelfieStyler.</div>
           
          </div>
         
          <!--Clothing Type--> 
          <div class="rowGroup">
          <div class="row">
            <div class="input-field col m8">
                <input id="pheight" type="text" class="validate"  name="pheight" ng-model="formData.pheight"  required>
                <label style="padding-left:10px;" for="pheight">Height</label>
            </div>
              
           
           <div class="input-field col m4"> 
               <select  ng-model="formData.ftin" name="ftin">
              <option value="Feet" selected> Feet </option>
              <option value="Inches" >Inches</option>
            </select>
                 </div>
             
         </div> 
           <div class="row">
               <div class="col m8">  
          <div class="input-field">
            <input id="pweight" type="text" class="validate"  ng-model="formData.pweight" name="pweight" required>
                 <label for="pweight">Weight</label>
          </div>
          </div>
          <div class="col m4">
               <select  ng-model="formData.kglbs" name="kglbs">
              <option value="kg" selected> Kg </option>
              <option value="lbs">lbs</option>
            </select>
          </div>
         </div>      
          </div>
              <!--Clothing Type-->
                 <div class="input-field"> 
            <select  ng-model="formData.clothing_type" name="clothing_type">
              <option value="" selected>Fit Types</option>
              <option value="regular">Regular</option>
              <option value="petite">Petite</option>
              <option value="tall">Tall</option>
              <option value="plus">Plus</option>
            </select>
                 </div>
             
          <!--Clothing Type-->
     
              <!--Clothing Type-->
               <div class="input-field"> 
            <select  ng-model="formData.body_shape" name="body_shape">
              <option value="" selected>Body Shapes</option>
              <option value="Apple">Apple</option>
              <option value="banana">Banana</option>
              <option value="hourglass">Hourglass</option>
              <option value="pear">Pear</option>
              <option value="triangle">Triangle</option>
            </select>
               </div>
             
              <!--Clothing Type-->
          
           <!--Clothing Type-->
             <div class="input-field"> 
           <select  ng-model="formData.body_shape" name="bra_size">
                <option value="" selected>Bra</option>
                <option value="28aa">28aa</option>
                <option value="28a">28a</option>
                <option value="28b">28b</option>
                <option value="28c">28c</option>
            </select>
             </div>
          
               <!--Clothing Type-->
         
           <!--Clothing Type-->
            <div class="input-field">
            <select ng-model="formData.device_type" name="device_type">
                <option value="" selected>Device Sizes</option>
                <option value="iphone5"> iphone5 </option>
                <option value="iphone5s"> iphone5s </option>
                <option value="iphone6">iphone6</option>
                <option value="iphone6s">iphone6s</option>
                 <option value="iphone7">iphone7</option>
            </select>
            </div>
           
          <!--Clothing Type-->
          <div class="row col s11">
             <div class="input-field">
            <button id="register_btn" type="submit" class="btn black col s7 center offset-s3">Submit</button>
             </div>
              </div>
      </div>
    </div>
  </div>
</form>



                        
<!--Registaration form!-->   
    <div id="content-login">
        <div class="row">
            <div class="col m5 s12 offset-s4 offset-m4 z-depth-2 opacity90 card">


                <div class="col m12">

                    <div class="center">
                        <div class="logo"><img src="{{ asset('bundles/lovethatfit/site/images/Logo_home.png') }}" width="30%" class="responsive-img"></div>
                        <h4>Login</h4>
                        <div class="row center">
                            <span class="title_txt">Snap - Style - Share - Shop</span>
                        </div>
                        <!-- <h5>Let's Get Started!</h5>-->
                        <p>Creat an account so you can try clothes on and see
                            look, fit and size on your own body.</p>
                    </div>


                    {#<form name="user" ng-controller="mainController">#}
                    <form action="/webapp/web/app_dev.php/login_check" method="post"  class="form" name="loginform" id="loginform">
                      <input type="hidden" name="_target_path" value="/inner_site/index">
                        <div class="input-field">
                            <input id="email" type="email" class="validate" name="_username" required>
                                <label for="email">Email</label>
                        </div>

                        <div class="input-field">
                            <input  type="password" name="_password"  required>

                            <label for="password">Password </label>
                        </div>

                        <br><br>
                        <div class="row col s11">
                            <div class="input-field">
                                {#<input id="showregister2" value="Sign Up" class="btn black col s5 offset-s1 save-changes" type="submit">#}
                                <input type="submit"  class="btn black darken-6 col s5 offset-s1" value="Submit"/>
                                {#<a class="btn grey darken-6 col s5 offset-s1">Login</a>#}
                            </div>
                        </div>
                    </form>

                </div>

            </div>





        </div>


    </div>
</div>


</body>
</html>
