{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Web Services Client</li>
{% endblock %}



{% block body %}

<div class="p_listing">     
    <h3>Web Services Client</h3>
    <div class="row">
        <div class="span1"></div>
        <div class="span4">
            <b>Service: </b>&nbsp;
            <select id="sel_service">
                <option>select</option>
                {% for k,v in services %}
                <option value="{{v['pattern']}}">{{ k }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span4">
            <b>User: </b>&nbsp;
            <select id="sel_user">
                <option>select</option>
                {% for k,v in users  %}
                <option value="{{v.authToken}}">{{ v.email }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="span2">
            <button type="submit" class="btn btn-default">Submit</button>        

            <input id="chk_new_window" type="checkbox"> New
        </div>
    </div>


    
    <div class="row">
            <div class="span1"></div>
        <div class="span4">
            <b>Request Params</b> <a href="#" id='btn_generate_form'>Generate form</a>
            <textarea style="width: 500px; height: 100px" id="txt_request_params"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="span1"></div>
        <div class="span4">
            <b>Optional Params</b>
            <textarea style="width: 500px; height: 100px" id="txt_optional_params"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="span1"></div>
        <div class="span4">
            <b>Response</b>
            <textarea style="width: 500px; height: 100px" id="txt_response_params"></textarea>
        </div>

    </div>   
<div class="row">
        <div class="span1"></div>
        <div id='gen_form' class="span4">
        </div>

    </div>   

    <div class="row">
        <div class="span1"></div>
        <div id='service_description' class="span4"></div>
    </div>
    <div class="row">
        <div class="span1"></div>
        <div  id='backend_process' class="span4"></div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script> 
    <script  type='text/javascript'>
    //-------------------------------------------------------
    {% autoescape false %};
    var j = '{{ services|json_encode()}}';
    var services_obj = JSON.parse(j);
    {% endautoescape %}
        
    //-------------------------------------------------------
    //------------- service dropdownlist --------------------------

    $("#sel_service").change(function() {      
        tt = $('option:selected', this).html();
        show_service_detail(tt);          
    });

    //------------------- user dropdownlist --------------------
    $("#sel_user").change(function() {  
      alert($('option:selected', this).html());  
    });


    $("#btn_generate_form").click(function() {  
      alert(service_form_gen($('option:selected', $('#sel_service')).html()));  
    });


    function service_form_gen(service_name){         
        service_detail = find_service_obj(service_name);
        return JSON.stringify(service_detail.params);
    }

      //--------------------------------------------------
     function show_service_detail(service_name){         
         if (tt=='select'){
            $('#service_description').html('');
            $('#backend_process').html('');
            $('#txt_request_params').val('');
            $('#txt_response_params').val("");
            $('#txt_optional_params').val("");
        }else{
            service_detail = find_service_obj(service_name);          
            $('#service_description').html(service_detail.description);
            $('#backend_process').html(service_detail.backend_process);
            $('#txt_request_params').val(JSON.stringify(service_detail.params));
            $('#txt_optional_params').val(JSON.stringify(service_detail.optional_params));
            $('#txt_response_params').val("");
        }
    } 
    
      //--------------------------------------------------
     function find_pattern(service_name){    
        service_detail = find_service_obj(service_name);
        return service_detail.pattern;    
    } 
    //--------------------------------------------------
    function find_service_obj(service_name){    
        for(var key in  services_obj)
           if(key==service_name)
                return services_obj[key];                     
    }
    
    
        </script>



{% endblock %}
