{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Web Services Client</li>
{% endblock %}



{% block body %}

<style>
        .c_pannel{
            background-color: #f5f5f5; padding: 10px;    
        }
        .service_header{
            font-size: 24px;
            font-weight: bold;
            color:  #257691;
        }
    </style>



    <div class="p_listing">     
        <h3>Web Services Client</h3>
        <div class="row">
            <div class="span1"></div>
            <div class="span4">
                <b>Service: </b>&nbsp;
                <select id="sel_service">
                    <option>select</option>
                {% for k,v in services %}
                    <option value="{{v['pattern']}}">{{ k }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="span4">
                <b>User: </b>&nbsp;
                <select id="sel_user">
                    <option>select</option>
                {% for k,v in users  %}
                    <option value="{{v.authToken}}">{{ v.email }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="span2">
                <button type="submit" class="btn btn-default" id='btn_hit_service'> Hit</button>        

                <input id="chk_new_window" type="checkbox"> New
            </div>
        </div>

        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">Service:</div>
            <div class="span4 service_header" id="service_name"></div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">URL:</div>
            <div class="span4 service_header" id="service_url"></div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">User:</div>
            <div class="span4 service_header" id="user_name"></div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">Token:</div>
            <div class="span4" id="user_auth_token"></div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">Timmer:</div>
            <div class="span2">00:00:00.00</div>
        </div>




        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span4">
                <b>Request Params</b> <a href="#" id='btn_generate_form'>Generate form</a>
                <textarea style="width: 500px; height: 100px" id="txt_request_params"></textarea>
            </div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span4">
                <b>Optional Params</b>
                <textarea style="width: 500px; height: 100px" id="txt_optional_params"></textarea>
            </div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div class="span4">
                <b>Response</b>
                <textarea style="width: 500px; height: 100px" id="txt_response_params"></textarea>
            </div>

        </div>   
        <div class="row c_pannel">
            <div class="span1"></div>
            <div id='gen_form' class="span4">
            </div>

        </div>   

        <div class="row c_pannel">
            <div class="span1"></div>
            <div id='service_description' class="span4"></div>
        </div>
        <div class="row c_pannel">
            <div class="span1"></div>
            <div  id='backend_process' class="span4"></div>
        </div>

        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script> 
        <script  type='text/javascript'>
        //-------------------------------------------------------
        {% autoescape false %};
        var j = '{{ services|json_encode()}}';
        var services_obj = JSON.parse(j);
        {% endautoescape %}
        
        //-------------------------------------------------------
        //------------- service dropdownlist --------------------------

        $("#sel_service").change(function() {      
            show_service_detail();          
            replace_user_data();
        });

        //------------------- user dropdownlist --------------------
        $("#sel_user").change(function() {  
            change_user_detail();  
            replace_user_data();
        });
     //--------------------------------------------------------- 

        $("#btn_generate_form").click(function() {  
          alert(service_form_gen($('option:selected', $('#sel_service')).html()));  
        });
//-------------------------------------
$( "#btn_hit_service" ).click(function() {
       if($('#service_name').html()!='' && $('#user_name').html()!=''){
            hit_service();
   }
})
 
     //--------------------------------------------------------- 
        function service_form_gen(service_name){         
            service_detail = find_service_obj(service_name);
            return JSON.stringify(service_detail.params);
        }

          //--------------------------------------------------
         function show_service_detail(){     
             tt = $('option:selected', $('#sel_service')).html();
             if (tt=='select'){
                 $('#service_name').html('');
                $('#service_url').html('');
                $('#service_description').html('');
                $('#backend_process').html('');
                $('#txt_request_params').val('');
                $('#txt_response_params').val("");
                $('#txt_optional_params').val("");
            }else{
                service_detail = find_service_obj(tt);          
                $('#service_name').html(service_detail.title);
                $('#service_url').html(service_detail.pattern);
                $('#service_description').html(service_detail.description);
                $('#backend_process').html(service_detail.backend_process);
                $('#txt_request_params').val(JSON.stringify(service_detail.params));
                $('#txt_optional_params').val(JSON.stringify(service_detail.optional_params));
                $('#txt_response_params').val("");
            }
        } 
       //--------------------------------------------------
         function change_user_detail(){         
             tt = $('option:selected', $('#sel_user')).html();             
             if (tt=='select'){
                $('#user_name').html('');
                $('#user_auth_token').html('');                
            }else{
                $('#user_name').html(tt);
                $('#user_auth_token').html($('option:selected', $('#sel_user')).val());
                
            }
        } 
          //--------------------------------------------------
         function find_pattern(service_name){    
            service_detail = find_service_obj(service_name);
            return service_detail.pattern;    
        } 
        //--------------------------------------------------
        function find_service_obj(service_name){    
            for(var key in  services_obj)
               if(key==service_name)
                    return services_obj[key];                     
        }
//-------------------------------------------------------------

function replace_user_data(){
          email = $("#user_name").text();
          token = $("#user_auth_token").text();
          request_json = $.trim($("#txt_request_params").val());
            if (request_json.indexOf("authTokenWebService")!=-1 || request_json.indexOf("email")!=-1){
                var obj1 = JSON.parse(request_json);
                if (request_json.indexOf("authTokenWebService")!=-1){
                    obj1.authTokenWebService=token;
                }
                if (request_json.indexOf("email")!=-1){
                    obj1.email=email;    
                }
                $("#txt_request_params").val(JSON.stringify(obj1));        
                
            }
        
}
    
    
    
    //-------------------------------------
function hit_service(){    
        var value_ar = JSON.parse($("#txt_request_params").val());        
        $.ajax({
               type: "POST",
               url: ".." + $("#service_url").text(),
               data: value_ar,  
               dataType: "json",
               success: function(data){
                   display_response(data);                    
                },
               failure: function(errMsg) {
                   display_response(errMsg);
               }
         });    
}

//-------------------------------------
    
 function display_response(data){
            str = JSON.stringify(data, null, 2);
            str = str.split("\\").join("");
            $('#txt_response_params').val(str);            
}   

        
            
        
    
            
        
    
            
        </script>



{% endblock %}
