{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Web Services Client</li>
{% endblock %}



{% block body %}

<style>
        .c_pannel{
            background-color: #f5f5f5; padding: 10px;    
        }
        .hide_pannel{
            display: none;
                
            }
         .show_pannel{
            display: block;                
            }            
        .service_header{
            font-size: 24px;
            font-weight: bold;
            color:  #257691;
        }
    </style>



    <div class="p_listing">     
        <h3>Web Services Client</h3>
        <div id="select_pannel" class="row">
            <div class="span1"></div>
            <div class="span4">
                <b>Service: </b>&nbsp;
                <select id="sel_service">
                    <option>select</option>
                {% for k,v in services %}
                    <option value="{{v['pattern']}}">{{ k }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="span4">
                <b>User: </b>&nbsp;
                <select id="sel_user">
                    <option>select</option>
                {% for k,v in users  %}
                    <option value="{{v.authToken}}">{{ v.email }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="span2">
                <button type="submit" class="btn btn-default" id='btn_hit_service'> Hit</button>        

                <input id="chk_new_window" type="checkbox"> New
            </div>
        </div>
        
    <div id='display_pannel'>
        <div id='service_name_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span1">Service:</div>
            <div class="span4 service_header" id="service_name"></div>
        </div>
        <div id='service_url_pannel'  class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span1">URL:</div>
            <div class="span4 service_header" id="service_url"></div>
        </div>
        <div  id='user_name_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span1">User:</div>
            <div class="span4 service_header" id="user_name"></div>
        </div>
        <div  id='user_token_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span1">Token:</div>
            <div class="span4" id="user_auth_token"></div>
        </div>
        <div  id='timmer_pannel' class="row c_pannel">
            <div class="span1"></div>
            <div class="span1">Timmer:</div>
            <span id="timer" class="span2">00:00:00.00</span><br>
            <span id="timer_status" style="display:none">0</span>
            <span id="timer_min"  style="display:none">0</span>
            <span id="timer_sec"  style="display:none">0</span>
            <span id="timer_mil_sec"  style="display:none">0</span>
        </div>
        
        <div  id='service_request_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span4">
                <b>Request Params</b> <a href="#" id='btn_generate_form'>Generate form</a>
                <textarea style="width: 500px; height: 100px" id="txt_request_params"></textarea>
            </div>
        </div>
        
        <div  id='service_image_pannel'  class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div  id='image_pannel' class="span4">select image to upload:
                <input type="file" id="image_to_upload" name="image_to_upload">
            </div>
        </div>
            
        <div  id='service_response_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div class="span4">
                <b>Response</b>
                <textarea style="width: 500px; height: 100px" id="txt_response_params"></textarea>
            </div>
        </div>   
        
        <div  id='service_form_gen_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div id='gen_form' class="span4">
            </div>

        </div>   

        <div  id='service_description_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div id='service_description' class="span4"></div>
        </div>
        
        <div  id='service_backend_process_pannel' class="row c_pannel hide_pannel">
            <div class="span1"></div>
            <div  id='backend_process' class="span4"></div>
        </div>
        
            
            
</div>        
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script> 
        <script  type='text/javascript'>
        //-------------------------------------------------------
        {% autoescape false %};
        var j = '{{ services|json_encode()}}';
        var services_obj = JSON.parse(j);
        {% endautoescape %}
        
        //-------------------------------------------------------
        //------------- service dropdownlist --------------------------

        $("#sel_service").change(function() {      
            update_service_detail();          
            replace_user_data();
        });

//-------------------------------------
$( "#btn_hit_service" ).click(function() {
       if($('#service_name').html()!='' && $('#user_name').html()!=''){
             tt = $('option:selected', $('#sel_service')).html();
             service_detail=(tt=='select'?null:find_service_obj(tt));
            if(service_detail!=null && service_detail.file_upload){
                hit_image_upload_service();
            }else{
                hit_service();
            }
   }
})
 
//--------------------------------------------------------- 
        function service_form_gen(service_name){         
            service_detail = find_service_obj(service_name);
            return JSON.stringify(service_detail.params);
        }

//--------------------------------------------------
         function update_service_detail(){     
             tt = $('option:selected', $('#sel_service')).html();
             fill_service_detail(tt=='select'?null:find_service_obj(tt));
        } 
//---------------------------------------------------------         
          
          function fill_service_detail(service_detail){
                $('#service_name').html(service_detail==null?'':service_detail.title);
                $('#service_url').html(service_detail==null?'':service_detail.pattern);
                $('#service_description').html(service_detail==null?'':service_detail.description+'. Optional params: '+JSON.stringify(service_detail.optional_params));
                $('#backend_process').html(service_detail==null?'':service_detail.backend_process);
                $('#txt_request_params').val(service_detail==null?'':JSON.stringify(service_detail.params));
                $('#txt_response_params').val("");
                display=service_detail==null?'none':'block';
                $('#service_name_pannel').css("display", display);
                $('#service_url_pannel').css("display", display);
                $('#service_description_pannel').css("display", display);
                $('#service_backend_process_pannel').css("display", display);
                $('#service_request_pannel').css("display", display);
                $('#service_response_pannel').css("display", display);
                $('#service_image_pannel').css("display", (service_detail!=null && service_detail.file_upload)?'block':'none');
        }         
       
          //--------------------------------------------------
         function find_pattern(service_name){    
            service_detail = find_service_obj(service_name);
            return service_detail.pattern;    
        } 
        //--------------------------------------------------
        function find_service_obj(service_name){    
            for(var key in  services_obj)
               if(key==service_name)
                    return services_obj[key];                     
        }

//-------------------------------------------------------------

function hit_service(){    
        var value_ar = JSON.parse($("#txt_request_params").val());        
        restartTimer();//~~~~~~~~~~~~~~>
        $.ajax({
               type: "POST",
               url: ".." + $("#service_url").text(),
               data: value_ar,  
               dataType: "json",
               success: function(data){
                   display_response(data);                    
                },
               failure: function(errMsg) {
                   display_response(errMsg);
               }
         });    
}
//-------------------------------------------------------------
 
  //--------------------------------------------------------- 

        $("#btn_generate_form").click(function() {  
          alert('generate form');
        });
        
//-----------------------------------------------------------        
function hit_image_upload_service(){    
        
        var value_ar = JSON.parse($("#txt_request_params").val());        
        input_file = document.getElementById('image_to_upload');
        data= new FormData();
        data.append("image", input_file.files[0]);
        data.append("email",value_ar['email']);
        data.append("pixel_per_inch",value_ar['pixel_per_inch']);
        data.append("device_type",value_ar['device_type']);
        data.append("upload_type",value_ar['upload_type']);            

        $.ajax({
                 type: "POST",
                 url: ".." + $("#service_url").text(),
                 data: data,  
                 processData: false,
                 contentType: false,
                 enctype: 'multipart/form-data',
                 success: function(data){
                     display_response(data);                    
                  },
                 failure: function(errMsg) {
                     display_response(errMsg);
                 }
              });    
}

//-------------------------------------
    
 function display_response(data){
            stopTimer();
            if($('#chk_new_window').is(':checked')){
                var win=window.open('about:blank');
                    with(win.document)
                    {
                      open();
                      str = JSON.stringify(data, null, 2);
                      str = str.split("\\").join("");
                      write(str);
                      close();
                    }
            }else{
                str = JSON.stringify(data, null, 2);
                str = str.split("\\").join("");
                $('#txt_response_params').val(str);            
            }
}   
//-----------------------------------------------------    
//-----------------------------------------------------    
//-----------------------------------------------------    

//------------------- user dropdownlist --------------------
        $("#sel_user").change(function() {  
            change_user_detail();  
            replace_user_data();
            
        });
//-----------------------------------------------------    

function replace_user_data(){
          email = $("#user_name").text();
          token = $("#user_auth_token").text();
          request_json = $.trim($("#txt_request_params").val());
            if (request_json.indexOf("auth_token")!=-1 || request_json.indexOf("email")!=-1){
                var obj1 = JSON.parse(request_json);
                if (request_json.indexOf("auth_token")!=-1){
                    obj1.auth_token=token;
                }
                if (request_json.indexOf("email")!=-1){
                    obj1.email=email;                    
                }
                if (email.indexOf("buf")!=-1 && request_json.indexOf("password")!=-1){
                    obj1.password='Buffalo1';    
                }
                $("#txt_request_params").val(JSON.stringify(obj1));        
                hit_user_service();
            }        
}
 
//-------------------------------------------------------------
var user_JSON;
function hit_user_service(){    
        email = $("#user_name").text();    
        service_url='/ws_interface/user/'+email;
        $.ajax({
               type: "GET",
               url: ".." + service_url,
               success: function(data){
                   user_JSON=data;
                   replace_all_user_data(data);     
                   //$("#txt_response_params").text(data);
                   //alert(data);
                   },
               failure: function(errMsg) {
                   alert(errMsg);
               }
         });    
}

   
//-----------------------------------------

function replace_all_user_data(user_detail){
    var u_obj = JSON.parse(user_detail);
    var r_obj = JSON.parse($("#txt_request_params").val());
    for(var ukey in u_obj){
        for(var rkey in r_obj){
            if (rkey==ukey){
                if(u_obj[ukey]){
                    r_obj[rkey]=u_obj[ukey];
                }
            }
        }
    }
    $("#txt_request_params").val(JSON.stringify(r_obj));
 //   alert(JSON.stringify(r_obj));
}
//var user_JSON;

//--------------------------------------------------
 
 
        function change_user_detail(){         
             tt = $('option:selected', $('#sel_user')).html();             
             if (tt=='select'){
                $('#user_name').html('');
                $('#user_auth_token').html('');                
                $('#user_name_pannel').css("display", 'none');
                $('#user_token_pannel').css("display", 'none');                
            }else{
                $('#user_name').html(tt);
                $('#user_auth_token').html($('option:selected', $('#sel_user')).val());
                $('#user_name_pannel').css("display", 'block');
                $('#user_token_pannel').css("display", 'block');  
            }
        } 
 
 //-------------------------------------------------------------
 
 
    //-------------------------------------


//-----------------------------------------------------    
//-----------------------------------------------------    
//-----------------------------------------------------    


function startTimer(){
    if ($("#timer_status").text()!='-1'){
    mil_sec=parseInt($("#timer_mil_sec").text())+1;
    sec=parseInt($("#timer_sec").text());
    min=parseInt($("#timer_min").text());
    if(mil_sec==100){
        mil_sec=0;
        sec=sec+1;
        if(sec==60){
            sec=0;
            min=min+1;
        }
    }
    setTimer('0:'+min.toString()+':'+sec.toString()+'.'+mil_sec.toString());    
    setTime(min,sec,mil_sec);
    var timer=setTimeout(function(){startTimer()});
    }
}
//-----------------------------------------------------    
function stopTimer(){
$("#timer_status").text(-1);
}
//------------------------------------
function restartTimer(){
    resetTimer();
    startTimer(); 
}
//-----------------------------------------------------    
function resetTimer(){
$("#timer_status").text(0);
setTime(0,0,0);
setTimer("00:00:00.00");
}    
//------------------------------------
function setTimer(ms){    
    $("#timer").text(ms);
}
//------------------------------------
function setTime(m,s,ms){    
$("#timer_mil_sec").text(ms);
$("#timer_sec").text(s);
$("#timer_min").text(m);
}

            </script>



{% endblock %}
