

{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
       <li class="active">Clothing Types</li>
{% endblock %}



{% block body %}
<div class="p_listing">     
    <h1 style="float:left;">Clothing Types</h1>
    <div class="btn_wrapper">     
     <a href="{{ path('admin_clothing_type_new') }}" class="btn">Add New</a>
      </div>
     <div class="clearfix"></div>

    <div class="bs-docs-grid">              

        <div class="row-fluid show-grid">
            <div class="span3 hds">ID</div>
            <div class="span3 hds">Name</div>
            <div class="span3 hds">Target</div>
            <div class="span3 hds">&nbsp;</div>              
        </div>  

          {% for ct in clothing_types %}

        <div class="row-fluid show-grid">
            <div class="span3">{{ct.Id}}</div>
            <div class="span3">{{ct.Name}}</div>
            <div class="span3">{{ct.Target}}</div>
            <div class="span3">                  
                <div>
                    <a href="{{ path('admin_clothing_type_show', {'id': ct.Id}) }}"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('admin_clothing_type_edit', {'id': ct.Id}) }}"><i class="icon-edit"></i></a>
                    <a href="{{ path('admin_clothing_type_delete', {'id': ct.Id}) }}">del</a>
                </div> 
            </div>              
        </div>


{% endfor %}



    </div>
</div>


{% endblock %}
