{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Clothing Types </li>
{% endblock %}



{% block body %}
  
<div class="p_listing">     
    <h1 style="float:left;">Clothing Types</h1>
 <div class="btn_wrapper">
 <div align="left">
     Total:  {{rec_count}}
     Top:   {{criteriaTop}}
     Bottom:{{criteriaBottom}}
     Dress:{{criteriaDress}}
  </div>
     <a href="{{ path('admin_clothing_type_new') }}" class="btn">Add New</a>
      </div>
     <div class="clearfix"></div> 
    
    <div class="bs-docs-grid">              

        <div class="row-fluid show-grid">
            <div class="span1 hds"><a href="{{  path('admin_clothing_types')~'/'~ 1~'/'~'id' }}" style=" text-decoration: none;">ID</a></div>
            <div class="span1 hds"><a href="{{  path('admin_clothing_types')~'/'~ 1~'/'~'name' }}" style=" text-decoration: none;">Name</a></div>
            <div class="span1 hds"><a href="{{  path('admin_clothing_types')~'/'~ 1~'/'~'target' }}" style=" text-decoration: none;">Target</a></div>
            <div class="span1 hds"></div>                  
            <div class="span1 hds"></div>  
            <div class="span1 hds"></div> 
             <div class="span1 hds"></div>
            
        </div>  

          {% for ct in clothing_types %}

        <div class="row-fluid show-grid">
            <div class="span1">{{ct.Id}}</div>
            <div class="span1">{{ct.Name}}</div>
            <div class="span1">{{ct.Target}}</div>                        
            <div class="span1">{%if(ct.disabled==1)%} Disabled {%else%}  {%endif%}</div>
            <div class="span1">
                    <a href="{{ path('admin_clothing_type_show', {'id': ct.Id}) }}" title="Show {{ct.Name}}"><i class="icon-eye-open"></i></a>
                    <a href="{{ path('admin_clothing_type_edit', {'id': ct.Id}) }}" title="Edit {{ct.Name}}"><i class="icon-edit"></i></a>
                    <a href="#myModal{{ct.Id}}" role="button" data-toggle="modal" title="Delete {{ct.Name}}"><i class="icon-remove"></i></a>
          
            </div>
                <div class="span1"></div> 
                 <div class="span1"></div> 
        </div>
        <!-- Modal -->
<div id="myModal{{ct.Id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Clothing Type</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Clothing type <b>{{ct.Name }}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_clothing_type_delete', {'id': ct.Id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>
{% endfor %}

   

 </div> 

    </div>
   
 {% include 'LoveThatFitAdminBundle::_pagination.html.twig'
  with {'rec_count':rec_count,'limit':limit,'per_page_limit':per_page_limit,'no_of_pagination':no_of_pagination
,'controller_name':'admin_clothing_types'}
        %}   
</div>


{% endblock %}