{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
    <li class="active">Evaluation Default Products</li>
{% endblock %}


{% block body %}
    {# Load files for choosen select#}
    <link href="{{ asset('bundles/lovethatfit/support/chosen/chosen.css') }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/support/chosen/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/support/chosen/prism.js') }}"></script>
    <style>
        #lovethatfit_supportbundle_evaluationdefaultproductstype_product_id_chosen{
            display: none;
        }
    </style>
    {# Load files for choosen select#}

    <div class="p_listing">
        <div class="form-style-2">
            <h2>Edit</h2>
            <p>
                <a href="{{ path('evaluationdefaultproducts') }}">
                    Back to the list
                </a>
            </p>

            <div class="form-style-2-heading">Edit -> {{ product_info.getName() }}
                <div style="display: inline-block">
                    <form action="{{ path('evaluationdefaultproducts_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete?');">Delete
                        </button>
                    </form>
                </div>

            </div>
            <p>
                <form action="{{ path('evaluationdefaultproducts_update', { 'id': entity.id }) }}"
                      method="post" {{ form_enctype(edit_form) }}>
                    {{ form_widget(edit_form) }}
            <div id="product_name_replace"></div>
            <p></p>
            <label for="lovethatfit_supportbundle_evaluationdefaultproductstype_product_sizes" class="required">Available
                Sizes</label>
            <div class="load-sizes-loader" style="display: none">
                <img src="{{ asset('bundles/lovethatfit/support/ajax-loader.gif') }}"/>
            </div>
            <select name="lovethatfit_supportbundle_evaluationdefaultproductstype[product_sizes][]"
                    id="lovethatfit_supportbundle_evaluationdefaultproductstype_product_sizes"
                    required="required"
                    multiple>
                {% for key, size in product_sizes %}
                    <option value="{{ key }}" {% if key in selected_sizes %} selected="selected" {% endif %}>{{ size }}</option>
                {% endfor %}
            </select>
            <p>
            <p></p>
            <input type="submit" value="Edit">
            </p>
            </form>
            </p>


        </div>
    </div>
    <style>
        #lovethatfit_supportbundle_evaluationdefaultproductstype_product_sizes_chosen > .chosen-drop {
            overflow-y: scroll;
            height: 150px;
        }
    </style>

    <script>

        var url = "{{ path('get_product_sizes') }}";

        $(document).ready(function () {
            {% for product in exists_products %}
            {% if entity.getProductID() != product %}
            $("#lovethatfit_supportbundle_evaluationdefaultproductstype_product_id option[value='{{ product }}']").remove();
            {% endif %}
            {% endfor %}

            //Selected Default Value
            $("#lovethatfit_supportbundle_evaluationdefaultproductstype_product_id").val({{ entity.getProductId }});

            var config = {
                '#lovethatfit_supportbundle_evaluationdefaultproductstype_product_id': {},
                '#lovethatfit_supportbundle_evaluationdefaultproductstype_product_sizes': {},
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

            //Get Selected product
            var selectedProdict = $("#lovethatfit_supportbundle_evaluationdefaultproductstype_product_id option:selected").text();
            $('#product_name_replace').html(selectedProdict);

        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/lovethatfit/support/ajax-script.js') }}"></script>
    <link href="{{ asset('bundles/lovethatfit/support/custom.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}