{% extends 'LoveThatFitCartBundle::basecart.html.twig' %}

{% block profile_heading %}

    {#<h1>Billing Information</h1>#}
{% endblock %}
{% block profile_section %}
    <script type="text/javascript">
     function showShipping(chkbox){
         if(chkbox.checked == true) {
             $('#billing_shipping_first_name').val($('#billing_billing_first_name').val());
             $('#billing_shipping_last_name').val($('#billing_billing_last_name').val());
             $('#billing_shipping_address1').val($('#billing_billing_address1').val());
             $('#billing_shipping_address2').val($('#billing_billing_address2').val());
             $('#billing_shipping_phone').val($('#billing_billing_phone').val());
             $('#billing_shipping_city').val($('#billing_billing_city').val());
             $('#billing_shipping_postcode').val($('#billing_billing_postcode').val());
             $('#billing_shipping_country').val($('#billing_billing_country').val());
             $('#billing_shipping_state').val($('#billing_billing_state').val());
             $('#ship_info').val('0');
         }
         if(chkbox.checked == false) {
             $('#billing_shipping_first_name').val('');
             $('#billing_shipping_last_name').val('');
             $('#billing_shipping_address1').val('');
             $('#billing_shipping_address2').val('');
             $('#billing_shipping_phone').val('');
             $('#billing_shipping_city').val('');
             $('#billing_shipping_postcode').val('');
             $('#billing_shipping_country').val('');
             $('#billing_shipping_state').val('');
         }

     }
//     function getUserDetail(address,is_billing){
//         $.ajax({
//             type: "GET",
//             url: "order/get_address/" + address[address.selectedIndex].value,
//             success: function(data){
//                 var u_obj = JSON.parse(data);
//                 if(is_billing == 1){
//                 $('#billing_billing_first_name').val(u_obj.first_name);
//                 $('#billing_billing_last_name').val(u_obj.last_name);
//                 $('#billing_billing_address1').val(u_obj.address1);
//                 $('#billing_billing_address2').val(u_obj.address2);
//                 $('#billing_billing_phone').val(u_obj.phone);
//                 $('#billing_billing_city').val(u_obj.city);
//                 $('#billing_billing_postcode').val(u_obj.postcode);
//                 $('#billing_billing_country').val(u_obj.country);
//                 $('#billing_billing_state').val(u_obj.state);
//                 $('#bill_info').val('0');
//                 //replace_all_user_data(data);
//                 }else{
//                 $('#billing_shipping_first_name').val(u_obj.first_name);
//                 $('#billing_shipping_last_name').val(u_obj.last_name);
//                 $('#billing_shipping_address1').val(u_obj.address1);
//                 $('#billing_shipping_address2').val(u_obj.address2);
//                 $('#billing_shipping_phone').val(u_obj.phone);
//                 $('#billing_shipping_city').val(u_obj.city);
//                 $('#billing_shipping_postcode').val(u_obj.postcode);
//                 $('#billing_shipping_country').val(u_obj.country);
//                 $('#billing_shipping_state').val(u_obj.state);
//                 $('#ship_info').val('0');
//                 }
//             },
//             failure: function(errMsg) {
//                 alert(errMsg);
//             }
//         });
//     }


    </script>
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}


    <div>

        {#<div class="btn_wrapper">#}
            {#<a href="{{path('cart_show')}}" class="btn">back</a>#}
        {#</div>#}
        <div class="clearfix"></div>
        <form action="{{ path('save_addresses') }}" method="post" {{ form_enctype(form) }} onsubmit="return validates();">
            {{ form_errors(form) }}

            <div id="detail_wrapper" class="detail_wrap">
                <div id="product_content">
                    <div id="pro_detail">
                        <div class="edt_container billing">
                             <div id="breadcrumb">
        <ul>
            <li><a href="#">Shopping Cart</a></li>
            <li class="bd_sep">>></li>
            <li class="active"><a href="#">Delivery &amp; Shopping</a></li>
             <li class="bd_sep">>></li>
            <li><a href="#">Billing Methods</a></li>
        </ul>
    </div><br>
    
                            <h1>Billing Information</h1>
                            
                          
                            <br>
                            
                            
                            <table cellspacing="0" cellpadding="0" border="1" class="billing_tbl">
                                
                           
                                <tr>
                                    <td> 
                                        
                                        
                                      {#<select name="addresses" class="address_focus" id="addresses" style="width:250px ;" onchange="getUserDetail(this,'1');">#}
                                    {#<option value="">Select From Saved Address</option>#}
                                    {#{% for c in user_addresses %}#}
                                    {#<option value="{{ c.id }}">{{ c.address1 }}</option>#}
                                    {#{% endfor %}#}
                                    {#</select>#}

                                        <div class="span3">{{ form_widget(form.billing_first_name,{ 'attr': {'placeholder': "First Name"}}) }}{{ form_errors(form.billing_first_name) }}</div>
                                    </td>                       
                                
                                
                                
                                    <td>
                                        <div class="span3">{{ form_widget(form.billing_last_name,{ 'attr': {'placeholder': "Last Name"}}) }}{{ form_errors(form.billing_last_name) }}</div>

                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <div class="span3">{{ form_widget(form.billing_address1,{ 'attr': {'placeholder': "Address 1"}}) }}{{ form_errors(form.billing_address1) }}</div>
                                    
                                    </td>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.billing_address2,{ 'attr': {'placeholder': "Address 2"}}) }}{{ form_errors(form.billing_address2) }}</div>
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>
                                        <div class="span3">{{ form_widget(form.billing_phone,{ 'attr': {'placeholder': "Phone"}}) }}{{ form_errors(form.billing_phone) }}</div>
                                        

                                    </td>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.billing_city,{ 'attr': {'placeholder': "City"}}) }}{{ form_errors(form.billing_city) }}</div>
                                        
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <div class="span3">{{ form_widget(form.billing_postcode,{ 'attr': {'placeholder': "Postal Code"}}) }}{{ form_errors(form.billing_postcode) }}</div>

                                    </td>
                                    
                                    <td>
                                        <div class="span3">{{ form_widget(form.billing_country,{ 'attr': {'placeholder': "Country"}}) }}{{ form_errors(form.billing_country) }}</div>

                                    </td>
                                    
                                </tr>
                                <tr>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.billing_state,{ 'attr': {'placeholder': "State"}}) }}{{ form_errors(form.billing_state) }}</div>
                                        
                                    </td>
                                    <td>
                                        

                                        
                                    </td>
                                </tr>
                                
                                 <tr>
                                    
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                
                                
                                
                                
                                <tr>
                                    
                                    <td colspan="2"><div class="span3"><input type="checkbox" name="shipping" value="1" onclick="showShipping(this)"> <span style="font-size: 0.8em;">Shipping Information same as Billing above</span></div></td>
                                </tr>
                                
                            </table>                          
                            
                            
                                                     
                            <div class="clearfix">&nbsp;</div>
                            <div id="shipping">
                            <h1>Shipping Information</h1>
                            
                           
                            
                            <br>
                            
                            
                            <table cellspacing="0" cellpadding="0" border="1" class="billing_tbl">
                                
                                <tr>
                                    
                                    <td>
                                        {#<select name="addresses2" class="address_focus" id="addresses2" style="width:250px ;" onchange="getUserDetail(this,'0');">#}
                                            {#<option value="">Select From Saved Address</option>#}
                                            {#{% for c in shipping_addresses %}#}
                                                {#<option value="{{ c.id }}">{{ c.address1 }}</option>#}
                                            {#{% endfor %}#}
                                        {#</select>#}
                                        <div class="span3">{{ form_widget(form.shipping_first_name,{ 'attr': {'placeholder': "First Name"}}) }}{{ form_errors(form.shipping_first_name) }}</div>
                                    </td>
                                    
                                    <td>
                                        <div class="span3">{{ form_widget(form.shipping_last_name,{ 'attr': {'placeholder': "Last Name"}}) }}{{ form_errors(form.shipping_last_name) }}</div>
                                       

                                    </td>
                                </tr>
                                
                                <tr>
                                    
                                    <td>
                                        <div class="span3">{{ form_widget(form.shipping_address1,{ 'attr': {'placeholder': "Address 1"}}) }}{{ form_errors(form.shipping_address1) }}</div>

                                        
                                    </td>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.shipping_address2,{ 'attr': {'placeholder': "Address 2"}}) }}{{ form_errors(form.shipping_address2) }}</div>

                                    </td>
                                    
                                    
                                    
                                </tr>
                                
                                <tr>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.shipping_phone,{ 'attr': {'placeholder': "Phone"}}) }}{{ form_errors(form.shipping_phone) }}</div>
                                        
                                    </td>
                                    
                                    <td>

                                        <div class="span3">{{ form_widget(form.shipping_city,{ 'attr': {'placeholder': "City"}}) }}{{ form_errors(form.shipping_city) }}</div>
                                        
                                    </td>
                                </tr>
                                
                                <tr>
                                    
                                    <td>
                                        <div class="span3">{{ form_widget(form.shipping_postcode,{ 'attr': {'placeholder': "Postal Code"}}) }}{{ form_errors(form.shipping_postcode) }}</div>

                                    </td>
                                    
                                    <td>
                                        <div class="span3">{{ form_widget(form.shipping_country,{ 'attr': {'placeholder': "Country"}}) }}{{ form_errors(form.shipping_country) }}</div>

                                    </td>
                                </tr>
                                
                                
                                <tr>
                                    <td>

                                        <div class="span3">{{ form_widget(form.shipping_state,{ 'attr': {'placeholder': "State"}}) }}{{ form_errors(form.shipping_state) }}</div>
                                        
                                    </td>
                                    <td>
                                       

                                        
                                    </td>
                                    
                                </tr>
                            </table>
                            
                            
                         

                           

                           

                           
                            </div>

                            <div class="row-fluid show-grid">

                                <div class="span3">&nbsp;</div>

                                {{ form_rest(form) }}
                                <div class="span3">

                                    <div style="margin:0px 0px 0px 0px;"><input type="hidden" name="order_amount" value="{{ order_amount }}"><input type="hidden" id="bill_info" name="bill_info" value="1"> <input type="hidden" id="ship_info" name="ship_info" value="1"> <input type="submit" value="Continue" class="checkout_btn"/>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div><!-- End pro_detail -->
            </div><!-- End product_content -->

        </form>
    </div>


{% endblock %}