<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Love That Fit</title>
        
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/paper.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/mask_marker.js') }}"></script>
        
    </head>
    <body class="mask_marker">
        
        <img src="{{ asset('bundles/lovethatfit/site/images/logo_inner.png') }}" width="177" height="108">
        
    </body>
</html>