<div style="clear: both">
    <h3>{{product.name }}</h3>

    <div style="clear: both"></div>
{% if data.message is defined %}
    <div  style="color:red"> {{data.message}}</div>
{% endif %}
    
{% if data.recommendation is defined %}
    <b>Recommendation</b> 
        {% for size, size_specs in data.recommendation %}     
            &nbsp;|&nbsp;{{size}} 
        {% endfor %}
{% endif %}
    
{% if data.feedback is defined %}
    <h5>Feedback</h5>
    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
    {% for size, size_specs in data.feedback %} 
            <tr>
                <td style="width: 50px;background-color: #FFFFDF"><b>
                        <a target="_blank" href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":size_specs['id']})}}' > {{size}}</a>
                    
                    </b>| <i></i> 
                   

                        </td>            
                    </tr>
            {% if size_specs.fit_points is defined %}
                    <tr>
                        <td>
                            <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
                                <b>
                                    <tr>
                                        <td></td>
                                        <td>Body</td>
                                        <td>Fit-model</td>
                                        <td>Low</td>
                                        <td>High</td>
                                        <td>Max</td>
                                    </tr>
                                </b>

                            {% for fp, fp_specs in size_specs.fit_points %} 


                                    <tr>
                                        <td>{{fp}}({{fp_specs.fit_priority}}%)</td>
                                        <td><b>{{fp_specs.body_measurement}}</b></td>
                                        <td>({{fp_specs.mid_low_high}})</td>
                                        <td><b>{{fp_specs.ideal_body_size_low}}</b></td>
                                        <td><b>{{fp_specs.ideal_body_size_high}}</b></td>
                                        <td><b>{{fp_specs.max_body_measurement}}</b></td>                                
                                    </tr>

                            {% endfor %}
                            {% if size_specs.hem_advice is defined %}
                                    <tr>
                                        <td colspan="10">
                                            <b>Hem Advice :</b> {{size_specs.hem_advice.message}}
                                            
                                            <br>
                                            <span  style="background-color: #FFFFFF; font-size:11px;">
                                                    <b>Body</b>&nbsp;
                                                    (&nbsp;
                                                    {{ (size_specs.hem_advice.body_outseam is defined)? 'outseam:'~size_specs.hem_advice.body_outseam~' , ' }}
                                                    {{ (size_specs.hem_advice.body_inseam is defined)? 'inseam:'~size_specs.hem_advice.body_inseam~' , ' }}                                             
                                                    {{ (size_specs.hem_advice.knee is defined)? 'knee:'~size_specs.hem_advice.knee~' , ' }}
                                                    {{ (size_specs.hem_advice.mid_calf is defined)? 'mid calf:'~size_specs.hem_advice.mid_calf~' , ' }}
                                                    {{ (size_specs.hem_advice.ankle is defined)? 'ankle:'~size_specs.hem_advice.ankle~' , ' }}
                                                    &nbsp;)
                                            </span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span  style="background-color: #FFFFFF; font-size:11px;">
                                                    <b>Item</b> &nbsp;
                                                    (&nbsp;
                                                    {{ (size_specs.hem_advice.item_hem_length is defined) ? 'hem length:'~size_specs.hem_advice.item_hem_length~' , '}}
                                                    {{ (size_specs.hem_advice.item_inseam is defined) ? 'hem length:'~size_specs.hem_advice.item_inseam~' , '}}                                             
                                                    &nbsp;)
                                            </span>
                                        </td>            
                                    </tr>
                            {% endif %}
                            </table>
                        </td>   
                    </tr>
                {% endif%}
   {% endfor %}
                </table>
{% endif %}
            </div>     
