<div style="clear: both">
    <h3>{{product.name }}</h3>

    <div style="clear: both"></div>
{% if data.message is defined %}
    <div  style="color:red"> {{data.message}}</div>
{% endif %}
    
{% if (data.recommendation is defined) and  (data.recommendation is not null) %}
    <b>Recommendation</b> 
    {{data.recommendation.description}}
        {# for size, size_specs in data.recommendation %}     
            {% if size_specs is not iterable %}
                &nbsp;|&nbsp;{{size}} : {{size_specs}}
            {% endif %}
        {% endfor #}
{% endif %}
    
{% if data.feedback is defined %}
    <h5>Feedback</h5>
    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
    {% for size, size_specs in data.feedback %} 
            <tr>
                <td style="width: 50px;background-color: #FFFFDF"><b>
                        <a target="_blank" href='{{path("admin_product_detail_size_edit",{"id":product.id, "size_id":size_specs['id']})}}' > {{size}}</a>
                    
                    </b> | <i>fit_index: {{size_specs.fit_index}}</i> 
                   

                        </td>            
                    </tr>
            {% if size_specs.fit_points is defined %}
                    <tr>
                        <td>
                            <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
                                <b>
                                    <tr>
                                        <td>Fit Priority</td>
                                        <td style="background-color:#A9F5D0">Body</td>
                                        <td style="background-color:#A9F5D0">FX</td>                                                                             
                                        <td style="background-color:#A9F5D0">Grade Rule	</td>
                                        <td style="background-color:#A9F5D0">Garment Dimension</td>	
                                        <td style="background-color:#A9F5D0">Garment Stretch </td>

                                        <td style="background-color:#A9F5D0">Lowest</td>
                                        <td style="color:Red">MIN Actual</td>                                        
                                        <td style="background-color:#A9F5D0">Low</td>                                        
                                        
                                        <td style="background-color:#A9F5D0">Fit Model</td>
                                        <td style="background-color:#A9F5D0">High</td>
                                        <td style="color:Red">Max Actual</td>
                                        <td style="background-color:#A9F5D0">MAX Calc</td>
                                        <td>message</td>
                                        <td>variance</td>
                                    </tr>
                                </b>

                            {% for fp, fp_specs in size_specs.fit_points %} 


                                    <tr>                                        
                                        <td>{{fp}}(<b>{{fp_specs.fit_priority}}</b>)</td>
                                        <td style="font-weight: bold; background-color:#A9F5D0">{{fp_specs.body_measurement}}</td>
                                        {% if (fp_specs.body_fx<0)%}
                                            <td style="font-weight: bold; background-color:pink">{{fp_specs.body_fx}}{#fp_specs.fp_fx#}</td>
                                        {% else %}
                                            <td style="font-weight: bold; background-color:#A9F5D0">{{fp_specs.body_fx}}{#fp_specs.fp_fx#}</td>
                                        {% endif %}
                                        
                                        <td style="background-color:#A9F5D0">{{fp_specs.grade_rule}}</td>
                                        <td style="background-color:#A9F5D0">{{fp_specs.garment_measurement_flat}}</td>
                                        <td style="background-color:#A9F5D0">{{fp_specs.garment_measurement_stretch_fit}}</td>
                                        
                                        <td style="background-color:#A9F5D0">{{fp_specs.calc_min_body_measurement}}</td>
                                        <td style="font-weight: bold; color:Red">{{fp_specs.min_body_measurement}}</td>                                        
                                        <td style="background-color:#A9F5D0">{{fp_specs.ideal_body_size_low}}</td>                                        
                                        
                                        <td style="background-color:#A9F5D0"><b>{{fp_specs.fit_model}}</b></td>
                                        <td style="background-color:#A9F5D0">{{fp_specs.ideal_body_size_high}}</td>
                                        <td style="font-weight: bold; color:Red">{{fp_specs.max_body_measurement}}</td>                                
                                        <td style="background-color:#A9F5D0">{{fp_specs.calc_max_body_measurement}}</td>
                                        <td>{{fp_specs.message}}
                                        ({{fp_specs.status}})
                                        <br>
                                        {{fp_specs.fitting_alert}}
                                        </td>
                                        <td>{{fp_specs.variance}}</td>
                                    </tr>

                            {% endfor %}
                                      <tr>
                                        <td></td>                                        
                                        <td></td>                                        
                                        <td>{{size_specs.fit_index}}</td>
                                        <td></td>
                                        <td></td>	
                                        <td></td>
                                        <td></td>                                        
                                        <td></td>       
                                        <td></td> 
                                        
                                        <td></td> 
                                        <td></td>                                        
                                        <td></td>       
                                        <td></td>
                                        <td>{{size_specs.message}}
                                            ({{size_specs.status}})</td>                                                                                
                                        <td>{{size_specs.variance}}</td>                
                                        
                                    </tr>
                            {% if size_specs.hem_advice is defined %}
                                    <tr>
                                        <td colspan="10">
                                            <b>Hem Advice :</b> {{size_specs.hem_advice.message}}
                                            
                                            <br>
                                            <span  style="background-color: #FFFFFF; font-size:11px;">
                                                    <b>Body</b>&nbsp;
                                                    (&nbsp;
                                                    {{ (size_specs.hem_advice.body_outseam is defined)? 'outseam:'~size_specs.hem_advice.body_outseam~' , ' }}
                                                    {{ (size_specs.hem_advice.body_inseam is defined)? 'inseam:'~size_specs.hem_advice.body_inseam~' , ' }}                                             
                                                    {{ (size_specs.hem_advice.knee is defined)? 'knee:'~size_specs.hem_advice.knee~' , ' }}
                                                    {{ (size_specs.hem_advice.mid_calf is defined)? 'mid calf:'~size_specs.hem_advice.mid_calf~' , ' }}
                                                    {{ (size_specs.hem_advice.ankle is defined)? 'ankle:'~size_specs.hem_advice.ankle~' , ' }}
                                                    &nbsp;)
                                            </span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span  style="background-color: #FFFFFF; font-size:11px;">
                                                    <b>Item</b> &nbsp;
                                                    (&nbsp;
                                                    {{ (size_specs.hem_advice.item_hem_length is defined) ? 'hem length:'~size_specs.hem_advice.item_hem_length~' , '}}
                                                    {{ (size_specs.hem_advice.item_inseam is defined) ? 'hem length:'~size_specs.hem_advice.item_inseam~' , '}}                                             
                                                    &nbsp;)
                                            </span>
                                        </td>            
                                    </tr>
                            {% endif %}
                            </table>
                        </td>   
                    </tr>
                {% endif%}
   {% endfor %}
                </table>
{% endif %}
            </div>     
