<div><strong>Product:{{product.name }}</strong></div>
<div>{% include 'LoveThatFitRetailerAdminBundle:Product:_fitPirority.html.twig'%}</div>
<div style="clear: both;"></div>
<div> 
    
    <div class="featured_sizes">                        
                    {%for key, pcsa in product.getProductSizeDetailArray%}                                    
            <a onclick="return getProductSize({{key}})">{{pcsa['title']}}</a> |   
                                {%endfor%}                                 
            
    <br/>    
   {%for apc in product.productColors%}
     <img src="{{asset(apc.PatternWebPath)}}" style="width:16px !important; height:16px !important">
  {%endfor%}     
     <img src="{{asset(product.getDisplayProductColor.ImagePaths['web'])}}" class="prod_{{product.clothingType.target|lower}} ui-draggable">
                                </div> 

<!-- Product Size specification ~~~~~~~~~~~~~~~~~~~  -->
<div id="productSizeAjax">                        
                     
                        </div> 
