<strong>{{measurement.getBodyType}} {{measurement.title}} </strong>
<table width="42%" border="0">
  <tr>
    <td width="32%"></td>
    <td width="18%"><strong>Low</strong></td>
    <td width="23%"><strong>High</strong></td>
    <td width="27%"><strong>Max</strong></td>
  </tr>
 {% for key, value in measurement.getMeasurementArray %} 
  <tr>
      {% if (value.title is defined )%}
  <td>{{value['title'] }}</td>
    <td>{{value['ideal_body_low'] }}</td>
    <td>{{value['ideal_body_high'] }}</td>
    <td>{{value['max_body_measurement'] }}</td>
  </tr>  
  {% endif%}
  {%endfor%}
  
  
  
</table>