<div style="clear: both">
    <h3>{{product.name }}</h3>

    <div style="clear: both"></div>


    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
    {% for size, size_specs in data %} 
            <tr>
                <td>size {{size}} {{size_specs.message}}</td>            
            </tr>

            <tr>
                <td>
                    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
                        <b>
                            <tr>
                                <td></td>
                                <td>low</td>
                                <td>high</td>
                                <td>max</td>
                                <td>body</td>
                                <td>variance</td>
                                <td>max-variance</td>
                                <td>
                                </td>

                            </tr>
                        </b>
                            {% for fp, fp_specs in size_specs.fit_points %} 
                            
                        <tr>
                            <td>{{fp}}({{fp_specs.fit_priority}}%)</td>
                            <td>{{fp_specs.ideal_body_size_low}}</td>
                            <td>{{fp_specs.ideal_body_size_high}}</td>
                            <td>{{fp_specs.max_body_measurement}}</td>
                            <td>{{fp_specs.body_measurement}}</td>
                            <td>{{fp_specs.variance}}</td>
                            <td>{{fp_specs.max_variance}}</td>
                            <td>
                                    {{fp_specs.status}}
                                    {{fp_specs.message}}
                                </td>

                            </tr>
                            
                            {% endfor %}
                        </table>
                    </td>            
                </tr>

   {% endfor %}

            </table>
        </div>     
