<div style="clear: both">
    <h3>{{product.name }}</h3>

    <div style="clear: both"></div>
    <b>Recommendation</b> 
{% for size, size_specs in data.recommendation %}     
    &nbsp;|&nbsp;{{size}} 
    {% endfor %}
    
    <h5>Feedback</h5>

    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
    {% for size, size_specs in data.feedback %} 
            <tr>
                <td style="width: 50px;"><b>{{size}} </b>| <i>{{size_specs.message}}</i> 
                    {% if size_specs.fit_points is defined %}
                        | fit_scale:<b>{{size_specs.fit_scale}} 
                    {% endif %}
                
                </td>            
            </tr>
            {% if size_specs.fit_points is defined %}
            <tr>
                <td>
                    <table width="100%" style="border: solid 1px #CCCCCC;" align="center">
                        <b>
                            <tr>
                                <td></td>
                                <td>Body</td>
                            
                                <td>Low</td>
                                <td>High</td>
                                <td>Max</td>
                                <td>Mid</td>                                
                                <td>Variance <b>{{size_specs.variance}}</b></td>
                                <td>Max-Variance <b>{{size_specs.max_variance}}</b></td>
                                <td>Fit-model</td>
                                <td>Fit-Model-Variance</td>
                                
                                <td>
                                </td>

                            </tr>
                        </b>
                            
                            
                            {% for fp, fp_specs in size_specs.fit_points %} 
                            
                        <tr>
                            <td>{{fp}}({{fp_specs.fit_priority}}%)</td>
                            
                            <td><b>{{fp_specs.body_measurement}}</b></td>
                   
                            <td><b>{{fp_specs.ideal_body_size_low}}</b></td>
                            <td><b>{{fp_specs.ideal_body_size_high}}</b></td>
                            <td><b>{{fp_specs.max_body_measurement}}</b></td>                                
                            <td>({{fp_specs.mid_high_max}})</td>
                            
                            <td>v:{{fp_specs.variance}} | 
                                    d:{{fp_specs.diff}}  
                            
                            </td>
                            <td>v:{{fp_specs.max_variance}} | 
                                    d:{{fp_specs.max_diff}}                             
                            </td>
                            <td>({{fp_specs.avg_low_high}})</td>
                            
                            <td>
                                    {{fp_specs.message}}
                                </td>

                            </tr>
                            
                            {% endfor %}
                        </table>
                    </td>            
                </tr>
                {% endif%}

   {% endfor %}

            </table>
        </div>     
