<div><b>{{user.email }}</b></div>
<div>
                                   {{user.gender=='m'?'Male':'Female'}}<br/>                                        
                                   Height:{{user.measurement.height}}<br/>
                                   Waist:{{user.measurement.waist}}<br/>
                                   Hip{{user.measurement.hip}}<br/> 
                                   {%if(user.gender=='m') %}
                                  Chest:{{user.measurement.chest}}<br/>                                             
                                    {%else%}   
                                       
                                    Bust:{{user.measurement.bust}}<br/>
                                    {%endif%}
                                   
                                   Arm:{{user.measurement.arm}} <br/>     
                                    Inseam:{{user.measurement.inseam}}<br/>
                                     Outseam:{{user.measurement.outseam}}<br/>
                                    Sleeve:{{user.measurement.sleeve}}<br/>                                    
                                    Neck:{{user.measurement.neck}}<br/>
                                    Shoulder across back:{{user.measurement.shoulderAcrossBack}}
                                </div>
<img src="{{asset(user.WebPath)}}" style="width:50px !important; height:100px !important">