{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">Algorithm</li>
{% endblock %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
jQuery(document).ready(function(){
 jQuery("select[id='algorithm_User']").change(function(){
 var user_id = jQuery("select[id='algorithm_User']").val();
 var admin_algorithm_user= "../admin/algorithm/user/"+ user_id;          
 $('#user_id').text(user_id);
 setCompareLink();
 jQuery.ajax({
   type: "POST",
   url: admin_algorithm_user,              
   success: function(response){                            
       $('#cityAjax').html(response);
   }
 });
})
});           
    </script>
    <script>
   jQuery(document).ready(function(){
      jQuery("select[id='algorithm_Product']").change(function(){
      var product_id = jQuery("select[id='algorithm_Product']").val();                    
      $('#product_id').text(product_id);
      var admin_algorithm_product= "../admin/algorithm/product/"+ product_id;         
      jQuery.ajax({
       type: "POST",
       url: admin_algorithm_product,              
       success: function(response){                            
           $('#productAjax').html(response);
       }
     });   
 })
});           
        </script>
        <script>
        function getProductSize(id)
        {
            $('#size_id').text(id);
            /*jQuery(document).ready(function(){	
                var admin_algorithm_product_szie= "../admin/algorithm/product/size/"+ id;                          
                jQuery.ajax({
                  type: "POST",
                  url: admin_algorithm_product_szie,              
                  success: function(response){                            
                      $('#productSizeAjax').html(response);
                  }
                });
           });
           */
          setCompareLink();
           getFeedBack();
        }

        function getFeedBack()
        {
            size_id=$('#size_id').text();
            user_id=$('#user_id').text();
            product_id=$('#product_id').text();
            	if (user_id.length>0 && size_id.length >0){
                var feedback_url= "../admin/algorithm/feedback/"+user_id+"/"+size_id;          
                jQuery.ajax({
                  type: "POST",
                  url: feedback_url,              
                  success: function(response){                            
                      $('#feedbackAjax').html(response);
                  }
                });           
                }
        }
        
        function setCompareLink()
        {
            user_id=$('#user_id').text();
            product_id=$('#product_id').text();
                var feedback_url= "../admin/algorithm/compare/"+user_id+"/"+product_id;          
            
            
        }

            </script>

            <span id='product_id' style="display: block"></span>
            <span id='size_id' style="display: none"></span>
            <span id='user_id' style="display: block"></span>
            <a id='compare_link' href="#">Compare All</a>
            <div class="p_listing">     
                <h1>Algorithm</h1>
                <div style="float: left">User
                    <form id="userForm" method="post" {{ form_enctype(userForm) }}>
                        {{ form_errors(userForm) }}                                  
                            
                                        {{ form_widget(userForm.User) }}{{ form_errors(userForm.User) }}

                                    {{ form_rest(userForm) }}
                        </form>                 
                        <!-- User Detail ~~~~~~~~~~~~~~~~~~~  -->
                        <div id="cityAjax">                        
                        </div>

                    </div>
                    <div style="float: left">Product
                        <form id="productForm" action="" method="post" {{ form_enctype(productForm) }}>
                                         {{ form_errors(productForm) }}                                            
                                {{ form_widget(productForm.Product) }}{{ form_errors(productForm.Product) }}                                            
                                        {{ form_rest(productForm) }}
                            </form>      
                            <!-- Product Detail ~~~~~~~~~~~~~~~~~~~  -->
                            <div id="productAjax">                        
                            </div>  
                        </div>
                        <div style="float: left">
                            <div id="feedbackAjax" style="float: left">                        

                            </div>

                        </div>
                    </div> 

{% endblock %}