{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
    <li class="active"> Algorithm 2</li>
    {% endblock %}
    {% block body %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function fill_preference_controls(product_id){
             var compare_url = "../../pi/product/" + product_id + "/fit_points";
             $("#pref_ctrl").empty();
                        $.ajax({
                            url: compare_url
                            , success: function (response) {
                                $("#preference_json").val(response);
                                var obj = jQuery.parseJSON(response);
                                var pref = ["default", "very_loose", "loose", "tight", "very_tight"];
                                $.each(obj, function (key, value) {
                                    if (value > 0) {                                        
                                        var s = $("<select id='pref_" + key + "' class='pref_ctrl' name='pref_" + key + "' />");
                                        var label = $("<label>").text(key);
                                        for (var val in pref) {
                                            $("<option />", {value: val, text: pref[val]}).appendTo(s);
                                        }
                                        label.appendTo("#pref_ctrl");
                                        s.appendTo("#pref_ctrl");
                                    }
                                });


                            }
                        });
                    }

            $("select[id='algorithm_User']").change(function () {
                $("#user_id").val(this.value);
                $('#keyword').val($('option:selected', $(this)).text());
            });
            //------------------------------------------------------
            $("select[id='algorithm_Product']").change(function () {
                $("#product_id").val(this.value);
                $('#product_keyword').val($('option:selected', $(this)).text());
                fill_preference_controls(this.value);
            });
            //------------------------------------------------------
            $('a.product_edit_link').click(function (event) {
                event.preventDefault();
                if ($("#product_id").val()) {
                    var url = '../productdetail/' + $("#product_id").val() + '';
                    window.open(url);
                }
                return false; //for good measure
            });
            //-----------------------------------------------------------   
            $('a.user_edit_link').click(function (event) {
                event.preventDefault();
                if ($("#user_id").val()) {
                    var url = '../user/' + $("#user_id").val() + '/edit';
                    window.open(url);
                }
                return false; //for good measure
            });
            //-----------------------------------------------------------
            $('a.compare').click(function (event) {
                event.preventDefault();
                var user_id = $("#user_id").val();
                var product_id = $("#product_id").val();
                var compare_url = "../fit_algorithm3/compare/" + user_id + "/" + product_id;
                $.ajax({
                    url: compare_url
                    , success: function (response) {
                        $('#summary_ajax').html(response);
                    }
                })
                return false; //for good measure
            });
            //-----------------------------------------------------------------------------
            $('a.json').click(function (event) {
                event.preventDefault();
                var user_id = $("#user_id").val();
                var product_id = $("#product_id").val();
                var compare_url = "../fit_algorithm3/compare/" + user_id + "/" + product_id + "/1";
                $.ajax({
                    url: compare_url
                    , success: function (response) {
                        window.open(compare_url);
                    }
                })
                return false; //for good measure
            });
            //-----------------------------------------------------------------------------
            $('a.strip_json').click(function (event) {
                event.preventDefault();
                var user_id = $("#user_id").val();
                var product_id = $("#product_id").val();
                var compare_url = "../fit_algorithm3/compare/" + user_id + "/" + product_id + "/2";
                $.ajax({
                    url: compare_url
                    , success: function (response) {

                        window.open(compare_url);
                    }
                })
                return false; //for good measure
            });

            //-----------------------------------------------------------------------------
            $('a.go_pda').click(function (event) {
                event.preventDefault();                
                extracted={};
                var p = ['default', 'very_loose', 'loose', 'tight', 'very_tight'];
                $('.pref_ctrl').each(function(i, obj) {
                    extracted[obj.name.substring('pref_'.length)]=p[obj.value];                    
                });                
                $("#preference_json").val(JSON.stringify(extracted));
                ajax_post(0);
                return false;
            });
            //-----------------------------------------
            $('a.pda_json').click(function (event) {
                event.preventDefault();
                ajax_post(1);
                return false;
            });
            //-----------------------------------------
            $('a.pda_strip_json').click(function (event) {
                event.preventDefault();
                ajax_post(2);
                return false;
            });
            //-----------------------------------------
            function ajax_post(return_type) {
                pref_json: $("#preference_json").val();
                var ar = {
                    product_id: $("#product_id").val(),
                    user_id: $("#user_id").val(),
                    return_type: return_type,
                    fit_preference: jQuery.parseJSON($("#preference_json").val())
                };
                var compare_url = "../pda1/pd_compare";
                $.ajax({
                    type: "POST",
                    url: compare_url,
                    data: JSON.stringify(ar),
                    contentType: "application/json; charset=utf-8",
                    traditional: true,
                    success: function (response) {
                        //alert(response);
                        if (return_type === 1 || return_type === 2) {
                            something = window.open("data:text/json," + response, "_blank");
                            something.focus();
                        } else {
                            $('#summary_ajax').html(response);
                        }
                    },
                    failure: function (response) {
                        alert(response);
                        //$('#summary_ajax').html(response);                    
                    }
                });
            }

        });


    </script>

    <span id='product_id' style="display: block"></span>
    <span id='size_id' style="display: none"></span>
    <span id='user_id' style="display: block"></span>

    <div  class="row-fluid"> 
        <h3>Preference Driven Algorithm</h3>
        <div style="float: left">
            <a id="user_edit_link" class="user_edit_link" href="#">User</a>
            <form id="userForm" method="post" {{ form_enctype(userForm) }}>
                {{ form_errors(userForm) }}
                {{ form_widget(userForm.User) }}{{ form_errors(userForm.User) }}
                Or <input type="text"  placeholder="Search Users" id="keyword"><input type="hidden" id="user_id">
                {{ form_rest(userForm) }}
            </form>                 
        </div>
        <div style="float: left">
            <a id="product_edit_link" class='product_edit_link' href="#" >Product</a>
            <form id="productForm" action="" method="post" {{ form_enctype(productForm) }}>
                {{ form_errors(productForm) }}
                &nbsp;{{ form_widget(productForm.Product) }}{{ form_errors(productForm.Product) }}
                Or <input type="text" placeholder="Search Product" id="product_keyword"><input type="hidden" id="product_id">
                {{ form_rest(productForm) }}
            </form>      
        </div>
      {#  <a id='compare' class='compare' href="#">Compare</a> | 
        <a id='json' class='json' href="#">JSON</a> | 
        <a id='strip_json' class='strip_json' href="#">Stripped JSON</a>#}
        
        
        <input type="hidden"  id="user_id">
        <input type="hidden" id="product_id">

    </div> 
<div class="clearfix"></div>
    <div class="row-fluid">                    
        <div  class="col-md-4"> 
            
            <b> Add Preference </b> 
            <input class="form-control col-md-10" type="hidden" id="preference_json" name="preference_json" value=''>
            <a id='go_pda' class='go_pda' href="#">Compare</a> &nbsp;|&nbsp;
            <a id='pda_json' class='pda_json' href="#">JSON</a> &nbsp;|&nbsp;
            <a id='pda_strip_json' class='pda_strip_json' href="#">Stripped JSON</a>
        </div>
        <div class="clearfix"></div>
<div id="preference_div" class="row-fluid">                    
        <div  id="pref_ctrl"> 
        </div>

    </div>
    </div>
<div class="clearfix"></div>
    
    <div id="summary_ajax" style="float: none">
            </div>
    
<div class="clearfix"></div>
    
    <div id="pda_grid" style="float: none">                
    </div>                

{% endblock %}