<div><strong>Product Detail</strong></div>
<script>
function getProductSize(id)
{
    jQuery(document).ready(function(){	
        var admin_algorithm_product_szie= "../admin/algorithm/product/size/"+ id;          
        jQuery.ajax({
	  type: "POST",
	  url: admin_algorithm_product_szie,              
          success: function(response){                            
              $('#productSizeAjax').html(response);
	  }
	});
   });  
}

    </script>
<div> 
    Name:{{product.name }}
    <div class="featured_sizes">                        
                                {%for key, pcsa in product.getDisplayProductColor.getSizeDescriptionArray%}                                    
            <a onclick="return getProductSize({{key}})">{{pcsa}}</a>    
                                {%endfor%}                                 
                            </div>    
    <br/>    
   {%for apc in product.productColors%}
     <img src="{{asset(apc.PatternWebPath)}}" style="width:16px !important; height:16px !important">
  {%endfor%}     
     <img src="{{asset(product.getDisplayProductColor.ImagePaths['web'])}}" class="prod_{{product.clothingType.target|lower}} ui-draggable">
                                </div> 


<div id="productSizeAjax">                        
                     
                        </div> 
