        {% set current_gender=null %}
        {% set current_target=null %}
        {% set current_bodytype=null %}
        {% set current_sizetitle=null %}
        {% set first_line=1 %}

  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="retailor_pro_size">
       <tr>
           <td colspan='11' class="retailor_det_key">
               <b>{{brand}}   </b>
           </td>
       </tr> 
{% for sc in sizechart %}    
          
              {% if sc.gender!=current_gender%} 
                    {% set current_gender=sc.gender %}                   
                    {% set current_target=null %} 
                    {% set current_bodytype=null %} 
               {%endif%} 
                    
                 {% if sc.target!=current_target%} 
                    {% set current_target=sc.target %}                   
                    {% set current_bodytype=null %} 
                {%endif%} 
                    
             {% if sc.bodytype!=current_bodytype%} 
                    {% set current_bodytype=sc.bodytype %} 
                    <tr>
                        <td colspan='11' class="retailor_det_key">
                            <b> {{sc.gender=='f'?'Woman':'Man'}} >> {{ sc.target }} >> {{ sc.bodytype }} </b>
                        </td>
                    </tr>     
                    
                        <tr>
                            
                                    <td>&nbsp;</td>                                     
                                    <td style='font-weight:bold'>Waist</td>
                                    <td style='font-weight:bold'>Hip</td>
                                    <td style='font-weight:bold'>Bust</td>
                                    <td style='font-weight:bold'>Chest</td>
                                    <td style='font-weight:bold'>Inseam</td>
                                    <td style='font-weight:bold'>Outseam</td>
                                    <td style='font-weight:bold'>Neck</td>
                                    <td style='font-weight:bold'>Sleeve</td>        
                                    <td style='font-weight:bold'>Thigh</td>
                                    <td style='font-weight:bold'>Shoulder Across Back</td>        
                                 
                                    
                        </tr>  
                {%endif%}
             
              
               
                    
        <tr>        
            <td>  {{sc.sizeTitleType}}     {{sc.title}}</a></td>
            <td>{{sc.waist}}</td>
            <td>{{sc.hip}}</td>
            <td>{{sc.bust}}</td>
            <td>{{sc.chest}}</td>
            <td>{{sc.inseam}}</td>
            <td>{{sc.outseam}}</td>
            <td>{{sc.neck}}</td>
            <td>{{sc.sleeve}}</td>        
            <td>{{sc.thigh}}</td>
            <td>{{sc.shoulderAcrossBack}}
            <span style="float:right"><a href="{{path('admin_size_chart_edit',{'id': sc.Id}) }}" title="Edit {{sc.sizeTitleType}}     {{sc.title}}"><i class="icon-edit"></i></a>
                <a href="#myModal{{sc.Id}}" role="button" data-toggle="modal" title="Delte {{sc.sizeTitleType}}     {{sc.title}}"><i class="icon-remove"></i></a>
            </span>
            </td>         
          
                
        </tr>
        
        
        <div id="myModal{{sc.Id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Size Chart</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Size Chart <b>{{sc.title ~ ', ' ~ sc.brand.name}}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_size_chart_delete', {'id': sc.Id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>
{% endfor%}
        
</table>
