{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %} 
<link rel="stylesheet" href="{{ asset('bundles/lovethatfit/admin/colorpicker/css/colorpicker.css')}}" type="text/css" />
<link rel="stylesheet" media="screen" type="text/css" href="{{ asset('bundles/lovethatfit/admin/colorpicker/css/layout.css')}}" />
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/colorpicker.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/eye.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/utils.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/colorpicker/js/layout.js?ver=1.0.2')}}"></script>
{% endblock %}
{% block body %}
        {% set current_gender=null %}
        {% set current_target=null %}
        {% set current_bodytype=null %}
        {% set current_sizetitle=null %}
        {% set first_line=1 %}
<div id="detail_wrapper">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="retailor_pro_size">
       <tr>
           <td colspan='11' class="retailor_det_key">
               <b>{{brand}}   </b>
           </td>
       </tr> 
{% for sc in sizechart %}    
          
              {% if sc.gender!=current_gender%} 
                    {% set current_gender=sc.gender %}                   
                    {% set current_target=null %} 
                    {% set current_bodytype=null %} 
               {%endif%} 
                    
                 {% if sc.target!=current_target%} 
                    {% set current_target=sc.target %}                   
                    {% set current_bodytype=null %} 
                {%endif%} 
                    
             {% if sc.bodytype!=current_bodytype%} 
                    {% set current_bodytype=sc.bodytype %} 
                    <tr>
                        <td colspan='11' class="retailor_det_key">
                            <b> {{sc.gender=='f'?'Woman':'Man'}} >> {{ sc.target }} >> {{ sc.bodytype }} </b>
                        </td>
                    </tr>     
                    
                        <tr>
                            
                                    <td>&nbsp;</td>                                     
                                    <td style='font-weight:bold'>Waist</td>
                                    <td style='font-weight:bold'>Hip</td>
                                    <td style='font-weight:bold'>Bust</td>
                                    <td style='font-weight:bold'>Chest</td>
                                    <td style='font-weight:bold'>Inseam</td>
                                    <td style='font-weight:bold'>Outseam</td>
                                    <td style='font-weight:bold'>Neck</td>
                                    <td style='font-weight:bold'>Sleeve</td>        
                                    <td style='font-weight:bold'>Thigh</td>
                                    <td style='font-weight:bold'>Shoulder Across Back</td>        
                                    
                        </tr>  
                {%endif%}
             
              
               
                    
        <tr>        
            <td> <a href="{{path('admin_size_chart_edit',{'id': sc.Id}) }}" title="Edit {{sc.sizeTitleType}} {{sc.title}}"><b> {{sc.sizeTitleType}}     {{sc.title}} </b></a></td>
            <td>{{sc.waist}}</td>
            <td>{{sc.hip}}</td>
            <td>{{sc.bust}}</td>
            <td>{{sc.chest}}</td>
            <td>{{sc.inseam}}</td>
            <td>{{sc.outseam}}</td>
            <td>{{sc.neck}}</td>
            <td>{{sc.sleeve}}</td>        
            <td>{{sc.thigh}}</td>
            <td>{{sc.shoulderAcrossBack}}</td>         
        </tr>
        
{% endfor%}
        
</table>


</div>
{% endblock %}
