{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Size Chart</li>
{% endblock %}
       
       {% block header_right_links %}
   <a href="{{ path('admin_brand_size_chart') }}" >Brand SizeChart</a>
<br> 
{% endblock %}
{% block body %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
$('#brand_sizechart_Brand').change(function() {
	 var brand_id = $("#brand_sizechart_Brand").val();  
         var compare_url = "size_charts/brand/list/" + brand_id;         
         $('#loading-indicator').show();
         $.ajax({
         url: compare_url
         ,success: function(response) {
           $('#size_chart_list').html(response);    
           $('#loading-indicator').hide();
        }
     })         
        return false;
     
	});  
});        

    </script>
   <style>
 #loading-indicator {
  left: 290px;
    position: absolute;
    top: 310px;
}
     </style> 
<div class="p_listing">     
    <h1>Size Chart</h1>
 <div class="btn_wrapper2">
     
     <div id="chart_figures">
         <div class="facts">
                    <div><span>Total SizCharts:</span>{{rec_count}}</div>
                    <div><span>Female SizeCharts:</span>{{femaleSizeChart}}</div>
                    <div><span>Male SizeCharts:</span>{{maleSizeChart}}</div>
     </div>    
     
     <div class="facts">
                <div><span>Top SizeCharts:</span>{{topSizeChart}}</div>
                <div><span>Bottom SizeCharts:</span>{{bottomSizeChart}}</div>
                <div><span>Dress SizeCharts:</span>{{dressSizeChart}}</div>
     </div>
     </div>
    
     <a href="{{ path('admin_size_chart_new') }}" class="btn">Add New</a>
     
      </div>
     <div class="clearfix"></div> 
    <div id="detail_wrapper">      
                    <div id="product_content">
                        
                                                         
                            <div class="edt_container">         
                                <form  method="post" {{form_enctype(form)}}>
                                    {{ form_errors(form) }}
                                <div class="row-fluid show-grid">
                                  <div class="span3">Brand</div>
                                  <div class="span3">{{ form_widget(form.Brand) }}{{ form_errors(form.Brand) }}</div>
                                </div>                                
				{{ form_rest(form) }}
                                         </form>    
                            </div>
                        <img src="{{asset('bundles/lovethatfit/site/images/loading.gif')}}" id="loading-indicator"  style="display:none;" /> 
                        <div id="size_chart_list">   </div>
                        
                                </div>      
                            </div><!-- End pro_detail -->      
                        </div>
    
    
     
    

    </div>
 
</div>



 {% endblock %}
