{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Size Chart</li>
{% endblock %}



{% block body %}
  
<div class="p_listing">     
    <h1 style="float:left;">Size Chart</h1>
 <div class="btn_wrapper">
     Total SizCharts:{{rec_count}}<br>
     Female SizeCharts:{{femaleSizeChart}}<br>
     Male SizeCharts:{{maleSizeChart}}<br>
     Top SizeCharts:{{topSizeChart}}<br>
     Bottom SizeCharts:{{bottomSizeChart}}<br>
     Dress SizeCharts:{{dressSizeChart}}<br>
     
     <a href="{{ path('admin_size_chart_new') }}" class="btn">Add New</a>
      </div>
     <div class="clearfix"></div> 
     
    <div class="bs-docs-grid">              

        <div class="row-fluid show-grid">
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'id' }}" style=" text-decoration: none;"> ID</a></div>
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'brand' }}" style=" text-decoration: none;">Brand</a></div>
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'target' }}" style=" text-decoration: none;">Type</a></div>
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'gender' }}" style=" text-decoration: none;">Gender</a></div>
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'title' }}" style=" text-decoration: none;">Size</a></div>
            <div class="span1 hds"><a href="{{  path('admin_size_charts')~'/'~ 1~'/'~'title' }}" style=" text-decoration: none;">Body Type</a></div>
            <div class="span1 hds"></div>                  
             
            
        </div>  

          {% for sc in sizechart %}
        <div class="row-fluid show-grid">
            <div class="span1">{{sc.Id}}</div>
            <div class="span1">{{sc.brand.name}}</div>
            <div class="span1">{{sc.target}}</div>
            <div class="span1">{{sc.gender}}</div>
            <div class="span1">{{sc.title}}</div>            
            <div class="span1">{{sc.bodytype}} {%if(sc.disabled==1)%} Disabled {%else%}  {%endif%}</div>            
            
            <div class="span1">             
            <div>
                <a href="{{path('admin_size_chart_show',{'id': sc.Id}) }}" title="Show {{sc.title}}"><i class="icon-eye-open"></i></a>
                    <a href="{{path('admin_size_chart_edit',{'id': sc.Id}) }}" title="Edit {{sc.title}}"><i class="icon-edit"></i></a>
                    <a href="#myModal{{sc.Id}}" role="button" data-toggle="modal" title="Delte {{sc.title}}"><i class="icon-remove"></i></a>
                </div> 
            </div>
                
        </div>
        <!-- Modal -->
<div id="myModal{{sc.Id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Size Chart</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Size Chart <b>{{sc.title ~ ', ' ~ sc.brand.name}}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_size_chart_delete', {'id': sc.Id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>
{% endfor %}

   

 </div> 

    </div>
   
 {% include 'LoveThatFitAdminBundle::_pagination.html.twig'
  with {'rec_count':rec_count,'limit':limit,'per_page_limit':per_page_limit,'no_of_pagination':no_of_pagination
,'controller_name':'admin_size_charts'}
 %}  
</div>



 {% endblock %}
