{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_size_charts') }}" >Size Chart</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}

{% block h1 %}Size Chart{% endblock %}

{% block title %}Size Chart{% endblock %}


{% block body %}

<div>      
    <h1 style="float:left;">Size Chart Details</h1>
     <div class="btn_wrapper">     
      <a href="{{ path('admin_size_charts') }}" class="btn">back</a>
      <a href="{{ path('admin_size_chart_edit', {'id': sizechart.Id}) }}" class="btn">Edit</a>      
      <a href="#myModal" role="button" data-toggle="modal" class="btn">Delete</a> 
      
      
      </div>
      <div class="clearfix"></div>   
    

            <div id="detail_wrapper">      
                <div id="p_hd">Size Chart Detail</div>
                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">         
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Title</div>
                                    <div class="span3">{{sizechart.title }}</div>
                                    <div class="span3">Gender</div>
                                    <div class="span3">{{sizechart.gender }}</div>

                                    
                                </div>          
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Target</div>
                                    <div class="span3">{{sizechart.target }}</div>
                                    <div class="span3">Waist</div>
                                    <div class="span3">{{sizechart.waist }}</div>

                                </div>          
                                    <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Body Type</div>
                                    <div class="span3">{{sizechart.bodytype }}</div>
                                    <div class="span3">Hip</div>
                                    <div class="span3">{{sizechart.hip }}</div>
                               </div>  
                                    
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Bust</div>
                                    <div class="span3">{{sizechart.bust }}</div>
                                     <div class="span3">Chest</div>
                                    <div class="span3">{{sizechart.chest }}</div>
                                </div>          
                                     
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Inseam</div>
                                    <div class="span3">{{sizechart.inseam }}</div>
                                    <div class="span3">OutSeam</div>
                                    <div class="span3">{{sizechart.outseam }}</div>

                                </div>          
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Neck</div>
                                    <div class="span3">{{sizechart.neck }}</div>
                                    <div class="span3">Sleeve</div>
                                    <div class="span3">{{sizechart.sleeve }}</div>
                                    

                                </div>          
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span3">Brand</div>
                                    <div class="span3">{{sizechart.brand.name }}</div>
                                </div>     
                                    
                                    
                                
                                </div> 
                                     



                                </div>      
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
                    </div> <!-- End detail_wrapper -->
                </form>  
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Size Chart</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Size Chart <b>{{sizechart.title }}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_size_chart_delete', {'id': sizechart.Id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>                        
            </div>      

{% endblock %}

