 
  <style type="text/css">
            #loading{
                width: 100%;
                position: absolute;
                top: 100px;
                left: 100px;
		margin-top:200px;
            }
            #container .pagination ul li.inactive,
            #container .pagination ul li.inactive:hover{
                background-color:#ededed;
                color:#bababa;
                border:1px solid #bababa;
                cursor: default;
            }
            #container .data ul li{
                list-style: none;
                font-family: verdana;
                margin: 5px 0 5px 0;
                color: #000;
                font-size: 13px;
            }

            #container .pagination{
                width: 800px;
                height: 25px;
            }
            #container .pagination ul li{
                list-style: none;
                float: left;
                border: 1px solid #006699;
                padding: 2px 6px 2px 6px;
                margin: 0 3px 0 3px;
                font-family: arial;
                font-size: 14px;
                color: #006699;
                font-weight: bold;
                background-color: #f2f2f2;
            }
            #container .pagination ul li:hover{
                color: #fff;
                background-color: #006699;
                cursor: pointer;
            }
			.go_button
			{
			background-color:#f2f2f2;border:1px solid #006699;color:#cc0000;padding:2px 6px 2px 6px;cursor:pointer;position:absolute;margin-top:-1px;
			}
			.total
			{
			float:right;font-family:arial;color:#999;
			}

        </style>
        
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
   
 function SearchForm(page){
  
if(page==null)
  {page=1;
  }  
  
var brand=$('#brand').val();

var bodytype = []
   $("#bodytype:checked").each(function() {
       bodytype.push($(this).val());
   });

var genders = []
   $("#genders:checked").each(function() {
       genders.push($(this).val());
   });

var target = []
   $("#target:checked").each(function() {
       target.push($(this).val());
   });

$.ajax({
        type:'POST',
        url: $('#url').text(),
        data: {brand: brand, bodytype:bodytype,genders:genders,target:target,page:page},  
        success: function(response) {
       console.log(response);
       $("#container").html(response);
       
    }});
    return false;
}
 $(document).ready(function(){

 //SearchForm(1);  // For first time page load default results
                $('#container .pagination li.active').live('click',function(){
                    var page = $(this).attr('p');
                    SearchForm(page);
                    
                });           
                });


 </script>

        
<span id="url" style="display:none;">{{path('admin_size_chart_search_result')}}</span>
<table style="border:1px solid #999999;" align="center" width="25%" id="searchForm">
    <th> Search Product:</th>   
    <tr>
        <td>Brand:</td>
        <td><select name="brand" id="brand">
 {% for b in brandList %}
        <option value="{{b.id}}">{{b.name}}</option> 
{%endfor%}        

</select>
            </td>
    </tr>
  <tr>
      <td>Genders:</td>
      <td>{% for g in genders %}
          <input type="checkbox" name="genders" id="genders" value="{{g|capitalize}}" >{{g|capitalize}}
{%endfor%}  
      </td>
  </tr>
  
 <tr>
      <td>Target:</td>
      <td >
       {% for t in target %}
 <input type="checkbox" name="target" id="target" value="{{t|capitalize }}" >{{t|capitalize }}
      {%endfor%}  
      </td>
  </tr>
  <tr>
<td>Category:</td>

<td id="bodytype">
 {% for c in bodyType %}
 <input type="checkbox" name="bodytype" id="bodytype" value="{{c}}">{{c|capitalize}}
{%endfor%}        
</td>
  </tr>
  <tr>
      <td>Search</td>
      <td><input type="button" value="Search" onclick="SearchForm()"></td>
  </tr> 

</table>
 <div id="searchResult"></div>
 <div id="loading"></div>
        <div id="container">
            <div class="data"></div>
            <div class="pagination"></div>
        </div>
