{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
    <li class="active"> Algorithm 2</li>
{% endblock %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {#<style>#}
        {##algorithm_User{display:none;}#}
        {##algorithm_Product{display:none;}#}
    {#</style>#}
<script>
$(document).ready(function(){

    $( "select[id='algorithm_User']" ).change(function() {
        $("#user_id").val(this.value);
        $('#keyword').val($('option:selected', $(this)).text());
    });
    $( "select[id='algorithm_Product']" ).change(function() {
        $("#product_id").val(this.value);
        $('#product_keyword').val($('option:selected', $(this)).text());
    });
    $('a.product_edit_link').click(function (event){
        event.preventDefault();
//    if($("select[id='algorithm_Product']").val()){
//        var url= '../productdetail/'+$("select[id='algorithm_Product']").val()+'';
//        window.open(url);
//    }
        if($("#product_id").val()){
            var url= '../productdetail/'+$("#product_id").val()+'';
            window.open(url);
        }
        return false; //for good measure
    });
//-----------------------------------------------------------
    $('a.user_edit_link').click(function (event){
        event.preventDefault();
        //if($("select[id='algorithm_User']").val()){
        //var url = '../user/'+ $("select[id='algorithm_User']").val() +'/edit';
        // var url = '../user/'+ $("#user_id").val() +'/edit';
        // window.open(url);
        //}
        if($("#user_id").val()){
            var url = '../user/'+ $("#user_id").val() +'/edit';
            window.open(url);
        }
        return false; //for good measure
    });
//-----------------------------------------------------------
    $('a.showcart').click(function (event){
        event.preventDefault();

        var user_id = $("#user_id").val();
        //var product_id = $("#product_id").val();
        var show_url = "cart/show/" + user_id ;
        $.ajax({
            url: show_url
            ,success: function(response) {
                $('#summary_ajax').html(response);
            }
        })
        return false; //for good measure
    });



});        

    </script>

<span id='product_id' style="display: block"></span>
<span id='size_id' style="display: none"></span>
<span id='user_id' style="display: block"></span>

<div class="p_listing"> 

    <h3>Shopping Cart Testing Interface</h3>
    <div style="float: left">

        <a id="user_edit_link" class="user_edit_link" href="#">User</a>
        <form id="userForm" method="post" {{ form_enctype(userForm) }}>
        {{ form_errors(userForm) }}
        {{ form_widget(userForm.User) }}{{ form_errors(userForm.User) }}
           Or <input type="text"  placeholder="Search Users" id="keyword"><input type="hidden" id="user_id">
        {{ form_rest(userForm) }}
        </form>                 
    </div>
    <div style="float: left">
        <a id="product_edit_link" class='product_edit_link' href="#" >Product</a>
        <form id="productForm" action="" method="post" {{ form_enctype(productForm) }}>
        {{ form_errors(productForm) }}
        &nbsp;{{ form_widget(productForm.Product) }}{{ form_errors(productForm.Product) }}
            Or <input type="text" placeholder="Search Product" id="product_keyword"><input type="hidden" id="product_id">
        {{ form_rest(productForm) }}
        </form>      
    </div>
    <a href="#" id="showcart" class="showcart">show cart</a>
    <div id="summary_ajax" style="float: none">
    </div>
    {#<div class="ui-widget" style="clear:both">#}
        {#<label for="tags">Select Users: </label>#}
        {#<input type="text"  placeholder="Search" id="keyword">#}
        <input type="hidden"  id="user_id">
    {#</div>#}

    {#<div class="ui-widget" style="clear:both">#}
        {#<label for="tags">Select Products: </label>#}
        {#<input type="text" placeholder="Search Product" id="product_keyword">#}
        <input type="hidden" id="product_id">
    {#</div>#}
</div> 

{% endblock %}