{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
    <li class="active"> Algorithm 2</li>
{% endblock %}
{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {#<style>#}
        {##algorithm_User{display:none;}#}
        {##algorithm_Product{display:none;}#}
    {#</style>#}
<script>
$(document).ready(function(){

    $( "select[id='algorithm_User']" ).change(function() {
        $("#user_id").val(this.value);
        $('#keyword').val($('option:selected', $(this)).text());
    });
    $( "select[id='algorithm_Product']" ).change(function() {
        $('#error_attribute').html('');    
        $("#product_id").val(this.value);
        $('#product_keyword').val($('option:selected', $(this)).text());
        var show_url = "cart/get_sizes_and_colors/" + this.value ;

        $("#size_id").html("<option value =''>Select Size</option>");
        $("#color_id").html("<option value =''>Select Color</option>");
        $(".ajax_loader").show();
        $.getJSON(show_url, function(data){
            $.each(data.size, function (index, value) {
                    $('#size_id').css('display','block');
                    $("#size_id").append("<option value ='"+index+"'>"+value+"</option>");
            });
            $.each(data.color, function (index, value) {
                $('#color_id').css('display','block');
                $("#color_id").append("<option value ='"+index+"'>"+value+"</option>");
            });
            $(".ajax_loader").hide();
        });
    });
    $( "select[id='size_id']" ).change(function() {
        $("#size").val(this.value);
    });
    $( "select[id='color_id']" ).change(function() {
        $("#color").val(this.value);
    });

    $('a.add_item_to_cart').click(function (event){
        var color_id = $("#color").val();
        var product_id = $("#product_id").val();
        var size_id = $("#size").val();
        var show_url = "cart/get_sizes_and_colors/" + product_id ;
        if(size_id!='' && color_id!='') {
            $('#error_attribute').html('');
            $(".ajax_loader").show();
            $.getJSON(show_url, function (data) {
                //console.log(data.item[color_id][size_id].id);
                var item_id = data.item[color_id][size_id].id;
                var user_id = $("#user_id").val();

                if (item_id != "") {
                    $(".ajax_loader").show();
                }
                var postForm = { //Fetch form data
                    'user_id': user_id,
                    'item_id': item_id

                };
                var show_url = "cart_add_item";
                $.ajax({
                    type: 'POST',
                    url: show_url,
                    data: postForm,
                    dataType: 'json',
                    success: function (response) {
                        if (response == 1) {
                            var show_url = "cart/show/" + user_id;
                            $.ajax({
                                url: show_url,
                                success: function (response) {
                                    $(".ajax_loader").hide();
                                    $('#summary_ajax').html(response);
                                }
                            })
                        }
                    }
                })
            });
            $(".ajax_loader").hide();
        }else{
            $('#error_attribute').html('<p style="color:#ff0000">Please select color and size</p>');
        }
    });
    $('a.product_edit_link').click(function (event){
        event.preventDefault();
        if($("#product_id").val()){
            var url= '../productdetail/'+$("#product_id").val()+'';
            window.open(url);
        }
        return false; //for good measure
    });
//-----------------------------------------------------------
    $('a.user_edit_link').click(function (event){
        event.preventDefault();
        if($("#user_id").val()){
            var url = '../user/'+ $("#user_id").val() +'/edit';
            window.open(url);
        }
        return false; //for good measure
    });
//-----------------------------------------------------------
    $('a.showcart').click(function (event){
        event.preventDefault();
        var user_id = $("#user_id").val();
        if (user_id != "") {
            $('#error_attribute').html('');
            $(".ajax_loader").show();
            var show_url = "cart/show/" + user_id ;
            $.ajax({
                url: show_url,
                success: function(response) {
                    $(".ajax_loader").hide();
                    $('#summary_ajax').html(response);
                }
            });
        } else{
            $('#error_attribute').html('<p style="color:#ff0000">Please select user</p>');
        }
        return false; //for good measure
    });

    $('a.add_to_cart').click(function (event){
        event.preventDefault();
        var user_id = $("#user_id").val();
        var product_id = $("#product_id").val();
        if (product_id != "" && user_id != "") {
            $('#error_attribute').html('');
            $(".ajax_loader").show();
            var postForm = { //Fetch form data
                'user_id'     : user_id,
                'product_id'     : product_id

            };
            var show_url = "cart_add";
            $.ajax({
                type:'POST',
                url: show_url,
                data:postForm,
                dataType:'json',
                success: function(response) {
                    if(response==1){
                        var show_url = "cart/show/" + user_id ;
                        $.ajax({
                            url: show_url,
                            success: function(response) {
                                $(".ajax_loader").hide();
                                $('#summary_ajax').html(response);
                            }
                        })
                    }
                }
            });
        } else{
            $('#error_attribute').html('<p style="color:#ff0000">Please select user and product</p>');
        }
        return false; //for good measure
    });
//-----------------------------------------------------------
    //delete record
    $('.btn-ok').click(function (){
        $('#confirmDelete').modal('hide');
        var values = $("#delete_value").val();
        var arr = values.split('|');
        $(".ajax_loader").show();
        var delete_url = "cart/delete/" + arr[0] + "/"+ arr[1];
        $.ajax({
            url: delete_url,
            success: function(response) {
                $(".ajax_loader").hide();
                $("#cart_"+arr[0]).closest('tr').remove();
                if(response == 0){
                    $('.cart_tbl tr:last').after("<tr><td align='center' colspan='6'> <p class='no_item_wrapper'>  Currently there are no items in the cart.</p></td></tr>");
                }
            }
        });
    });

});        

    </script>

<span id='product_id' style="display: block"></span>
{#<span id='size_id' style="display: none"></span>#}
<span id='user_id' style="display: block"></span>
<div class="ajax_loader"></div>
<div class="p_listing"> 

    <h3>Shopping Cart Testing Interface</h3>
    <div style="float: left">

        <a id="user_edit_link" class="user_edit_link" href="javascript:;">User</a>
        <form id="userForm" method="post" {{ form_enctype(userForm) }}>
        {{ form_errors(userForm) }}
        {{ form_widget(userForm.User) }}{{ form_errors(userForm.User) }}
           Or <input type="text"  placeholder="Search Users" id="keyword"><input type="hidden" id="user_id">
        {{ form_rest(userForm) }}
        </form>                 
    </div>
    <div style="float: left">
        <a id="product_edit_link" class='product_edit_link' href="javascript:;" >Product</a>
        <form id="productForm" action="" method="post" {{ form_enctype(productForm) }}>
        {{ form_errors(productForm) }}
        &nbsp;{{ form_widget(productForm.Product) }}{{ form_errors(productForm.Product) }}
            Or <input type="text" placeholder="Search Product" id="product_keyword"><input type="hidden" id="product_id">
        {{ form_rest(productForm) }}
        </form>
    </div>
        <div style="clear:both;float:left;">
   &nbsp;<select id="size_id" style="display: none"><option value="">Please Select Size</option></select>
            </div>
    <div style="float:left;margin-top:20px;margin-left:25px;">
    <select id="color_id" style="display: none"><option value="">Please Select Color</option></select>
    </div>
    <div style="float: left; margin-left: 40px; margin-top: 25px;">
    <a href="#" id="showcart" class="showcart">show cart</a> |
    <a href="#" id="add_to_cart" class="add_to_cart">Add Recommended Item To Cart</a> |
    <a href="#" id="add_item_to_cart" class="add_item_to_cart">Add Item To Cart</a><br>
        <div id="error_attribute"></div>
    </div>
    <div id="summary_ajax" style="clear: both;padding:100px;">
    </div>

    {#<div class="ui-widget" style="clear:both">#}
        {#<label for="tags">Select Users: </label>#}
        {#<input type="text"  placeholder="Search" id="keyword">#}
        <input type="hidden"  id="user_id">
    {#</div>#}

    {#<div class="ui-widget" style="clear:both">#}
        {#<label for="tags">Select Products: </label>#}
        {#<input type="text" placeholder="Search Product" id="product_keyword">#}
        <input type="hidden" id="product_id">
         <input type="hidden" id="size">
         <input type="hidden" id="color">
        {#<input type="hidden" id="size_id">#}
        {#<input type="hidden" id="color_id">#}
        <input type="hidden" id="item_id">
    {#</div>#}
</div> 
    
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to proceed?</p>
                </div>
                <input type="hidden" name="delete_value" id="delete_value">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}