{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_brands') }}" >Brands</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}

{% block h1 %}Brands{% endblock %}

{% block title %}Brands{% endblock %}


{% block body %}

<div>      
    <h1 style="float:left;">Brand Details</h1>
     <div class="btn_wrapper">     
      <a href="{{ path('admin_brands') }}" class="btn">back</a>
      
      {%if brand.id %}
      <a href="{{ path('admin_brand_edit', {'id': brand.Id}) }}" class="btn">Edit</a>      
      <a href="#myModal" role="button" data-toggle="modal" class="btn">Delete</a>
      {% endif %}
      
      </div>
      <div class="clearfix"></div>   
    

            <div id="detail_wrapper">      
                <div id="p_hd">Product Detail</div>
                <div class="span3">
                    <div id="pro_img"> <img src="{{ asset(brand.WebPath) }}" />
                    </div><!--/.well -->

                    <div class="clearfix"></div>
                    
                    </div>         

                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">         
                                <div class="row-fluid show-grid edt_span">
                                    <div class="span8">
                                    <div class="span3">Id</div>
                                    <div class="span3">{{brand.id }}</div>
                                    </div>
                                     <div class="span8">
                                    <div class="span3">Name</div>
                                    <div class="span3">{{brand.name }}</div>
                                    </div>
                                        
                                  

                                    
                                </div>  
                                
                                </div> 
                                     



                                </div>      
                            </div><!-- End pro_detail -->      
                        </div><!-- End product_content --> 
                    </div> <!-- End detail_wrapper -->
                </form>  
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Brand</h3>
  </div>
  <div class="modal-body">
      <p>Are you sure you want to Delete this Brand <b>{{brand.name }}</b>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="{{ path('admin_brand_delete', {'id': brand.Id}) }}"  class="btn btn-primary">Delete</a>
    
  </div>
</div>                        
            </div>      

{% endblock %}

