
<h4>{{product.name}}</h4>         
{{product.brand.name}}<br/>
{{product.clothingType.name}}<br/>
{{product.clothingType.target}}<br/>

    <ul class="filter filter2">
     {% for key, value in data %} 
        <li>
             {{key~' : '~value['msg']}}               
        </li>
    {% endfor %}
    </ul>

