<nav>
    <ul>
        <li ><a href="{{path('inner_site_index',{'list_type' : 'latest' })}}"><span></span>What's New<span class="activemenu"></span></a></li>
        <li><a href="{{path('inner_site_index',{'list_type' : 'most_tried_on' })}}"><span></span>What's Hot</a></li>        
        <li><a href="{{path('inner_site_index',{'list_type' : 'recently_tried_on' })}}"><span></span>Recently Tried</a></li>
        <li><a href="{{path('inner_site_index',{'list_type' : 'most_faviourite' })}}"><span></span>Your Favorites</a></li>
        <li><a href="{{path('inner_site_index',{'list_type' : 'ltf_recommendation' })}}"><span></span>Recommendations</a></li>
        <li><a href="{{path('inner_site_index',{'list_type' : 'style' })}}"><span></span>Shop By Style</a></li>
        <li><a href="{{path('inner_site_index',{'list_type' : 'brand' })}}"><span></span>Shop By Brand</a></li>
    </ul>
</nav>

