
<script language="javascript">
 // For Size Combox box
function select_size(size_id,product_id,color_id)
{
       var size= size_id.value;
       base_url=$('#ajax_product_base_url').text();
       $('.featured_box .transp_list').removeClass("hide").addClass("disp_blk");
        $.ajax({
            url:  base_url+ product_id+ "/" + color_id + "/" +size,
          
            success: function (data) {
                $('.featured_box .transp_list').removeClass("disp_blk").addClass("hide");
            // $('#prod_wrapper').append(data);  
              $('.featured_box'+product_id+' .dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.featured_box'+product_id+' .nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
            }
        });
}
function pattern_select(color_id,product_id,size_id)
{
   //base_url=$('#base_url').text();
   base_url=$('#ajax_product_base_url').text();
      // size_id =$('#hidden_size_id').text();
       $('.featured_box .transp_list').removeClass("hide").addClass("disp_blk");
     
        $.ajax({
            //url: base_url+"/app_dev.php/ajax/product/"+ product_id+ "/" +  color_id + "/" +size_id,
            url: base_url + product_id+ "/" +  color_id + "/" +size_id,
          
            success: function (data) {
              
              $('.featured_box .transp_list').removeClass("disp_blk").addClass("hide");
              $('.featured_box'+product_id+' .dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.featured_box'+product_id+' .nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
            }
        });

}
function loveItem(item_id)
{  
   base_url=$('#ajax_product_love_url'+item_id).text();
 //base_url=$('#ajax_product_base_url').text();
        var jqXHR = $.ajax({
            //url: base_url+"/app_dev.php/ajax/user_product_item/create/"+ item_id,
            url: base_url,
          
          success: function (XMLHttpRequest, textStatus, errorThrown) {
              
            if(jqXHR.responseText)
            {
            
             $("#like_icon_"+item_id).replaceWith(' <img src="{{asset('bundles/lovethatfit/site/images/love_icon_dactive.png')}}">');
            }   
             else
            {
               
            alert('Sorry .. You are overlimit please delete some of your loved products ');
            }
           
         }
        });
}
    </script>  
   

                <div class="featured_box_{{product.id}}">  
                   
                    <span id="base_url" style="display:none;">{{app.request.getScheme~  '://' ~ app.request.getHttpHost~ app.request.getBasePath}}</span>
                    <span id="ajax_product_base_url" style="display:none;">{{path('ajax_product_base_url')}}</span>
                    <span></span>
                    <span class="hidden_color_id" style="display:none;">{{productColor.id}}</span>
                    <span id="hidden_size_{{productSize.id}}" style="display:none;">{{productSize.id}}</span>
                    <span id="hidden_item_{{productItem.id}}" style="display:none;">{{productItem.id}}</span>
    
    
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">

                            
                  <select name="cloth_sizes" id="cloth_sizes"   class="cloth_sizes" onchange="select_size(this,{{product.id}},{{productColor.id}})">
                                <option value="">Size</option>
                                {%for key, pcsa in productColor.getSizeTitleArray%}                                    
                                {% if(productSize.id==key)   %}
                                <option value='{{key}}' selected="">{{pcsa}}</option>
                                {%else%}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                                {%endfor%}
                     </select>
                                 <select name="cloth_quantity" class="sle_clth">
                                    <option>1</option>
                                </select>

                            </div>

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                    
              <span id="color_id_pattern" style="display:none;">{{apc.id}}</span>         
              <a href="javascript:void(0)"  id="a_color_id" onclick="pattern_select({{apc.id}},{{product.id}},{{productSize.id}})">
              <img width="24" height="24" src="{{asset(apc.PatternWebPath)}}" >
              </a>
               {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Cart</a></div>
                            <div class="product_price">$ 9,473.57</div>

                        </div>
                        <div class="featured_img">

                            
                            <img width="63" height="108" src="{{asset(productColor.ImagePaths['small'])}}" class="prod_{{product.clothingType.target|lower}} ui-draggable">
                            
                             <span class="prod_fitting_details" id="fitting_feedback_{{productItem.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_item_id" : productItem.id})}}'>feedback</a></span>
                           
                            {% if productItem and productItem%}
                            {%if(app.user.getMyClosetListArray(productItem.id)==productItem.id)%}
                             <div class="like_icon1" style="">
                              <img src="{{asset('bundles/lovethatfit/site/images/love_icon_dactive.png')}}">
                             </div>  
                            
                            {%else%}
                             
                             <div id="like_icon_{{productItem.id}}">
                              <a href="javascript:void(0);" onclick="loveItem({{productItem.id}})"><img src="{{asset('bundles/lovethatfit/site/images/love_icon.png')}}"></a>
                            </div>
                              <span id="ajax_product_love_url{{productItem.id}}" style="display:none;">{{path('ajax_user_product_item_create',{'product_item_id':productItem.id})}}</span>
                            {%endif%}
                                
                               
                                <a class="apply_img hide" href="{{ asset(productItem.WebPath) }}"></a>
                            {% endif %}
                        </div>
                        
                        



                        <div style="clear:both;"></div>
                        <!--<div id="pro_more_det"><!--START PRODUCT MORE DETAIL


                            </div> END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>




    
