 <ul class="prod_wrapper">
 <span id="hidden_color_id" style="display:none;">{{productColor.id}}</span>
    <span id="hidden_size_id" style="display:none;">{{productSize.id}}</span>
    <span id="hidden_item_id" style="display:none;">{{productItem.id}}</span>
        <li class="selected_pro">
            <div class="prod_node">
                <span></span>
                <div class="featured_box">                
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">

                            
                            <select name="cloth_sizes" id="cloth_sizes"   class="sle_clth">
                                <option value="">Size</option>
                                {%for key, pcsa in productColor.getSizeTitleArray%}                                    
                                {% if(productSize.id==key)   %}
                                <option value='{{key}}' selected="">{{pcsa}}</option>
                                {%else%}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                                 <select name="cloth_quantity" class="sle_clth">
                                    <option>1</option>
                                </select>

                            </div>

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                    
              <span id="color_id_pattern" style="display:none;">{{apc.id}}</span>         
              <a href="#_"  id="a_color_id" onclick="pattern_select({{apc.id}})">
              <img width="24" height="24" src="{{asset(apc.PatternWebPath)}}" >
              </a>
               {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Bag</a></div>
                            <div class="product_price">$ 9,473.57</div>

                        </div>
                        <div class="featured_img">

                            
                            <img width="63" height="108" src="{{asset(productColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            
                            
                            <span class="prod_fitting_details" id="fitting_feedback_{{product.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_id" : product.id})}}'>feedback</a></span>
                            {% if productItem and productItem%}
                            
                            <div class="like_icon">
                          <a href="{{ path('ajax_user_product_item_create', {'product_item_id':productItem.id}) }}"><img src="{{asset('bundles/lovethatfit/site/images/love_icon.png')}}"></a>
                        </div>
                                <br>
                                <a class="apply_img" href="{{ asset(productItem.WebPath) }}"></a>
                            {% endif %}
                        </div>
                        
                        



                        <div style="clear:both;"></div>
                        <div id="pro_more_det"><!--START PRODUCT MORE DETAIL-->



                            <div class="sectionbox"><!-- START section -->
                                <ul class="tabs">
                                    <li class="current">Description</li>
                                    <li>At a Glance</li>
                                    <li>Designer</li>		
                                </ul>
                                <div class="box visible">
                                    <p>{{product.description}}</p>		
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                            </div><!-- END section -->
                          

                            </div><!--END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>
                    </div></li>


        <script type="text/javascript">
                    $('slideshow').style.display='none';
                    $('wrapper').style.display='block';
                    var slideshow=new TINY.slideshow("slideshow");
                    window.onload=function(){
                            slideshow.auto=false;
                            slideshow.speed=5;
                            slideshow.link="linkhover";
                            slideshow.info="information";
                            slideshow.thumbs="slider";
                            slideshow.left="slideleft";
                            slideshow.right="slideright";
                            slideshow.scrollSpeed=4;
                            slideshow.spacing=5;
                            slideshow.active="#fff";
                            slideshow.init("slideshow","image","imgprev","imgnext","imglink");
                    }
                </script>



                <!------------------------------------------------------------------------------------>

            </ul>