 <ul class="prod_wrapper">

        <li class="selected_pro">
            <div class="prod_node">
                <span></span>
                <div class="featured_box">                
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">
                            <span id="color_id_hidden" style="display:none;">{{productColor.id}}</span>
                            <select name="cloth_sizes" id="cloth_sizes"  >
                                <option value="">Size</option>
                            {% if productColor%}
                                {%for key, pcsa in productColor.getSizeTitleArray%}                                    
                                {% if(key==productSize.id)%}
                                <option value='{{key}}' selected="selected">{{pcsa}}</option>
                                 {%else %}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                                   {%endfor%}
                            {% else %}
                               {%for key, pcsa in product.displayProductColor.getSizeTitleArray%}
                                   {% if(key==productSize.id)%}
                                <option value='{{key}}' selected="selected">{{pcsa}}</option>
                                 {%else %}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                              {%endfor%}
                            {%endif%}
                                </select>
                              
                                 
                            </div>

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                  
                                    <input type="radio" value="XS" name="Radio" id="color1">
                                      <img width="24" height="24" src="{{asset(apc.PatternWebPath)}}" onclick="pattern_box()">
                            {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Bag</a></div>
                            <div class="product_price">$ 9,473.57</div>

                        </div>
                        <div class="featured_img">

                            {% if productColor%}
                            <img width="63" height="108" src="{{asset(productColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            <a class="apply_img" href="{{ asset(productColor.WebPath) }}">upply</a>                        
                            {% else %}
                            <img width="63" height="108" src="{{asset(product.displayProductColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            <a class="apply_img" href="{{ asset(product.displayProductColor.WebPath) }}">upply</a>                        
                            {%endif%}

                            <span class="prod_fitting_details" id="fitting_feedback_{{product.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_id" : product.id})}}'>feedback</a></span>
                            {% if productItem and productItem%}
                                <a href="{{ path('ajax_user_product_item_create', {'product_item_id':productItem.id}) }}">Love</a><br>
                                <a class="apply_img" href="{{ asset(productItem.WebPath) }}"></a>
                            {% endif %}
                        </div>



                        <div style="clear:both;"></div>
                        <div id="pro_more_det"><!--START PRODUCT MORE DETAIL-->



                            <div class="sectionbox"><!-- START section -->
                                <ul class="tabs">
                                    <li class="current">Description</li>
                                    <li>At a Glance</li>
                                    <li>Designer</li>		
                                </ul>
                                <div class="box visible">
                                    <p>{{product.description}}</p>		
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                            </div><!-- END section -->
                          

                            </div><!--END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>
                    </div></li>



                <!------------------------------------------------------------------------------------>

            </ul>

            

    