
<script language="javascript">

(function($) { 
$(function() {

        $('ul.tabs').each(function() {
                $(this).find('li').each(function(i) {
                        $(this).click(function(){
                                $(this).addClass('current').siblings().removeClass('current')
                                        .parents('div.sectionbox').find('div.box').eq($(this).index()).fadeIn(150).siblings('div.box').hide();
                        });
                });
        });

})
})(jQuery)
 // For Size Combox box
var product_id={{product.id}} 
  jQuery(document).ready(function($){
  //you can now use $ as your jQuery object.
   $('#cloth_sizes').live('change', function()	{
      
       color_id_hidden=$('#hidden_color_id').text();
       size_id = $(this).val();
    
        $.ajax({
            url: "http://localhost/webapp/web/app_dev.php/ajax/product/"+ product_id+ "/" + color_id_hidden + "/" +size_id,
          
            success: function (data) {
            // $('#prod_wrapper').append(data);  
              $('.dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
            }
        });
       });
});

function pattern_select(color_id)
{
    color_id=color_id;
     
       size_id =$('#hidden_size_id').text();
     
        $.ajax({
            url: "http://localhost/webapp/web/app_dev.php/ajax/product/"+ product_id+ "/" +  color_id + "/" +size_id,
          
            success: function (data) {
              $('.dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
            }
        });

}
function loveItem(item_id)
{
   item_id=item_id  
        $.ajax({
            url: "http://localhost/webapp/web/app_dev.php/ajax/user_product_item/create/"+ item_id,
          
            success: function (XMLHttpRequest, textStatus, errorThrown) {
               
                
               if(textStatus=="success")
                {
              
                $(".like_icon").replaceWith(' <img src="{{asset('bundles/lovethatfit/site/images/love_icon_dactive.png')}}">');
               }   
               if(textStatus=="try")
                {
                alert('Sorry .. You are overlimit please delete some of your loved products ');
                }
                  
                  
            }
        });
}
    </script>  
   
    




                <div class="featured_box">                
                <span></span>
                    <span id="hidden_color_id" style="display:none;">{{productColor.id}}</span>
                    <span id="hidden_size_id" style="display:none;">{{productSize.id}}</span>
                    <span id="hidden_item_id" style="display:none;">{{productItem.id}}</span>
    
    
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">

                            
                            <select name="cloth_sizes" id="cloth_sizes"   class="sle_clth">
                                <option value="">Size</option>
                                {%for key, pcsa in productColor.getSizeTitleArray%}                                    
                                {% if(productSize.id==key)   %}
                                <option value='{{key}}' selected="">{{pcsa}}</option>
                                {%else%}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                                 <select name="cloth_quantity" class="sle_clth">
                                    <option>1</option>
                                </select>

                            </div>

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                    
              <span id="color_id_pattern" style="display:none;">{{apc.id}}</span>         
              <a href="javascript:void(0)"  id="a_color_id" onclick="pattern_select({{apc.id}})">
              <img width="24" height="24" src="{{asset(apc.PatternWebPath)}}" >
              </a>
               {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Bag</a></div>
                            <div class="product_price">$ 9,473.57</div>

                        </div>
                        <div class="featured_img">

                            
                            <img width="63" height="108" src="{{asset(productColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            
                            
                            <span class="prod_fitting_details" id="fitting_feedback_{{product.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_id" : product.id})}}'>feedback</a></span>
                            {% if productItem and productItem%}
                            {%if(app.user.getMyClosetListArray(productItem.id)==productItem.id)%}
                             <div class="like_icon1" style="">
                              <img src="{{asset('bundles/lovethatfit/site/images/love_icon_dactive.png')}}">
                               </div>  
                            {%else%}
                             <div class="like_icon">
                              <a href="javascript:void(0);" onclick="loveItem({{productItem.id}})"><img src="{{asset('bundles/lovethatfit/site/images/love_icon.png')}}"></a>
                        </div>
                            {%endif%}
                        
                           
                            
                                <br>
                                <a class="apply_img" href="{{ asset(productItem.WebPath) }}">Apply Image</a>
                            {% endif %}
                        </div>
                        
                        



                        <div style="clear:both;"></div>
                        <div id="pro_more_det"><!--START PRODUCT MORE DETAIL-->



                            <div class="sectionbox"><!-- START section -->
                                <ul class="tabs">
                                    <li class="current">Description</li>
                                    <li>At a Glance</li>
                                    <li>Designer</li>		
                                </ul>
                                <div class="box visible">
                                    <p>{{product.description}}</p>		
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                            </div><!-- END section -->
                          

                            </div><!--END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>




    
