<!--/ this templete should have the objects products, page_number, limit & row_count -->
    
{% if(functionality_status is defined and functionality_status  )%}
 <div>
    <h3 class="comingsoon_new">
        {{functionality_status}}
    </h3>                    
 </div>
        
    {%else%}
{% if(row_count>0)%}
<input type="hidden" id="totalproducts" value="{{row_count}}"/>
<ul class="prod_wrapper">
  
{% for p in products %}
    <li>
        {%  set randon_item = p.getDefaultItem(app.user)%}
                    {#  set randon_item = p.displayProductColor.getSmallestAvailableItem#}
        {% if(randon_item and randon_item!=null)%}
            <span id="apply_image_url" style="display:none;">{{asset(randon_item.WebPath)}}
        </span>    
        {%endif%}    
            
        <div class="prod_node">
            <span></span>
            
            <div class="featured_box{{p.id}} fbox">
                <div class="pos_relative"><div class="transp_list hide"><div class="uploading_list">&nbsp;</div></div></div>
                <div class="nrm_prod_data{{p.id}} default_item">
                    
                <div class="featured_content">
                    <h3>{{p.name}}</h3>
                    <!--<p>{{p.brand.name}} -->
                </div>
               <div> 
                            
                   <div class="featured_img" style="float:left; margin-left: 70px;">                    
                    {%if p.displayProductColor %}      
                    {% if(randon_item and randon_item!=null)%}            
                    <img id="{{p.id}}" class="prod_{{p.clothingType.target|lower}}" src="{{asset(p.displayProductColor.webPath)}}"/>
                    <span id="{{'product_'~p.id}}" class="curr_prod_full_url" style="display:none;">{{path('ajax_product_detail', {'id':p.id, 'product_color_id':randon_item.productColor.id, 'product_size_id':randon_item.productSize.id})}}</span>
                     <span id="ajax_product_base_url" style="display:none;">{{path('ajax_product_base_url')}}</span>
                    <a class="apply_img hide" href="{{asset(randon_item.WebPath)}}">{{asset(randon_item.WebPath)}}</a>
                      <span class="prod_fitting_details" id="fitting_feedback_{{p.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_item_id" : randon_item.id})}}'>feedback</a></span>
                      <span class="product_feedback" id="" style="display:none;">{{p.id}}</span>
                       <span id="base_url_new_detail"style="display:none;"></span>
                        <span id="ajax_product_base_url" style="display:none;"></span>
                        <a class="apply_img hide" href="{{asset(randon_item.WebPath)}}">{{asset(randon_item.WebPath)}}</a>    
                    {%endif%}
                    {%endif%} 
                        
                </div>
                    
                   <div class="pro_detail" style="float:right;"><a class="prod_details_arrow" href="javascript:void(0);"><img src="{{ asset('bundles/lovethatfit/site/images/slider_detail_arrow.png') }}" width="58" height="39"></a></div>     
                    
               </div>   
                            
                <span></span>
                <!--/nrm_prod--></div>
            <div class="dynamic_data{{p.id}}"></div>
               
            <!--Featured box--></div>
    </li>            
                {% endfor %}
                {%else%}
               
    
 <div id="nomoreresults">
   <!-- <h3 class="comingsoon_new">
        Products are currently not available.
    </h3> -->                   
 </div>
      {%endif%}
{%endif%}
</ul>

<script>


$(".prod_details_arrow").click(
    function(){
       
        var curr_prod_id = $(this).parent().parent().find(".featured_img img").attr("id");
        base_url=$('#product_'+curr_prod_id ).text();
        
        $('.featured_box'+curr_prod_id+' .transp_list').removeClass("hide").addClass("disp_blk");
        $.ajax({
            url:  base_url,
            success: function (data) {
                
                //var chk_data_jiji = $($.parseHTML(data));
                
                curr_handle = $(data).find('.prod_handle').html();
                curr_details = $(data).find('.prod_applied_detail').html();
                curr_size_apply = $(data).find('.curr_size_data').html();
                curr_color_apply = $(data).find('.curr_color_data').html();
                curr_fitting_alerts = $(data).find('.curr_fitting_alerts').html();
                
                //$('#prod_accordion #prod_type_dress_hlder .prod_handle').html(oneval);
                
                                
               //var chk_data_jiji = $($.parseHTML(data)).find(".prod_handle").addClass("ffcc00");
               
               //$($.parseHTML(data)).find(".prod_handle").addClass("ff_ko_chk");
               
               //$(".ff_ko_chk").css("background","#ffcc00");
                   
                   //$(".prod_row_"+product_id).html();
                
                //alert(chk_data_jiji);
                
                
              //$('#prod_accordion .prod_applied_detail .rgt_col').prepend(data);
              
            
              
             $('#select_size').html($(data).find('div#hdn_sizes_hldr').html());
             $('#select_color').html($(data).find('div#hdn_color_hldr').html());
            accordianCall();
            
           // $('.featured_box'+curr_prod_id+' .transp_list').removeClass("disp_blk").addClass("hide");
           // $('.dynamic_data'+curr_prod_id ).html(data).addClass("disp_blk");
           // $('.nrm_prod_data'+curr_prod_id ).addClass("hide");
            set_drag_drop_ele();
            
            //var tesss = $(this).parent().parent().parent().find(".featured_box").attr("class");
            
            //alert(tesss);
            }
        });       
        
    }
);
    
    
$(".featured_img img").click(
function(){
    //new_product_control(false,6,7,21);
    //new_product_control(false,7,8,24);
    new_product_control(this);
});


</script>


