
{% extends 'LoveThatFitSiteBundle::base.html.twig' %}
{% block left_navigation %}

{% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation.html.twig'%}

{% endblock %}

{% block left_col_btm %}
{% endblock %}

{% block product_slider %}
   
<script language="javascript">

(function($) { 
$(function() {

        $('ul.tabs').each(function() {
                $(this).find('li').each(function(i) {
                        $(this).click(function(){
                                $(this).addClass('current').siblings().removeClass('current')
                                        .parents('div.sectionbox').find('div.box').eq($(this).index()).fadeIn(150).siblings('div.box').hide();
                        });
                });
        });

})
})(jQuery)
 // For Size Combox box
var product_id={{product.id}} 
  jQuery(document).ready(function($){
  //you can now use $ as your jQuery object.
   $('#cloth_sizes').live('change', function()	{
       color_id_hidden=$('#color_id_hidden').text();
       size_id = $(this).val();
     
        $.ajax({
            url: "http://localhost/webapp/web/app_dev.php/ajax/product_detail_append/"+ product_id+ "/" + color_id_hidden + "/" +size_id,
          
            success: function (data) {
             //$('#prod_wrapper').append();  
             $('.prod_wrapper').replaceWith(data);
            }
        });
       });

      
      $('#a_color_id').live('click', function(){
          
      color_id=$('#color_id').text();
       size_id =1;
     
        $.ajax({
            url: "http://localhost/webapp/web/app_dev.php/ajax/product_detail_append/"+ product_id+ "/" +  color_id + "/" +size_id,
          
            success: function (data) {
             //$('#prod_wrapper').append();  
             $('.prod_wrapper').replaceWith(data);
            }
        });
});

});



    </script>  
    <ul class="prod_wrapper">

        <li class="selected_pro">
            <div class="prod_node">
                <span></span>
                <div class="featured_box">                
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">

                            <span id="color_id_hidden" style="display:none;">{{productColor.id}}</span>
                            <select name="cloth_sizes" id="cloth_sizes"   class="sle_clth">


                                <option value="">Size</option>
                            {% if productColor%}
                                {%for key, pcsa in productColor.getSizeTitleArray%}                                    
                                
                                <option value='{{key}}'>{{pcsa}}</option>
                                
                                 {%endfor%}
                            {% else %}
                               {%for key, pcsa in product.displayProductColor.getSizeTitleArray%}
                                
                                <option value='{{key}}'>{{pcsa}}</option>
                                
                              {%endfor%}
                            {%endif%}
                                </select>
                                 <select name="cloth_quantity" class="sle_clth">
                                    <option>1</option>
                                </select>

                            </div>

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                    
              <span id="color_id" style="display:none;">{{apc.id}}</span>         
              <a href="#_"  id="a_color_id"><img width="24" height="24" src="{{asset(apc.PatternWebPath)}}" ></a>
                           
              {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Bag</a></div>
                            <div class="product_price">$ 9,473.57</div>

                        </div>
                        <div class="featured_img">

                            {% if productColor%}
                            <img width="63" height="108" src="{{asset(productColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            <a class="apply_img" href="{{ asset(productColor.WebPath) }}">upply</a>                        
                            {% else %}
                            <img width="63" height="108" src="{{asset(product.displayProductColor.ImagePaths['small'])}}" class="prod_dress ui-draggable">
                            <a class="apply_img" href="{{ asset(product.displayProductColor.WebPath) }}">upply</a>                        
                            {%endif%}

                            <span class="prod_fitting_details" id="fitting_feedback_{{product.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_id" : product.id})}}'>feedback</a></span>
                            {% if productItem and productItem%}
                                <a href="{{ path('ajax_user_product_item_create', {'product_item_id':productItem.id}) }}">Love</a><br>
                                <a class="apply_img" href="{{ asset(productItem.WebPath) }}"></a>
                            {% endif %}
                        </div>
                        
                        <div class="like_icon">
                            <a href="#"><img src="{{asset('bundles/lovethatfit/site/images/love_icon.png')}}"></a>
                        </div>



                        <div style="clear:both;"></div>
                        <div id="pro_more_det"><!--START PRODUCT MORE DETAIL-->



                            <div class="sectionbox"><!-- START section -->
                                <ul class="tabs">
                                    <li class="current">Description</li>
                                    <li>At a Glance</li>
                                    <li>Designer</li>		
                                </ul>
                                <div class="box visible">
                                    <p>{{product.description}}</p>		
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                                <div class="box">
                                    <p>{{product.description}}</p>
                                </div>
                            </div><!-- END section -->
                          

                            </div><!--END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>
                    </div></li>


        <script type="text/javascript">
                    $('slideshow').style.display='none';
                    $('wrapper').style.display='block';
                    var slideshow=new TINY.slideshow("slideshow");
                    window.onload=function(){
                            slideshow.auto=false;
                            slideshow.speed=5;
                            slideshow.link="linkhover";
                            slideshow.info="information";
                            slideshow.thumbs="slider";
                            slideshow.left="slideleft";
                            slideshow.right="slideright";
                            slideshow.scrollSpeed=4;
                            slideshow.spacing=5;
                            slideshow.active="#fff";
                            slideshow.init("slideshow","image","imgprev","imgnext","imglink");
                    }
                </script>



                <!------------------------------------------------------------------------------------>

            </ul>

            
{% endblock %}
    
