<!--/ this templete should have the objects products, page_number, limit & row_count -->
<ul class="prod_wrapper">

 
    
{% if(functionality_status is defined and functionality_status  )%}
    
    <li>
        <div class="prod_node">
            <span></span>
            <div class="featured_box">                
                              <div class="featured_content" style="background: #f3f3f3; height: 500px;">
                    <h3 style="font-size:0.95em; padding-top: 220px; height: auto; width: 160px; margin:0 auto;">
{{functionality_status}}</h3>                    

                <!--/prod_node--></div>
    </li> 
        
    {%else%}
{% if(row_count>0)%}    
{% for p in products %}
    <li>
        {%  set randon_item = p.displayProductColor.getSmallestAvailableItem%}
        {% if(randon_item and randon_item!=null)%}
            <span id="apply_image_url" style="display:none;">{{asset(randon_item.WebPath)}}
        </span>    
        {%endif%}    

        <div class="prod_node">
            <span></span>
            <span id="{{'product_'~p.id}}" style="display:none;">{{path('ajax_product_detail', {'id':p.id})}}</span>
            <div class="featured_box{{p.id}} fbox">
                <div class="pos_relative"><div class="transp_list hide"><div class="uploading_list">&nbsp;</div></div></div>
                <div class="nrm_prod_data{{p.id}} default_item">
                    
                <div class="featured_content">
                    <h3>{{p.name}}</h3>
                    <!--<p>{{p.brand.name}} -->
                </div>
               <div> 
                            
                   <div class="featured_img" style="float:left; margin-left: 70px;">                    
                    {%if p.displayProductColor%}                    
                    <img id="{{p.id}}" class="prod_{{p.clothingType.target|lower}}" src="{{asset(p.displayProductColor.webPath)}}"/>
                    <a class="apply_img hide" href="{{asset(randon_item.WebPath)}}">{{asset(randon_item.WebPath)}}</a>
                      <span class="prod_fitting_details" id="fitting_feedback_{{p.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_item_id" : p.getRandomItem.id})}}'>feedback</a></span>
                    {% if(randon_item and randon_item!=null)%}
                        <a class="apply_img hide" href="{{asset(randon_item.WebPath)}}">{{asset(randon_item.WebPath)}}</a>    
                    {%endif%}
                    {%endif%} 
                </div>
                    
                   <div class="pro_detail" style="float:right;"><a class="prod_details_arrow" href="javascript:void(0);"><img src="{{ asset('bundles/lovethatfit/site/images/slider_detail_arrow.png') }}" width="58" height="39"></a></div>     
                    
               </div>   
                            
                <span></span>
                <!--/nrm_prod--></div>
            <div class="dynamic_data{{p.id}}"></div>
               
            <!--Featured box--></div>
    </li>            
                {% endfor %}
                {%else%}
               
    <li>
        <div class="prod_node">
            <span></span>
            <div class="featured_box">                
                
                              <div class="featured_content" style="background: #f3f3f3; height: 500px;">
                    <h3 style="font-size:0.95em; padding-top: 220px; height: auto; width: 160px; margin:0 auto;">
Products are currently<br>  not available.</h3>                    
            <!--/prod_node--></div>
    </li> 
    
                {%endif%}
{%endif%}
</ul>

<script>
    
$(".prod_details_arrow").click(
    function(){
        
        var curr_prod_id = $(this).parent().parent().find(".featured_img img").attr("id");
        base_url=$('#product_'+curr_prod_id ).text();
        
        $('.featured_box'+curr_prod_id+' .transp_list').removeClass("hide").addClass("disp_blk");
        $.ajax({
            url:  base_url,
           
          
            success: function (data) {
            $('.featured_box'+curr_prod_id+' .transp_list').removeClass("disp_blk").addClass("hide");
            $('.dynamic_data'+curr_prod_id ).html(data).addClass("disp_blk");
            $('.nrm_prod_data'+curr_prod_id ).addClass("hide");
            set_drag_drop_ele();
            
            //var tesss = $(this).parent().parent().parent().find(".featured_box").attr("class");
            
            //alert(tesss);
            }
        });       
        
    }
);
    
</script>


