    
<script language="javascript">

function chk_applied_loaded(prod_type_applied){
    photo_width_a =  document.getElementById(prod_type_applied).width;
            if(photo_width_a == null){
                //alert("not loaded yet");
                setTimeout(chk_applied_loaded(prod_type_applied), 200);
                return false;
            }else {
                $("#top_dropable").fadeIn("500",function (){$("#user_dummy_img_hldr .uploading_in_progress").remove()});
                $("#applied_prod_top").draggable({
                        start: function(){
                        },
                        drag: function(){
                            product_drag_limit_check(this);
                        },
                        stop: function() {
                            remove_product_applied(this);
                        }
                    });
            }
        }

function chk_bottom_applied_loaded(prod_type_applied){
    photo_width_a =  document.getElementById(prod_type_applied).width;
            if(photo_width_a == null){
                //alert("not loaded yet");
                setTimeout(chk_bottom_applied_loaded(prod_type_applied), 200);
                return false;
            }else {
                $("#bottom_dropable").fadeIn("500",function (){$("#user_dummy_img_hldr .uploading_in_progress").remove()});
                $("#applied_prod_bottom").draggable({
                        start: function(){
                        },
                        drag: function(){
                            product_drag_limit_check(this);
                        },
                        stop: function() {
                            remove_product_applied(this);
                        }
                    });
            }
        }
        
        
function chk_dress_applied_loaded(prod_type_applied){
    photo_width_a =  document.getElementById(prod_type_applied).width;
            if(photo_width_a == null){
                //alert("not loaded yet");
                setTimeout(chk_dress_applied_loaded(prod_type_applied), 200);
                return false;
            }else {
                $("#full_dropable").fadeIn("500",function (){$("#user_dummy_img_hldr .uploading_in_progress").remove()});
                $("#applied_prod_dress").draggable({
                        start: function(){
                        },
                        drag: function(){
                            product_drag_limit_check(this);
                        },
                        stop: function() {
                            remove_product_applied(this);
                        }
                    });
            }
        }


function apply_prod(size_id,product_id,color_id){
    //alert("size_id =" + size_id + "  product_id = " + product_id + "   color_id = " +color_id);
    
    var apply_img_url = $('.dynamic_data'+product_id+' .featured_img a.apply_img').attr('href');
    var prod_type_top = $('.featured_box'+product_id+' .featured_img img').hasClass('prod_top');
    var prod_type_bottom = $('.featured_box'+product_id+' .featured_img img').hasClass('prod_bottom');
    var prod_type_dress = $('.featured_box'+product_id+' .featured_img img').hasClass('prod_dress');
    
    //alert(apply_img_url);
    
    if(prod_type_top) {
        
        //$("#play_area").prepend('<div class="uploading_in_progress"></div>');
        
        $("#top_dropable").fadeOut("200", function (){
            $("#top_dropable").html("<img id='applied_prod_top' src='"+apply_img_url+"'/>")
            chk_applied_loaded('applied_prod_top');
          });
        
        
        
        var my_curr_prod = $('.dynamic_data'+product_id+' .prod_fitting_details a').attr('href');
//        var my_curr_prod = $(".ui-draggable-dragging").parent().find(".prod_fitting_details a").attr("href");
            
            
            $.ajax({
                url: my_curr_prod,
                cache: false,
                success: function(curr_prod_alerts){
                    $("#curr_top_alerts").html(curr_prod_alerts).parent().parent().fadeIn();
                }
            });  
    }
    if(prod_type_bottom) {
        
        $("#bottom_dropable").fadeOut("200", function (){
            $("#bottom_dropable").html("<img id='applied_prod_bottom' src='"+apply_img_url+"'/>")
            chk_bottom_applied_loaded('applied_prod_bottom');
          });
        
        //$("#bottom_dropable").fadeOut("500").html("<img src='"+apply_img_url+"'/>").fadeIn("500").addClass("disp_blk");
        
        var my_curr_prod = $('.dynamic_data'+product_id+' .prod_fitting_details a').attr('href');
            
            $.ajax({
                url: my_curr_prod,
                cache: false,
                success: function(curr_prod_alerts){
                    $("#curr_bottom_alerts").html(curr_prod_alerts).parent().parent().fadeIn();
                }
            });
    }
    if(prod_type_dress) {
        
        $("#full_dropable").fadeOut("200", function (){
            $("#full_dropable").html("<img id='applied_prod_dress' src='"+apply_img_url+"'/>")
            chk_dress_applied_loaded('applied_prod_dress');
          });
        
        
        var my_curr_prod = $('.dynamic_data'+product_id+' .prod_fitting_details a').attr('href');
            
            $.ajax({
                url: my_curr_prod,
                cache: false,
                success: function(curr_prod_alerts){
                    $("#curr_dress_alerts").html(curr_prod_alerts).parent().parent().fadeIn();
                }
            });
    }
}

// For Size Combox box
function select_size(size_id,product_id,color_id)
{
       var size= size_id.value;
       base_url=$('#ajax_product_base_url').text();
       $('.featured_box'+product_id+' .transp_list').removeClass("hide").addClass("disp_blk");
       $("#user_dummy_img_hldr").prepend('<div class="uploading_in_progress"></div>');
        $.ajax({
            
            url:  base_url+ product_id+ "/" + color_id + "/" +size,
          
            success: function (data) {
                $('.featured_box'+product_id+' .transp_list').removeClass("disp_blk").addClass("hide");
            // $('#prod_wrapper').append(data);  
              $('.featured_box'+product_id+' .dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.featured_box'+product_id+' .nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
              apply_prod(size_id,product_id,color_id);
            }
        });
}
function pattern_select(color_id,product_id,size_id)
{
   //base_url=$('#base_url').text();
   base_url=$('#ajax_product_base_url').text();
      // size_id =$('#hidden_size_id').text();
       $('.featured_box'+product_id+' .transp_list').removeClass("hide").addClass("disp_blk");
     
        $.ajax({
            //url: base_url+"/app_dev.php/ajax/product/"+ product_id+ "/" +  color_id + "/" +size_id,
            url: base_url + product_id+ "/" +  color_id + "/" +size_id,
          
            success: function (data) {
              
              $('.featured_box'+product_id+' .transp_list').removeClass("disp_blk").addClass("hide");
              $('.featured_box'+product_id+' .dynamic_data'+product_id ).html(data).addClass("disp_blk");
              $('.featured_box'+product_id+' .nrm_prod_data'+product_id ).addClass("hide");
              set_drag_drop_ele();
              apply_prod(size_id,product_id,color_id);
            }
        });

}

function loveItem(item_id)
{  
    
    
base_url_love=$('#ajax_product_love_url'+item_id).html();
url_load= "../ajax/user_product_item/create/"+ item_id;
var pathname = window.location.pathname;
var urlsplit = pathname.split("/");
var username_lattest_url = urlsplit[6];

if(username_lattest_url){
url_load= "../../ajax/user_product_item/create/"+ item_id;
}

var jqXHR = $.ajax({
 
  type: "POST",
  url:url_load,
success: function (XMLHttpRequest, textStatus, errorThrown) {
if(jqXHR.responseText.trim()== "success")
{
    $("#like_icon_"+item_id).html('');
    $(".like_icon1_"+item_id).html('');
    $("#like_icon_"+item_id).replaceWith(' <div class="like_icon1_'+item_id+'"><a href="javascript:void(0);" onclick="lovedItems('+item_id+')" title="Loved/Liked"><img src="{{asset('bundles/lovethatfit/site/images/liked.png')}}"></a><span id="ajax_product_loved_url'+item_id+'" style="display:none;">{{path('ajax_user_product_item_delete',{'product_item_id':productItem.id})}}</span> </div>');
}else{
 alert('Sorry .. You are overlimit please delete some of your loved products ');
  }
         }
        });
}

function lovedItems(item_id)
{  
  base_url_loved=$('#ajax_product_loved_url'+item_id).text();
  url_load= "../ajax/user_product_item/delete/"+ item_id;
  var pathname = window.location.pathname;
var urlsplit = pathname.split("/");
var username_lattest_url = urlsplit[6];

if(username_lattest_url){
 url_load= "../../ajax/user_product_item/delete/"+ item_id;
}
  var jqXHR = $.ajax({
  //url: base_url+"/app_dev.php/ajax/products/my_closet/delete/"+ item_id,
   url: url_load,
  success: function (XMLHttpRequest, textStatus, errorThrown) {
if(jqXHR.responseText.trim()== "success")
{
    $("#like_icon_"+item_id).html('');
    $(".like_icon1_"+item_id).html('');
    $(".like_icon1_"+item_id).replaceWith(' <div id="like_icon_'+item_id+'"><a href="javascript:void(0);"><img src="{{asset('bundles/lovethatfit/site/images/like.png')}}" onclick=loveItem('+item_id+')></a><span id="ajax_product_love_url'+item_id+'" style="display:none;">{{path('ajax_user_product_item_create',{'product_item_id':productItem.id})}}</span></div>'); 
}               
   }
 });
}
    </script>  
   

                <div class="featured_box_{{product.id}}">  
                   
                    <span id="base_url" style="display:none;">{{app.request.getScheme~  '://' ~ app.request.getHttpHost~ app.request.getBasePath}}</span>
                    <span id="ajax_product_base_url" style="display:none;">{{path('ajax_product_base_url')}}</span>
                    <span></span>
                    <span class="hidden_color_id" style="display:none;">{{productColor.id}}</span>
                    <span id="hidden_size_{{productSize.id}}" style="display:none;">{{productSize.id}}</span>
                    <span id="hidden_item_{{productItem.id}}" style="display:none;">{{productItem.id}}</span>
    
    
                    <div class="featured_content_selected">
                        <h3 class="selected">{{product.name}}</h3>
                        <div style="clear:both;"></div>
                        <div class="featured_sizes">

                            
                  <select name="cloth_sizes" id="cloth_sizes"   class="cloth_sizes" onchange="select_size(this,{{product.id}},{{productColor.id}})">
                                {%for key, pcsa in productColor.getSizeDescriptionArray%}                                    
                                {% if(productSize.id==key)   %}
                                <option value='{{key}}' selected="">{{pcsa}}</option>
                                {%else%}
                                <option value='{{key}}'>{{pcsa}}</option>
                                {%endif%}
                                {%endfor%}                     
                  </select>
                                 <select name="cloth_quantity" class="sle_clth">
                                    <option>1</option>
                                </select>

                            </div>
                        
                        
                        
                        

                            <div class="pro_color">

                                <span>                         

                           {%for apc in product.productColors%}
                                    
              <span id="color_id_pattern" style="display:none;">{{apc.id}}</span>         
              <a href="javascript:void(0)"  id="a_color_id" onclick="pattern_select({{apc.id}},{{product.id}},{{productSize.id}})">
              <img width="16" height="16" src="{{asset(apc.PatternWebPath)}}" >
              </a>
               {%endfor%}

                                </span>
                            </div>

                            <div id="add_cart"><a href="#">Add to Cart</a></div>
                            <div class="product_price">$16.00</div>
                            <div style="clear:both"></div>
                            <div id="fb-root"></div>
	
	<!-- USE 'Asynchronous Loading' version, for IE8 to work
	http://developers.facebook.com/docs/reference/javascript/FB.init/ -->
	
	<script>
	  window.fbAsyncInit = function() {
		FB.init({
		  appId  : '622956737752091',
		  status : true, // check login status
		  cookie : true, // enable cookies to allow the server to access the session
		  xfbml  : true  // parse XFBML
		});
	  };
	
	  (function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	  }());
	</script>
	
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
	<img id = "share_button{{product.id}}" src="{{asset('bundles/lovethatfit/site/images/share_button.png')}}">
	
	
	<script type="text/javascript">
	$(document).ready(function(){
	$('#share_button'+{{product.id}}).click(function(e){
	e.preventDefault();
	FB.ui(
	{
	method: 'feed',
	name: '{{product.name}}',	        
	picture:'{{ asset(productItem.WebPath) }}',
	caption: '{{product.name}}',
	description: '{{ asset(productItem.WebPath) }}',
	message: ''
	});
	});
	});
	</script> 
                        </div>
                    
                    
                    
                    
                        <div class="featured_img">

                            
                            <img src="{{asset(productColor.ImagePaths['web'])}}" class="prod_{{product.clothingType.target|lower}} ui-draggable">
                            
                             <span class="prod_fitting_details" id="fitting_feedback_{{productItem.id}}"><a href='{{path("ajax_fitting_feedback_list", {"product_item_id" : productItem.id})}}'>feedback</a></span>
                           
                            {% if productItem and productItem%}
                            {%if(app.user.getMyClosetListArray(productItem.id)==productItem.id)%}
                            <div class="like_icon1_{{productItem.id}}" style="">
<a href="javascript:void(0);" onclick="lovedItems({{productItem.id}})" title="Loved/Liked"><img src="{{asset('bundles/lovethatfit/site/images/liked.png')}}"></a>
<span id="ajax_product_loved_url{{productItem.id}}" style="display:none;">{{path('ajax_user_product_item_delete',{'product_item_id':productItem.id})}}</span>  
</div>  

                            {%else%}
<div id="like_icon_{{productItem.id}}">
<a href="javascript:void(0);" onclick="loveItem({{productItem.id}})" title="Love/Like"><img src="{{asset('bundles/lovethatfit/site/images/like.png')}}"></a>
<span id="ajax_product_love_url{{productItem.id}}" style="display:none;">{{path('ajax_user_product_item_create',{'product_item_id':productItem.id})}}</span>
</div>
                            {%endif%}
                                
                               
                                <a class="apply_img hide" href="{{ asset(productItem.WebPath) }}"></a>
                            {% endif %}
                        </div>

                        <div style="clear:both;"></div>
                        <!--<div id="pro_more_det"><!--START PRODUCT MORE DETAIL


                            </div> END PRODUCT MORE DETAIL-->   

                            <span></span>
                            <!--/prod_node--></div>