<div id="boxes_wrapper">
    <div class="home_box" id="comapre_1">
   
        
                
                    {% for singlePro in product %}
                    {% if(singlePro.display_image is defined )%}
                   <img src="{{asset(singlePro.display_image) }}">
                    {%endif%}
                   <div>Product Name:{{singlePro.name}}</div>
                   <div> Brand:{{singlePro.brand}}</div>
                   <div>Description:{{singlePro.description}}</div>
                   <div>Gender:{{singlePro.gender}}</div>
                   <div>Clothing Type:{{singlePro.clothing_type}}</div>
                   <div>Target:{{singlePro.target}}</div>
                   <div>Styling Type:{{singlePro.styling_type}}</div>
                   <div>Length:{{singlePro.hem_length}}</div>
                   <div>Neckline:{{singlePro.neckline}}</div>
                   <div>Sleeve Styling:{{singlePro.sleeve_styling}}</div>
                   <div>Rise:{{singlePro.rise}}</div>
                   <div>Stretch Type:{{singlePro.stretch_type}}</div>
                   <div>Fabric Weight:{{singlePro.fabric_weight}}</div>
                   <div>Layering:{{singlePro.layering}}</div>
                   <div>Structural Detail:{{singlePro.structural_detail}}</div>
                   <div>Fit Type:{{singlePro.fit_type}}</div>
                   <div>
                       Sizes
                       <select id="size_title">
                           <option value="">Sizes</option>
                    {% for sizes,values in singlePro.sizes%}
                           <option value="{{values}}">{{sizes}}</option> 
                     {%endfor%}
                           </select>           
                    
                   </div>
                   <div>
                   Colors:
                   {% for color in singlePro.colors%}
                    <img src="{{asset(color.pattern) }}">
                     {%endfor%}
                   </div> 
                   <div>
                   Feed back:
                   {%if (singlePro.feedback.fit_points is defined)%}
                    {% for fp, fp_specs in singlePro.feedback.fit_points %}             
            <li><b>{{fp_specs.label}}</b>            
            {%if (fp_specs.status == -5)%}
               Please provide your measurements <a href="{{ path('user_profile_about_me') }}" > here</a> </li>
           {%else%}
            {{' : '~fp_specs.message}}
            {% endif %}
               
         {% endfor %}
                               {% endif %}
                
     {%if (singlePro.feedback.fit_max_scale is defined and singlePro.feedback.fit_max_scale is not null)%}
                <li><b>
                Fit Index :  
                    </b>
                    {{singlePro.feedback.fit_ideal_scale}}
                    </li>
                {% endif %}
                    
              {%if (singlePro.recommendation is defined and singlePro.recommendation is not null)%}
                <li><b>
                Try size 
                    </b>
                    {{singlePro.recommendation.description}}
                    </li>
            
            {% else %}      
                    <li>Details not found.</li>
            {% endif %}                 
                    
 
                   <br>
                   
                   {% for value,fb in singlePro.feedback%}
                  
                   <u><b>{{value}}-</b></u> 
                   <br>
                   id={{fb.id}}
                   <br>
                    Fits={{fb.fits}}
                   <br>
                   Description:{{fb.title}}
                       
                     
                     <br>
                     {%endfor%}
                   
                   </div> 
                   
                  
                    {% endfor %}
              
                   
                   
    </div>
</div>
