{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}

{% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation.html.twig'%}

{% endblock %}

{% block left_col_btm %}
{% endblock %}

{% block product_slider %}

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>

function sizeTitle(product_id){
   
var size_id = $('#size_title'+product_id).val();
var size_title = $('#size_title'+product_id+' option:selected').text();
var feedback=getFeedback(product_id,size_title);
console.log(showFeedBack(feedback,product_id));


}

// Getting single product base on product id
function getProduct(product_id){
{% autoescape false %}
var arr= new Array();
var data={{ product|json_encode() }};
$.each(data, function(i, obj) {
    $.each(obj, function(j, key) {
    if(obj['id']==product_id){
        arr[j]=key;
        }
     })
});
return arr;
{% endautoescape  %}        
}

function getFeedback(product_id,size_title){
    feed_back_array=new Array();
    var product=getProduct(product_id);
    $.each(product.feedback, function(j, key) {
           if(key.description==size_title){
           feed_back_array[key.description]=key;
            }
        }
     );
 return feed_back_array;
}
// Simply feedback and print it
function showFeedBack(feedback,product_id){
  
    var feebk_msg=new Array();
    var feeb_back=$('#feedback_msg'+product_id).html('');
    var arr= new Array();
    for(i in feedback){
        for(j in feedback[i]){
            arr['']='test';
        }
    }
    return  arr;
}

</script>

<div id="compare_wrapper">
    <div class="compare">
    
    <h1>Product Comparison</h1>
    </div>
    <div id="comapre_1">


        <div>
            

                    {% for singlePro in product %}

            <div class="compare_bx">
                
                <div style="min-height: 330px; max-height: 330px;">
                
                
                        {% if(singlePro.display_image is defined )%}
                <span class="comp_pro">
                    <img src="{{asset(singlePro.display_image) }}" id="display_image{{singlePro.id}}"></span>
                        {%endif%}
                    <div class="com_label">Product Name</div>
                        <div >{{singlePro.name}}</div>
                        
                         <div class="com_label">Brand</div>
                        <div> {{singlePro.brand}} 
                              {% if(singlePro.description)%}  {{singlePro.description}}, {%endif%} 
                           
                                </div>
                            

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ SIZE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
                            <div>
                                <div class="com_label">Sizes</div>
                                <select id="size_title{{singlePro.id}}" onchange="change_product_details('{{singlePro.id}}')">
                                    <option value="">Sizes</option>
                                {% for sizes,values in singlePro.sizes%}
                                    <option value="{{values}}">{{sizes}}</option> 
                                 {%endfor%}
                                </select>           

                            </div>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            <div>
                                 <div class="com_label">Colors</div>
                        {% for color in singlePro.colors%}
                                 <span class="patter_box">  <img src="{{asset(color.pattern) }}" onclick="change_product_image({{singlePro.id}},{{color.id}})"></span>
                          {%endfor%}
                            </div> 
                         
                         </div>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ FEED BACK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            {%if (singlePro.feedback is defined)%}
                              {%if (singlePro.recommendation is defined)%}
                                    {% for key,feedback_item in singlePro.feedback%}
                            {#singlePro['items'][singlePro.current_item]['id']#}

                                            {%if (feedback_item.id == singlePro['items'][singlePro.current_item]['size_id'])%}
                            <br>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <div class="com_container">
             
                                <span id="feedback_msg{{singlePro.id}}"><b>Feedback: </b><br>
                                     {% if(feedback_item.message is defined )%}
                                         {{feedback_item.message}}
                                        {%endif%}                                    
                                    </span>                                
                                
                            </div>
                            <div class="com_container">
                                {% if(feedback_item.fit_points is defined )%}
                                <ul id="fit_point{{singlePro.id}}">
                                      
                                {% for fp,fp_specs in feedback_item.fit_points%}
                                       
                                        <li>
                                            <b>{{fp}} : </b>{{fp_specs.message}}
                                        </li>
                                        
                                         {%endfor%}
                                        <li>
                                            <b>fit index : </b>{{feedback_item.fit_index}}
                                        </li>
                                    </ul>
                                {%endif%}
                                </div> 
                                                      {% endif %}


                                    {%endfor%}
                                 {% endif %}
                            {% endif %}

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ Recommendations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                                                        
                            {%if (singlePro.recommendation is defined)%}
                                
                                <div class="com_container">
                                    <b>Recommendation</b>
                                    <span id="recmon{{singlePro.id}}">try size 
                            {% if(singlePro.recommendation.description  is defined)%}     {{ singlePro.recommendation.description }} {% endif%}
                                        </span>      
                                </div> 
                            {% endif %}
                            </div>

                    {% endfor %}


                        
                    </div>

                </div>
            </div>

<div id='product_data' style="display: none">
    {{product | json_encode()}}
        
</div>
<script>

var  product= get_product_array();
//~~~~~~~~~~~~~~~~~~~~~~ Product Color ~~~~~~
function change_product_image(product_id,color_id){
    image_url = "../../"+product[product_id]['colors'][color_id]['image'];
    current_item=product[product_id]['current_item'];
    size_id=get_size_id(current_item,product_id);
    
    sizes=product[product_id]['colors'][color_id]['sizes'];
    
    sizes_combo=$('#size_title'+product_id);
    sizes_combo.html('');
    for(key in sizes){
      sizes_combo.append($("<option />").val(sizes[key]).text(key));
    }
     for(key in sizes){
        if(sizes[key]==size_id){
            $("option[value='"+sizes[key]+"']").attr('selected','selected');
        }
    }
      
    // get size id from current item 
    
    
    
     $('#display_image'+product_id).attr('src',  image_url);
  
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~> 
 function change_product_details(product_id){
    
     
     
    var size_id = $('#size_title'+product_id).val();
    var size_title = $('#size_title'+product_id+' option:selected').text();
    product= get_product_array();
  
    fb = get_feedback_by_size(product, product_id, size_title);
    
   
    if(fb){
    fi = product[product_id]['feedback'][size_title]['fit_index']; 
    fb_message = product[product_id]['feedback'][size_title]['message']; 
    
      
     
    //str= fb_message + ' \n \n ' + fb + '\n recomendation: Try size ' + rc + '\n \n Fit Index:' + fi;
     if(product[product_id]['feedback'][size_title]['message']){
        $('#feedback_msg'+product_id).html('');
        $('#feedback_msg'+product_id).html("<b>FeedBack</b><br>"+fb_message);
     }
    
    $('#fit_point'+product_id).html('');
    $('#fit_point'+product_id).html(fb+'<li> <b>Fit index</b>'+fi+'<li>');
    if(product[product_id]['recommendation']){
    $('#recmon'+product_id).html();
    $('#recmon'+product_id).html(product[product_id]['recommendation']);
    }
    
   
   }
    
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~>set main array
function get_product_array(){
    return $.parseJSON($('#product_data').text());
 }
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~~>feedback by size
 function get_feedback_by_size(product, product_id, size_title){    
     if(product[product_id]['feedback']){
    fb = product[product_id]['feedback'][size_title]['fit_points'];
    str='';
    for (var key in fb) {
        str+='<li>'+'<b>'+key+'</b>'+ ': ' + fb[key].message + '</li>';
    }
    return str;}
  else{
  return null;
  }
 }
 
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~~>recommendation by size
 
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~> Get Size Id form current item 
 function get_size_id(current_item,product_id){
     product= get_product_array();
    return product[product_id]['items'][current_item]['size_id'];
     
 }
 
 </script>
 
 {% endblock %}