<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>

function sizeTitle(product_id){
var size_id = $('#size_title'+product_id).val();
var size_title = $('#size_title'+product_id+' option:selected').text();

console.log(getFeedBack(size_id,product_id,size_title));
}

// Getting Feed back base on the  size id 
function getFeedBack(size_id,product_id,size_title){
 
{% autoescape false %}
 {% for singlePro in product %}
    s='';
var p_id={{singlePro.id}};
if(p_id==product_id){
{% for sizes,values in singlePro.sizes%}
 var s_id={{values}};
 if(s_id==size_id){
   
 {% for key,feedback_item in singlePro.feedback%}
       key='{{key}}';
       if(key==size_title){
        var feedback_item='{{feedback_item.message}}' +'Description'+'{{feedback_item.description}}'+'Body Type:'+'{{feedback_item.body_type}}';
        return feedback_item;
           
   }
    
 {% endfor%}
    
 }

{%endfor%}

}
{% endfor%} 
var product={{ product|json_encode() }};
  
  
  
{% endautoescape  %}        


}

</script>

<div id="boxes_wrapper">
    <div class="home_box" id="comapre_1">


        <table>
            <tr>

                    {% for singlePro in product %}

                <td>
                        {% if(singlePro.display_image is defined )%}
                        <img src="{{asset(singlePro.display_image) }}">
                        {%endif%}
                        <div style="font-weight: bold">{{singlePro.name}}</div>
                        <div> {{singlePro.brand}}, 
                             {{singlePro.description}}, 
                            {{singlePro.clothing_type}}, 
                                Styling Type:{{singlePro.styling_type}}, 
                                Length:{{singlePro.hem_length}},
                                Neckline:{{singlePro.neckline}},
                                Sleeve:{{singlePro.sleeve_styling}},
                                Rise:{{singlePro.rise}}
                                Stretch Type:{{singlePro.stretch_type}}, 
                                Fabric Weight:{{singlePro.fabric_weight}}, 
                                Layering:{{singlePro.layering}}, 
                                Structural Detail:{{singlePro.structural_detail}}, 
                                Fit Type:{{singlePro.fit_type}}</div>
                            <br>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ SIZE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
                            <div style="border-top: solid #3EA9F5 1px; padding: 20px; ">
                                Sizes
                                <select id="size_title{{singlePro.id}}" onchange="sizeTitle('{{singlePro.id}}')">
                                    <option value="">Sizes</option>
                                {% for sizes,values in singlePro.sizes%}
                                    <option value="{{values}}">{{sizes}}</option> 
                                 {%endfor%}
                                </select>           

                            </div>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            <div>
                                Colors:
                        {% for color in singlePro.colors%}
                                <img src="{{asset(color.pattern) }}">
                          {%endfor%}
                            </div> 

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ FEED BACK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            {%if (singlePro.feedback is defined)%}
                              {%if (singlePro.recommendation is defined)%}
                                    {% for key,feedback_item in singlePro.feedback%}
                            {#singlePro['items'][singlePro.current_item]['id']#}

                                            {%if (feedback_item.id == singlePro['items'][singlePro.current_item]['size_id'])%}
                            <br>
                            <div style="border-top: solid #3EA9F5 1px; padding: 20px 0px 20px 0px ; ">
                                <b>Feedback: </b> {{feedback_item.message}}

                                <ul>
                                                           {% for fp,fp_specs in feedback_item.fit_points%}
                                        <li>
                                            <b>{{fp}} : </b>{{fp_specs.message}}
                                        </li>
                                                           {%endfor%}
                                        <li>
                                            <b>fit index : </b>{{feedback_item.fit_index}}
                                        </li>
                                    </ul>
                                </div> 
                                                      {% endif %}


                                    {%endfor%}
                                 {% endif %}
                            {% endif %}

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ Recommendations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                                                        
                            {%if (singlePro.recommendation is defined)%}
                                <br>
                                <div style="border-top: solid #3EA9F5 1px; padding: 20px 0px 20px 0px ; ">
                                    <b>Recommendation: </b>try size 
                                {{ singlePro.recommendation.description }}
                                </div> 
                            {% endif %}
                            </td>

                    {% endfor %}


                        </tr>
                    </table>

                </div>
            </div>
