<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>

function sizeTitle(product_id){
var size_id = $('#size_title'+product_id).val();
var size_title = $('#size_title'+product_id+' option:selected').text();
var feedback=getFeedback(product_id,size_title);
console.log(showFeedBack(feedback,product_id));


}

// Getting single product base on product id
function getProduct(product_id){
{% autoescape false %}
var arr= new Array();
var data={{ product|json_encode() }};
$.each(data, function(i, obj) {
    $.each(obj, function(j, key) {
    if(obj['id']==product_id){
        arr[j]=key;
        }
     })
});
return arr;
{% endautoescape  %}        
}

function getFeedback(product_id,size_title){
    feed_back_array=new Array();
    var product=getProduct(product_id);
    $.each(product.feedback, function(j, key) {
           if(key.description==size_title){
           feed_back_array[key.description]=key;
            }
        }
     );
 return feed_back_array;
}
// Simply feedback and print it
function showFeedBack(feedback,product_id){
  
    var feebk_msg=new Array();
    var feeb_back=$('#feedback_msg'+product_id).html('');
    var arr= new Array();
    for(i in feedback){
        for(j in feedback[i]){
            arr['']='test';
        }
    }
    return  arr;
}

</script>
<div id="boxes_wrapper">
    <div class="home_box" id="comapre_1">


        <table>
            <tr>

                    {% for singlePro in product %}

                <td>
                        
                        {% if(singlePro.display_image is defined )%}
                    <img src="{{asset(singlePro.display_image) }}" id="display_image{{singlePro.id}}">
                        {%endif%}
                        <div style="font-weight: bold">{{singlePro.name}}</div>
                        <div> {{singlePro.brand}}, 
                              {% if(singlePro.description)%}  {{singlePro.description}}, {%endif%} 
                            {{singlePro.clothing_type}}, 
                                Styling Type:{{singlePro.styling_type}}, 
                                Length:{{singlePro.hem_length}},
                                Neckline:{{singlePro.neckline}},
                                Sleeve:{{singlePro.sleeve_styling}},
                                Rise:{{singlePro.rise}}
                                Stretch Type:{{singlePro.stretch_type}}, 
                                Fabric Weight:{{singlePro.fabric_weight}}, 
                                Layering:{{singlePro.layering}}, 
                                Structural Detail:{{singlePro.structural_detail}}, 
                                Fit Type:{{singlePro.fit_type}}</div>
                            <br>

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ SIZE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
                            <div style="border-top: solid #3EA9F5 1px; padding: 20px; ">
                                Sizes
                                <select id="size_title{{singlePro.id}}" onchange="change_product_details('{{singlePro.id}}')">
                                    <option value="">Sizes</option>
                                {% for sizes,values in singlePro.sizes%}
                                    <option value="{{values}}">{{sizes}}</option> 
                                 {%endfor%}
                                </select>           

                            </div>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~ COLOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            <div>
                                Colors:
                        {% for color in singlePro.colors%}
                                <img src="{{asset(color.pattern) }}" onclick="change_product_image({{singlePro.id}},{{color.id}})">
                          {%endfor%}
                            </div> 

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ FEED BACK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                            
                            {%if (singlePro.feedback is defined)%}
                              {%if (singlePro.recommendation is defined)%}
                                    {% for key,feedback_item in singlePro.feedback%}
                            {#singlePro['items'][singlePro.current_item]['id']#}

                                            {%if (feedback_item.id == singlePro['items'][singlePro.current_item]['size_id'])%}
                            <br>
                            <div style="border-top: solid #3EA9F5 1px; padding: 20px 0px 20px 0px ; ">
                                <span id="feedback_msg{{singlePro.id}}"><b>Feedback: </b> {{feedback_item.message}}</span>

                                <ul id="fit_point{{singlePro.id}}">
                                {% for fp,fp_specs in feedback_item.fit_points%}
                                        <li>
                                            <b>{{fp}} : </b>{{fp_specs.message}}
                                        </li>
                                                           {%endfor%}
                                        <li>
                                            <b>fit index : </b>{{feedback_item.fit_index}}
                                        </li>
                                    </ul>
                                </div> 
                                                      {% endif %}


                                    {%endfor%}
                                 {% endif %}
                            {% endif %}

{#~~~~~~~~~~~~~~~~~~~~~~~~~~ Recommendations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}                                                        
                            {%if (singlePro.recommendation is defined)%}
                                <br>
                                <div style="border-top: solid #3EA9F5 1px; padding: 20px 0px 20px 0px ; ">
                                    <b>Recommendation: </b>try size 
                            {% if(singlePro.recommendation.description  is defined)%}     {{ singlePro.recommendation.description }} {% endif%}
                                </div> 
                            {% endif %}
                            </td>

                    {% endfor %}


                        </tr>
                    </table>

                </div>
            </div>

<div id='product_data' style="display: none">
    {{product | json_encode()}}
        
</div>
<script>

var  product= get_product_array();
//~~~~~~~~~~~~~~~~~~~~~~ Product Color ~~~~~~
function change_product_image(product_id,color_id){
    image_url = "../../"+product[product_id]['colors'][color_id]['image'];
    current_item=product[product_id]['current_item'];
    size_id=get_size_id(current_item,product_id);
    
    sizes=product[product_id]['colors'][color_id]['sizes'];
    
    sizes_combo=$('#size_title'+product_id);
    sizes_combo.html('');
    for(key in sizes){
      sizes_combo.append($("<option />").val(sizes[key]).text(key));
    }
     for(key in sizes){
        if(sizes[key]==size_id){
            $("option[value='"+sizes[key]+"']").attr('selected','selected');
        }
    }
      
    // get size id from current item 
    
    
    
     $('#display_image'+product_id).attr('src',  image_url);
  
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~> 
 function change_product_details(product_id){
     
     
    var size_id = $('#size_title'+product_id).val();
    var size_title = $('#size_title'+product_id+' option:selected').text();
    product= get_product_array();
   
    fb = get_feedback_by_size(product, product_id, size_title);
    fi = product[product_id]['feedback'][size_title]['fit_index']; 
    fb_message = product[product_id]['feedback'][size_title]['message']; 
    rc=product[product_id]['recommendation']['description']; 
    str= fb_message + ' \n \n ' + fb + '\n recomendation: Try size ' + rc + '\n \n Fit Index:' + fi;
    $('#feedback_msg'+product_id).html('');
    $('#feedback_msg'+product_id).html("<b>FeedBack</b>:"+fb_message);
    $('#fit_point'+product_id).html('');
    $('#fit_point'+product_id).html(str);
    
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~>set main array
function get_product_array(){
    return $.parseJSON($('#product_data').text());
 }
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~~>feedback by size
 function get_feedback_by_size(product, product_id, size_title){    
    fb = product[product_id]['feedback'][size_title]['fit_points'];
    str='';
    for (var key in fb) {
        str +=key + ': ' + fb[key].message + ', \n';
    }
    return str;
 }
 
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~~>recommendation by size
 
 //~~~~~~~~~~~~~~~~~~~~~~~~~~~> Get Size Id form current item 
 function get_size_id(current_item,product_id){
     product= get_product_array();
    return product[product_id]['items'][current_item]['size_id'];
     
 }
 
 </script>