{% extends 'LoveThatFitSiteBundle::base.html.twig' %}

{% block left_navigation %}
<!--/this is left navigation you can remove this following include line and add your own navigation-->
    {% include 'LoveThatFitSiteBundle:InnerSite:_left_navigation_external.html.twig'%}

{% endblock %}

{% block left_col_btm %}
{% endblock %}



{% block fitting_room %}

<script type="text/javascript" src="{{ asset('bundles/easy_slider/js/jquery.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/easy_slider/js/easySlider1.7.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){	
$("#slider1, #slider2,#slider3, #slider4").easySlider({
auto: true, 
continuous: true
});

});	
</script>
<link href="{{ asset('bundles/easy_slider/css/screen.css')}}" rel="stylesheet" type="text/css" media="screen" />


<div id="new_home_bg">

<div id="boxes_wrapper">

    <div class="home_box">
        <h1>New<br>Arrivals</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':latest,'id':'1',})}}</div>
        <div class="more_lnk"><a href="{{path('inner_site_index',{'list_type' : 'latest' })}}">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>FRIEND<br>FAVORITES</h1>
         <div class="slid comingsoon">Coming Soon</div>
        <!--<div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':favourite,'id':'2'})}}</div>--!>
        <div class="more_lnk"><a href="{{path('inner_site_index',{'list_type' : 'most_faviourite' })}}">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>CURRENTLY<br>TRIED ON</h1>
        <div class="slid">{{ include('LoveThatFitSiteBundle:InnerSite:_products_slider.html.twig',{'product_list':tried_on,'id':'3'})}}</div>
        <div class="more_lnk"><a href="{{path('inner_site_index',{'list_type' : 'recently_tried_on' })}}">&nbsp;</a></div>
    </div>
    
    <div class="home_box">
        <h1>LTF<br>RECOMMENDATIONS</h1>
        <div class="slid comingsoon">Coming Soon</div>
        <div class="more_lnk"><a href="{{path('inner_site_index',{'list_type' : 'ltf_recommendation' })}}">&nbsp;</a></div>
    </div>
   

</div>    
   
    
    
    
    
    
    
</div>









{% endblock %} 