<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
<title>Create New Account Step 1</title>

<!-- Bootstrap core CSS -->
<link href="{{ asset('bundles/lovethatfit/site/css/orderhistory/bootstrap.css') }}" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="{{ asset('bundles/lovethatfit/site/css/orderhistory/custom.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/orderhistory/bootstrap.js') }}"></script>
<style>
  .receipt_row {
    border-bottom: 1px solid #ccc;
    padding: 15px 0px 15px 10px;
  }

  .receipt_row_order {
    border-bottom: 1px solid #ccc;
    padding: 15px 0px 15px 10px;
    background: #EAEAEA;
  }

  .product_txt {
    color: #000;
    font-size: 1em;
  }

  .brandtxt {
    color: #999;
    font-size: 0.8em;
  }

  .addresst{
    color: #444;
    font-size: 0.8em;
  }

  .product_detl {
    padding-top: 15px;
    font-size: 0.8em;
  }

  .product_detl span {
    color: #999;
  }

  .pricing div {
    padding-bottom: 8px;
    font-size: 0.95em;
  }

  .price {
    font-weight: bold;
    padding:0px;
    text-align:right;
  }

  .rectxt {
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .addressper{
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .addressper2{
    font-size: 1.2em;
    font-weight: 500; 
  }

  .shipping_text {
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .divider{
    border-bottom:3px solid #ccc; 
  }

  .shiptitle{
    font-size:0.75em;
    font-weight:700;
    padding-bottom:20px;  
  }

  .nobdr{
    border-bottom:0px!important;  
  }

  .logo{
    padding:15px 0px 15px 0px;
    border-bottom:1px solid #ccc; 
  }
</style>
</head>
<body>
  <div class="container">
    <div class="row text-center logo">
        <div class="col-12"><img src="{{ asset('bundles/lovethatfit/site/images/orderhistory/logo.png') }}" width="130" height="26" /></div>
    </div>
    <div class="row receipt_row">
      <div class="col-12">
        <div class="rectxt">Receipt</div>
        <div class="product_txt">Order: {{ dataArray['order_numnber'] }}</div>
        <div class="brandtxt">Ordered on {{ dataArray['purchase_date'] }}</div>
      </div>
    </div>
  {% for key in  dataArray['items'] %}
    <div class="row receipt_row_order">
      <div class="col-12">
        <div>
          <table border="0" width="100%">
              <tr>
                  <td width="70%">{{ key['pname'] }}</td>
                  <td width="30%" class="text-right">${{ key['price'] }}</td>
              </tr> 
         </table>  
         <div class="brandtxt">Ordered on {{ dataArray['purchase_date'] }}</div>
        </div>
      </div>
      <div class="row product_detl col-12">
        <div class="col-4"><span>Color:</span> {{ key['color'] }}</div>
        <div class="col-3"><span>Size:</span> {{ key['size'] }}</div>
        <div class="col-3"><span>Qty:</span> {{ key['quantity'] }}</div>
      </div>
    </div>
  {%endfor%}
  <div class="row receipt_row">
    <div class="col-12">
    <table border="0" width="100%">
      <tr>
          <td width="70%">Subtotal</td>
          <td width="30%" class="text-right pric">${{ dataArray['order_amount'] }}</td>
      </tr>  
      <tr>
          <td>Shipping</td>
          <td class="text-right pric">$0.00</td>
      </tr>
      {% if dataArray['discount'] != "0.00" %}
        <tr>
            <td>Discount</td>
            <td class="text-right pric">- ${{ dataArray['discount'] }}</td>
        </tr>
      {% endif %}  
      <tr>
          <td>Tax</td>
          <td class="text-right pric">${{ dataArray['sales_tax'] }}</td>
      </tr>
    </table>       
    </div>
    <hr />
  </div>
  <div class="row receipt_row">
    <div class="col-12">
     <table border="0" width="100%">
      <tr>
          <td width="70%">Total</td>
          <td width="30%" class="text-right pric">${{ dataArray['total_amount'] }}</td>
      </tr>    
    </table>
    </div>
  </div>
  <div class="row divider"></div>
   <div class="row receipt_row nobdr">
    <div class="row col-12">
      <div class="shiptitle col-12">SHIPPING ADDRESS</div>        
    </div>
    <div class="row col-12">
     <div class="addressper2  col-12">{{ dataArray['shipping_first_name'] }} {{ dataArray['shipping_last_name'] }}</div> 
     <div class="addresst  col-6">
      {{ dataArray['shipping_address1'] }},<br />
      {{ dataArray['shipping_city'] }}, {{ dataArray['shipping_state'] }} {{ dataArray['shipping_postcode'] }}<br />
      {{ dataArray['shipping_phone'] }}
     </div>
    </div>
  </div>
   <div class="row receipt_row ">
    <div class="row col-12">
      <div class="shiptitle col-12">BILLING ADDRESS</div>        
    </div>
    <div class="row col-12">
     <div class="addressper2 col-12">{{ dataArray['billing_first_name'] }}</div> 
     <div class="addresst col-6">
     {{ dataArray['billing_address1'] }}<br />
     {{ dataArray['billing_city'] }}, {{ dataArray['billing_state'] }} {{ dataArray['billing_postcode'] }}<br />
     {{ dataArray['billing_phone_no'] }}
     </div>
    </div>
  </div>
   <div class="row divider"></div>
   <div class="row receipt_row nobdr">
    <div class="row col-12">
      <div class="shiptitle col-12">PAYMENT METHOD</div>
    </div>
    <div class="row col-12">
     <div class="col-12 product_txt">{{ dataArray['card_type'] }} * {{ dataArray['last_four_number'] }}</div> 
    </div>
  </div>
</div>
<!-- /container -->
</body>
</html>