<div class='col-md-9'>
    <h3>{{user.fullName }}</h3>
    
    <table class="table table-condensed table-hover table-bordered">
            <tr>
                <th></th>    
                <th colspan="3">Measurement 1</th>
                <th colspan="3">Measurement 2</th>
                <th>Average</th>
                <th>Actual</th>
                <th>Difference</th>
            </tr>
            <tr>
                <th>#</th>    
                <th>Segment</th>
                <th>pixcel</th> 
                <th>inches</th> 
                <th>Segment</th>
                <th>pixcel</th> 
                <th>inches</th> 
                <th>inches</th> 
                <th>inches</th> 
                <th>inches</th> 
                
            </tr>
{% for fp, seg in specs_comparison %} 
            
            {% set px_dist1 =  seg.pixels.s1>0?seg.pixels.s1 |  number_format(2):'-' %}
            {% set inch_dist1 = seg.pixels.s1>0?(px_dist1/6) |  number_format(2):'-' %}            
            
            {% set px_dist2 = seg.pixels.s2>0?seg.pixels.s2 |  number_format(2):'-' %}            
            {% set inch_dist2 = seg.pixels.s2>0?(px_dist2/6) |  number_format(2):'-' %}
            
            {% set avg = (inch_dist2>0?(inch_dist2+inch_dist1)/2:inch_dist1)|  number_format(2) %}
            {% set avg = avg>0?avg:'-' %}
            {% set body = seg.body>0?seg.body:'-' %}
            {% set diff = seg.body>0?(body-avg)|  number_format(2):'-' %}
            {% set seg1= '('~seg.segments.s1.a ~', '~ seg.segments.s1.b~')'%}                
            {% set seg2= px_dist2>0? '('~seg.segments.s2.a ~', '~ seg.segments.s2.b~')':'-' %}                
            
            <tr>
                <th>{{fp}}</th> 
                <td>{{seg1}}</td> 
                <td>{{px_dist1}}</td> 
                <td>{{inch_dist1}}</td>
                <td> {{seg2}} </td>
                <td>{{px_dist2}}</td> 
                <td>{{inch_dist2}}</td>
                <td>{{avg}}</td>
                <td>{{body}}</td>
                <td>{{diff}}</td>
          
            </tr>
 {% endfor %}   

    
    
  
  
</table>
    </div>
<div>
    <img src="{{asset(user.webPath)}}" >
    
    </div>