<style>
.c_pannel{
background-color: #CCC; margin: 10px; padding: 10px; width: 500px;    
}
.c_pannel_element{
margin: 5px; 
}    
    </style>


<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script> 

<div class="c_pannel">
    <div class="c_pannel_element">
        <select  id="users">
            <option>Select User</option>
            {% for k,v in users  %}
                <option value="{{v.authToken}}">{{ v.email }}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="c_pannel_element">
        <select  id="service_name">
            <option>Select Service</option>
             {% for k,v in services_array  %}
                <option value="{{v['pattern']}}">{{ k }}</option>
            {% endfor %}
        </select>

    </div>
</div>

<div class="c_pannel">
    <form action="{{ path('si_hit') }}" method="post">
        <input id='hit' type="button" value="Result" />
        <input id='chk_new_window' type="checkbox" /> new window <br>
        <span id='timer_pannel'>
            Timer: <span id="timer">00:00:00.00</span><br>
            <span id="timer_status" style="display:none">0</span>
            <span id="timer_min"  style="display:none">0</span>
            <span id="timer_sec"  style="display:none">0</span>
            <span id="timer_mil_sec"  style="display:none">0</span>
        </span>
        <h4 id='user_name_header'>user name</h4>
        <h4 id='user_token_header'>token</h4>
        <h4 id='service_name_header'>Service Header</h4>
        <h4 id='service_path_header'>Service Path</h4>
        <textarea style="width: 500px; height: 200px" id='txt_request'></textarea>
        <textarea style="width: 500px; height: 200px" id='txt_response'></textarea>
                                             
    </form>
</div>

<br>
<script  type='text/javascript'>

function replace_user_data(){
          email = $("#user_name_header").text();
          token = $("#user_token_header").text();             
  
    request_json = $.trim($("#txt_request").val());
    if (request_json.indexOf("authTokenWebService")!=-1 || request_json.indexOf("email")!=-1){
        var obj1 = JSON.parse(request_json);
        if (request_json.indexOf("authTokenWebService")!=-1){
            obj1.authTokenWebService=token;
        }
        if (request_json.indexOf("email")!=-1){
            obj1.email=email;    
        }
        $("#txt_request").text(JSON.stringify(obj1));        
    }
      getUserDetail();
}

function replace_all_user_data(user_detail){
    var u_obj = JSON.parse(user_detail);
    var r_obj = JSON.parse($("#txt_request").val());
    
    for(var ukey in u_obj){
        for(var rkey in r_obj){
            if (rkey==ukey){
                r_obj[rkey]=u_obj[ukey];
            }
        }
    }
    $("#txt_request").text(JSON.stringify(r_obj));
}

//-------------------------------------------------------
{% autoescape false %};
var j = '{{ services_json}}';
var obj = JSON.parse(j);
{% endautoescape %}

function find_pattern(service_name){    
    for(var key in obj)
       if(key==service_name)
            return obj[key].pattern;                     
}
//--------------------------------------------
function get_params_json(service_name){    
    
    for(var key in obj){
       if(key==service_name){
           if(obj[key].hasOwnProperty('params')){
                return JSON.stringify(obj[key].params);                     
            }else{
                return ' ';
                }
        }
    }
}


//-------------------------------------
function upload(){    
    request_json = $.trim($("#txt_request").text());    
    //alert(request_json);     

    if (request_json.length==0){
        if($('#chk_new_window').is(':checked')){
                window.open(".." + $("#service_path_header").text());
            }else{
        restartTimer();//~~~~~~~~~~~~~~>      
        $.ajax({
               type: "GET",
               url: ".." + $("#service_path_header").text(),               
               success: function(data){
                    display_response(data);
                },
               failure: function(errMsg) {
                   display_response(errMsg);
               }
         });
         }
    }else{
        var value_ar = JSON.parse($("#txt_request").val());        
        restartTimer();//~~~~~~~~~~~~~~>  
        $.ajax({
               type: "POST",
               url: ".." + $("#service_path_header").text(),
               data: value_ar,  
               dataType: "json",
               success: function(data){
                   display_response(data);                    
                },
               failure: function(errMsg) {
                   display_response(errMsg);
               }
         });    
    }
}
function display_response(data){
            stopTimer();//~~~~~~~~~~~~~>
            str = JSON.stringify(data, null, 2);
            str = str.split("\\").join("");
            $('#txt_response').html(str);            
}
 //-------------------------------------------------------------
   function replace_text(str, email){      
    if (email.trim()==0){
       return str
   } else {
    var re = /(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;   
    return str.replace(re,email);
    }
}
//--------------------------------------------------------------    

//-------------------------------------
function getUserDetail(){
        $.ajax({
               type: "GET",
               url: "../service_interface/user_detail/" + $("#user_name_header").text(),               
               success: function(data){
                    //alert(data);
                    //var u_obj = JSON.parse(data);
                     replace_all_user_data(data);
                    
                },
               failure: function(errMsg) {
                   alert(errMsg);
               }
         });
    }


//------------------ events -------------------
$( "#hit" ).click(function() {
 if($("#service_path_header").text()!='Select Service'){
    upload();  
 }
  return false;
})
 

//------------- service dropdownlist --------------------------

$("#service_name").change(function() {  
    if($('option:selected', this).html()=='Select Service'){
        $("#service_name_header").text( 'Service Header' );
        $("#service_path_header").text( 'Service Path');    
        $("#txt_request").text('');       
        
    }else{
          $("#service_name_header").text( $('option:selected', this).html() );
          $("#service_path_header").text( this.value );    
          $("#txt_request").text(get_params_json($('option:selected', this).html()));       

    }
  //$("#txt_request").text(replace_text($("#txt_request").val(), $("#user_name_header").text()));
  
  replace_user_data();
  
});

//------------------- user dropdownlist --------------------
$("#users").change(function() {  
    if($('option:selected', this).html()=='Select User'){
        $("#user_name_header").text('user name');
        $("#user_token_header").text('token');  
    }else{
        $("#user_name_header").text( $('option:selected', this).html() );
        $("#user_token_header").text( this.value );  
        replace_user_data();
    }
    });

//-----------------------------------------------------    
function startTimer(){
    if ($("#timer_status").text()!='-1'){
    mil_sec=parseInt($("#timer_mil_sec").text())+1;
    sec=parseInt($("#timer_sec").text());
    min=parseInt($("#timer_min").text());
    if(mil_sec==100){
        mil_sec=0;
        sec=sec+1;
        if(sec==60){
            sec=0;
            min=min+1;
        }
    }
    setTimer('0:'+min.toString()+':'+sec.toString()+'.'+mil_sec.toString());    
    setTime(min,sec,mil_sec);
    var timer=setTimeout(function(){startTimer()});
    }
}
//-----------------------------------------------------    
function stopTimer(){
$("#timer_status").text(-1);
}
//------------------------------------
function restartTimer(){
    resetTimer();
    startTimer(); 
}
//-----------------------------------------------------    
function resetTimer(){
$("#timer_status").text(0);
setTime(0,0,0);
setTimer("00:00:00.00");
}    
//------------------------------------
function setTimer(ms){    
    $("#timer").text(ms);
}
//------------------------------------
function setTime(m,s,ms){    
$("#timer_mil_sec").text(ms);
$("#timer_sec").text(s);
$("#timer_min").text(m);
}


    </script>