<style>
.c_pannel{
background-color: #CCC; margin: 10px; padding: 10px; width: 500px;    
}
.c_pannel_element{
margin: 5px; 
}    
    </style>


<script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script> 

<div class="c_pannel">
    <div class="c_pannel_element">
        <select  id="users">
            <option>Select User</option>
            {% for k,v in users  %}
                <option value="{{v.authToken}}">{{ v.email }}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="c_pannel_element">
        <select  id="service_name">
            <option>Select Service</option>
             {% for k,v in services_array  %}
                <option value="{{v['pattern']}}">{{ k }}</option>
            {% endfor %}
        </select>

    </div>
</div>

<div class="c_pannel">
    <form action="{{ path('si_hit') }}" method="post">
        <h4 id='user_name_header'>user name</h4>
        <h4 id='user_token_header'>token</h4>
        <h4 id='service_name_header'>service name</h4>
        <h4 id='service_path_header'>path</h4>
        <textarea style="width: 500px; height: 200px" id='txt_request'></textarea>
        <textarea style="width: 500px; height: 200px" id='txt_response'></textarea>
        <input id='hit' type="button" value="Hit" />                                     
    </form>
</div>

<br>
<script  type='text/javascript'>

//var obj = JSON.parse(js_array);
//var j = '{"user_profile":{"pattern":"/web_service/user_profile"},"login":{"pattern":"/web_service/login"},"registration_create":{"pattern":"/web_service/register"},"measurement_edit":{"pattern":"/web_service/measurement_edit"},"change_password":{"pattern":"/web_service/change_password"},"forget_password":{"pattern":"/web_service/forget_password"},"edit_profile":{"pattern":"/web_service/edit_profile"},"iphone_shoulder_outseam":{"pattern":"/web_service/iphone_shoulder_outseam"},"image_upload":{"pattern":"/web_service/image_upload"},"check_token__forget_password":{"pattern":"/web_service/check_token_forget_password"},"update__forget_password":{"pattern":"/web_service/check_update_password"},"checkEmail":{"pattern":"/web_service/checkemail"},"avatarUpload":{"pattern":"/web_service/upload_avatar"},"constantValue":{"pattern":"/web_service/constant_values"},"registrationSizechart":{"pattern":"/web_service/registration_sizechart"},"brand_retailer":{"pattern":"/web_service/brand_retailer"},"brands":{"pattern":"/web_service/brands"},"new_products":{"pattern":"/web_service/newproducts"},"new_products_detail":{"pattern":"/web_service/newproducts_detail"},"products":{"pattern":"/web_service/products"},"clothingtype_brand":{"pattern":"/web_service/clothingtype_brands"},"product_detail":{"pattern":"/web_service/product_detail"},"brand_list_size_chart":{"pattern":"/web_service/brand_list_size_chart"},"size_chart":{"pattern":"/web_service/size_chart"},"default_fittng_alert":{"pattern":"/web_service/default_fitting_alerts"},"fittng_alert":{"pattern":"/web_service/fitting_alerts"},"love_item":{"pattern":"/web_service/love_item"},"try_history":{"pattern":"/web_service/user_try_history"},"userFavouriteList":{"pattern":"/web_service/user_favourite_list"},"images_ul":{"pattern":"/web_service/images_url"},"product_syn":{"pattern":"/web_service/product_sync"},"brand_syn":{"pattern":"/web_service/brand_sync"},"product_detail_syn":{"pattern":"/web_service/product_detail_sync"},"product_for_user_syn":{"pattern":"/web_service/product_user_sync"},"send_push_notifcation":{"pattern":"/web_service/send_push_notification"},"get_notification_type":{"pattern":"/web_service/get_notification_type"},"run_crone_job":{"pattern":"/web_service/run_crone_job"}}';
{% autoescape false %};
var j = '{{ services_json}}';
var obj = JSON.parse(j);
{% endautoescape %}

function find_pattern(service_name){    
    for(var key in obj)
       if(key==service_name)
            return obj[key].pattern;                     
}
//--------------------------------------------
function get_params_json(service_name){    
    return service_name;
    for(var key in obj){
       if(key==service_name){
           if(obj[key].hasOwnProperty('params')){
                return JSON.stringify(obj[key].params);                     
            }else{
                return ' ';
                }
        }
    }
}


//-------------------------------------
function upload(){
    request_json = $.trim($("#txt_request").val());
    //request_json = request_json.trim();
    alert(request_json);
     //var jj = '{"email":"admin33@gmail.com","type":"type"}';
    //var ar value_ar = JSON.parse(jj);

    if (request_json.length==0){
        $.ajax({
               type: "GET",
               url: ".." + $("#service_path_header").text(),               
               success: function(data){
                    str = JSON.stringify(data);
                    str = str.split("\\").join("");            
                    $('#txt_response').html(str);            
                },
               failure: function(errMsg) {
                   alert(errMsg);
               }
         });
    }else{
        var value_ar = JSON.parse($("#txt_request").text());
        alert($("#txt_request").text());
        $.ajax({
               type: "POST",
               url: ".." + $("#service_path_header").text(),
               data: value_ar,  
               success: function(data){
                 $('#txt_response').html(data);
                },
               failure: function(errMsg) {
                   alert(errMsg);
               }
         });    
    }
}

 //-------------------------------------------------------------
   function replace_text(){
    var re = /(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;   
}
    
 //------------------ events -------------------
$( "#hit" ).click(function() {
  upload();
  return false;
})
 

//------------- service dropdownlist --------------------------

$("#service_name").click(function() {  
  $("#service_name_header").text( $('option:selected', this).html() );
  $("#service_path_header").text( this.value );  
  //$("#service_json").text( find_pattern($('option:selected', this).html()));
  $("#txt_request").text( get_params_json($('option:selected', this).html()));
});

//------------------- user dropdownlist --------------------
$("#users").click(function() {  
  $("#user_name_header").text( $('option:selected', this).html() );
  $("#user_token_header").text( this.value );
  
});

    
    
    </script>