<script type="text/javascript">
    jQuery(document).ready(function($){
        var url = window.location;
        var pc = url.toString().split('/');        
        $('.profile_nav .'+pc[pc.length-1]).addClass('left_active');
    });
    </script>

    <nav class="profile_nav">
        <ul>
            <li><a class="about_me" href="{{path('user_profile_about_me')}}">About Me</a></li>
            {%if(app.user.age>15)%}
            <li><a class="family" href="{{path('user_family')}}">Family</a></li>
            {%endif%}
            <li><a class="what_i_like" href="{{path('user_profile_what_i_like')}}">What I Like</a></li>
            <li><a class="settings" href="{{path('user_profile_settings')}}">Account Settings</a></li>          
            <li><a href="{{path('comming_soon')}}">Invite Friends</a></li>
            <li><a class="my_closet" href="{{path('ajax_products_by_my_closet')}}">My Favorites</a></li>
            <li><a href="{{path('comming_soon')}}">My Orders</a></li>
            <li><a href="{{path('user_product_history')}}">Recent Trial History</a></li>

        </ul>
    </nav>

