{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}
 {% block profile_heading %}
<h1>About me</h1>
        {% endblock %}
{% block profile_section %}

{% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">        
        {{ app.session.flash('warning') }}
        </div>   
{% endif %}      
{% if app.session.hasFlash('success') %}
  <div class="success_alert">   
    {{ app.session.flash('success') }}
   </div>
   
{% endif %}
<form action="{{ path('user_profile_about_me_update')}}" method="post" {{ form_enctype(form) }}>
    <div id='frm_height'>
        

        {{ form_label(form.height) }}
        {{ form_widget(form.height) }}
        <div class="form_vld_error">{{ form_errors(form.height) }}</div>
        </div>
        
        <div class="clr_bth"></div>
        
    <div id='frm_weight'>
       
        {{ form_label(form.weight) }}
        {{ form_widget(form.weight) }}
            <div class="form_vld_error"> {{ form_errors(form.weight) }}</div>
        </div>
         <div class="clr_bth"></div>
    <div id='frm_bust'>
        
        {{ form_label(form.bust) }}
        {{ form_widget(form.bust) }}
            <div class="form_vld_error">{{ form_errors(form.bust) }}</div>
        </div>
         <div class="clr_bth"></div>
    <div id='frm_waist'>
       
        {{ form_label(form.waist) }}
        {{ form_widget(form.waist) }}
            <div class="form_vld_error"> {{ form_errors(form.waist) }}</div>
        </div>
         <div class="clr_bth"></div>
        
    <div id='frm_hip'>         
        {{ form_label(form.hip) }}
        {{ form_widget(form.hip) }}
        <div class="form_vld_error">{{ form_errors(form.hip) }}</div>
        </div>
         
         <div class="clr_bth"></div>
        
    <div id='frm_inseam'>
        {{ form_label(form.inseam) }}
        {{ form_widget(form.inseam) }}
            <div class="form_vld_error">{{ form_errors(form.inseam) }}</div>
        </div>
         
         <div class="clr_bth"></div>
        
    <div id='frm_leg'>
        
        {{ form_label(form.leg) }}
        {{ form_widget(form.leg) }}
        <div class="form_vld_error">{{ form_errors(form.leg) }}</div>
        </div>
         
         <div class="clr_bth"></div>
        
    <div id='frm_back'>
        
        {{ form_label(form.back) }}
        {{ form_widget(form.back) }}
        <div class="form_vld_error">{{ form_errors(form.back) }}</div>
        </div>
         <div class="clr_bth"></div>
    <div id='frm_arm'>
        
        {{ form_label(form.arm) }}
        {{ form_widget(form.arm) }}
        <div class="form_vld_error">{{ form_errors(form.arm) }}</div>
        </div>    
   
  
        
    <div id='frm_outseam'>
        <label>
            Outseam  </label> {{measurement.waistHeight}} 
    </div>    
        <div id='frm_bmi'>
            <label>BMI</label> {{measurement.BMI}} 
    </div>    
     <div id='frm_age'>
         <label>Age</label>    {{app.user.age}}
    </div> 
        
   {% include 'LoveThatFitUserBundle:Profile:_user_profile_image.html.twig'%} 
        
      {{ form_rest(form) }}  
        <input type="submit" value="Edit Info" />
        
   
  
   
  
</form>
{% endblock %}