{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}
 {% block profile_heading %}
<h1>About me</h1>
        {% endblock %}
{% block profile_section %}

{% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">        
        {{ app.session.flash('warning') }}
        </div>   
{% endif %}      
{% if app.session.hasFlash('success') %}
  <div class="success_alert">   
    {{ app.session.flash('success') }}
   </div>
   
{% endif %}
<form action="{{ path('user_profile_about_me_update')}}" method="post" {{ form_enctype(form) }}>
    <div id='frm_height'>
        

        {{ form_label(form.height) }}
        {{ form_widget(form.height) }}
        <div class="form_vld_error">{{ form_errors(form.height) }}</div>
        </div>
        
        <div class="clr_bth"></div>
        
    <div id='frm_weight'>
       
        {{ form_label(form.weight) }}
        {{ form_widget(form.weight) }}
            <div class="form_vld_error"> {{ form_errors(form.weight) }}</div>
        </div>
         <div class="clr_bth"></div>
      <div id='frm_weight'>
       
        {{ form_label(form.sleeve) }}
        {{ form_widget(form.sleeve) }}
            <div class="form_vld_error"> {{ form_errors(form.sleeve) }}</div>
        </div>
         <div class="clr_bth"></div>    
    <div id='frm_weight'>
       
        {{ form_label(form.neck) }}
        {{ form_widget(form.neck) }}
            <div class="form_vld_error"> {{ form_errors(form.neck) }}</div>
        </div>
         <div class="clr_bth"></div>     
     {% if(entity.gender=='m')%}    


         <div id='frm_bust'>

        {{ form_label(form.chest) }}
        {{ form_widget(form.chest) }}
             <div class="form_vld_error">{{ form_errors(form.chest) }}</div>
         </div>

         {%else%}

         <div id='frm_bust'>

        {{ form_label(form.bust) }}
        {{ form_widget(form.bust) }}
             <div class="form_vld_error">{{ form_errors(form.bust) }}</div>
         </div>
         {%endif%}
         <div class="clr_bth"></div>
    <div id='frm_waist'>
       
        {{ form_label(form.waist) }}
        {{ form_widget(form.waist) }}
            <div class="form_vld_error"> {{ form_errors(form.waist) }}</div>
        </div>
         <div class="clr_bth"></div>
        
    <div id='frm_hip'>         
        {{ form_label(form.hip) }}
        {{ form_widget(form.hip) }}
        <div class="form_vld_error">{{ form_errors(form.hip) }}</div>
        </div>
         
         <div class="clr_bth"></div>
        
    <div id='frm_inseam'>
        {{ form_label(form.inseam) }}
        {{ form_widget(form.inseam) }}
            <div class="form_vld_error">{{ form_errors(form.inseam) }}</div>
        </div>
          
    <div class="clr_bth"></div>
        
    <div id='frm_inseam'>
        {{ form_label(form.shoulder_height) }}
        {{ form_widget(form.shoulder_height) }}
            <div class="form_vld_error">{{ form_errors(form.shoulder_height) }}</div>
        </div>
         
         <div class="clr_bth"></div>
          <div id='frm_inseam'>
        {{ form_label(form.outseam) }}
        {{ form_widget(form.outseam) }}
            <div class="form_vld_error">{{ form_errors(form.outseam) }}</div>
        </div>
         
         <div class="clr_bth"></div>
        
    <div id='frm_back'>
        
        {{ form_label(form.back) }}
        {{ form_widget(form.back) }}
        <div class="form_vld_error">{{ form_errors(form.back) }}</div>
        </div>
         <div class="clr_bth"></div>
   
    <div id='frm_outseam'>
       
    </div>   
       
       {%if(measurement.height=="0"  or  measurement.weight=="0")%}  
        <div id='frm_bmi'>
            <label>BMI</label> Please Enter Your Height and Weight For BMI Result
    </div>   
         {%else%}
        <div id='frm_bmi'>
            <label>BMI</label> {{measurement.BMI}} 
    </div>  
         {%endif%}
     <div id='frm_age'>
         <label>Age</label>   {%if(app.user.age=="" or app.user.age=="0")%}
                            Enter Your Age (Account Settings Tab)
                            {%else%}
                                 {{app.user.age}}
                            {%endif%}
    </div> 
        
   {% include 'LoveThatFitUserBundle:Profile:_user_profile_image.html.twig'%} 
         <div class="clr_bth"></div>   
      {{ form_rest(form) }}  
        <input type="submit" value="Update" />
        
   
  
   
  
</form>
{% endblock %}