{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}


{% block profile_heading %}

<h1>Account Settings</h1>
        {% endblock %}

{% block profile_section %}            
<script>
function validate()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('user_file').value;
var image_length = document.getElementById('user_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}

}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script>
<script>
        var maxfilesize = 2097152;//2MB;
        $('#user_file').live("change", function () {
            $("#msg").text("");
            var tt = $(this).val();
            var size = this.files[0].size;
            $("#msg").append("Filesize: " + size + " bytes");
            $("#msg").append("<br>Filesize: " + Math.ceil(size / 1024) + " Kb");
            $("#msg").append("<br>Filesize: " + Math.ceil(size / 1024 / 1024) + " MB");

            if (size > maxfilesize) {
                document.getElementById('sizeerror').style.display="block";
                return false;
            }
            else {
               return true;
            }
        });
    </script>


<div>
    {% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">        
        {{ app.session.flash('warning') }}
        </div>   
{% endif %}      
{% if app.session.hasFlash('Success') %}
  <div class="success_alert">    
    {{ app.session.flash('Success') }}
   </div>
   
{% endif %}
    
    <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
    <p  id="sizeerror" style="color:#d14; size:10; display:none;">Image Size is very large</p>
    <br>
    <form action="{{ path('user_profile_settings_update')}}" method="post" {{ form_enctype(form) }} onsubmit="return validate();">
   <!-- {{ form_errors(form) }}-->

            <div class="frm_ele act_set acc_set">
                
                <label>First Name</label>   
                {{ form_widget(form.firstName) }}
                
                 <div class="form_vld_error">  
                {{ form_errors(form.firstName) }}
                     </div>
            </div>
            <div class="frm_ele act_set acc_set">
               
                <label>Last Name</label>
                {{ form_widget(form.lastName) }}
                 <div class="form_vld_error">  
                 {{ form_errors(form.lastName) }}
                 </div>
            </div>
   
   
   
   
   <div class="clr_bth"></div>
            
            <div class="frm_ele select_inline act_set acc_set">
                 {{ form_errors(form.birthdate) }}
                 {{ form_label(form.birthdate) }}
                 {{ form_widget(form.birthdate.month) }}
                 {{ form_widget(form.birthdate.day) }}
                 {{ form_widget(form.birthdate.year) }}
            </div>
                    
               
              <div class="frm_ele radio_buts act_radio acc_set">                
                <div class="radio_ele"> {{ form_label(form.gender) }}  {{ form_widget(form.gender) }} </div>
                              
            </div>
                    
                    <div class="clr_bth"></div>
                   
                    
                    
                <div class="frm_ele image acc_set">                
                    <label>Upload Image:</label>   {{ form_widget(form.file) }}   
              
            </div>    
           
            {{ form_rest(form) }}
            <input type="submit" value="Update" />
             </form>
        
</div>  

<div class="acct_second">
    {% if app.session.hasFlash('Success') %}
  <div class="alert alert-success">    
    {{ app.session.flash('Success') }}
   </div>
   
{% endif %}
{% if app.session.hasFlash('Warning') %}
       <div class="alert alert-error">       
        {{ app.session.flash('Warning') }}
        </div>
   
{% endif %}   
    <h5>Change Password</h5>
  <form action="{{ path('user_profile_password_reset_update')}}" method="post" {{ form_enctype(form_password_reset) }} onsubmit="return formPasswordValidates()">
    {{ form_errors(form_password_reset) }}
            
           <div class="frm_ele acc_set">
               <label>New Password</label>
                {{ form_errors(form_password_reset.password) }}                
                {{ form_widget(form_password_reset.password.password) }}
          
               <div class="login_error"  style="width:700px;">
                   <div id="error_content1" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                            Password must contain minimum of 8 characters, including at least 1 number, 1 uppercase & 1 lowercase character
                        </div>
                   </div>
               </div>
          
           <div class="frm_ele acc_set">
             <label>Confirm Password</label>                
              {{ form_errors(form_password_reset.password.confirm) }}                
              {{ form_widget(form_password_reset.password.confirm) }}
           </div>
          
          <div class="frm_ele acc_set">
          <label>Old Password</label>                
              {{ form_errors(form_password_reset.old_password) }}                
              {{ form_widget(form_password_reset.old_password) }}
          </div>    

             {{ form_rest(form_password_reset) }}
                <input type="submit" value="Update" />


          </form>
    
    <div>
    
         
       

    
    
</div>  
    
    </div>
     <div class="clr_bth"></div>
<div>
    {% if app.session.hasFlash('Successs') %}
       <div class="success_alert">       
        {{ app.session.flash('Successs') }}
        </div>   
{% endif %}   
    <h5>Change Email</h5>
  <form action="{{ path('user_profile_change_email')}}" method="post" {{ form_enctype(form_email_change) }} onsubmit="return ChangeEmail()">
    {{ form_errors(form_email_change) }}
            
           <div class="frm_ele acc_set">
               <label>Email</label>
                {{ form_errors(form_email_change.email) }}     
               </div>
             {{ form_rest(form_email_change) }}
                <input type="submit" value="Update" />
          </form>
    </div>
    <div class="clr_bth"></div>
    
    <div>
    {% if app.session.hasFlash('Successss') %}
       <div class="success_alert">       
        {{ app.session.flash('Successss') }}
        </div>   
{% endif %}   
    <h5>Secret Question Answer</h5>
  <form action="{{ path('user_secret_question_answer')}}" method="post" {{ form_enctype(secret_question_answer) }}>
    {{ form_errors(secret_question_answer) }}            
           <div class="frm_ele acc_set">               
                <label>Secret Question</label>
                {{ form_widget(secret_question_answer.secretQuestion) }}
                 <div class="form_vld_error">  
                 {{ form_errors(secret_question_answer.secretQuestion) }}
                 </div>
            </div>
   <div class="frm_ele acc_set">
               
                <label>Secret Answer</label>
                {{ form_widget(secret_question_answer.secretAnswer) }}
                 <div class="form_vld_error">  
                 {{ form_errors(secret_question_answer.secretAnswer) }}
                 </div>
            </div>
             {{ form_rest(secret_question_answer) }}
                <input type="submit" value="Update" />
          </form>
    </div>
    
    
    
    <script>
    function ChangeEmail()
    {
       alert("Are You Sure to Change the Email");
    }
   
    </script>
    
      <script>
     function formPasswordValidates(){
       
 var password=document.getElementById('user_password_password').value;
var password_filter=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
 if(!password_filter.test(password))
    {
         document.getElementById('error_content1').style.display="block";
           return false;
    }

     }
</script>

{% endblock %}
       