{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}
            
<h2>Account Settings</h2>
<div>
            <form action="{{ path('user_profile_settings_update')}}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

            <div class="frm_ele">
                {{ form_errors(form.firstName) }}
                <label>First Name</label>   
                {{ form_widget(form.firstName) }}
            </div>
            <div class="frm_ele">
                {{ form_errors(form.lastName) }}
                <label>Last Name</label>
                {{ form_widget(form.lastName) }}
            </div>
            <div class="frm_ele radio_buts">
                {{ form_row(form.gender) }}                     
            </div>
            <div class="frm_ele select_inline">
                 {{ form_errors(form.birthdate) }}
                 {{ form_label(form.birthdate) }}
                 {{ form_widget(form.birthdate.month) }}
                 {{ form_widget(form.birthdate.day) }}
                 {{ form_widget(form.birthdate.year) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" value="Update" />
             </form>
        <a href="{{ path('inner_site_index')}}">Cancel</a>
</div>
<div>
  <form action="{{ path('user_profile_password_reset_update')}}" method="post" {{ form_enctype(form_password_reset) }}>
    {{ form_errors(form_password_reset) }}

            
           <div class="frm_ele">
                {{ form_errors(form_password_reset.password.password) }}
                {{ form_label(form_password_reset.password.password) }}
                {{ form_widget(form_password_reset.password.password) }}

                        </div>
                        <div class="frm_ele">
                {{ form_errors(form_password_reset.password.confirm) }}
                                <label>Confirm Password</label>
                {{ form_widget(form_password_reset.password.confirm) }}

 
          
            {{ form_rest(form_password_reset) }}
            <input type="submit" value="Update" />
             </form>
        <a href="{{ path('inner_site_index')}}">Cancel</a>
</div>
<br><br><br>


<div></div>