{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}
{% form_theme form 'LoveThatFitUserBundle:FormTheme:fields.html.twig' %}

{% block profile_heading %}

<h1>Account Settings</h1>
        {% endblock %}

{% block profile_section %}            
<script>
function validate()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('user_file').value;
var image_length = document.getElementById('user_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}

}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script>

<div>
    {% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">        
        {{ app.session.flash('warning') }}
        </div>   
{% endif %}      
{% if app.session.hasFlash('Success') %}
  <div class="alert alert-success">    
    {{ app.session.flash('Success') }}
   </div>
   
{% endif %}
    
    <p  id="error" style="color:#d14; size:10; display:none;">Please Upload Valid image</p>
    <br>
    <form action="{{ path('user_profile_settings_update')}}" method="post" {{ form_enctype(form) }} onsubmit="return validate();">
    {{ form_errors(form) }}

            <div class="frm_ele act_set">
                {{ form_errors(form.firstName) }}
                <label>First Name</label>   
                {{ form_widget(form.firstName) }}
            </div>
            <div class="frm_ele act_set">
                {{ form_errors(form.lastName) }}
                <label>Last Name</label>
                {{ form_widget(form.lastName) }}
            </div>
            
            <div class="frm_ele select_inline act_set">
                 {{ form_errors(form.birthdate) }}
                 {{ form_label(form.birthdate) }}
                 {{ form_widget(form.birthdate.month) }}
                 {{ form_widget(form.birthdate.day) }}
                 {{ form_widget(form.birthdate.year) }}
            </div>
                    
               
              <div class="frm_ele radio_buts act_radio">                
                <div class="radio_ele"> {{ form_label(form.gender) }}</div>
                {{ form_widget(form.gender) }}                 
            </div>
                    
                    <div class="clr_bth"></div>
                   
                    
                <div class="frm_ele image">                
                {{ form_row(form.file) }}                     
            </div>    
           
            {{ form_rest(form) }}
            <input type="submit" value="Update" />
             </form>
        
</div>
   

<div class="acct_second">
    {% if app.session.hasFlash('Success') %}
  <div class="alert alert-success">    
    {{ app.session.flash('Success') }}
   </div>
   
{% endif %}
{% if app.session.hasFlash('Warning') %}
       <div class="alert alert-error">       
        {{ app.session.flash('Warning') }}
        </div>
   
{% endif %}   
    <h5>Change Password</h5>
  <form action="{{ path('user_profile_password_reset_update')}}" method="post" {{ form_enctype(form_password_reset) }}>
    {{ form_errors(form_password_reset) }}

            
           <div class="frm_ele">
                {{ form_errors(form_password_reset.password) }}
                {{ form_label(form_password_reset.password) }}
                {{ form_widget(form_password_reset.password.password) }}
                   

                        </div>
           <div class="frm_ele">
                {{ form_errors(form_password_reset.password.confirm) }}
                 <label>Confirm Password</label>
                {{ form_widget(form_password_reset.password.confirm) }}
                {{ form_rest(form_password_reset) }}
                <input type="submit" value="Update" />
</div>

          </form>
</div>

{% endblock %}
    
    