{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}

{% block profile_heading %}

<h1>User Product Trial  History</h1>
        {% endblock %}
{% block profile_section %}
{% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">        
        {{ app.session.flash('warning') }}
        </div>   
{% endif %}      
{% if app.session.hasFlash('success') %}
  <div class="success_alert">   
    {{ app.session.flash('success') }}
   </div>   
{% endif %}


<table width="700" border="0" class="user_product_hd">
  <tr>
    <td>Product Name</td>
    <td>Brand</td>    
    <td>Size</td>
    <td>Color</td>
    <td>Image</td>
    
  </tr>
  {%for pi in productItem%}
<tr>
    <td>{{pi.product.name}}</td>
    <td>{{pi.product.brand.name}}</td> 
    <td>{{pi.productSize.title}}</td> 
    <td>{{pi.productColor.title}}</td> 
     <td> {%if(pi.WebPath!='')%}
<div class="f_list"><img width="35" height="40" src="{{asset(pi.WebPath)}}" class="prod_dress ui-draggable"></div>
{%else%}
    <div class="f_list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
{%endif%}</td>
   
  </tr>

{%endfor%}
  </table>
{% include 'LoveThatFitUserBundle:Profile:_pagination.html.twig'
  with {'rec_count':rec_count,'limit':limit,'per_page_limit':per_page_limit,'no_of_pagination':no_of_pagination
,'controller_name':'user_product_history'}
   %} 
        
{% endblock %}