{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">YMl Data</li>
{% endblock %}

{% block header_right_links %}


{% endblock %}

{% block body %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function show(key){

        $("#txtval_iphone5s_1"  ).css('display','block');
        $("#txtval_iphone5s_2"  ).css('display','block');
        $("#txtval_iphone5s_3"  ).css('display','block');

        $("#txtval_iphone5c_1"  ).css('display','block');
        $("#txtval_iphone5c_2"  ).css('display','block');
        $("#txtval_iphone5c_3"  ).css('display','block');

        $("#txtval_iphone6s_1"  ).css('display','block');
        $("#txtval_iphone6s_2"  ).css('display','block');
        $("#txtval_iphone6s_3"  ).css('display','block');

        $("#txtval_iphone6c_1"  ).css('display','block');
        $("#txtval_iphone6c_2"  ).css('display','block');
        $("#txtval_iphone6c_3"  ).css('display','block');

        $("#txttext_iphone5s_1"  ).css('display','none');
        $("#txttext_iphone5s_2"  ).css('display','none');
        $("#txttext_iphone5s_3"  ).css('display','none');

        $("#txttext_iphone5c_1"  ).css('display','none');
        $("#txttext_iphone5c_2"  ).css('display','none');
        $("#txttext_iphone5c_3"  ).css('display','none');

        $("#txttext_iphone6c_1"  ).css('display','none');
        $("#txttext_iphone6c_2"  ).css('display','none');
        $("#txttext_iphone6c_3"  ).css('display','none');

        $("#txttext_iphone6s_1"  ).css('display','none');
        $("#txttext_iphone6s_2"  ).css('display','none');
        $("#txttext_iphone6s_3"  ).css('display','none');


        $("#txtval_"+key+"_1" ).css('display','none');
        $("#txttext_"+key+"_1"  ).css('display','block');
        $("#txtval_"+key+"_2" ).css('display','none');
        $("#txttext_"+key+"_2" ).css('display','block');
        $("#txtval_"+key+"_3" ).css('display','none');
        $("#txttext_"+key+"_3" ).css('display','block');
        $("#val_type" ).val(key);

    }
 </script>
 <style>


     </style>



    <div>
        <h1 style="float:left;">YML Settings</h1>

        <div class="clearfix"></div>
        <form action="{{ path('admin_yml_setting_update') }}" method="post" >
            <div id="detail_wrapper" class="detail_wrap">
                <div id="p_hd">YML Settings</div>


                <div id="product_content">
                    <div id="pro_detail">
                        <div class="edt_container">
                            <form action="{{ path('admin_yml_setting_update') }}" method="post" >
                            {% for key,value in settings %}
                            <div class="row-fluid show-grid">

                                <div class="span3">{{ key }} <a href="#" onclick="return show('{{ key }}')">Edit</a></div>
                                <div class="span2" id="txtval_{{ key }}_1">Mask X:<strong>{{ value.mask_x }}</strong>    </div>   <div class="span2" style="display:none" id="txttext_{{ key }}_1"> Mask X:<input type="text" name="mask_x_{{ key }}" value="{{ value.mask_x }}" style="width:40px;">

                                                        </div>

                                <div class="span2" id="txtval_{{ key }}_2">Mask Y:<strong>{{ value.mask_y }}</strong>    </div>   <div class="span2" style="display:none" id="txttext_{{ key }}_2"> Mask Y:<input type="text" name="mask_y_{{ key }}" value="{{ value.mask_y }}" style="width:40px;">
                                </div>
                                <div class="span2" id="txtval_{{ key }}_3">Pixel Per Inch:<strong>{{ value.pixel_per_inch }}</strong>    </div>   <div class="span2" style="display:none" id="txttext_{{ key }}_3"> Pixel Per Inch:<input type="text" name="pixel_per_inch_{{ key }}" value="{{ value.pixel_per_inch }}" style="width:40px;">
                                </div>



                            </div>
                            {% endfor %}
                            </form>
                            <div class="row-fluid show-grid">

                                <div class="span3">&nbsp;</div>


                                <div class="span3">

                                    <div style="margin:0px 0px 0px 0px;"> <input type="hidden" name="val_type" id="val_type"> <input type="submit" value="SAVE" class="btn btn-large btn-primary"/>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div><!-- End pro_detail -->
            </div><!-- End product_content -->

    </div>







{% endblock %}
