<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
function getProductColorViewAddForm(product_color_id){  
  var admin_product_color_view_new = "../product_color_view/"+product_color_id+"/new";    
  jQuery.ajax({
   type: "GET",
   url: admin_product_color_view_new, 
   //data : str, // our data object
   success: function(response){
       $('#product_color_view_form_'+product_color_id).html(response);           
   }
 });
}
    
</script>


<script>
function getProductColorViewEditForm(product_color_id,id){

 var admin_product_color_view_edit = "../product_color_view/"+id+"/edit";    
  jQuery.ajax({
   type: "GET",
   url: admin_product_color_view_edit, 
   //data : str, // our data object
   success: function(response){
       $('#product_color_view_form_'+product_color_id).html(response);           
   }
 });  
}
    
</script>

<script>
function cancelEditAction(product_color_id)
{    
    $('#product_color_view_form_'+product_color_id).hide();   
 
}
</script>
<div id="product_color_view_{{product_color_id}}" class="veiw_lst">
    <div id="color_view_list">
      
        <ul>
            {%for color in color_view%}
                <i><a onclick="return getProductColorViewEditForm({{product_color_id}},{{color.id}});"><img title="{{ color.title }}" width="50px" height="50px" src="{{ asset(color.WebPath) }}"/></a></i>
            {%endfor%}
        </ul>
    </div>
   <span> <a class="add_clr_views" onclick="return getProductColorViewAddForm({{product_color_id}})"></a></span>
   <div id="product_color_view_form_{{product_color_id}}">            
   </div>
    
    
</div>