<script>
function validates()
{
var extensions = new Array("jpg","jpeg","gif","png","bmp","png");
   
var image_file = document.getElementById('color_view_file').value;
var image_length = document.getElementById('color_view_file').length;

var pos = image_file.lastIndexOf('.') + 1;
var ext = image_file.substring(pos, image_length);
if(image_file!="")
{
var final_ext = ext.toLowerCase();
for (i = 0; i < extensions.length; i++)
{
if(extensions[i] == final_ext)
{
return true;
}

}
document.getElementById('error').style.display="block";
return false;

}
return true;
}    
</script> 




<div>      
<b>Add new product view </b><a href="" class="btn">back</a>     
<div class="clearfix"></div>   
<form action="{{ path('admin_product_color_view_create',{'product_color_id': product_color_id}) }}" method="post" {{ form_enctype(form) }} onsubmit="return validates();">
{{ form_errors(form) }}
<div class="span3">Name</div>
<div class="span3">{{ form_widget(form.title) }}{{ form_errors(form.title) }}</div>
<div class="span3">View image</div>
<div class="span3">{{ form_widget(form.file) }}{{ form_errors(form.file) }}</div>
<div class="span3">{{ form_rest(form) }} <input type="submit" value="ADD" class="btn btn-primary"/>                                     
<a href="{{ path('admin_products') }}" class="btn btn-primary">Cancel    </a>
</div>
</form>    
</div>  

