{% extends 'LoveThatFitAdminBundle::base.html.twig' %}

{% block breadcrumb %}
<li><a href="{{ path('admin_users') }}" >Users</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}

{% block h1 %}Users{% endblock %}

{% block title %}Users{% endblock %}


{% block body %}
    <script>

        function checkPassword(){
            //jQuery('.fields_error').html('');
            var password = document.validatedForm.password.value;
            var cpassword = document.validatedForm.cpassword.value;
            var email = document.validatedForm.email.value;
            //var re = /[A-Z0-9._%+]+@[A-Z0-9.]+.[A-Z]{2,4}/igm;

            if(email == ''){
                //jQuery('.fields_error').html('Email Prefix must be given');
                alert("Email can not be empty");
                return false;
            }
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
                alert("Not a valid e-mail address");
                return false;
            }

            if(password == ''){
                alert('Password can not be blank');
                return false;
            }
            if(cpassword == ''){
                alert('Confirm Password can not be blank');
                return false;
            }
            if(password != cpassword){
                alert('Password & Confirm Password do not match. Please correct');
                return false;
            }
            if(password.length <=5){
                alert('Password should at least be 6 characters long');
                return false;
            }


        }
    </script>
<div>
    <h1 style="float:left;">User's Detail</h1>
                {%if(user.userMarker and user.userMarker.defaultUser)%}
                    *demo account <a href="{{ path('admin_user_set_default',{'id':user.id}) }}">remove demo </a>
                {%endif%}


      <div class="clearfix"></div>


            <div id="detail_wrapper">
                <div id="p_hd">{%if(user.firstName!='')%}{{user.firstName }}'s Detail{%else%} User Detail{%endif%}</div>

                    <div id="product_content">
                        <div id="pro_detail">
                            <div class="edt_container">
                                <div class="row-fluid show-grid edt_span">
                                <form id="validatedForm" name="validatedForm" method="post" action="{{ path('admin_copy_user_update') }}" >
                                <div class="span8">
                                    <div class="fields_error" style="color:#ff0000"></div>

                                </div>
                                <div class="btn_wrapper"><input type="hidden" name="user_id" value="{{user.id }}">
                                    <input name="submit" type="submit" value="Duplicate User" onclick="return checkPassword()" >

                                </div>
                                    <div class="span8">
                                    <div class="span3">Full Name</div>
                                    <div class="span3">{{user.firstName }} {{user.lastName }}</div>
                                    </div>



                                 {%if(user.gender=='f') %}
                                  <div class="span8">
                                    <div class="span3">Gender</div>
                                    <div class="span3">Female</div>
                                    </div>
                                    {%endif%}
                                        {%if(user.gender=='m') %}
                                  <div class="span8">
                                    <div class="span3">Gender</div>
                                    <div class="span3">Male</div>
                                    </div>
                                    {%endif%}


                                    <div class="span8">
                                    <div class="span3">Email<br>Add Prefix</div>

                                    <div class="span3"><input id="email" type="text" name="email" value="dup-{{user.email }}" ></div>
                                    </div>

                                    <div class="span8">
                                        <div class="span3">Password</div>
                                        <div class="span3"><input id="password"  type="password" name="password"></div>
                                    </div>

                                    <div class="span8">
                                        <div class="span3">Confirm Password</div>
                                        <div class="span3"><input id="password_confirm" type="password" name="cpassword"></div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Product Tried</div>
                                    <div class="span3">{{product}}</div>
                                    </div>

                                        <div class="span8">
                                    <div class="span3">Brand Tried</div>
                                    <div class="span3">{{brandtried}}</div>
                                    </div>


                                    <div class="span8">
                                    <div class="span3">Date Of Birth</div>
                                    <div class="span3">{{ user.birthDate|date('d-m-Y') }}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Age</div>
                                    <div class="span3">{{user.age}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Zip Code</div>
                                    <div class="span3">{{user.zipcode}}</div>
                                    </div>

                                     <div class="span8">
                                    <div class="span3">Auth Token</div>
                                    <div class="span3">{{user.authToken}}</div>
                                    </div>



                                    <div class="span8">
                                    <div class="span3">Auth Token for Web Services</div>
                                    <div class="span3">{{user.authTokenWebService}}</div>
                                    </div>

                                        <div class="span8">
                                    <div class="span3">Auth Token Created Date</div>
                                    <div class="span3">{{user.authTokenCreatedAt|date('d-m-Y')}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Secret Question</div>
                                    <div class="span3">{{user.secretQuestion}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Secret Answer</div>
                                    <div class="span3">{{user.secretAnswer}}</div>
                                    </div>



                                    <div class="span8">
                                    <div class="span3">Weight</div>
                                    <div class="span3">{{user.measurement.weight}}</div>
                                    </div>

                                   <div class="span8">
                                    <div class="span3">Height</div>
                                    <div class="span3">{{user.measurement.height}}</div>
                                    </div>

                                   <div class="span8">
                                    <div class="span3">Waist</div>
                                    <div class="span3">{{user.measurement.waist}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Hip</div>
                                    <div class="span3">{{user.measurement.hip}}</div>
                                    </div>


                                   <div class="span8">
                                    <div class="span3">Bust</div>
                                    <div class="span3">{{user.measurement.bust}}</div>
                                    </div>



                                    <div class="span8">
                                    <div class="span3">Chest</div>
                                    <div class="span3">{{user.measurement.chest}}</div>
                                    </div>



                                   <div class="span8">
                                    <div class="span3">Arm</div>
                                    <div class="span3">{{user.measurement.arm}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Inseam</div>
                                    <div class="span3">{{user.measurement.inseam}}</div>
                                    </div>

                                     <div class="span8">
                                    <div class="span3">Outseam</div>
                                    <div class="span3">{{user.measurement.outseam}}</div>
                                    </div>

                                   <div class="span8">
                                    <div class="span3">Shoulder height</div>
                                    <div class="span3">{{user.measurement.shoulderHeight}}</div>
                                    </div>



                                      <div class="span8">
                                    <div class="span3">shoulder Across Front</div>
                                    <div class="span3">{{user.measurement.shoulderAcrossFront}}</div>
                                    </div>


                                     <div class="span8">
                                    <div class="span3">shoulder Across back</div>
                                    <div class="span3">{{user.measurement.shoulderAcrossBack}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Sleeve</div>
                                    <div class="span3">{{user.measurement.sleeve}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Neck</div>
                                    <div class="span3">{{user.measurement.neck}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Thigh</div>
                                    <div class="span3">{{user.measurement.thigh}}</div>
                                    </div>

                                     <div class="span8">
                                    <div class="span3">Bicep</div>
                                    <div class="span3">{{user.measurement.bicep}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Tricep</div>
                                    <div class="span3">{{user.measurement.tricep}}</div>
                                    </div>


                                  <div class="span8">
                                    <div class="span3">Wrist</div>
                                    <div class="span3">{{user.measurement.wrist}}</div>
                                    </div>

                                    <div class="span8">
                                    <div class="span3">Center Front Waist</div>
                                    <div class="span3">{{user.measurement.centerFrontWaist}}</div>
                                    </div>


                                    <div class="span8">
                                    <div class="span3">Back Waist</div>
                                    <div class="span3">{{user.measurement.backWaist}}</div>
                                    </div>



                                   <div class="span8">
                                    <div class="span3">Waist Hip</div>
                                    <div class="span3">{{user.measurement.waistHip}}</div>
                                    </div>



                                   <div class="span8">
                                    <div class="span3">Knee</div>
                                    <div class="span3">{{user.measurement.knee}}</div>
                                    </div>

                                      <div class="span8">
                                    <div class="span3">Calf</div>
                                    <div class="span3">{{user.measurement.calf}}</div>
                                    </div>


                                     <div class="span8">
                                    <div class="span3">Ankle</div>
                                    <div class="span3">{{user.measurement.ankle}}</div>
                                    </div>

                                         <div class="span8">
                                    <div class="span3">Body Shape</div>
                                    <div class="span3">{{user.measurement.bodyShape}}</div>
                                    </div>

                                           <div class="span8">
                                    <div class="span3">Body Typese</div>
                                    <div class="span3">{{user.measurement.bodyTypes}}</div>
                                    </div>

                                      <div class="span8">
                                    <div class="span3">Bra size</div>
                                    <div class="span3">{{user.measurement.brasize}}</div>
                                    </div>







                                    <div class="span8">
                                    <div class="span3">Iphone Outseam</div>
                                    <div class="span3">{{user.measurement.iphoneOutseam}}</div>
                                    </div>

                                   <div class="span8">
                                    <div class="span3">Iphone  Shoulder Height</div>
                                    <div class="span3">{{user.measurement.iphoneShoulderHeight}}</div>
                                    </div>


                                   <div class="span8">
                                    <div class="span3">iphone foot height</div>
                                    <div class="span3">{{user.measurement.iphoneFootHeight}}</div>

                                    </div>


                                </form>
                                </div>


                                </div>




                                </div>
                            </div><!-- End pro_detail -->
                        </div><!-- End product_content -->
                    </div> <!-- End detail_wrapper -->
                </form>

                       <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete User</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to Delete this User {{user.firstName }} {{user.lastName }}  <b></b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <a href="{{ path('admin_user_delete',{'id':user.Id}) }} " class="btn btn-primary">Delete</a>

    </div>
</div>



            </div>

{% endblock %}

