{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Users</li>
{% endblock %}


{% block body %}
<div class="p_listing">
    <div class="clearfix"></div>
    {% block header_right_links %}
        <div class="adjustment_links" style="margin-top: 20px; float:right;">
            <a href="{{ path('admin_fit_algorithm2_product_list_index') }}" >Products Fit index lists</a> 
            <a href="{{ path('admin_mask_marker_inspect_index') }}" >Masked Inspection</a>
            <a href="{{ path('admin_user_mask_compare_index') }}" >Mask Visual Compare</a>

            <a href="{{ path('admin_pending_user') }}" >Pending Users</a>
        </div>
    {% endblock %}
    <h1 style="float:left;">Users</h1>
    
     <div class="clearfix"></div> 
     
      <div class="btn_wrapper2">    
          
     <div id="chart_figures" class="product_chart_figures">
         <div class="facts">
                    <div><span>Total Users:</span>{{pagination.rec_count}}</div>
                    <div><span>Female:</span>{{pagination.femaleUsers}}</div>
                    <div><span>Male:</span>{{pagination.maleUsers}}</div>
     </div>   
     
    
     </div>  
      </div>

<p style="color:#ff0000">Duplicate users are showing in red colors</p>

       
   <div class="clearfix"></div> 
    
    
    </div>
     <form action="{{ path('admin_users_search') }}" method="post" {{ form_enctype(searchform) }}>
 {{ form_errors(searchform) }}
        <div>
        Name {{ form_widget(searchform.firstname) }}{{ form_errors(searchform.firstname) }} Gender {{ form_widget(searchform.gender) }}{{ form_errors(searchform.gender) }} Age {{ form_widget(searchform.age) }}{{ form_errors(searchform.age) }}
        <input type="submit" style="margin-top:-12px" class="btn" value="Search"/>
        </div> 
        {{form_rest(searchform) }}
         </form>
             
             
    <div class="bs-docs-grid">              

        <div class="row-fluid">
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'id' }}" style="text-decoration: none;">ID</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'firstName' }}" style="text-decoration: none;">Full Name</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'gender' }}" style="text-decoration: none;">Gender</a></div>
            <div class="span3 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'email' }}" style="text-decoration: none;">Email</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'createdAt' }}" style="text-decoration: none;">Created At</a></div>
           
            <div class="span3 hds" style="width:17.60%!important;">Actions</div>
        </div>  
         
          {% for us in pagination.users %}
          {% if(us.originalUser is null)%}
           {% set rowstyle="" %}
          {% else %}
          {% set rowstyle="color:#ff0000" %}
          {% endif %}
        <div class="row-fluid show-grid space_wrap" style="{{ rowstyle }}">
            <div class="span1">{{us.id}}</div>
            <div class="span1">{{us.firstName}} {{us.lastName}}</div>
            <div class="span1">{{us.gender}}</div>            
            <div class="span3">{{us.email}}{{us.userMarker? us.userMarker.defaultUser?'*':'':''}}</div>
            <div class="span1">{{us.createdAt|date('d-m-Y')}}</div>
                
            <div class="span3" style="width:17.87%!important;"><a href="{{ path('admin_user_detail_show', {'id': us.id}) }}" title="Show {{us.firstName}}">
                  
            <i class="icon-eye-open"></i></a>
            <a href="{{ path('admin_user_detail_edit', {'id': us.Id}) }}" title="Edit {{us.fullName}}"><i class="icon-edit"></i></a>            
            <a href="{{ path('go_secure', {'id': us.Id}) }}" title="{{us.pwd}}" target="_blank"><span class="glyphicon glyphicon-lock"></span></a>
            <a href="{{ path('admin_user_json', {'id': us.Id}) }}" title="{{us.fullName}} json" target="_blank"><span class="add_clr_views"></span></a>
            <a href="{{ path('admin_copy_user_index', {'id': us.id}) }}" title="Duplicate {{us.firstName}}"><i class="icon-tags"></i></a>
            
            <a href="{{ path('admin_user_profile_archives', {'user_id': us.id}) }}" title="Archives"><i class="icon-tasks"></i></a>
            
                </div> 
            </div>                
               
{% endfor %}
 </div>
 </div> 
 
 {% include 'LoveThatFitAdminBundle::_pagination.html.twig'
  with {'rec_count':pagination.rec_count,'limit':pagination.limit,'per_page_limit':pagination.per_page_limit,'no_of_pagination':pagination.no_of_pagination
,'controller_name':'admin_users','sort':pagination.sort}
 %}
    </div>
{% endblock %}