{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Users</li>
{% endblock %}
{% block body %}
<div class="p_listing">     
    <h1 style="float:left;">Users</h1>
    
     <div class="clearfix"></div> 
      <div>
       
    Total Users:{{pagination.rec_count}}<br/>
    Female:{{pagination.femaleUsers}}<br/>
    Male:{{pagination.maleUsers}}<br/>
    
    </div>
     <form action="{{ path('admin_users_search') }}" method="post" {{ form_enctype(searchform) }}>
 {{ form_errors(searchform) }}
        <div class="row-fluid show-grid">
        <div>Name {{ form_widget(searchform.firstname) }}{{ form_errors(searchform.firstname) }} Gender {{ form_widget(searchform.gender) }}{{ form_errors(searchform.gender) }} Age {{ form_widget(searchform.age) }}{{ form_errors(searchform.age) }}</div>
        <input type="submit" value="Search"/>
        </div> 
        {{form_rest(searchform) }}
         </form>
             
             
    <div class="bs-docs-grid">              

        <div class="row-fluid show-grid">
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'id' }}" style="text-decoration: none;">ID</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'firstName' }}" style="text-decoration: none;">Full Name</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'gender' }}" style="text-decoration: none;">Gender</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'zipcode' }}" style="text-decoration: none;">Zip Code</a></div>
            <div class="span1 hds"><a href="{{path('admin_users')~'/'~ 1~'/'~'email' }}" style="text-decoration: none;">Email</a></div>
            <div class="span1 hds"></div>  
            <div class="span1 hds"></div>
        </div>  
         
          {% for us in pagination.users %}
        <div class="row-fluid show-grid">
            <div class="span1">{{us.id}}</div>
            <div class="span1">{{us.firstName}} {{us.lastName}}</div>
            <div class="span1">{{us.gender}}</div>
            <div class="span1">{{us.zipcode}}</div>
            <div class="span1">{{us.email}}</div>
            <div class="span1">&nbsp; </div>         
            <div class="span1"><a href="{{ path('admin_user_detail_show', {'id': us.id}) }}" title="Show {{us.firstName}}"><i class="icon-eye-open"></i></a></div> 
            </div>                
               
{% endfor %}
 </div>
 </div> 
 
 {% include 'LoveThatFitAdminBundle::_pagination.html.twig'
  with {'rec_count':pagination.rec_count,'limit':pagination.limit,'per_page_limit':pagination.per_page_limit,'no_of_pagination':pagination.no_of_pagination
,'controller_name':'admin_users','sort':pagination.sort}
 %}
    </div>
{% endblock %}