{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Users</li>
{% endblock %}


{% block body %}
<div class="p_listing">
    <div class="clearfix"></div>
      {% block header_right_links %}
        <div class="adjustment_links" style="margin-top: 20px; float:right;">
          <!--<a href="{{ path('admin_test_demo') }}" >Test Session</a>-->
          <a href="{{ path('admin_fit_algorithm2_product_list_index') }}" >Products Fit index lists</a> 
          <a href="{{ path('admin_mask_marker_inspect_index') }}" >Masked Inspection</a>
          <a href="{{ path('admin_user_mask_compare_index') }}" >Mask Visual Compare</a>
          <a href="{{ path('admin_pending_user') }}" >Pending Users</a>
        </div>
      {% endblock %}
      <h1 style="float:left;">Users</h1>
      <div class="clearfix"></div>
      <div class="btn_wrapper2">
        <div id="chart_figures" class="product_chart_figures">
          <div class="facts">
            <div><span>Total Users:</span>{{rec_count}}</div>
            <div><span>Female:</span>{{femaleUsers}}</div>
            <div><span>Male:</span>{{maleUsers}}</div>
          </div>
        </div>
      </div>
      <p style="color:#ff0000">Duplicate users are showing in red colors</p>
      <div class="clearfix"></div>
    </div>
    <div class="bs-docs-grid">
      <div class="custom_search_user">
        Gender:&nbsp;
        <select id="gender">
          <option value="">Select Gender</option>
          <option value="m">Male</option>
          <option value="f">Female</option>
        </select>
        &nbsp;&nbsp;Age:&nbsp;
        <select id="age">
          <option value="">Select Age</option>
          {% for i in 15..50 %}
            <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>

      <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
      </table>  
    </div>
  </div> 
</div>
<script type="text/javascript">
  jQuery(document).ready(function() {
    
    var table = $('#example').DataTable({
      "processing": true, 
      "serverSide": true, 
      "ajax": {
          "url"   : "{{ path('admin_users_paginate') }}",
          "type"  : "POST",
          "data"  : function ( d ) {                        
                      d.gender = $('#gender').val(),
                      d.age    = $('#age').val()
                    },
      },
      "sAjaxDataProp": "data", 
      "pageLength": 10,
      "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
      "pagingType": "full_numbers",
      "order": [[ 0, "desc" ]],
      "columns": [
        {
            "data"  : "id",
            "searchable" : false,
            "width": "10%",
        },
        {
            "data"  : "full_name",
            "width": "20%",
        },
        {
            "data"  : "email",
            "width": "25%",
        },
        {
            "data"  : "gender",
            "orderable" : false,
            "searchable": false,
            "width": "10%",
        },
        {
            "data"  : "createdAt",
            "searchable": false,
            "width": "10%",
        },
        {
            "title"         : "Actions",
            "targets"       : -1,
            "data"          : null,
            "orderable"     : false,
            "searchable"    : false,
            "defaultContent": DetailPageButton +" "+ EditButton +" "+ GoSecureButton +" "+ jsonButton +" "+ DuplicateUser +" "+ archiveButton, 
            "width": "25%"
        },
        {
            "data"  : "original_user_id",
            "searchable": false,
            "visible": false
        }
      ],
      "createdRow": function ( row, data, index ) {
          if ( data["original_user_id"] != null ) {
            $('td', row).addClass('duplicate_user_class');
          }
      },
    });

    $('#gender, #age').change( function() {
      table.draw();
    });
    
    jQuery('#example tbody').on( 'click', 'button, a, img', function () {
      var dataAction = $(this).attr('data-action');
      var data = table.row( $(this).parents('tr') ).data();
      
      if (dataAction == 'Detail') {
          var url = '{{ path('admin_user_detail_show', {'id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.top.location = url;
      }
      if (dataAction == 'Edit') {
          var url = '{{ path('admin_user_detail_edit', {'id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.top.location = url;
      }
      if (dataAction == 'GoSecure') {
          var url = '{{ path('go_secure', {'id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.open(url, '_blank');
      }
      if (dataAction == 'Json') {
          var url = '{{ path('admin_user_json', {'id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.open(url, '_blank');
      }
      if (dataAction == 'DuplicateUser') {
          var url = '{{ path('admin_copy_user_index', {'id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.top.location = url;
      }
      if (dataAction == 'Archive') {
          var url = '{{ path('admin_user_profile_archives', {'user_id': ":id"}) }}';
          url     = url.replace(':id', data.id);
          window.top.location = url;
      }
    });
    
});
</script>
{% endblock %}