{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Orders</li>
{% endblock %}


{% block body %}
<div class="p_listing">
  <h1>Pending Users</h1>
  {% if( app.session.get('Permissions')['pendingUsers']['assign'] == 1 ) %}
  <div class="btn_wrapper2">
    <div id="chart_figures" class="brand_chart_figures">
      <div class="facts">
        <div><span>Total Users:</span>{{rec_count}}</div>
     </div>
    </div>
  </div>
  {% endif %}
  <div class="clearfix"></div>
  <div class="bs-docs-grid">
    <table border="0" cellspacing="5" cellpadding="5" style="float:right;">
      <tbody>
        <tr>
          <td><label style='display:block;'>Time Duration:</label></td>
          <td><div class="inner-addon right-addon">
            <select class="form-control" name="time_duration" id="time_duration">
              {% for i in 1..5 %}
                <option value="{{ i }}" {{ (i == 2 ? ' selected ' : '') }}>{{ i }} Minutes</option>
              {% endfor %}
            </select>
          </div></td>
        </tr>
      </tbody>
    </table>
    <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Archive ID</th>
          <th>Email</th>
          <th>Status</th>
          <th>Created</th>
          <th>Assignd To</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="supportUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Select Support Admin</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <select name='supportSelect' id="supportSelect">
            </select>
            <input type="hidden" id="member_email">
            <input type="hidden" id="archive_id">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a class="btn btn-success btn-submit-users">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmUnassign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to proceed?</p>
                    <input type="hidden" name="delete_value" id="delete_value">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-unAssign">UnAssign</a>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
  jQuery(document).ready(function() {

      if( {{app.session.get('Permissions')['pendingUsers']['detail']}} == 1 ) {
        visible              = true;
        showDetailPageButton = true;
      }

      if( {{app.session.get('Permissions')['pendingUsers']['assign']}} == 1 ) {
        visible           = true;
        showApproveButton = true;
      }

      if( {{app.session.get('Permissions')['pendingUsers']['unAssign']}} == 1 ) {
        visible            = true;
        showUnAssignButton = true;
      }

      table = $('#example').DataTable({
        "processing": true, 
        "serverSide": true,
        "ajax": {
            "url": "{{ path('support_pending_users_paginate') }}",
            "type": "POST"
        },
        "sAjaxDataProp": "data", 
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
        "order": [[ 0, "desc" ]],
        "columns": [
          {
              "data"  : "id",
              "searchable" : false,
          },
          {
              "data"  : "email",
              "orderable" : false
          },
          {
              "data"  : "status",
              "orderable" : false
          },
          {
              "data"  : "createdAt",
              "searchable": false
          },
          {
              "data"  : "support_user_name",
              "orderable" : false
          },
          {
              "title"         : "Actions",
              "targets"       : -1,
              "data"          : null,
              "orderable"     : false,
              "searchable"    : false,
              "defaultContent": ((typeof showApproveButton != "undefined" && showApproveButton == true) ? AssignButton : '')  + ((typeof showUnAssignButton != "undefined" && showUnAssignButton == true) ? UnAssignButton : '') + ((typeof showDetailPageButton != "undefined" && showDetailPageButton == true) ? DetailPageButton : ''),
          },
        ],
        "createdRow": function ( row, data, index ) {
            $('td', row).eq(5).find('.detail').addClass( 'button-margin-left' );
            if (data["support_user_name"] == null ) {
              $('td', row).eq(5).find('.unassign_button').css( 'display', 'none' );
              $('td', row).eq(4).html('Not Assigned').addClass('color-red');
            } else {
              $('td', row).eq(5).find('.assign_button').css( 'display', 'none' );
            }
        },
      });
      
      $.fn.dataTableExt.sErrMode = 'throw';
    
    //reload again
    var time;
    setDuration(time);
    $('#time_duration').on('change', function() {
      time = $("#time_duration").val();
      setDuration(time);
    });

  });
  function setDuration(time) {
    if (typeof time === "undefined") {
      time = 2;
    }
    time = time * 1000 * 60;
    setInterval (function test() {
      $('#example_filter input').val("");
      table.search( "" ).draw();
    }, time);
  }

  jQuery('#example tbody').on( 'click', 'button, a, img', function () {
    var dataAction = $(this).attr('data-action');
    var data = table.row( $(this).parents('tr') ).data();
    if (dataAction == 'AssignUsers') {
      //clear last assign values
      $('#member_email').val();
      $('#archive_id').val();
      $('#supportSelect').find('option').remove();

      $.ajax({
        url:  '{{ path("support_pending_users_assign") }}',
        type: 'POST',
        success: function(result){
          $('#member_email').val(data['email']);
          $('#archive_id').val(data['id']);
          
          var option = '';
          for (var i=0;i<result.length;i++){
             option += '<option value="'+ result[i]['id']+"|"+result[i]['user_name'] + '">' + result[i]['user_name'] + '</option>';
          }
          $('#supportSelect').append(option);
          $('#supportUsers').modal('show');
        },
        error: function(){}
      });
    }
    if (dataAction == 'UnAssignUsers') {
      $('#confirmUnassign').modal('show');
      var delete_value = data['email'] +"|"+ data['id'];
      $("#delete_value").val(delete_value);
    }
    if (dataAction == 'Detail') {
      var url = '{{ path('support_pending_user_show', {'archive_id': ":id"}) }}';
      url     = url.replace(':id', data.id);
      window.top.location = url;
    }
  });

  $( ".btn-submit-users" ).click(function() {
    var member_email      = $("#member_email").val();
    var archive_id        = $("#archive_id").val();
    var supportSelect     = $("#supportSelect").val();
    var arr               = supportSelect.split('|');
    var supportUsers      = arr[0];
    var support_user_name = arr[1];

    $('#supportUsers').modal('hide');

    $.ajax({
      url:  '{{ path("support_pending_users_task_logs_add") }}',
      type: 'POST',
      data: {
        member_email      : member_email,
        archive           : archive_id,
        supportUsers      : supportUsers,
        support_user_name : support_user_name,
      },
      success: function(result){
        $('#example_filter input').val("");
        table.search( "" ).draw();
      },
      error: function(){}
    });
  });

  $('.btn-unAssign').click(function (){
    $('#confirmUnassign').modal('hide');
    var values = $("#delete_value").val();
    var arr = values.split('|');
    $.ajax({
      url:  '{{ path("support_pending_users_task_logs_remove") }}',
      type: 'POST',
      data: {
        member_email: arr[0],
        archive     : arr[1],
      },
      success: function(result){
        $('#example_filter input').val("");
        table.search( "" ).draw();
      },
      error: function(){}
    });
  });

</script>
{% endblock %}