{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
   <li class="active">Orders</li>
{% endblock %}



{% block body %}
<div class="p_listing">
  <h1>Pending Users</h1>
  <div class="btn_wrapper2">
    <div id="chart_figures" class="brand_chart_figures">
      <div class="facts">
        <div><span>Total Users:</span>{{rec_count}}</div>
     </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="bs-docs-grid">
    <table border="0" cellspacing="5" cellpadding="5" style="float:right;">
      <tbody>
        <tr>
          <td><label style='display:block;'>Time Duration:</label></td>
          <td><div class="inner-addon right-addon">
            <select class="form-control" name="time_duration" id="time_duration">
              {% for i in 1..5 %}
                <option value="{{ i }}" {{ (i == 2 ? ' selected ' : '') }}>{{ i }} Minutes</option>
              {% endfor %}
            </select>
          </div></td>
        </tr>
      </tbody>
    </table>
    <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Email</th>
          <th>Status</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
<script type="text/javascript">
  jQuery(document).ready(function() {
      table = $('#example').DataTable({
       "processing": true, 
        "serverSide": true, 
        "ajax": {
            "url": "{{ path('support_pending_users_paginate') }}",
            "type": "POST"
        },
        "sAjaxDataProp": "data", 
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "order": [[ 0, "desc" ]],
        "columns": [
          {
              "data"  : "Sno",
              "searchable" : false,
          },
          {
              "data"  : "email",
              "orderable" : false
          },
          {
              "data"  : "status",
              "orderable" : false
          },
          {
              "data"  : "createdAt",
              "searchable": false
          },
          {
              "data"  : "action",
              "searchable": false,
              "orderable" : false
          },
          {
              "data"  : "id",
              "searchable" : false,
              "visible" : false,
          },
        ],
    });
    $.fn.dataTableExt.sErrMode = 'throw';
    
    //reload again
    var time;
    setDuration(time);
    $('#time_duration').on('change', function() {
      time = $("#time_duration").val();
      setDuration(time);
    });

  });
  function setDuration(time) {
    if (typeof time === "undefined") {
      time = 2;
    }
    time = time * 1000 * 60;
    setInterval (function test() {
      $('#example_filter input').val("");
      table.search( "" ).draw();
    }, time);
  }
</script>
{% endblock %}