<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Love That Fit</title>

        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery.form.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        
        <style>
                    .screen {
                        width:500px;
                        height:300px;
                        float: left;
                        border: 1px solid #eeeeee;
                        margin: 5px;
                        background: #eeeeee;
                        color: maroon;
                        padding: 20px;
                    }
                    #flash
                    {
                        width: 1070px;
                        height:50px;
                        padding:10px;
                        margin: 5px;
                        background: #eeeeee;
                        border:maroon;
                        color: maroon;
                    }
                    body
                    {
                        padding: 20px;
                    }
                </style>
        
        <script>
   
   
    $(document).ready(function() { 
        var options = { 
            target:        '#flash',   // target element(s) to be updated with server response 
            success:       showResponse  // post-submit callback 
         }; 
 
        $('#frmMerch').submit(function() { 
            $(this).ajaxSubmit(options); 
            return false; 
        }); 
    }); 
 
    function showResponse(responseText, statusText, xhr, $form)  { 
        $('#dv2').html("<img src="+ responseText+">"); 
    }
    
        
            </script>

        </head>

        <body>
            


   <div id="flash">
                    sad;d;asl';asdl
                </div>

                <div class="screen" id="dv1">
                    <form id="frmMerch" action="{{ path('acme_merch_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
                            <p>
                                <button type="submit">Create</button>
                            </p>
                        </form>


                    </div>
                    <div class="screen" id="dv2">2</div>
                    <div class="screen" id="dv3">3</div>
                    <div class="screen" id="dv4">4</div>

        </body>
    </html>
