<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Admin ~ Love That Fit</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/admin.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/lovethatfit/admin/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css" />
   
    </head>
    <body>
        
        
      
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="{{ asset('bundles/lovethatfit/admin/images/ltf_logo-f29cf3839961bcee3cb58b93121e379d.png') }}"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ app.user.username }}</a>
            </p>
            <!-- Top Navigation Start -->
            <ul class="nav">
                
              <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
              <li><a href="{{ path('admin_clothing_types') }}">Clothing Types</a></li>
              <li><a href="{{ path('admin_brands') }}">Brands</a></li>
              <li><a href="{{ path('admin_products') }}">Products</a></li>
              <li><a href="{{ path('admin_survey') }}">Survey</a></li>
              <li><a href="{{ path('admin_size_charts') }}">SizeCharts</a></li>              
              <li><a href="{{ path('admin_users') }}">Users</a></li>
              <li><a href="{{ path('admin_logout') }}">Logout</a></li>        
            </ul>
             <!-- Top Navigation End -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <!-- Breadcrumb Start -->
    <ul class="breadcrumb">
          <li><a href="#">Admin</a> <span class="divider">/</span></li>
          {% block breadcrumb %}{% endblock %}
    </ul>

    <!-- Breadcrumb End -->      
{% if app.session.hasFlash('warning') %}
       <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong>   
 {{ app.session.flash('warning') }}    
</div>   
{% endif %}
 {% if app.session.hasFlash('success') %}
       <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>   
 {{ app.session.flash('success') }}    
</div>   
{% endif %}         
   <div class="container-fluid">      
   
            {% block body %}{% endblock %}
   
   </div>  
      
    
       
    <footer>
      <p>&copy; Company 2012</p>
    </footer>
        
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-transition.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-alert.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-modal.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-dropdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-scrollspy.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-tab.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-tooltip.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-popover.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-button.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-collapse.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-carousel.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/bootstrap-typeahead.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/custom.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/lovethatfit/admin/js/jquery.form.js') }}"></script>
            
    </body>
</html>
