<div id="compare_list">
    <ul>
        {% for product in app.session.get('product_compare_list') %}
            {% if(product.id) is defined %}
            
            
            
           <div class="hover panel">
	<div class="front">
            
             <li style="float:left">
                <a href="{{path('compare_product_remove', {'product_id': product.id})}}">
                <img src="{{asset(product.image) }}">
                </a>
            
            </li>
	  
	</div>
	<div class="back">
            
            
            
             <li style="float:left">
                <a href="{{path('compare_product_remove', {'product_id': product.id})}}">
                <img src="{{asset(product.image) }}">
                </a>
            
            </li>
		
	</div>
</div> 
            
            
            
           
            
            
            
            
            {% endif %}
        {% endfor %}
    </ul>
     
        
</div>
<span id="patchh"></span>
<span id="ralling">
<img src="{{ asset('bundles/lovethatfit/site/images/compare_ralling.png') }}" />
</span>
<a href="{{path('compare_product_index')}}" id="compare_ico">
<span id="compare_prod_no">
{{app.session.get('product_compare_list')|length}}
</span>
<img src="{{ asset('bundles/lovethatfit/site/images/compare_icon.png') }}" />

</a>
{# dump(app.session.get('product_compare_list')) #}













<script>
  
$(document).ready(function(){

$('#compare_list').hide();
$('#ralling').hide();
}); 

$('#compare_ico img').click(function(){
  
  
  $('#ralling').toggle('slide', {
            direction: 'right'
        }, 1000);
        
        
        $('#compare_list').toggle('slide', {
            direction: 'left'
        }, 1000);
  

  
  
  
 
		$('.hover').hover(function(){
			$(this).addClass('flip');
		},function(){
			$(this).removeClass('flip');
		});
  
   
  

});
    </script>
    
    

	

		

		

		

	
