<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% if products %}
    <h4 id="heading"></h4>
<table class="table table-condensed table-bordered  table-hover" >
    <tr class="evaluation_tr">
        <th>Style Number
            <span style="float: right;">
                <a id="control_number_up" href="javascript:;" data-id="control_number|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="control_number_down" href="javascript:;" data-id="control_number|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Clothing Type
            <span style="float: right;">
                <a id="clothing_type_up" href="javascript:;" data-id="clothing_type|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="clothing_type_down" href="javascript:;" data-id="clothing_type|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Brand
            <span style="float: right;">
                <a id="brand_up" href="javascript:;" data-id="brand|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="brand_down" href="javascript:;" data-id="brand|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Name
            <span style="float: right;">
                <a id="name_up" href="javascript:;" data-id="name|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="name_down" href="javascript:;" data-id="name|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Color
            <span style="float: right;">
                <a id="color_up" href="javascript:;" data-id="color|up" title="Asc">
                    <i class="icon-upload">
                </i>
                <a id="color_down" href="javascript:;" data-id="color|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Size
            <span style="float: right;">
                <!--<a id="size_up" href="javascript:;" data-id="size|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="size_down" href="javascript:;" data-id="size|down" title="Desc">
                    <i class="icon-download"></i>
                </a>-->
            </span>
        </th>
        <th>Fits
            <span style="float: right;">
                <!--<a id="fits_up" href="javascript:;" data-id="fits|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="fits_down" href="javascript:;" data-id="fits|down" title="Desc">
                    <i class="icon-download"></i>
                </a>-->
            </span>
        </th>
        <th>Fit Index
            <span style="float: right;">
                <!--<a id="fit_index_up" href="javascript:;" data-id="fit_index|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="fit_index_down" href="javascript:;" data-id="fit_index|down" title="Desc">
                    <i class="icon-download"></i>
                </a>-->
            </span>
        </th>
        <th>Rec. Size
            <span style="float: right;">
                <a id="rec_size_up" href="javascript:;" data-id="recommended_size|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="rec_size_down" href="javascript:;" data-id="recommended_size|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
        <th>Rec. Fit Index
            <span style="float: right;">
                <a id="rec_fit_index_up" href="javascript:;" data-id="recommended_fit_index|up" title="Asc">
                    <i class="icon-upload"></i>
                </a>
                <a id="rec_fit_index_down" href="javascript:;" data-id="recommended_fit_index|down" title="Desc">
                    <i class="icon-download"></i>
                </a>
            </span>
        </th>
    </tr>
    
    {% for product in products %} 
    <tr>
        <td width="10%">{{product.control_number}}</td>
        <td width="10%">{{product.clothing_type}}</td>
        <td width="12%">{{product.brand}}</td>
        <td width="20%">{{product.name}}</td>
        <td width="8%">{{product.color}}</td>
        <td width="8%">
            {% if product.multiSizes is defined %}
                <table class="table table-condensed table-bordered  table-hover">
                    {% for s in product.multiSizes %}
                    <tr><td>{{s.size}}</td></tr>
                    {% endfor %}
                </table>
            {% else %}
                {{product.size}}
            {% endif %}
        </td>
        <td width="6%">
            {% if product.multiSizes is defined %}
                <table class="table table-condensed table-bordered  table-hover">
                    {% for f in product.multiSizes %}
                    <tr><td>{{(f.fits == "") ? "0":f.fits  }}</td></tr>
                    {% endfor %}
                </table>
            {% else %}
                {{product.fits}}
            {% endif %}
        </td>
        <td width="8%">
            {% if product.multiSizes is defined %}
                <table class="table table-condensed table-bordered  table-hover">
                    {% for fi in product.multiSizes %}
                    <tr><td>{{fi.fit_index}}</td></tr>
                    {% endfor %}
                </table>
            {% else %}
                {{product.fit_index}}
            {% endif %}
        </td>
        <td width="8%">{{product.recommended_size}}</td>
        <td width="12%">{{product.recommended_fit_index}}</td>
    </tr>
    {% endfor %}
    <!--code copy from here-->
</table>
{% else %}
<div>Products not found</div>
{% endif %}
<script>
    $(document).ready(function(){
        $('#control_number_up, #control_number_down, #clothing_type_up, #clothing_type_down, #brand_up, #brand_down, #name_up, #name_down, #color_up, #color_down, #size_up, #size_down, #fits_up, #fits_down, #fit_index_up, #fit_index_down, #rec_size_up, #rec_size_down, #rec_fit_index_up, #rec_fit_index_down').click(function (event){
            
            str = $(this).attr("data-id");
            val = str.split("|")
            user_id = $("#user_id").val();
            var compare_url = "evaluation_sheet/sample";

            if (user_id != "") {
                $('#error_attribute').html('');
                $(".ajax_loader").show();
                $.ajax({
                    type: "POST",
                    url: compare_url,
                    data: {
                          user_id       : user_id,
                          sorting_col   : val[0],
                          sorting_order : val[1]
                        },
                    traditional: true,
                    success: function(response){
                        $(".ajax_loader").hide();
                        $('#summary_ajax').html(response);
                        $('#heading').html('Try on Products');
                    },
                    failure: function(response) {
                        $(".ajax_loader").hide();
                        $('#summary_ajax').html(response);
                    }
                });
            } else {
                $('#summary_ajax').html('');
                $('#error_attribute').html('<p style="color:#ff0000">Please select User</p>');
            }
        });
    });
</script>