<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Love That Fit</title>
        
        <link href="{{ asset('bundles/lovethatfit/site/css/external/ext_main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/lovethatfit/site/css/product_detail_css.css') }}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery-1.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/custom.js') }}"></script>  
         <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/modernizr.min.js') }}"></script>
        
        
       
        <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/user_registration_step_one.js') }}"></script>       
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    
    <script>
  // For IE11. May we one day live without your BS.
  Modernizr.addTest('preserve3d', function(){return Modernizr.testAllProps('transformStyle', 'preserve-3d');});

           
    
</script>




    
    </head>
 
    <body>
   {% set class_url=path(app.request.attributes.get('_route'))%}
   {%set my_route="/webapp/web/app_dev.php/inner_site/index"%}            
{% if (class_url ==my_route)  %}
    {% set class="main" %}
    {% else%}
    {% set class="" %}
            
{%endif%}
        

      <div class="{{class}} full_wrapper ">
        <div class="holder">
            {%if app.user %}
           
              
                
                
                <div style="clear:both;">&nbsp;</div>
               
                {% endif %}
            <section class="site_container">
                    
                    
                {% block product_slider %}
                {% endblock %}
                    
                {% block fitting_room %}
                {% endblock %}
                    
                    {% block message_block %}
                    {% endblock %}
                    
            <!--/.site_container--></section>
                
                
                
                
                <div class="clr_bth"></div>
                <!--/.holder--></div>
            
                <!--/.full_wrapper--></div>
            {% block bottom_random_content %}
            {% endblock %} 
        </body>
    </html>