{% extends 'LoveThatFitSupportBundle::base.html.twig' %}
{% block breadcrumb %}
    <li class="active">Evaluation Default Products</li>
{% endblock %}


{% block body %}
    <div class="p_listing">
        <h2>Pop-up Products</h2>
        <h5>
            <button onclick="location.href = '{{path('evaluationpopupproducts_new') }}'">
                Add New Product
            </button>
        </h5>

        <table class="records_list" id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>No</th>
                <th>Brand</th>
                <th>Product Name</th>
                <th>Product Sizes</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for entity in entities if entity.productid in products|keys  %}
                <tr>
                    <td>{{ loop.index }} </td>
                    <td>{{ products[entity.productid]['brand'] }}{#{{ products[entity.productid] }} {{ dump(entity)}}#}</td>
                    <td>{{ products[entity.productid]['title'] }}{#{{ products[entity.productid] }}#}</td>
                    <td>
                        {% set exp_sizes = entity.productsizes|split(',') %}
                        {% for key, size in exp_sizes %}
                            {{ product_sizes[size] }}
                            {% if loop.last %}
                            {% else %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <ul class="def_products">
                            {#  <li>
                                  <a href="{{ path('evaluationpopupproducts_show', { 'id': entity.id }) }}">show</a>
                              </li>#}
                            <li style="display: inline-block; float: left">
                                <a href="{{ path('evaluationpopupproducts_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a> &nbsp;&nbsp;
                            </li>
                            <li style="display: inline-block; float: left">
                                <a href="{{ path('evaluationpopupproducts_delete_url', { 'id': entity.id }) }}" onclick="return confirm('Are you sure you want to delete?');"><i class="icon-remove"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        .def_products {
            list-style: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                //"order": [[1, "asc"]],
                "aoColumnDefs": [
                    {'bSortable': false, 'aTargets': [3,4]}
                ],
                "buttons": [
                    {
                        text: 'My button',
                        action: function (e, dt, node, config) {
                            alert('Button activated');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock %}