{% extends 'LoveThatFitRetailerAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li class="active">{%for r in retailer%} {{r.title}} {%endfor%} Dashboard </li>
{% endblock %}
{% block body %}
<div class="p_listing">
    <h1>{%for r in retailer%} {{r.title}} {%endfor%} Dashboard</h1>
    {% for b in brands %}    
        {{b.name}}<br/>    
        <a href="{{ path('retailer_admin_product', {'id': b.Id}) }}" class="retailer_brnd_logo"><img src="{{ asset(b.WebPath) }}"/></a> 
    {%endfor%}                
 </div>
    {% endblock %}