{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}

{% block profile_heading %}

    <h1>Shopping Cart</h1>
{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}


    <table width="700" border="0" class="user_product_hd">
        <tr>
            <td>Image</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Sub Total</td>
            <td>-</td>

        </tr>
        <form method="post" action="{{ path('cart_basket_update')}}">
            {% for c in cart %}
            <tr>
                <td><img src="{{ asset(c.productItem.productColor.webPath) }}"></td>
                <td>{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}} {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}</td>
                <td><input type="hidden" name="id[]" value="{{ c.id }}"><input type="hidden" name="product_item[]" value="{{ c.productItem.id }}"> <input type="text" name="qty[]" value="{{ c.qty }}" size="4"> </td>
                <td>{{ c.productItem.price}}</td>
                <td>{{ c.productItem.price * c.qty}}</td>

                <td><a href="{{ path('cart_delete', {'id': c.id}) }}">Delete</a></td>

            </tr>

        {% else %}
            <tr><td align="center" colspan="5"><p>There are no records</p></td></tr>
        {% endfor %}

        <tr><td colspan="6" align="right">Total:<strong>${{ grand_total }}</strong></td></tr>
        <tr><td colspan="2" align="right"><input type="submit" name="update" value="update"></td><td><input type="submit" name="checkout" value="checkout"></td></tr>
        </form>
    </table>

{% endblock %}