{% extends 'LoveThatFitUserBundle:Profile:baseProfile.html.twig' %}

{% block profile_heading %}
    <div id="breadcrumb">
        <ul>
            <li class="active"><a href="#">Shopping Cart</a></li>
            <li>>></li>
            <li><a href="#">Delivery &amp; Shopping</a></li>
            <li>>></li>
            <li><a href="#">Billing Methods</a></li>
        </ul>
    </div><br>
    <h1>Shopping Cart</h1>
{% endblock %}
{% block profile_section %}
    {% if app.session.hasFlash('warning') %}
        <div class="alert alert-error" style="text-align: center;color:#ff0000">
            {{ app.session.flash('warning') }}
        </div>
    {% endif %}
    {% if app.session.hasFlash('success') %}
        <div class="success_alert">
            {{ app.session.flash('success') }}
        </div>
    {% endif %}
<style>
    #breadcrumb{
        font-family:Arial, Helvetica, sans-serif;
        font-size:0.75em;
    }

    #breadcrumb ul{
        margin:0px;
        padding:0px;
    }

    #breadcrumb ul li{
        margin-right:10px;
        display:inline-block;
        list-style:none;
        padding-top:5px;
    }

    #breadcrumb ul li a{
        color:#524e4e;
        text-decoration:none;

    }

    #breadcrumb ul li.active{
        border-top:3px solid #426eb6;
        display:inline-block;
    }

    #breadcrumb ul li.active a{
        color:#426eb6;
        font-weight:bold;
    }
</style>
<script type="text/javascript">

    $(document).ready(function() {
        $('#cart').validate({ // initialize plugin within DOM ready
            // other options,
            rules: {
                'qty[]': {
                    required: true,
                    min:1,
                    number: true
                }
            }
        });

    });
</script>
    <table width="700" border="0" class="user_product_hd">
        <tr>
            <td>Image</td>
            <td>SKU</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Sub Total</td>
            <td>-</td>

        </tr>
        <form method="post" action="{{ path('cart_basket_update')}}" id="cart" onsubmit="return validates();">
            {% for c in cart %}
            <tr>
                <td><img src="{{ asset(c.productItem.productColor.webPath) }}"></td>
                <td>{{ c.productItem.sku}}</td>
                <td>{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}} {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}</td>
                <td><input type="hidden" name="id[]" value="{{ c.id }}"><input type="hidden" id="product_item" name="product_item[]" value="{{ c.productItem.id }}"> <input type="text" name="qty[]" value="{{ c.qty }}" size="4" required="required" style="width: 30px;" data-min="1" > </td>
                <td>${{ c.productItem.price}}</td>
                <td>${{ c.productItem.price * c.qty}}</td>

                <td><a href="{{ path('cart_delete', {'id': c.id}) }}">Remove</a><br> <input type="button" style="background: #426eb6 none repeat scroll 0 0;color:#fff;padding:5px 20px" value="Add to Wishlist"> </td>

            </tr>

            {% endfor %}
            {% if(grand_total!=0) %}
            <tr><td colspan="7" align="right">Total:<strong>${{ grand_total }}<input type="hidden" name="order_amount" value="{{ grand_total }}"> </strong></td></tr>
            {% endif %}
                {% if(itemscounter != 0 ) %}
                <tr><td colspan="6" align="right"><input type="submit" name="update" value="update"></td><td align="left"><input style="margin-left:0px" type="submit" name="checkout" value="checkout"></td></tr>
            {% else %}
                <tr><td align="center" colspan="6"><p>Currently there are no items in the cart. Click <a href="{{path('inner_site_index')}}">here</a> to add items</p></td></tr>
            {% endif %}

        </form>
    </table>

{% endblock %}