{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
    
    <div class="action_cnt step_1">
        <h2>New Password</h2>
        <form action="{{ path('forgot_password_update', { 'id': entity.id }) }}" method="post">
{{ form_errors(form) }}
                <div class="frm_ele">
                    
                    <div style="margin-top:-5px; padding-bottom: 10px;">For Email: {{entity.email}}  </div>

                </div>
                    <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                            
               
                {{ form_widget(form.password.password, { 'attr': {'placeholder': 'New Password'}}) }}

                        </div>
                        <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                              
                {{ form_widget(form.password.confirm, { 'attr': {'placeholder': 'Confirm New Password'}}) }}

 {{ form_rest(form) }}
                            </div>
                
                            <div class="frm_ele">
                                <input id="sbmt_bnt" class="reg_next_step" type="submit" value="Submit" />
                            </div>

                        </form>
        
        
    
                    <!--/.action_cnt--></div>
                    <!--/.action_blk--></section>
{% endblock %}


