{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
    <div class="action_cnt step_1">
        <h2>Reset Password</h2>
            {% if app.session.hasFlash('warning') %}
<div class="alert alert-error">        
        {{ app.session.flash('warning') }}
    </div>   
{% endif %}      
{% if app.session.hasFlash('success') %}
    <div class="success_alert">   
    {{ app.session.flash('success') }}
        </div>

{% endif %}
  
{% if  form is defined %}

        <form action="{{ path('forgot_password_form') }}" method="post">
            {{ form_errors(form) }}
                <div class="frm_ele">  
                    {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}

                        <div class="login_error" >       
                            <div id="error_content">{{ form_errors(form.email) }}</div>
                        </div>
                    </div>
                {{form_rest(form)}}
                    <div class="frm_ele">
                        <input id="sbmt_bnt" type="submit" value="Reset" class="reg_next_step"/>
                    </div>                
                </form>
{% endif %}
                
        {%if defaultData is defined%}
        {{defaultData}}
        {%endif%}
                <ul class="row with_sep">
                    <li class="reg_next_step"><a href="{{path('login')}}">login</a></li>
                    <li class="reg_next_step"><a href="{{path('registration')}}">create</a></li>
                </ul>
                <!--/.action_cnt--></div>
            <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
        <section class="cnt_btm">
            <h3>How It Works</h3>
            <p>LoveThatFit all you to try clothes on your own body, see how they actually look and fit prior to purchasing and is social!  Mix and match outfits, compare outfits side-by-side, save all in your personal closet, and show with your friends.  LTF allows you to do this from any smartphone, tablet, or computer.<br /><br />

                Create an account now in 4 easy steps and start shopping as if you were standing in the store right now!
            </p>
        </section>



{% endblock %}

