<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Reset Password</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ asset('bundles/lovethatfit/web_registration/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ asset('bundles/lovethatfit/web_registration/css/custom.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/selfieshare_v3/jquery-3.2.1.min.js') }}"></script>

  <script type="text/javascript" src="{{ asset('bundles/lovethatfit/web_registration/js/bootstrap.js') }}">
  </script>
</head>
<body class="formbg">
<div class="overlay hide" id="overlay">  <div class=""><img src="{{ asset('bundles/lovethatfit/web_registration/img/Loading_2.gif') }}" class="loading" /></div></div>
  <div class="screen_5">
    <div class="container">
      <form class="form-signin">
        <div class="Get_activated">
          <p>Pick a password that is easy to remember.</p>
          <div class="error_red hide" id="error_bar_1">oops!</div>
        </div>
        <div class="gap_2"></div>
       <!-- <label for="password" class="">PASSWORD</label>
        <input  type="password"id="password" name="password" class="form-control" required autofocus>
          <div class="error" id="pwd_hint">Required:</br>8 Characters</br>1 Capital Letter</br>1 Number </div>
        <label for="confirm_password" class="">CONFIRM PASSWORD</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        <div class="error c_pass">Password and Confirm Password not match</div>
        {# <button class="btn btn-md btn-primary btn-block" type="button">Create new password</button> #}
        <a class="btn btn-md btn-primary btn-block" href="#thankyou">Create new password</a>-->
        
             <div style="position:relative; overflow:hidden" id="tab_lbl_mem_password" onclick="label_up(this.id);">
    <label for="inputfirstname" class="" id="lbl_mem_password">PASSWORD</label>
    <div class="error_box hide" onclick="hide_error(this.id);" id="error_mem_password"></div>
    <input  type="password" id="mem_password" name="mem_password" class="form-control" onkeyup="passwordValidate(this.value);" onfocus="label_up_on_focus(this.id);">
    
      <div class="req_box_div show" id="pwd_hint1">
            <div class="req_text" id="req-text1">Required:</div>
            <div class="req_text_1" id="req-text2">8 Characters</br>1 Capital Letter</br>1 Small Letter</br>1 Number</div>
            </div>
       
            <div class="error_box_req hide" id="pwd_hint">8 Characters</br>1 Capital Letter</br>1 Small Letter</br>1 Number</div>
    </div>
    
    
          
             <div style="position:relative;" id="tab_lbl_confirm_mem_password" onclick="label_up(this.id);">
            <label for="inputzip" class="" id="lbl_confirm_mem_password">CONFIRM PASSWORD</label>
            <div class="error_box hide" onclick="hide_error(this.id);" id="error_confirm_mem_password"></div>
            <input type="password" id="confirm_mem_password" name="confirm_mem_password"  class="form-control" onfocus="label_up_on_focus(this.id);">
            <input type="hidden" name="error_displayed" id="error_displayed" value="0" />
            <a class="btn btn-md btn-primary btn-block" href="#thankyou" onclick="validate_form3();">Create new password</a>
            </div>
            
      </form>
    </div>
  </div>
  <input type="hidden" name="auth_token" value="{{user.id}}">
<!-- /container -->
</body>
</html>

<script type="text/javascript">

function label_up_on_focus(id)
{
	borderid = id;
	jQuery('#lbl_'+id).css('position','0px');
	jQuery('#lbl_'+id).css('top','0px');	
	jQuery('#lbl_'+id).css('opacity','0.5');
	jQuery('#lbl_'+id).css('cursor','default');
	jQuery('#lbl_'+id).css('transition','0.3s ease all');
	jQuery('#'+borderid).focus();
	
}


function validate_form3(){
	
	var flag = true;
	var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;	
	
	
	if(jQuery('#mem_password').val()==''){
						
	jQuery('#error_mem_password').html("*Required");
	jQuery('#mem_password').css("border-bottom","0px");           	
	jQuery('#error_mem_password').removeClass("hide");
	jQuery('#pwd_hint1').addClass("hide");
	jQuery('#pwd_hint1').removeClass("show");
	jQuery('#pwd_hint').removeClass("hide");						
	jQuery('#error_bar_3').removeClass("hide");
	jQuery('#lbl_mem_password').addClass("add_field_heigh");    
	jQuery('#error_displayed').val(1);    		       
	flag = false;
	} else if(passwordValidate(jQuery('#mem_password').val())) {
		jQuery('#mem_password').css("border-bottom","0px");           			
		jQuery('#error_mem_password').html("*Requirements not met");
		jQuery('#error_mem_password').removeClass("hide");  
		jQuery('#mem_password').val('');
		var p = passwordValidate(jQuery('#mem_password').val());
		jQuery('#error_bar_3').removeClass("hide");  
		jQuery('#lbl_mem_password').addClass("add_field_heigh");  
		jQuery('#error_displayed').val(1);        			      
		flag = false;
	} else {
		
		jQuery('#error_mem_password').html("");
		jQuery('#error_mem_password').addClass("hide");
		jQuery('#error_bar_3').addClass("hide");
	}
	
	
	if(jQuery('#confirm_mem_password').val()==''){							
		jQuery('#error_confirm_mem_password').html("*Required"); 
		jQuery('#confirm_mem_password').css("border-bottom","0px");           	          
		jQuery('#error_confirm_mem_password').removeClass("hide"); 
		jQuery('#error_bar_3').removeClass("hide"); 
		jQuery('#lbl_confirm_mem_password').addClass("add_field_heigh");       			
		flag = false;
		
	} else {
		
			if(jQuery('#mem_password').val()!=jQuery('#confirm_mem_password').val()){
				jQuery('#confirm_mem_password').val('');
				jQuery('#error_confirm_mem_password').html("*Passwords do not match");
				jQuery('#confirm_mem_password').css("border-bottom","0px");           	          			    
				jQuery('#error_confirm_mem_password').removeClass("hide"); 
				jQuery('#error_bar_3').removeClass("hide");
				jQuery('#lbl_confirm_mem_password').addClass("add_field_heigh");         			
				flag = false;
				
			} else {
				
				jQuery('#error_confirm_mem_password').html("");
				jQuery('#error_confirm_mem_password	').addClass("hide");
				jQuery('#error_bar_3').addClass("hide");  	
				
			}
	}
	
	if(flag){

		 var value_ar = {
			  user_id: {{user.id}},
			  password: $("#mem_password").val()
		  };
      $('#overlay').removeClass("hide"); 
      $('#overlay').addClass("show");
		  $.ajax({
			  type: "POST",
			  url: "{{ path('forgot_password_update_web') }}",
			  data: value_ar,
			  success: function (data) {
          $('#overlay').removeClass("show");
          $('#overlay').addClass("hide"); 
				  window.location.href = "/forgot_password_thanks_web";
			  },
			  failure: function (errMsg) {
			  }
		  });
		
	}
}
  $(document).ready(function() {
    $('#password').keyup(function() {
      passwordValidate();
    });
    $('#confirm_password').keyup(function() {
      confirmCheck();
    });
  });

  $( ".btn-primary" ).click(function() {
    if(passwordValidate() && confirmCheck()) {
      var value_ar = {
          user_id: {{user.id}},
          password: $("#password").val()
      };
      $.ajax({
          type: "POST",
          url: "{{ path('forgot_password_update_web') }}",
          data: value_ar,
          success: function (data) {
            window.location.href = "/forgot_password_thanks_web";
          },
          failure: function (errMsg) {
          }
      });
    }
  });

  function confirmCheck()
  {
    var pswd = $("#password").val();
    var c_pswd = $("#confirm_password").val(); 
    if (pswd != c_pswd) {
      $(".c_pass").show();
      return false;
    } else {
      $(".c_pass").hide();
      return true;
    }
  }

/*  function passwordValidate()
  {
    var pswd = $("#password").val();
    var error = 0;

    var htmltag = 'Required:';
    if ( pswd.length < 8 ) {
      error = 1;
      htmltag += '</br>8 Characters';
    }


    if ( !pswd.match(/[A-Z]/) ) {
     error = 1;
       htmltag += '</br>1 Capital Letter';
    }

    if ( !pswd.match(/\d/) ) {
      error = 1;
       htmltag += '</br>1 Number';
    }
    if (error == 1) {
      jQuery("#pwd_hint").html(htmltag);
      return false;
    } else {
      jQuery("#pwd_hint").html('');
      return true;
    }

  }*/
  
  
  function passwordValidate(pswd)
  {
    var error = 0;	
    //validate the length
	var htmltag = '';
    if ( pswd.length < 8 ) {
      error = 1;
      htmltag += '8 Characters</br>';
    }

    //validate capital letter
    if ( !pswd.match(/[A-Z]/) ) {
		 error = 1;
       htmltag += '1 Capital Letter</br>';
    }
	
	//validate capital letter
    if ( !pswd.match(/[a-z]/) ) {
		 error = 1;
       htmltag += '1 Small Letter</br>';
    }
    //validate number
    if ( !pswd.match(/\d/) ) {
		error = 1;
       htmltag += '1 Number</br>';
    }
	
	if(jQuery("#error_displayed").val()==1){	

    	if (error == 1) {
		
		jQuery("#pwd_hint").html(htmltag);
		jQuery('#pwd_hint').addClass("error_box_req");
		jQuery('#pwd_hint1').removeClass("show");	
		jQuery('#pwd_hint1').addClass("hide");
		jQuery('#pwd_hint').addClass("show");	
		jQuery('#pwd_hint').removeClass("hide");				 		  
		
      return true;
    } else {
	  jQuery('#pwd_hint').removeClass("error_box_req");	
	  jQuery("#pwd_hint").html('');
	  jQuery('#pwd_hint1').removeClass("show")
	  jQuery('#pwd_hint').removeClass("show")
	  jQuery('#pwd_hint1').addClass("hide");
	  jQuery('#pwd_hint').addClass("hide");	 
      return false;
    }
	
	}else{
		
		if (error == 1) {
		
		jQuery("#req-text1").html("Required:");
		jQuery("#req-text2").html(htmltag);
		jQuery('#pwd_hint1').removeClass("hide");	
		jQuery('#pwd_hint1').addClass("show");		
      return true;
    } else {

	  jQuery('#pwd_hint1').removeClass("show")
	  jQuery('#pwd_hint1').addClass("hide");

      return false;
    }
		
		
	}
}

function hide_error(id)
{
	 jQuery('#'+id).removeClass("show");
	 jQuery('#'+id).addClass("hide");    
	 borderid = id.replace("error_","");
	 jQuery('#'+borderid).css("border","1px solid #fff");
	 jQuery('#'+borderid).focus();
}
function label_up(id)
{
	id = id.replace("tab_","");
	jQuery('#'+id).css('position','0px');
	jQuery('#'+id).css('top','0px');	
	jQuery('#'+id).css('opacity','0.5');
	jQuery('#'+id).css('cursor','default');
	jQuery('#'+id).css('transition','0.3s ease all');
	
}

  // function passwordValidate()
  // {
  //   var pswd = $("#password").val();
  //   var error = 0;
  //   //validate the length
  //   if ( pswd.length < 8 ) {
  //     error = 1;
  //   } else {
  //     $('#length').remove();
  //   }
  //   //validate capital letter
  //   if ( pswd.match(/[A-Z]/) ) {
  //       $('#capital').remove();
  //   } else {
  //       error = 1;
  //   }
  //   //validate number
  //   if ( pswd.match(/\d/) ) {
  //       $('#number').remove();
  //   } else {
  //       error = 1;
  //   }

  //   return false;

  //   if (error == 1) {
  //     return false;
  //   } else {
  //     return true;
  //   }

  // }

</script>