<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Reset Password</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ asset('bundles/lovethatfit/web_registration/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{ asset('bundles/lovethatfit/web_registration/css/custom.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script type="text/javascript" src="{{ asset('bundles/lovethatfit/site/js/selfieshare_v3/jquery-3.2.1.min.js') }}"></script>

  <script type="text/javascript" src="{{ asset('bundles/lovethatfit/web_registration/js/bootstrap.js') }}">
  </script>
</head>
<body class="formbg">
  <div class="screen_5">
    <div class="create_acc">
      <div class="arrow">
        <img src="{{ asset('bundles/lovethatfit/web_registration/img/arrow.png') }}" width="15" height="25" />
      </div>
      <p>Reset Password</p>
    </div>
    <div class="container">
`      <form class="form-signin">
        <div class="Get_activated">
          <p>Pick a password that is easy to remember.</p>
        </div>
        <div class="gap_2"></div>
        <label for="password" class="">PASSWORD</label>
        <input  type="password"id="password" name="password" class="form-control" required autofocus>
        <div class="error">Required:</br>
          <ul>
            <li id="letter" >At least one letter</li>
            <li id="capital">At least one capital letter</li>
            <li id="number" >At least one number</li>
            <li id="length" >Be at least 8 characters</li>
            </ul>
        </div>
        <label for="confirm_password" class="">CONFIRM PASSWORD</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        <div class="error c_pass">Password and Confirm Password not match</div>
        <button class="btn btn-md btn-primary btn-block" type="button">Create new password</button>
      </form>
    </div>
  </div>
  <input type="hidden" name="auth_token" value="{{user.id}}">
<!-- /container -->
</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    $('#password').keyup(function() {
      passwordValidate();
    });
    $('#confirm_password').keyup(function() {
      confirmCheck();
    });
  });

  $( ".btn-primary" ).click(function() {
    if(passwordValidate() && confirmCheck()) {
      var value_ar = {
          user_id: {{user.id}},
          password: $("#password").val()
      };
      $.ajax({
          type: "POST",
          url: "{{ path('forgot_password_update_web') }}",
          data: value_ar,
          success: function (data) {
            window.location.href = "/forgot_password_thanks_web";
          },
          failure: function (errMsg) {
          }
      });
    }
  });

  function confirmCheck()
  {
    var pswd = $("#password").val();
    var c_pswd = $("#confirm_password").val(); 
    if (pswd != c_pswd) {
      $(".c_pass").show();
      return false;
    } else {
      $(".c_pass").hide();
      return true;
    }
  }


  function passwordValidate()
  {
    var pswd = $("#password").val();
    var error = 0;
    //validate the length
    if ( pswd.length < 8 ) {
      error = 1;
      $('#length').removeClass('green_color').addClass('red_color');
    } else {
      $('#length').removeClass('red_color').addClass('green_color');
    }
    //validate letter
    if ( pswd.match(/[A-z]/) ) {
        $('#letter').removeClass('red_color').addClass('green_color');
    } else {
      error = 1;
      $('#letter').removeClass('green_color').addClass('red_color');
    }
    //validate capital letter
    if ( pswd.match(/[A-Z]/) ) {
        $('#capital').removeClass('red_color').addClass('green_color');
    } else {
        error = 1;
        $('#capital').removeClass('green_color').addClass('red_color');
    }
    //validate number
    if ( pswd.match(/\d/) ) {
        $('#number').removeClass('red_color').addClass('green_color');
    } else {
        error = 1;
        $('#number').removeClass('green_color').addClass('red_color');
    }

    if (error == 1) {
      return false;
    } else {
      return true;
    }

  }

</script>