{% extends 'LoveThatFitUserBundle::base_home_login.html.twig' %}
{% block action_block_content %}
<section class="action_blk lgn_blk">
    <div class="action_cnt">
        <div class="small_custom_heading">new password</div>
        <form action="{{ path('forgot_password_update', { 'id': entity.id }) }}" method="post">
{{ form_errors(form) }}
                <div class="frm_ele">
For Email: {{entity.email}}                    </div>
                    <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                {{ form_label(form.password.password) }}
                {{ form_widget(form.password.password) }}

                        </div>
                        <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                                <label>Confirm Password</label>
                {{ form_widget(form.password.confirm) }}

 {{ form_rest(form) }}
                            </div>
                
                            <div class="frm_ele">
                                <input id="sbmt_bnt" type="submit" value="Submit" />
                            </div>

                        </form>
                        <ul class="row with_sep">
                            <li><a href="{{path('login')}}">login</a></li>
                            <li><a href="{{path('registration_step_one')}}">create</a></li>
                        </ul>
                        <!--/.action_cnt--></div>
                    <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
                <section class="cnt_btm">
                    <h3>How It Works</h3>
                    <p>LoveThatFit all you to try clothes on your own body, see how they actually look and fit prior to purchasing and is social!  Mix and match outfits, compare outfits side-by-side, save all in your personal closet, and show with your friends.  LTF allows you to do this from any smartphone, tablet, or computer.<br /><br />

                        Create an account now in 4 easy steps and start shopping as if you were standing in the store right now!
                    </p>
                </section>
{% endblock %}

