{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
    
    <div class="action_cnt step_1">
        <h2>New Password</h2>
        <form action="{{ path('forgot_password_update', { 'id': entity.id }) }}" method="post" onsubmit="return formPasswordValidates()">
{{ form_errors(form) }}
                <div class="frm_ele">
                    
                    <div style="margin-top:-5px; padding-bottom: 10px;">For Email: {{entity.email}}  </div>

                </div>
                    <div class="frm_ele">
                {{ form_errors(form.password.password) }}
                            
               
                {{ form_widget(form.password.password, { 'attr': {'placeholder': 'New Password'}}) }}
                 <div class="login_error">
                   <div id="error_content1" style="display:none;color: #DD1144;font-size: 0.8em;
                                                         text-align:left">
                            Password containing at least 8 characters, 1 number, 1 upper and 1 lowercase
                        </div>
                   </div>
                        </div>
                        <div class="frm_ele">
                {{ form_errors(form.password.confirm) }}
                              
                {{ form_widget(form.password.confirm, { 'attr': {'placeholder': 'Confirm New Password'}}) }}

 {{ form_rest(form) }}
                            </div>
                
                            <div class="frm_ele">
                                <input id="sbmt_bnt" class="reg_next_step" type="submit" value="Submit" />
                            </div>

                        </form>
        
        
    
                    <!--/.action_cnt--></div>
                    <!--/.action_blk--></section> 

<script>
function formPasswordValidates(){
    var password=document.getElementById('form_password_password').value;
    var password_filter=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#\$%\^\&*\)\(+=._-]{8,}$/;
    if(!password_filter.test(password))
    {
         document.getElementById('error_content1').style.display="block";
           return false;
    }
}
</script>
{% endblock %}