{% extends 'LoveThatFitUserBundle::base_reg.html.twig' %}
{% block action_block_content %}
<section class="reg_blk">
    <div class="action_cnt step_1">
        <h2>Lost Account</h2>
            {% if app.session.hasFlash('warning') %}
<div class="alert alert-error">        
        {{ app.session.flash('warning') }}
    </div>   
{% endif %}      
{% if app.session.hasFlash('success') %}
    <div class="success_alert">   
    {{ app.session.flash('success') }}
        </div>

{% endif %}
  
{% if  secretForm is defined %}
 
        <form action="{{ path('lost_account_secret_answer') }}" method="post">
            {{ form_errors(secretForm) }}
                <div class="frm_ele">  
                  {{secretQuestion}}
                        <div class="login_error" >       
                           {{ form_errors(secretForm.secretAnswer) }}
                        </div>
                    </div>
                {{form_rest(secretForm)}}
                    <div class="frm_ele">
                        
                        
                        <input id="sbmt_bnt" type="submit" value="Submit" class="reg_next_step"/>
                    </div>                
                </form>
{% endif %}
         
          {%if defaultData is defined%}
         <div id="error_reset">{{defaultData}}</div>
        {%endif%}
         
         
        
        
                <ul class="row with_sep">
                    <li class="reg_next_step"><a href="{{path('login')}}">login</a></li>
                    <li class="reg_next_step"><a href="{{path('registration')}}">create</a></li>
                    <li class="reg_next_step"><a href="{{path('lost_user_account')}}">Lost Account</a></li>
                    
                    
                </ul>
                <!--/.action_cnt--></div>
            <!--/.action_blk--></section>
{% endblock %}

{% block how_it_works_content %}
        <section class="cnt_btm">
            <h3>How It Works</h3>
            <p>LoveThatFit all you to try clothes on your own body, see how they actually look and fit prior to purchasing and is social!  Mix and match outfits, compare outfits side-by-side, save all in your personal closet, and show with your friends.  LTF allows you to do this from any smartphone, tablet, or computer.<br /><br />

                Create an account now in 4 easy steps and start shopping as if you were standing in the store right now!
            </p>
        </section>



{% endblock %}

