{% extends 'LoveThatFitAdminBundle::base.html.twig' %}
{% block breadcrumb %}
<li><a href="{{ path('admin_order') }}" >Orders Detail</a> <span class="divider">/</span></li>
<li class="active">Show</li>
{% endblock %}
{% block h1 %}Orders Detail{% endblock %}
{% block title %}Orders Detail{% endblock %}
{% block body %}
<div>      
<h1 style="float:left;">Order Details</h1>
<div class="btn_wrapper">     
	<a href="{{ path('admin_order')}}" class="btn">back</a>
	<a href="{{ path('admin_user_detail_show', {'id': order.user.Id}) }}" class="btn">User Detail</a>
</div>

<div class="clearfix"></div>   
<div id="detail_wrapper">
	<div id="p_hd">Order Detail</div>
	<div id="product_content">
		<div id="pro_detail">
			<div class="edt_container">         
				<div class="row-fluid show-grid edt_span">
					<div class="span8">
						<div class="span3">Id</div>
						<div class="span3">{{order.orderNumber }}</div>
					</div>
					<div class="span8">
						<div class="span3">Order Date</div>
						<div class="span3">{{order.OrderDate|date('d-m-Y') }}</div>
					</div>
					<div class="span8">
						<div class="span3">Billing Full Name</div>
						<div class="span3">{{order.BillingFirstName }} {{order.BillingLastName }}</div>
					</div>
					<div class="span8">
						<div class="span3">User Email</div>
						<div class="span3">{{order.user.Email }}</div>
					</div>
					<div class="span8">
						<div class="span3">Order Status</div>
						<div class="span3">{{order.orderStatus}}</div>
					</div>
					<div class="span8">
						<div class="span3">Payment Method</div>
						<div class="span3">{{ order.paymentMethod }}</div>
					</div>
					<div class="span8">
						<div class="span3">Transaction Status</div>
						<div class="span3">{{ order.transactionStatus }}</div>
					</div>
					<div class="span8">
						<div class="span3">Order Charges</div>
						<div class="span3">${{ order.orderAmount| number_format(2)}}</div>
					</div>
					{% if(order.ShippingAmount != '') %}
						{% set total = order.ShippingAmount + order.OrderAmount %}
						{% set shipping_amount = order.ShippingAmount %}
						{% else %}
						{% set total='0' %}
						{% set shipping_amount='0' %}
					{% endif %}
					<div class="span8">
						<div class="span3">Shipping Charges</div>
						<div class="span3">${{ shipping_amount| number_format(2)}}</div>
					</div>
					<div class="span8">
						<div class="span3">Grand Total Charges</div>
						<div class="span3">${{ total| number_format(2)}}</div>
					</div>
				</div>
				<div class="row-fluid show-grid edt_span">
					<div id="p_hd">Billing Detail</div>
					<div class="span8">
						<div class="span3">Address 1</div>
						<div class="span3">{{order.BillingAddress1 }}</div>
					</div>
					<div class="span8">
						<div class="span3">Address 2</div>
						<div class="span3">{{order.BillingAddress2 }}</div>
					</div>
					<div class="span8">
						<div class="span3">City</div>
						<div class="span3">{{order.BillingCity }}</div>
					</div>
					<div class="span8">
						<div class="span3">State</div>
						<div class="span3">{{order.BillingState }}</div>
					</div>
					<div class="span8">
						<div class="span3">Country</div>
						<div class="span3">{{order.BillingCountry }}</div>
					</div>
					<div class="span8">
						<div class="span3">Post Code</div>
						<div class="span3">{{order.BillingPostcode }}</div>
					</div>
				</div>
				<div class="row-fluid show-grid edt_span">
					<div id="p_hd">Shipping Detail</div>
					<div class="span8">
						<div class="span3">Address 1</div>
						<div class="span3">{{order.ShippingAddress1 }}</div>
					</div>
					<div class="span8">
						<div class="span3">Address 2</div>
						<div class="span3">{{order.ShippingAddress2 }}</div>
					</div>
					<div class="span8">
						<div class="span3">City</div>
						<div class="span3">{{order.ShippingCity }}</div>
					</div>
					<div class="span8">
						<div class="span3">State</div>
						<div class="span3">{{order.ShippingState }}</div>
					</div>
					<div class="span8">
						<div class="span3">Country</div>
						<div class="span3">{{order.ShippingCountry }}</div>
					</div>
					<div class="span8">
						<div class="span3">Post Code</div>
						<div class="span3">{{order.ShippingPostcode }}</div>
					</div>
				</div>

				<div class="row-fluid show-grid edt_span">
					<div id="p_hd">Item Detail</div>
					<div class="clearfix"></div>
					<table class="order_table">
					  <tr>
					    <th>Item Image</th>
					    <th>Product Description</th>
					    <th>Quantity</th>
					    <th>Price</th>
					    <th>Sub Total</th>
					  </tr>
					  	{% set total_price='0' %}
					  	{% set total_sub='0' %}
						{% for c in user_order.userOrderDetail %}
							{% set total_price = c.productItem.price + total_price %}
						  <tr>
						    <td><img src="{{ asset(c.productItem.productColor.webPath) }}"></td>
						    <td>{{ c.productItem.product.brand.name}} {{ c.productItem.product.name}} {{ c.productItem.productColor.title}} {{ c.productItem.productSize.title}}</td>

						    <td style="text-align:right">{{ c.qty }}</td>
						    <td style="text-align:right">${{ c.productItem.price| number_format(2)}}</td>
						    <td style="text-align:right">
						    	{% set sub_total = c.productItem.price * c.qty %}
						    	${{ sub_total| number_format(2)}}
						    	{% set total_sub = sub_total + total_sub %}
						   	</td>
						  </tr>
						{% endfor %}
						<tr>
							<th colspan="4" style="text-align:right"><b>${{ total_price| number_format(2)}}</b></th>
							<th style="text-align:right"><b>${{ total_sub| number_format(2)}}</b></th>
						</tr>
					</table>
				</div>
					
					<!--
					<form action="{{ path('admin_order_update', {'id': order.Id})}}" method="post">
						<div class="span8">
							<div class="span3">Update Order Status</div>
						</div>
						<div class="span8">
							<div class="span5">
								<input type="hidden" name="order_id" value="{{ order_id }}">
								<select name="order_status">
									<option {% if(order.orderStatus == 'Pending') %} selected
									{%endif%} value="Pending">Pending</option>
									<option {% if(order.orderStatus == 'Approved') %} selected {%endif%} value="Approved">Approved</option>
									<option {% if(order.orderStatus == 'Processed') %} selected {%endif%} value="Processed">Processed</option>
									<option {% if(order.orderStatus == 'Shipping') %} selected {%endif%} value="Shipping">Shipping</option>
									<option {% if(order.orderStatus == 'Returned') %} selected {%endif%} value="Returned">Returned</option>
									<option {% if(order.orderStatus == 'Canceled') %} selected {%endif%} value="Canceled">Canceled</option>
								</select>
							</div>
						</div>
						<div class="span8">
							<div class="span3">
								<input name="update" type="submit" value="Update Status">
							</div>
						</div>
					</form>
				-->
			</div>
		</div>
	</div>
</div><!-- End pro_detail -->      
</div><!-- End product_content --> 
</div> <!-- End detail_wrapper -->
</form>  
</div>      
{% endblock %}